[2020-08-12 13:53] hvspa commented on #379
thanks ALexandr,... here it is
![mapping](https://user-images.githubusercontent.com/27876987/90023305-a5b49f00-dcc4-11ea-874b-5f579be0fa73.PNG)

[2020-08-12 13:54] adubovikov commented on #379
![Screenshot from 2020-08-12 15-49-02](https://user-images.githubusercontent.com/4513061/90023469-156e5e00-dcb4-11ea-9350-141f08462b87.png)

I have asked for SIP call correlation map

[2020-08-12 14:16] hvspa commented on #379
[
    {
        "source_field": "data_header.callid",
        "lookup_id": 100,
        "lookup_profile": "default",
        "lookup_field": "sid",
        "lookup_range": [
            -300,
            200
        ]
    },
    {
        "source_field": "data_header.callid",
        "lookup_id": 5,
        "lookup_profile": "call",
        "lookup_field": "sid",
        "lookup_range": [

[2020-08-12 15:48] adubovikov commented on #379
looks good, you have to receive RTCP messages in the post request. Please activate debug of homer-app and check if you don't have any errors.

[2020-08-12 17:11] hvspa commented on #379
if you are about following setting, it is still set to debug:
  "system_settings": {
    "_comment": "loglevel can be: fatal, error, warn, info, debug, trace",
    "hostname": "b4966520d31a",
    "loglevel": "debug",
    "logname": "homer-app.log",
    "logpath": "/usr/local/homer",
    "logstdout": false,
    "uuid": "d71481eb-5c63-4d22-98f7-1ef823d3b17b"
  }
}

and this is the error i can see in

[2020-08-12 17:13] adubovikov commented on #379
ok, please change in the settings:

[code]

should be:

`"lookup_profile: "default"`

[2020-08-12 17:33] hvspa commented on #379
yeah, that resolved the issue, and now i am seeing RTP endpoints IPs in the flow. thanks very much.
is it possible to include this setting in the default config, so we dont have to make this change manually after every install?

[2020-08-12 17:52] adubovikov commented on #379
done.

https://github.com/sipcapture/homer-app/commit/74d64f6a6687f33ad32638ff400f85d3c1bb47aa#diff-317324d5206fbace25450aa7d0872f8f

[2020-08-12 17:52] adubovikov commented on #379
thanks for report!

[2020-08-12 17:52] #379 closed

[2020-08-12 18:34] hvspa commented on #379
thanks very much Alexandr for quick fix.

[2020-08-12 19:39] adubovikov commented on #379
you are welcome @hvspa . Don't forget to star the homer project , not only homer-ui :-)

[2020-08-12 20:15] hvspa commented on #378
@adubovikov did you have time to look into this one?
also, i have another question, since it is possible to insert the capture id in db as string, why it is impossible to query the capture id as string as well? why the variable is integer?

[2020-08-12 20:27] adubovikov commented on #378
you can insert it as string, but in this case you have to also change in the mapping this field from int to string and it will work.
Setting->Mapping

[2020-08-12 20:59] hvspa commented on #378
i changed the mapping as per your suggestion, but still pg is complaining:

    {
        "id": "protocol_header.captureId",
        "name": "Capture ID",
        "type": "string",
        "index": "none",
        "form_type": "input",
        "position": 17,
        "skip": false,
        "hide": true
    },

log:

{"level":"info","msg":"\u0026{admin true false { 1597312326  0  0 }}","time":"2020

[2020-08-12 22:05] adubovikov commented on #378
`protocol_header-\u003e\u003e'captureId')::int`

you have to recreate the search widget (fields)

[2020-08-12 22:19] hvspa commented on #378
i have created a brand new call sip search widget. and still getting the same:

{"level":"info","msg":"\u0026{admin true false { 1597312326  0  0 }}","time":"2020-08-12T22:17:46Z"}
{"level":"info","module":"gorm","msg":"SELECT * FROM \"alias\"  WHERE (status = true)","time":"2020-08-12T22:17:46Z","type":"sql"}
{"level":"info","module":"gorm","msg":"pq: invalid input syntax for integer: \"ast_inter

[2020-08-13 06:35] adubovikov commented on #378
I have change the maping and for me it works, in any case, i think it something wrong with your current schema because even for int it works without any problem. Try to recreate it

[code]

[2020-08-13 07:31] hvspa commented on #378
true, i did re-create it from previous backups and it is working now.
thanks very much. so this one also will be pushed to main so we dont have to manually edit it after git clone for docker?

[2020-08-13 07:32] adubovikov commented on #378
Yes. It should be ok in the latest release (currently git only)

[2020-08-13 07:32] #378 closed

[2020-08-13 07:36] hvspa commented on #378
thanks Alexandr, i also noticed another issue, sometimes, the same callid is shown twice in the results. is that normal? or do i need to open another issue?
![same callid twice](https://user-images.githubusercontent.com/27876987/90106992-3e94fa00-dd59-11ea-8337-27754ddc2a77.PNG)

[2020-08-13 07:48] adubovikov commented on #378
if you have it twice - you have received it twice. Sorry, but you have to debug it your self, as a opensource project we can provide bug fix only, but not the troubleshooting of your networ or how you capture the data.

[2020-08-13 08:19] hvspa commented on #378
right,  this  is happening, bcoz in fact there are two invites, one is responded by 401 not auth, and then only second invite is passing.
since if you click both callid and you see exactly same info(invite, 401, second invite), I was thinking, maybe it would make more sense to combine them and show as one, because they are really one to one.
sorry, initially i did not explain why i mentioned that

[2020-08-13 08:21] adubovikov commented on #378
probably yes, your patches will be more than welcome :-)

[2020-08-13 08:29] hvspa commented on #378
yeah, that is something not my level of knowledge. iam a user :)

[2020-08-13 08:34] adubovikov commented on #378
understood :-) there are always couple ways to help the project or be a subscribed user.

[2020-08-17 15:24] ghmj2417 commented on #377
Is this more of a homer-ui or homer-app issue?  I can open an issue under homer-ui if that's where it belongs.

[2020-08-19 14:31] ghmj2417 commented on #377
The guid is being sent according to the payload in the browser log. I removed the `data` key for clarity.
[code]

However, the homer-app logs and postgresql logs show
[code]

[2020-09-03 15:24] ghmj2417 commented on #377
Is there any additional information you would like to see?

[2020-09-03 15:27] lmangani commented on #377
@ghmj2417 I think all the info is there, the other element is time :) we'll get to this

[2020-09-05 16:33] ishvaram opened #381 "SIP flow visualization is not working when changing web application port to some other port"
I've encountered with strange issue when I changed with the new port for the web application its everything else is working. But not sip flow visualization when I click it. its keep on loading and visualization is not coming for selected Call-ID
![captured (1)](https://user-images.githubusercontent.com/4301774/92309472-69264b80-efc3-11ea-8838-44947991a36e.gif)

I've checked this with both Chrome a

[2020-09-05 16:42] ishvaram opened #382 "Not able to visualize the REGISTER SIP Method traces in Homer webapp"
By default, Call traces only coming in the UI and I'm able to see traces. But not the call registration traces. I see the registration traces are present in my DB and also homer reads from hep_proto_1_call and not from hep_proto_1_registration.

How can I include hep_proto_1_registration also and visualize the REGISTER SIP Method also?

Also, I'm not able to save any of the mappings json data, aft

[2020-09-05 16:46] adubovikov commented on #381
sorry, can you please be more concrete ? What did you change ? Where and why ?

[2020-09-05 16:47] adubovikov commented on #382
You have to create a new widget and as profile select SIP -> registration

[2020-09-05 16:48] adubovikov commented on #382
about Homer Login page - not sure I understood your question well. If you can provide more details - we can give you an advice

[2020-09-05 16:52] ishvaram commented on #381
@adubovikov I've changed the http_settings
[code]

the default port is 8080, I want to run the application on port 80. So changed it.

with the port being 8080 all the functionalities are working, but if I change the port to 80 or some other port then SIP flow visualization alone not working

[2020-09-05 17:01] adubovikov commented on #381
please check if your API has been sent to the correct port.
In the browser -> F12 -> network tab

[2020-09-05 17:07] ishvaram commented on #381
@adubovikov Yes it is going to the correct port.

[2020-09-05 17:10] ishvaram commented on #381
@adubovikov Also i wanted to know is there a way where i can show only one transaction for a given call-ID. currently we're showing all the INVITE,100, 180, 183, ACK , BYE events as rows in the widget for a given call-ID. Instead of that can we show only transaction per call-ID

[2020-09-05 19:21] lmangani commented on #381
Hi Kovalan,

Transaction tracking feature is currently only available in HEPIC (hepic.tel).
Lets keep this issue relevant to the report to avoid confusion.

[2020-09-08 04:16] ishvaram commented on #381
@lmangani Ok I understand and inline that we should keep this in separate. But I didn't get why this needs to be raised hepic.
What exactly you mean by Transaction tracking feature? What i need is just one row per call ID instead of showing all events in Homer UI.

@adubovikov Do you have any suggestions?

[2020-09-08 06:40] adubovikov commented on #381
if it goes to correct port, check if you have received any data in this API call. Some examples will be not bad.
Also, please provide the topology, because  we have tested homer-app on port 80 and we don't have any issues so far

[2020-09-08 06:43] ishvaram commented on #381
@adubovikov I just re-build homer-app again and now its working fine.

**One last question:**
is it possible to show one record per call instead of showing all the rows in homer-app?

[2020-09-08 06:48] adubovikov commented on #381
@ishvaram as @lmangani already wrote, if you don't have CDR and want to generate it base on your SIP messages, this feature is availble in HEPIC platform (hepic.tel)

and we glad that you solved your issue. Don't forget star our project:

https://github.com/sipcapture/homer/stargazers

[2020-09-08 06:48] #381 closed

[2020-09-08 07:01] ishvaram commented on #381
@adubovikov my question is slightly different, I don't want to generate a CDR from this sip trace. I just need a different visualization

Currently, for one call I've traces like below showing all the transactions in the UI for one call.
![alltraces](https://user-images.githubusercontent.com/4301774/92443432-20db7900-f1cf-11ea-92f3-3dba0e1a2d7b.png)

But instead, I need only one trace per call to

[2020-09-08 07:11] adubovikov commented on #381
@ishvaram this is CDR/TDR view  - Call Detail Record ;-)
you can isolate your trace filtering by method INVITE

[2020-09-08 07:14] adubovikov commented on #382
I hope the issue has been solved. Please come back if you will have more details

[2020-09-08 07:14] #382 closed

[2020-09-08 10:36] adubovikov commented on #377
so, just taken the latest version of homer-app and UI - don't see any issues. How I can reproduce your issue ?

[2020-09-08 15:55] ghmj2417 commented on #377
I am also using the latest homer-app and homer-ui.  For our case, login as a non admin, go to Settings / User Settings / edit your 'home' dashboard.  Modify the JSON, for example, edit gridType to something different, click Save.  Click edit on the 'home' dashboard again.  In our case the JSON wasn't updated and the dashboard is using the old values.  The errors outlined in this ticket are logged.

[2020-09-09 05:21] ishvaram commented on #382
@adubovikov issue is not yet resolved. I'm not able to edit the Fields Mapping still. I've added the screenshot as well where the error message is shown.

[2020-09-09 05:36] ishvaram commented on #382
And i'm still not able to visualize the flow graph in the web app. I see the below exception in developer console
![registeruknownerror](https://user-images.githubusercontent.com/4301774/92558086-5ba2e700-f28b-11ea-8a39-e5e07f1f5d22.png)

[2020-09-09 06:36] adubovikov commented on #382
I am not sure that are you doing. As I see you have REGISTER result and what do you need else - for me it's unclear :-(
Please be more concrete and don't forget, this is open source project and if you need HELP, you have to be ready provide details and be patient.

[2020-09-09 06:49] adubovikov commented on #376
@aqsyonas can you please take a look ?

[2020-09-09 09:12] ishvaram commented on #382
@adubovikov Sorry for the not fully constructed message.

on clicking the Session ID and I'm expecting to see the visualization REGISTER flow request coming from the client IP to our Server. just like below

https://3.bp.blogspot.com/-9A7SeUiQKyg/UgyQrdW7WJI/AAAAAAAAFxo/cBshWfuIuEE/s1600/sip+register+call+flow.png

[2020-09-09 11:16] adubovikov commented on #382
@ishvaram as I mentioned above, you have to check your api query and be sure you receive a reply with data from your API. And again, you have to be more construtive - just saying "doesn't work" helps absolutely nothing

[2020-09-09 11:30] ishvaram commented on #382
@adubovikov I'm attaching the GIF image for the issue reference . Not sure in what other words I should explain the issue.
![captured (4)](https://user-images.githubusercontent.com/4301774/92592894-e13f8a80-f2bd-11ea-85ef-e3cfb866bfe8.gif)

Upon clicking the REGISTER i see the blank pop-up for SIP flow visualization.

[2020-09-09 11:32] adubovikov commented on #382
https://github.com/sipcapture/homer/wiki/Troubleshooting-Homer-7.7#debug-in-web-console

[2020-09-09 11:55] adubovikov commented on #377
https://github.com/sipcapture/homer-app/commit/1ca96b3e9dd360a4a674af68166779e4c68dc5ba

please re-test

[2020-09-09 14:18] adubovikov commented on #382
you have to use debug in web console the Network tab and see if you have any data in the api response

[2020-09-09 15:58] ishvaram commented on #382
@adubovikov SIP flow visualization for the call is working for me. but not for the REGISTER flow and I could able to see the data in each event when I click on the SIP method. But when I click on the Session ID pop up comes but empty. As you suggested i saw the browser console's Network tab response , below is the response
[code]
Like I mentioned earlier each of SIP METHOD data I'm able to see whe

[2020-09-09 16:14] adubovikov commented on #382
this means something wrong and the homer-app doesn't return data to you. After how much seconds did  you received the final answer from the homer-app ? You can see it in waterfall .

I have just checked fresh install - all looks good. This is indeded an issue on your setup. Try to activate debug in the homer-app
and see the query that the app has been sent to postgress. Try to reduce the time rang

[2020-09-09 18:06] ghmj2417 commented on #377
Looks good.  The changes are being saved now.  Thank you!

[2020-09-09 18:06] #377 closed

[2020-09-11 04:24] ishvaram commented on #382
@adubovikov i see the data is coming from psql, but homer-app not able to render it in the UI.

[code]

[2020-09-11 05:09] ishvaram commented on #382
@adubovikov I'm using the branch go since master doesn't have dist. Is something wrong in here?

[2020-09-11 06:06] ishvaram commented on #382
@adubovikov Checked out a tag 1.1.8 and rebuilt homer-app it works now.

[2020-09-11 06:22] ishvaram commented on #381
@adubovikov is possible to apply the filter by default when i open the widget, instead we manually applying filter?

[2020-09-11 08:51] adubovikov commented on #382
glad that you solved it. If you don't use packages, please always compile the dist

[2020-09-11 08:54] adubovikov commented on #381
@ishvaram you can implement it using your local storage.  The project is open for contribution :-)

[2020-09-12 14:09] ishvaram commented on #381
@adubovikov Can you give some more insights. Ready to take this up and contribute :)

[2020-09-12 14:27] adubovikov commented on #381
you have to read/write the settings from/to your local storage. You can check how it has been implemented in the proto search widget.

[2020-09-24 10:31] ishvaram opened #385 "Questions related to homer integrations"
Hi @adubovikov & @lmangani
I have a couple of questions that I'm not able to get an answer from the documentation that?

1. To achieve all the features of Homer (SIP flow visualization, Grafana metrics integration, SIP stats aggregated view INVITE, 4xx, 5xx, Alerting, Loki), Can we just use any one of the DataStore, like PostgreSQL, ES?
2. Is it possible to extract RTP information from my Asterisk

[2020-09-24 11:07] lmangani commented on #385
Hi @ishvaram

Thanks for getting deeper into HOMER! Many questions here, almost none about homer-app but I'll try tackle a few:

1. HOMER 7.x is dynamic. Meaning there's many ways (some open ended) to obtain the same results with different components. The HOMER UI is focusing on the PostgreSQL integration and integrating with Grafana which supports most of the backends we can write to, but the ide

[2020-09-24 11:07] #385 closed

[2020-09-24 11:16] flantel opened #386 "Correlation using wildcard?"
Hi,

We have a b2bua which modifies the A and B leg CallIDs by taking (up to) the first 30 chars before any '@' sign of the A-Leg CID then adds "_<random>@new_domain" to create the B-Leg.

I have a mapping rule which catches this, but as I only know up to the first 30 chars, the only way I could express it is with a % wildcard. However, as the resulting query is "sid in ($1, $2)" wildcards don't w

[2020-09-24 11:17] lmangani commented on #386
Hi Barry,

Please provide the current version of your mapping script and some example and we'll be happy to make a suggestion.

[2020-09-24 11:26] flantel commented on #386
Sure. I have a script called `callid_genband` created under Advanced:

[code]
..and my mapping script is as follows.

[code]

I can see that the search is being performed as per my script as the homer.app logs show "sid array after JS:" correctly.

homer-app is from revision 6d0e6a162447b279092c84a94c124df89e52561e

Many thanks

[2020-09-24 11:28] flantel commented on #386
Sorry, CallID example:

A-Leg: 29256707-3809921585-53286089@SBC01N1TB.domain2.com
B-Leg: 29256707-3809921585-53286089_8358307-3809921586-236453012@ix-nextone-01-domain.com

My resulting lookup is `29256707-3809921585-53286089%`

[2020-09-24 11:40] lmangani commented on #386
Thanks, Could you also provide the response for this?

[2020-09-24 11:47] flantel commented on #386
Sorry, which response? HTTP POST transaction, or the SQL response to the query?

[2020-09-24 11:54] adubovikov commented on #386
https://github.com/sipcapture/homer-app/commit/da0751c033cf16f09cf77a8be660f0bd774d1702

in the correlation block:

"like_search": true

please take it and test it

[2020-09-24 11:55] flantel commented on #386
That should do the trick. Thanks! I'll check it out.

[2020-09-24 12:22] flantel commented on #386
Works like a charm. Many, many thanks!

[2020-09-24 12:24] adubovikov commented on #386
Great! Have a nice day

[2020-09-24 12:24] #386 closed

[2020-10-02 14:51] systemcrash opened #388 "Export link for call graph gives 1_registration insteaf of 1_call"
When I click on call call-graph-> share -> export link, the link is wrong.

* I am in the Home panel, which does call searches.
* my call search panel uses the `SIP - call` proto

instead of the correct:
[code]
the link produced is always:
[code]

that is, instead of the search param having `1_call` it has `1_registration`, so the call is not found.

I can edit the link to `1_call` manually, and i

[2020-10-02 14:55] systemcrash commented on #388
BTW using homer 7.7.034 (because call graphs still work there).

[2020-10-02 15:21] systemcrash opened #389 "Search results and time+date must correlate to display graphs correctly"
(Homer 7.7.034)
e.g.

call search -> session ID -> specified

Search results show only that call. OK - expected.

But to correctly display all of the call graph, the date+time must be correctly specified: only packets whose timestamp falls between the start date+time and the end date+time will appear on the graph.

e.g. if I have calls "from the last five minutes" specified, but a call-ID is alrea

[2020-10-02 15:22] systemcrash commented on #389
Homer could/should auto adjust date+time ranges which encompass displayed search results, so call graphs render correctly.

[2020-10-02 15:49] systemcrash commented on #389
This problem mainly manifests when I performed a search and the result was actually e.g. 'within the last 5 minutes' (go away, do something else, return 15 minutes later) and clicking to view the graph. Perhaps clicking on the graph can pass parameters to modify date+time.....

[2020-10-02 15:59] systemcrash commented on #345
This fix appears to be broken in current master. When I view the QoS tab for any call, all data types appear to be sorted in reverse order (and not forward, as expected).

e.g. for packets:

![Screenshot 2020-10-02 at 17 54 37](https://user-images.githubusercontent.com/647633/94943819-97228100-04d8-11eb-98f9-3f6ac7fc5af1.png)

The returned JSON data from the qos endpoint shows packet and octet cou

[2020-10-02 16:04] systemcrash commented on #345
Time tags are listed in chronological order. Corresponding values are displayed in reverse.

[2020-10-02 20:11] adubovikov commented on #388
it has been fixed in 7.8.x

[2020-10-02 20:18] systemcrash commented on #388
OK - thanks. Do you know which check-in or PR fixed it?

[2020-10-02 20:18] #388 closed

[2020-10-02 20:22] adubovikov commented on #388
I don't remember, but I have checked on the our lab - it sends correct request

[2020-10-02 20:25] adubovikov commented on #345
@AlexeyOplachko can you please recheck ?

[2020-10-05 13:13] volga629-1 opened #390 "PgSQL SSL"
Hello Everyone,
Is possible adjust PgSQL connection string and allow sslmode parameter be configurable from config file.  Right now based on what I see in main.go connection string is set sslmode=disable

New option

[code]

Default value should be "disable"

[2020-10-05 13:16] adubovikov commented on #390
you did almost everything, just make a PR and we will accept it!

[2020-10-05 13:17] volga629-1 commented on #390
I am not good at go, to make it right. It just pure observation.

[2020-10-05 13:26] adubovikov commented on #390
https://github.com/sipcapture/homer-app/commit/9c01bf7e00c78c169508bf477e6a8b45aa6ed8d0

https://jdbc.postgresql.org/documentation/head/ssl-client.html

[2020-10-05 13:30] adubovikov commented on #390
please retest it and give a feedback

also do this:

https://github.com/sipcapture/homer/stargazers

[2020-10-05 13:31] volga629-1 commented on #390
Wow, thank you for prompt help. Do I need still need the line for conf file ?

[2020-10-05 13:33] adubovikov commented on #390
https://github.com/sipcapture/homer-app/commit/9c01bf7e00c78c169508bf477e6a8b45aa6ed8d0#diff-7ddfb3e035b42cd70649cc33393fe32cR579

in the config at database's part

sslmode: allow or require

[2020-10-05 14:04] volga629-1 commented on #390
Patch test

[code]

But seems when I tries connect database it not use config file at all
Config file is configured remote database and last option in section set sslmode: "require"

[code]

[code]

[2020-10-05 14:44] volga629-1 commented on #390
Something like this

[code]

[2020-10-05 14:46] adubovikov commented on #390
sorry, what are you trying to do ? Use homer-app to create schema/users ?

[2020-10-05 14:47] volga629-1 commented on #390
Yes, initial configuration at first. Then use from config file. All connections with PgSQL and SSL homer 7

[2020-10-05 14:49] adubovikov commented on #390
ok, this is something differfent. Let me add the param there as well

[2020-10-05 15:11] adubovikov commented on #390
https://github.com/sipcapture/homer-app/commit/32498e33958b661222000f22fb92ecdf0019c7e2

[2020-10-05 15:36] adubovikov commented on #390
done

[2020-10-05 16:37] adubovikov commented on #390
any feedback ?

[2020-10-05 16:45] volga629-1 commented on #390
I am working on release of RPM . I will post feedback soon.

[2020-10-05 17:19] volga629-1 commented on #390
Again, huge thank you for prompt help and all work. SSL works right now as expected.
I released rpm for  f32 server.

[code]

[2020-10-05 17:21] adubovikov commented on #390
super. If you can, please star our project :-)

https://github.com/sipcapture/homer/stargazers

have a nice evening

[2020-10-05 17:21] #390 closed

[2020-10-08 08:48] uazham opened #391 "Wrong time interval selection in the search menu"
I have a server with Centos 7 and with UTC timezone
Homer-app was installed using homer_installer.sh according to
https://github.com/sipcapture/homer-installer
My current version is 7.8.2
Last updates were installed using yum

SIP server configured with UTC timezone is sending packets to Homer 7. Packets saved in DB are in UTC

In the Search menu I can select timezone to display packets in the res

[2020-10-08 08:53] lmangani commented on #391
You can choose the timezone you want you client to use to perform queries.
Not all users are the same, the only option is to provide flexibility :)

![image](https://user-images.githubusercontent.com/1423657/95436687-687f2d00-0954-11eb-9b79-1fdf59c54b3f.png)

[2020-10-08 09:17] uazham commented on #391
This selection is not saved after logout/login

But the main problem is in time selection:
For example my call was started at 08:01 UTC and finished at 08:02 UTC (SIP server timezone and Homer server timezone is in UTC)
My local timezone is GMT+3. If I will fill the time fields with 08:00:00 and 08:03:00 Etc/UTC) then the call will not be displayed
Currently I should fill time to search in my loca

[2020-10-08 09:17] lmangani commented on #391
Just select UTC as your timezone? About the load, that's a completely unrelated issue related to capacity planning.

[2020-10-08 09:22] adubovikov commented on #391
about save param - we will check

[2020-10-08 09:32] uazham commented on #391
Just tell me why I cannot find the call using more accurate interval? This question is not related to capacity planning
![gmt3-found](https://user-images.githubusercontent.com/33671443/95440959-3b397b80-0962-11eb-9110-3c1405450601.PNG)
![utc-empty](https://user-images.githubusercontent.com/33671443/95440991-442a4d00-0962-11eb-8842-21c86108d367.PNG)

[2020-10-08 09:54] lmangani commented on #391
I was referring to this part

[2020-10-08 10:22] adubovikov commented on #391
@uazham can you please show the params that have been sent in the API ? (F12 -> network console)
I am more interesting for time: {from/to}

[2020-10-08 10:43] adubovikov commented on #391
so, Just did a test:
![Screenshot from 2020-10-08 12-39-25](https://user-images.githubusercontent.com/4513061/95448292-64a6d700-0963-11eb-9383-4f1dca916484.png)

and it sends:

[code]

1602108000000  - 10/07/2020 @ 10:00pm (UTC)

![Screenshot from 2020-10-08 12-39-47](https://user-images.githubusercontent.com/4513061/95448377-8dc76780-0963-11eb-9dc5-31ce05cd7fe6.png)

[code]

1602115200000 - 10/08

[2020-10-08 11:57] uazham commented on #391
I have tried it.
You may check result on the picture.
![gmt3-timestamp](https://user-images.githubusercontent.com/33671443/95455437-8cec0100-0976-11eb-8435-997e54cb4899.PNG)

[2020-10-08 12:06] adubovikov commented on #391
confirmed. It's not working for custom zone, only for predefined. Let us check! Thanks for report

[2020-10-09 14:53] systemcrash commented on #345
Isn't it trivial to verify this bug in current master?

[2020-10-09 18:42] adubovikov commented on #345
@systemcrash it's not complex, but we are also busy with another tasks, don't worry this one is next

[2020-10-11 10:25] adubovikov commented on #391
we have implemented the local storage for timezones, fixed restore pararameters for the datetime picker, added timezones in the result. Version 7.8.3 in the develop branch. Please test it and let us know if it solve your issues and after we will push it to the master branch. Thank you!

![Screenshot from 2020-10-11 12-04-18](https://user-images.githubusercontent.com/4513061/95676244-e2195400-0bbc-

[2020-10-11 16:41] uazham commented on #391
Unfortunately I cannot find "devel" branch of homer-app
Could you please clarify should I clone "devel" branch of Homer-UI https://github.com/sipcapture/homer-ui/tree/devel and somehow integrate it in my current installation (https://github.com/sipcapture/homer-installer + yum) or clone master branch of homer-app and somehow change it to use devel branch of homer-ui during make process?
Thank you

[2020-10-11 18:32] adubovikov commented on #391
ah, sorry, yes, this is homer-ui. You have to compile new dist and test it

git clone -b devel http://github.com/sipcapture/homer-ui
cd homer-ui
npm install
npm run build

and after copy dist to your homer-app's dist directory

[2020-10-12 09:31] uazham commented on #391
After "npm run build" and moving contents of "dist" to /usr/local/homer/dist
I can see an infinite try to show me a login screen (cookies and cache were cleared)
![image](https://user-images.githubusercontent.com/33671443/95730272-b4004680-0c86-11eb-8be9-146cfa8d8aef.png)

[2020-10-12 09:36] adubovikov commented on #391
It doesn't say too much. Please show your Web devel console (F12)

On Mon, 12 Oct 2020 at 11:31, uazham <notifications@github.com> wrote:

[2020-10-12 09:41] uazham commented on #391
Cold you tell me what what tab of console I need to show?
"Console" tab show me the following errors:
![image](https://user-images.githubusercontent.com/33671443/95731420-2e7d9600-0c88-11eb-9a69-71e1641f2f69.png)

[2020-10-12 09:44] adubovikov commented on #391
can you show me the result of ls -l in your /usr/local/homer/dist ?

On Mon, 12 Oct 2020 at 11:41, uazham <notifications@github.com> wrote:

[2020-10-12 09:45] adubovikov commented on #391
lets do this way:

run not "npm run build", but "ng build --prod" and copy the files one
more time

On Mon, 12 Oct 2020 at 11:44, Alexandr Dubovikov <
alexandr.dubovikov@gmail.com> wrote:

[2020-10-12 09:45] adubovikov commented on #391
or you can run:

npm run build-keep-js

On Mon, 12 Oct 2020 at 11:45, Alexandr Dubovikov <
alexandr.dubovikov@gmail.com> wrote:

[2020-10-12 09:46] uazham commented on #391
[root@homer7 dist]# ls -la
total 2396
drwxr-xr-x 3 root root   4096 Oct 12 09:44 .
drwxr-xr-x 7 root root   4096 Oct 12 09:42 ..
-rw-r--r-- 1 root root  54026 Oct 11 19:49 3rdpartylicenses.txt
drwxr-xr-x 4 root root   4096 Oct 11 19:49 assets
-rw-r--r-- 1 root root   1150 Oct 11 19:49 favicon.ico
-rw-r--r-- 1 root root   4891 Oct 11 19:49 index.html
-rw-r--r-- 1 root root 991042 Oct 11 19:49 main.

[2020-10-12 10:02] uazham commented on #391
result of  "npm run build-keep-js"

WARNING in /root/homer-ui-update/homer-ui/src/karma.conf.js is part of the TypeScript compilation but it's unused.
Add only entry points to the 'files' or 'include' properties in your tsconfig.
WARNING in /root/homer-ui-update/homer-ui/src/app/components/widgets/pcap-widget-component/modules/hep-js/test/index.js is part of the TypeScript compilation but it's unu

[2020-10-12 10:16] adubovikov commented on #391
looks like you have very specific linux. Normally gzip should have option
-k (--keep)

anyway, run:

ng build --prod

and after copy the files to the dist

On Mon, 12 Oct 2020 at 12:02, uazham <notifications@github.com> wrote:

[2020-10-12 10:52] uazham commented on #391
Unfortunately still show errors after "ng build --prod"
[build-output.txt](https://github.com/sipcapture/homer-app/files/5364661/build-output.txt)

![image](https://user-images.githubusercontent.com/33671443/95738524-10b52e80-0c92-11eb-9c7c-a2f0c5c49356.png)

And gzip on Centos 7 do not have -k option

[2020-10-12 12:57] adubovikov commented on #391
please pull the last devel branch and after:

npm run build-noenv

and copy dist and retest it

On Mon, 12 Oct 2020 at 12:53, uazham <notifications@github.com> wrote:

[2020-10-12 13:33] uazham commented on #391
Now both options are working fine:
1. Search with timezone for the custom interval
2. Saving timezone settings after logout/login
Thank you!

[2020-10-12 13:37] adubovikov commented on #391
ok, we will push the changes to the master.

You know that to do here:  https://github.com/sipcapture/homer/stargazers

[2020-10-12 13:40] #391 closed

[2020-10-14 15:51] bmgante opened #392 "ldap authentication"
Hi,

I am having the following errors from ldap:
​​{​​"level":"error","msg":"Couldn't auth user: unable to read LDAP response packet: read tcp 10.63.25.118:50736-\u003e10.21.3.142:389: read: connection reset by peer","time":"2020-10-14T14:15:52Z"}
​​{​​"level":"error","msg":"Couldn't auth user: LDAP Result Code 200 \"Network Error\": ldap: connection closed","time":"2020-10-14T14:16:23Z"}​​

My ld

[2020-10-14 16:43] adubovikov commented on #392
you have to check your LDAP's log

[2020-10-14 16:46] adubovikov commented on #392
Are you sure that your port 389 is not TLS ?

[2020-10-14 17:44] lmangani commented on #392
A little insight as of what's on the other side would help provide advice. The error suggests the connection is reset and closed, likely by a firewall rule.

[2020-10-14 18:43] bmgante commented on #392
Attached the pcap from homer server. Homer-app is 10.63.24.196 and ldap 10.21.3.142.
From the homer server i am able to telnet ldap on port 389 (so firewall is ok) but maybe for some reason ldap does not allow to establish session with this homer server.

[ldap.zip](https://github.com/sipcapture/homer-app/files/5380229/ldap.zip)

[2020-10-14 19:02] adubovikov commented on #392
I dont see anything that can help - ONLY SYNC/RST - no PSH (data)

try to use ldapsearch

[2020-10-15 18:14] duarterocha91 opened #393 "How to add sip headers to data_header"
Hello all,

I need to add the Cseq header contained in the "raw" column to the data_header column. Is this possible?

What's the best method?

Cheers

[2020-10-15 18:33] adubovikov commented on #393
Please follow these discussions:

https://github.com/sipcapture/homer-app/issues/278

https://github.com/sipcapture/heplify-server/issues/310#issuecomment-627228725

[2020-10-19 16:43] #376 closed

[2020-10-19 16:43] adubovikov commented on #376
fixed

[2020-10-19 16:46] adubovikov commented on #392
looks like it's not related to homer-app. I close the issue. Please reopen if needed

[2020-10-19 16:47] adubovikov commented on #389
did you test with the latest devel branch ?

[2020-10-19 16:47] adubovikov commented on #333
fixed

[2020-10-19 16:47] #333 closed

[2020-10-19 16:48] adubovikov commented on #306
did it fix in the last devel ?

[2020-10-19 16:49] adubovikov commented on #362
was fixed

[2020-10-19 16:49] #362 closed

[2020-10-19 16:49] adubovikov commented on #345
@AlexeyOplachko fixed it in the last devel branch (homer-ui). Please take it and retest

[2020-10-19 17:26] systemcrash commented on #345
Nope - still showing backwards in master. This will land tomorrow in homer-app?

How would I test with the homer-ui devel branch, should I want/need to?

[2020-10-19 17:58] adubovikov commented on #345
1. git clone -b devel http://github.com/sipcapture/homer-ui
2. cd homer-ui
3. npm install
4. npm run build
5. cp dist to your homer-app directory

test it

On Mon, 19 Oct 2020 at 19:26, Paul Dee <notifications@github.com> wrote:

[2020-10-19 18:00] adubovikov commented on #345
sorry, but I have cleary wrote - devel branch. Not master

[2020-10-19 18:01] systemcrash commented on #345
Ok - thank you. This would be good in the wiki. But since I docker-compose, and only have images.....

[2020-10-19 18:04] adubovikov commented on #345
in this case you have to wait until our dev-team will not finish all tests
and only after push everything to the master.

On Mon, 19 Oct 2020 at 20:02, Paul Dee <notifications@github.com> wrote:

[2020-10-19 18:14] hvspa commented on #306
thanks very much Alexandr for follow up.

i just checked and IPs are now shown while exporting to PNG.

thanks again and have a great evening.

[2020-10-19 18:17] adubovikov commented on #306
Perfect! I will close the issue. Thank for patience!

[2020-10-19 18:17] #306 closed

[2020-10-19 18:25] adubovikov commented on #393
did we answer on your question ?

[2020-10-19 18:28] adubovikov commented on #346
the answer is heplify-server. It forces to use callid if no correllation-id in HEP header. We have fixed it already

[2020-10-21 06:14] ishvaram opened #394 "SIP flow visualization and Export Pcap is not working"
@lmangani  @adubovikov
I've encountered with weird issue

**issue 1:** SIP flow visualization of a call is not working. not working meaning the popup is keep on loading forever. it doesn't render the tabs where we see Messages, Flow, QoS, Loki, Export.

**issue 1:** Export pcap file is empty after downloading. I see below error

![export_pcap](https://user-images.githubusercontent.com/4301774/9668

[2020-10-21 07:55] adubovikov commented on #394
if you can take master's branch of homer-ui and homer-app it will be great

[2020-10-21 08:01] ishvaram commented on #394
@adubovikov master branch doesn't have a dist folder and I believe dist folder is needed for the UI.

I'm just running the homer-app. if i run with homer-app master branch it doesn't show any UI, its acting as a API only

Currently i'm running homer-app from the tag 1.1.8 only i'm able to see the dashboard.

[code]
by above comment you mean to say i've to build both the binaries and run it in the

[2020-10-21 08:27] jacovinus commented on #394
@ishvaram, please try with the homer-app [Last Release: 1.2.5](https://github.com/sipcapture/homer-app/releases/tag/1.2.5)

[2020-10-21 08:29] adubovikov commented on #394
we will release a new release today

[2020-10-21 08:33] ishvaram commented on #394
@adubovikov Should i take the new release then or the one which is pointed by @jacovinus ?

[2020-10-21 08:34] adubovikov commented on #394
if you don't want wait, you can take that @jacovinus said.

[2020-10-21 08:46] ishvaram commented on #394
is Last Release: 1.2.5 and new release thats gonna come up, both are same ? @adubovikov

[2020-10-21 08:50] adubovikov commented on #394
@ishvaram no

[2020-10-21 10:13] ishvaram commented on #394
@adubovikov which one do you recommend? 1.2.5 or latest release (if it has additional features)

[2020-10-21 10:17] adubovikov commented on #394
I wrote you already. If you don't want to wait, take 1.2.5. More I couldn't tell you

[2020-10-21 10:18] ishvaram commented on #394
@adubovikov I will wait, where can I get the latest-stable release details? do we post anywhere?

[2020-10-21 11:20] adubovikov commented on #394
we release packages and we do also tags here https://github.com/sipcapture/homer-app/releases

[2020-10-21 12:15] ishvaram commented on #394
@adubovikov and @jacovinus I've to download the binary from the release and deployed. It's still the same with the SIP flow loading and pcap download part.

![pcapnotloading](https://user-images.githubusercontent.com/4301774/96717628-68574680-13c4-11eb-8cb9-ddce6f80b4b1.png)

[2020-10-21 12:24] adubovikov commented on #394
it's great that you donwload the binary, but did you upgrade the UI ? Whats version do you have in the title ?

[2020-10-21 12:29] ishvaram commented on #394
I haven't upgraded the UI? how to do that?

[code]
HOMER 7.7.010(prod) this is what i see in the title

[2020-10-21 12:37] adubovikov commented on #394
if you will be read my replies and not make assumptions you would finished it couple steps before.
two ways as I said:

1. install packagecloud : https://github.com/sipcapture/homer/wiki/Quick-Install#debian

or
2. take the release files from here: https://github.com/sipcapture/homer-app/releases/tag/1.2.6
specialy: https://github.com/sipcapture/homer-app/releases/download/1.2.6/homer-ui-7.8.5.tgz

[2020-10-21 13:01] ishvaram commented on #394
@adubovikov To be honest, The steps not documented well. right from the beginning. I understand that this is open source.
Download tar ball of homer-ui and updating with dist directory is something internal to this project which is not documented anywhere?

If this would've communicated earlier clearly, Yes this thread wouldn't be gone this long.

Having said that, Thanks a ton though! I've follow

[2020-10-21 13:01] #394 closed

[2020-10-21 13:05] lmangani commented on #394
@ishvaram you're welcome - the extra procedure is just a manual override in case you wanted to know how to do so, while a normal user should just install the packages and we worked quite hard to make this even possible. If you think the docs are inaccurate or can be improved, please help by submitting a PR with your changes - that's how a community should operate after all.

Thanks for your report

[2020-10-21 13:07] adubovikov commented on #394
great that this has been fixed, but I wanna point your attention to the "To be honest, The steps are not documented well". We spend our time to help you to solve your issue and honestly we don't need "Thanks a ton though!", but a some help to inprove the documentation will be more than welcome.

[2020-10-21 13:20] ishvaram commented on #394
@adubovikov Surely,  Will be updating the wiki page over the weekend. Appreciate the prompt reply :)

[2020-10-21 15:37] adubovikov commented on #394
thanks in advice!

[2020-10-27 11:47] systemcrash commented on #345
Pulled current master. Appears as though this commit has fixed sort order, once again.

https://github.com/sipcapture/homer-ui/commit/b1f77fa53c4a720ea3e0a48ad036153c492566d3

[2020-10-27 11:47] #345 closed

[2020-10-27 11:50] adubovikov commented on #345
you are welcome. Don't forget to star our project: https://github.com/sipcapture/homer/stargazers

[2020-10-27 16:37] adubovikov commented on #345
thank you, but better to star homer project  - this is out front page :-)

[2020-10-27 19:56] systemcrash commented on #345
Stalker 😉

[2020-10-27 20:11] SharadKumar97 opened #395 "Homer-APP GUI JS Console Error - Value must be an array in multiple-selection mode."
Hey guys,

We have been using Homer for a quite long time and it's working great with OpenSIPS. But it's been a few weeks that it stop showing calls or data on the UI. We can see that openSIPS is sendig calls and homer is recieving it and storing in the DB. But on the UI we can't see anything.

 Version: homer-app 1.2.0

We are getting these error logs on browser console -
main.8c9dc14eecdbf2d50be

[2020-10-27 20:13] adubovikov commented on #395
it will be great if you will update to the latest version: current is 1.2.7

[2020-10-27 20:14] adubovikov commented on #395
as a workaround - please go to Settings -> Reset local storage and check again

[2020-10-28 03:24] SharadKumar97 commented on #395
Hi

I tried clearing local storage but it won't work. I will upgrade it and let you guys know.

Thank you

[2020-10-29 18:49] systemcrash opened #396 "QoS graphs *extremely* slow to display/update for long-running calls"
Took ~50 seconds to display `octet` graph for a ~40 minute call

7.7 builds did it almost instantaneously...

[2020-10-29 18:54] systemcrash opened #397 "How does one update the Call search -> Logs -> Loki strings?"
LogQL field is pre-filled with: `{job="heplify-server"}` - how does one change this?

Could not find it ...

[2020-10-29 19:03] systemcrash opened #398 "Cannot close Settings -> User Settings prefs windows once open"

[2020-10-29 19:46] lmangani commented on #397
Hi Paul, are you referring to the Session Logs tab query (which is editable) or to the Loki search widget here?

[2020-10-29 19:58] lmangani commented on #396
Definitely needs improvements on larger datasets since there is some reordering at play with displaying the QoS reports compared to the raw query, in this case the delay is not much about the duration rather the number of reports involved.

Could you provide an export for this session or some numbers in terms of the reports involved to replicate it?

[2020-10-29 20:07] systemcrash commented on #397
Tab.

It seems like this label is [hard-coded](https://github.com/sipcapture/homer-ui/blob/420f257183ad85007432e90a5bcac9d43dd01dd7/src/app/components/search-grid-call/detail-dialog/tab-loki/tab-loki.component.ts#L43): this should be made configurable.

Loki 2 just arrived, and the label formatting has been improved, esp for people who use `syslog` like me:

e.g.

This does not work:
`{job="heplif

[2020-10-29 20:09] systemcrash commented on #397
https://grafana.com/blog/2020/10/28/loki-2.0-released-transform-logs-as-youre-querying-them-and-set-up-alerts-within-loki

[2020-10-29 20:13] lmangani commented on #397
Tab query is editable and user is expected to change it to their likes. This said, we can't assume everyone is immediately using loki v2 API (which we support also in other elements) so to be sure we need to move this into an advanced variable to be made configurable.

[2020-10-29 20:16] systemcrash commented on #397
Is there some javascript magic that can be run to wrap the call-id in e.g.
`|="call-id"`

For multiple call-ids, something slightly more complex is required.

[2020-10-29 20:17] lmangani commented on #397
yes we can consider adding it in the coming day, but right now, this is more supposed to be a "ready to use" search window into Loki rather than a preset or query builder per se. That's more of a starting point.
![ezgif com-optimize (76)](https://user-images.githubusercontent.com/1423657/97627731-13eb4100-1a2c-11eb-8366-7f825895a3ed.gif)

[2020-10-29 20:20] lmangani commented on #397
We need to map [this template](https://github.com/sipcapture/homer-ui/blob/407f7e4a26a51983502c35a85aebef1a9c9cdc42/src/app/components/search-grid-call/detail-dialog/tab-loki/tab-loki.component.ts#L43) to an advanced variable to make it flexible enough.

[2020-10-29 20:20] systemcrash commented on #397
Ah, OK. Understood - just that the TS source has:

`${labels}` - and I was wondering whether the user can mutate this before it goes to the Loki LogQL field

[2020-10-29 20:21] lmangani commented on #397
[code]

[2020-10-29 20:23] lmangani commented on #397
Might have to change the current `|` separators too if you expect multiple ids otherwise, but we don't want to assume the backend version or build anything more than a simple template here, so it should be kept template-friendly to be useful to everyone.

[2020-10-29 20:23] systemcrash commented on #397
It seems to me that the `heplify-server` part, is an assumption that heplify-server handles ingress logs also.

But we're just bringing logs in via syslog, so *nothing* is tagged, and searching for the call-id with the label as is produces only:

[code]

and not the rest of the desired message parts..... ;)

[2020-10-29 20:34] systemcrash commented on #397
I point out [here](https://grafana.com/blog/2020/10/28/loki-2.0-released-transform-logs-as-youre-querying-them-and-set-up-alerts-within-loki/) that:
```Things in orange you should already be familiar with. Filtering on log content with |= != |~ and !~, and converting your logs into metrics with rate and count_over_time were available in Loki 1.x. Everything else in white is new in 2.0...```

[2020-10-29 21:26] systemcrash commented on #396
In this case it was
[code]
but debugging it in FF, it said `Response has been truncated` and tons of errors propagated in the console....

If I `Copy -> Copy as cURL` and run it, the expression returns a complete result.

It seems there's some duff code handling the QoS graph CSS styling (just an educated guess):
[code]

Seems like the amount of errors concurs with the amount of QoS graph columns.

[2020-10-29 21:31] systemcrash opened #399 "Mouse-over the call search home page `pagination` panel at the bottom error"
[code]

[2020-10-29 21:44] systemcrash commented on #399
![Kapture 2020-10-29 at 22 42 49](https://user-images.githubusercontent.com/647633/97635827-4b5fea80-1a38-11eb-9db3-128b858e0342.gif)

[2020-10-29 21:47] systemcrash commented on #398
![Screenshot 2020-10-29 at 21 13 36](https://user-images.githubusercontent.com/647633/97636004-a09bfc00-1a38-11eb-96ad-194174ac2aa6.png)
Nothing, close, save, cancel - nothing works.

[2020-10-29 21:55] systemcrash commented on #396
False alarm - Call flow graph is source for the `max-height` and `max-width` errors.

[2020-10-29 22:21] lmangani commented on #396
@RFbkak37y3kIY could you take a look at this problem?

[2020-10-29 22:29] systemcrash commented on #396
Redacted response
[response-redacted.json.zip](https://github.com/sipcapture/homer-app/files/5461609/response-redacted.json.zip)

[2020-10-29 23:18] lazedo opened #400 "issue with `QOS` visualization."
Hello,

having an issue with `QOS` visualization.

heplify_server - a683cb969af2eeae93abc3f112c4dc25b2168dfc
homer-app - 6f9494b140b51400dc6f24fe413454e107360b33

the flow shows the RTCP messages

![image](https://user-images.githubusercontent.com/770988/97642193-78ae9780-1a3c-11eb-9821-d14dd247522a.png)

and they are listed in `messages`

![image](https://user-images.githubusercontent.com/770988/

[2020-10-29 23:23] systemcrash commented on #396
Went back thru about a month of builds via docker images. All the same behaviour....

[2020-10-30 01:31] lmangani commented on #396
Thanks for confirming! we'll address this next.

[2020-10-30 09:40] adubovikov commented on #399
We did a fix here, https://github.com/sipcapture/homer-ui/commit/de1c695aed2bdb62cfae099e2c82f6480ad991bc

but a bit more info how it happend will be more than welcome :-)

[2020-10-30 09:42] adubovikov commented on #395
Did you have any news ?

[2020-10-30 09:43] #393 closed

[2020-10-30 09:54] #353 closed

[2020-10-30 11:12] Sp0rN opened #401 "Visualize OPTIONS Method"
Hi Guys, small issue...(or lack of understanding :P )

Im trying to view OPTIONS message flow in homer-app, but when searching for the OPTIONS method, I get no results in my search widget. I've confirmed these are in the DB, I'm just not able visualise them in the homer GUI. Im able to see all the standard SIP Invite traces, but no OPTIONS, or REGISTERS (not interested in register though).

I had

[2020-10-30 11:22] AlexeyOplachko commented on #398
Fixed on devel branch

[2020-10-30 12:01] lmangani commented on #401
Hi @Sp0rN
If we are talking about out-of-band options (not related to a call or registration) will be in the SIP - default protocol bucket.
Try creating a new proto search widget for using the `SIP - default` profile and it should work.

NOTE: We're adding an option to the form itself to switch between profiles to make this more intuitive.

[2020-10-30 12:17] lmangani commented on #397
@AlexeyOplachko could we make [this template](https://github.com/sipcapture/homer-ui/blob/407f7e4a26a51983502c35a85aebef1a9c9cdc42/src/app/components/search-grid-call/detail-dialog/tab-loki/tab-loki.component.ts#L43) a Loki object variable via advanced settngs?

Example:
![image](https://user-images.githubusercontent.com/1423657/97704036-f19c0680-1ab1-11eb-93a7-521dc45fcb43.png)

Potential tasks:

[2020-10-30 15:26] SharadKumar97 commented on #395
Hey guys,

I confirm that after upgrading the homer-app to the latest version fixes this issue.

Thank you please go ahead and close the issue

[2020-10-30 16:44] #395 closed

[2020-10-30 19:17] adubovikov commented on #401
https://github.com/sipcapture/homer-ui/issues/330
the same way....

[2020-10-30 19:18] adubovikov commented on #401
for now (current release) please create own widget for each profile (call, registration, search)

[2020-10-30 19:26] Sp0rN commented on #401
Thanks guys, this worked, im now able to see all my OPTIONS :)

Thanks again!

[2020-10-30 19:47] adubovikov commented on #401
you are welcome, let me close the ticket because we track the new feature in sipcapture/homer-ui#330

[2020-10-30 19:47] #401 closed

[2020-11-02 22:34] systemcrash commented on #399
Your comment gives me an idea: if you're so sure you've fixed it, stick it in main (tho for some stuff that might be dangerous). Can you cook up a homer-webapp-dev which includes the latest dev branch merges? Then I can pull that docker image in and test exclusively that 'thing'. For things where community feedback is necessary to confirm a fix, this -dev image is a win, I think.

[2020-11-02 22:36] systemcrash commented on #396
Let me know if you need more (specific) data - I can but try and get it.

[2020-11-02 22:42] adubovikov commented on #396
all good, an update is comming

[2020-11-04 16:46] systemcrash commented on #399
Is fix in master yet?

[2020-11-05 19:47] adubovikov commented on #400
please provide the payload of these "missing messages" It can be sender report without any information inside.

[2020-11-05 19:49] adubovikov commented on #396
so, last question before we will proivide the final solution. Who has generated these reports ? Why so offten (couple in one seconds) and why only 18 packets have some information and another just sender reports with empty report block.

[2020-11-05 21:11] systemcrash commented on #396
That data is now purged from the DB. I think it was Bria v4.... cannot be certain. You can thank our heterogeneous environment for this.

But.... As I recall, the call was started, and most likely put on hold for a LONG time. Thus all the packets:1 octets:0

[2020-11-05 22:35] adubovikov commented on #396
ok, this means the octests: 0 we will filter on the frontend and on the backend as well

[2020-11-09 20:11] systemcrash commented on #397
To be immediately helpful, I note that a `|~` i.e. regex match is more useful than `|=` literal string match.

For calls with multiple legs, labels comprised of a or b form, e.g. `a|b` should be (must be):

`{job="heplify-server"}|~"a|b"`

No extra white-space. As
`{job="heplify-server"}|~"a | b"`
is not the same as
`{job="heplify-server"}|~"a|b"`

Altho, if I modify the expression that pre-fills

[2020-11-09 20:13] systemcrash commented on #397
Also, all Log results in this window get hacked up for HTML display:

`To: &lt;sip:+567...`
instead of
`To: <sip:+567...`

The JSON returned shows all angle brackets in the headers are intact, however.

[2020-11-09 20:33] systemcrash commented on #397
The HTML returned in the LogQL results is not even used (bloat):

`<div class="item-tex-loki hover loki-highlight lokimessage"><span></span>C<span></span>A<span></span>N<span></span>C<span></span>E<span></span>L<span></span> <span></span>s<span></span>i<span></span>p<span></span>:<span></span>s<span></span>t<span></span>p<span></span>k<span></span>v<span></span>r<span></span>t<span></span>@<span><

[2020-11-10 09:34] AlexeyOplachko commented on #397
Can you please clarify where you're getting this? Because this doesn't seem to happen neither on Chrome nor on FF. I'm getting just text inside of <div class="item-tex-loki hover loki-highlight lokimessage">

[2020-11-10 17:15] systemcrash commented on #397
Like this:
![bloatedhtml](https://user-images.githubusercontent.com/647633/98707662-92c37080-2380-11eb-8aec-3e9bb09f1589.png)

[2020-11-18 20:27] adubovikov commented on #400
the version 1.3.0 has been released. Please install it and retest it.

[2020-11-18 20:27] adubovikov commented on #399
the version 1.3.0 has been released. Please install it and retest it.

[2020-11-18 20:27] adubovikov commented on #398
the version 1.3.0 has been released. Please install it and retest it.

[2020-11-18 20:27] adubovikov commented on #396
the version 1.3.0 has been released. Please install it and retest it.

[2020-11-18 20:28] adubovikov commented on #389
the version 1.3.0 has been released. Please install it and retest it.

[2020-11-18 20:30] adubovikov commented on #358
the version 1.3.0 has been released. Please install it and retest it.

[2020-11-18 20:31] adubovikov commented on #327
the version 1.3.0 has been released. Please install it and retest it.

[2020-11-18 20:31] adubovikov commented on #305
the version 1.3.0 has been released. Please install it and retest it.

[2020-11-18 20:31] adubovikov commented on #203
the version 1.3.0 has been released. Please install it and retest it.

[2020-11-18 20:32] adubovikov commented on #314
the version 1.3.0 has been released. Please install it and retest it.

[2020-11-19 02:16] systemcrash opened #402 "Fresh meat - v1.3.0 -> v1.3.3"
Homer says `HOMER 7.9.1 (prod)`

# Bug 1

On a few call flows, I get the following ( reminder to myself, it's this id `432a536a-b7d6e34088-f8fd4b2@sipgt-6ce25f86` ):
[code]
Session info tab is thus empty. On others, I don't.  Need more info??

# Bug 2:

Opening some call-flows, the GUI insists on using `Group Ports` which is still ... not correct..?

It still groups different hosts/aliases togethe

[2020-11-19 02:17] systemcrash commented on #399
Seems fixed 🤩

[2020-11-19 02:17] #399 closed

[2020-11-19 02:18] systemcrash commented on #398
Seems fixed 🤩

[2020-11-19 02:18] #398 closed

[2020-11-19 02:24] systemcrash commented on #397
Span and formatting errors seem fixed in v1.3.0 🤩
Default `{job="heplify-server"}|~"..."` is much better and works.

Was this supposed to be in there also?:

[2020-11-19 02:32] systemcrash commented on #396
Can't be certain until I find a long-running session. But from what I see it does seem about.... a kadgillion times faster. So... thank you 😄

[2020-11-19 02:44] systemcrash commented on #358
Because LSR is no longer selected by default, this is a win. Closing 😄

[2020-11-19 02:44] #358 closed

[2020-11-19 02:45] systemcrash commented on #402
# Bug 3
In this call:
[export_144530.txt.zip](https://github.com/sipcapture/homer-app/files/5564015/export_144530.txt.zip)

The `Session Info` tab has `Ringing Time
1605753894.81 sec ` 🤷

[2020-11-19 08:23] adubovikov commented on #402
yes, a pcap will be great.

need to check... but a pcap will be not bad

[2020-11-19 08:31] adubovikov commented on #402
the pcap please :-)

[2020-11-19 08:43] adubovikov commented on #402
ok, not needed. Fixed in the devel

https://github.com/sipcapture/homer-ui/commit/336dcb03ee3876d99438e648ebd48d78760fe429

[2020-11-19 09:00] AlexeyOplachko commented on #397
Yes, template should look like following:
`    "template": {
        "lineFilterOperator": "|~",
        "logStreamSelector": "{job=\"heplify-server\"}"
    }`
In advanced setting `category: Search` `param: lokiserver`

[2020-11-19 09:00] #397 closed

[2020-11-19 11:40] adubovikov commented on #402
Bug 3 and 2 have been fixed in the 1.3.1

please test it and provide more information about Bug 1

[2020-11-19 14:48] systemcrash commented on #396
OK, ~45minute call.... earlier guesstimation of kadgillion times faster was not an exaggeration. Graph takes ~1-2 seconds to fill once selection is checked - the 'dip' in the green graph below is where it's drawing the graph after selection. Here is a dump of the call-graph which you can import into FF. Though if I'm honest, it still feels slower than Homer 7.7. I guess that's the price of progres

[2020-11-19 14:50] systemcrash commented on #402
OK.

# Prob 4
Meanwhile, I still get all of this in FF 83 on a fresh page-load.
[code]

Fresh page-load in Safari [Version 14.0.1 (15610.2.11.51.10, 15610)] gives:
[code]

This one is repeatable, and seems directly related to mouse-over on the Call search or results panel. Mouseover and then away and back consistently produces it (in Safari)

This is symptomatically identical to #399

[code]

[2020-11-19 15:11] systemcrash commented on #402
The fun starts here:

![Screenshot 2020-11-19 at 16 09 48](https://user-images.githubusercontent.com/647633/99684512-d3f30900-2a81-11eb-8443-b7da303b0ca6.png)

[2020-11-19 15:19] adubovikov commented on #402
it will tell not too much ... if you can provide PCAP or PGSQL dump, it will help a lot

[2020-11-19 15:20] systemcrash commented on #402
Safari says no, here:

![Screenshot 2020-11-19 at 16 18 17](https://user-images.githubusercontent.com/647633/99685604-0d784400-2a83-11eb-96b7-af50cdad98b1.png)

[2020-11-19 15:24] adubovikov commented on #396
i don't think this is slower than 7.7  You can help us if you can download and install the older version 7.7 and compare. I can bet it will be slower with SAME ammount of data in UI.

[2020-11-19 15:53] systemcrash commented on #402
Sent to your email.

[2020-11-19 15:58] systemcrash commented on #402
# Bug 5
graph -> Logs -> Loki -> refresh triggers this (and nothing is displayed):
[code]

[2020-11-19 16:05] systemcrash commented on #397
Hmm. No worky. ☹️

[code]

[2020-11-19 16:10] systemcrash commented on #397
In both of these LogQL cases, if I copy/paste the expression in Grafana explore, it returns the results perfectly. So the expressions are fine.

[2020-11-19 16:14] AlexeyOplachko commented on #397
You missed a comma after host param ;)

[2020-11-19 16:18] systemcrash commented on #397
Yup 🤦  fixed. Thank you.

[2020-11-19 16:19] systemcrash commented on #402
# Bug 6

If I click on a session-ID in results pane, but I click on an ID which is beside the call-final BYE, the graph only contains the BYE+200, and not the whole call. Same for messages tab.

Whereas if I click on an e.g. ACK just above the BYE, I get the whole call graph.

Session info tab just displays Unknown -> Unknown and From @ To @

[2020-11-19 16:21] systemcrash commented on #402
This seems to have been triggered by [this problem](https://github.com/sipcapture/homer-app/issues/397#issuecomment-730480131) @AlexeyOplachko -  but an error check here is cleaner, or a fallback to the defaults?

[2020-11-19 16:22] systemcrash commented on #397
Still get this though, for fetching labels, after I fixed the JSON typo.

[2020-11-19 16:28] AlexeyOplachko commented on #402
Seems to be caused by that issue, but I'll investigate further why it's breaking, because it shouldn't break like that 🤔

[2020-11-19 16:29] systemcrash commented on #396
Only run docker .... ☹️ I think those images are long gone, now.

[2020-11-19 16:29] #396 closed

[2020-11-19 16:43] systemcrash commented on #402
Bug 2(b) still manifests ☹️ in latest v1.3.3 - if I select `Group by Alias`, my graph disappears and I get:
[code]

[2020-11-19 23:59] systemcrash commented on #402
I still got a ringing time of : `1605829673.78` sec for this call structure using v1.3.3...:

![Screenshot 2020-11-20 at 00 56 46](https://user-images.githubusercontent.com/647633/99738720-71bef600-2acb-11eb-8259-4e3f15f24ce0.png)

[2020-11-20 00:04] systemcrash commented on #402
#  Prob 8

It's almost impossible for me to scroll down (and reach the bottom) of some call graphs. It keeps 'jumping'. Too jittery to follow.

Here's an example.
[Kapture 2020-11-20 at 01.02.03.mp4.zip](https://github.com/sipcapture/homer-app/files/5570397/Kapture.2020-11-20.at.01.02.03.mp4.zip)

[2020-11-20 00:06] systemcrash commented on #402
# Bug 9

PNG export broken again. Only seems to export the top IP addresses banner. Flow is missing.

[2020-11-20 00:23] systemcrash commented on #402
# Problem 10

Might not be a bug - but feels like one: Call flow -> Logs -> LogQL seems to return a limited amount of entries. I have a long running call which has lots of RTCP entries, and I scroll down and everything stops. Seems like only 100 entries or so are returned.

Can this be made configurable in the settings -> advanced -> loki JSON please?

The query sent is:
```GET /loki/api/v1/query_

[2020-11-20 00:33] systemcrash commented on #402
# Bug 11
Fetching LogQL labels still stuck. The back  end is still talking, so not a problem there:
[code]

Front end just displays
[code]

[2020-11-20 07:39] adubovikov commented on #402
thank you, but it will be not bad if you can open one  Report / BUG(ISSUE). Otherwise we couldn't track it well

[2020-11-20 09:02] lmangani commented on #402
@systemcrash thank you SO MUCH for taking the time to report those bugs and their details!

[2020-11-20 09:27] AlexeyOplachko commented on #402
Should be up in Devel branch as soon as [PR](https://github.com/sipcapture/homer-ui/pull/359) is merged.
Format would be as following
[code]

[2020-11-20 17:45] AlexeyOplachko commented on #402
That's not really fixable directly(can't get host out of broken JSON), but as a solution I implemented Validation for JSON objects in Preferences, so it shouldn't be possible for this situation to happen. Fix is bundled in same PR as loki request limit

[2020-11-20 20:47] adubovikov commented on #402
fixed

[2020-11-20 21:20] adubovikov commented on #402
so, almost all bug have been fixed. Lets wait for release 1.3.4 (today at midnight) and after we can sync.

Export PNG will take a bit more time - so, we expect it on next week

[2020-11-21 13:06] systemcrash commented on #402
RE: 1.3.4
I've not really had a chance to say that you guys have done some cfgiknu amazing work. Homer is now a lot more comfortable to use.

3, 8, and 11 remain.
3: still get ringing times like:
1605963252.90 sec
1605963278.88 sec

8 - reaching BYE at bottom of call graph... still jittery.

4 also - i.id is null traceback for mouseover in Safari.

[2020-11-21 13:37] adubovikov commented on #402
@systemcrash thank you so much for your feedback and testing
can you please provide the pcap for #3 ?

[2020-11-21 13:39] adubovikov commented on #402
you can do same way that you did for #1 :-) email

[2020-11-21 14:31] systemcrash commented on #402
The one I already sent you has this problem 😉

[2020-11-21 17:04] systemcrash opened #403 "Hot suggestion plz: advanced setting for CSS stylesheet for message (colour) styling"
So one can modify the rainbow here:

![Screenshot 2020-11-21 at 17 58 14](https://user-images.githubusercontent.com/647633/99882798-56ff9500-2c23-11eb-9cff-7d1fa24c8254.png)

Note also how msg details colours differ from [results panel/call graph] method colours.... - can they be synchronized?

Not criticism - colours are a good thing™ 😄

[2020-11-21 17:05] adubovikov commented on #403
@jacovinus can you please sync it ?

[2020-11-21 17:06] systemcrash commented on #403
(JSON also OK)

[2020-11-21 17:39] adubovikov commented on #402
@systemcrash can you please take 1.3.5 ? #3 should be fixed

[2020-11-21 18:55] systemcrash commented on #402
CONFIRMED! Seems fixed in a number of other flows I have checked. 💪

[2020-11-21 19:06] systemcrash commented on #402
Bug 2 mostly fixed I think, but seems I found an exception involving v4/v6, when using `Group Ports`. v6 folded into v4 columns.

Note: first 3 aliases on the left are all unique. Two on left are v4.

Ungrouped:
![Screenshot 2020-11-21 at 19 57 30](https://user-images.githubusercontent.com/647633/99885374-a8fce680-2c34-11eb-842b-b921ad3d857d.png)
Group ports:
![Screenshot 2020-11-21 at 19 57 16](h

[2020-11-21 20:34] adubovikov commented on #402
changed to Group by Ports in the master and devel

[2020-11-23 19:03] adubovikov commented on #403
Release 1.3.6

[2020-11-23 19:04] adubovikov commented on #402
Release 1.3.6

lets check it :-)

[2020-11-23 19:49] systemcrash commented on #402
OK - what should be different here? [This still happens](https://github.com/sipcapture/homer-app/issues/402#issuecomment-731622551) in mixed v4/v6 graphs.

Still traceback in Safari.....

But it seems PNG export works 👍

[2020-11-23 19:52] adubovikov commented on #402
1. PNG
2. no rainbow (the colors should be same in the message popup)

[2020-11-23 20:01] systemcrash commented on #402
👍

👎  ( requests, yes, but not for responses )

[2020-11-23 20:11] systemcrash commented on #403
What setting is necessary?

[2020-11-23 20:13] adubovikov commented on #403
no settings - just default colors

[2020-11-26 12:15] flantel commented on #372
Re-opening this as I am still having issues. Grafana graphs only show up if I am already logged in to Grafana. In Advanced -> grafana search settings I have

[code]
Should this work to authenticate these graph requests with Grafana?
Thanks

[2020-11-26 12:16] lmangani commented on #372
Hi @flantel yes it should. Could you grab some logs for when this action fails?

[2020-11-30 10:28] crashza opened #404 "Call Flow Group By Alias as Default"
Hi I would like to be able to set "group by aliases" as default when viewing call flows, It becomes a chore to have to always click this option, It would be nice if whatever is selected in here is saved for that browser sessions similar to dashboards etc.

Thanks for the awesome project.

[2020-12-02 13:27] flantel commented on #372
Hi
There are no logs pointing to any problem. Howeve,r when Homer makes the request, I see no token in the headers, which I would expect. Grafana simply reirects to the login page.
Here are the Request Headers:
[code]
The strange thing is, when I am defining a Grafana widget, the drop-downs get filled with the data from Grafana OK, and I can choose the dashboard.

Homer logs attached.
[homer.log](

[2020-12-02 14:50] lmangani commented on #372
Thanks! @AlexeyOplachko could you check this next in your queue based on @flantel 's input?

[2020-12-02 16:09] Shkiperon opened #405 "Problem with latest version of homer-app in Firefox browser"
I have updated Homer-App to the latest version from Debian repository.
It looks very cool, but in Firefox browser I have some visualization problems - when I try open a call for details in some cases flow list shows on couple of **milliseconds** and then the Flow tab makes blank. Messages and Session Info tabs makes blank too. QoS and Logs tab shows information as usual.
Developer console on Netwo

[2020-12-02 20:22] systemcrash commented on #405
inspect element -> Console. Paste output.

[2020-12-02 20:54] adubovikov commented on #405
unfortunately i dont see any errors in my FF :-( please try to catch or provide the pcap with your call (you can do private as well)

[2020-12-02 21:31] DGEllis opened #406 "Homer and Telegraf"
Looking through /usr/local/homer/etc/web_app_config.json I noted the option to connect to influxdb. I'm familiar with the TICK stack and Grafana, I added the configuration for my influxdb server, v1.83.

I made a few test calls and found no data in influxdb. After an email from sipcapture, I learned that telegraf actually feeds the data to influxdb. So, I checked for a homer/heplify section in tel

[2020-12-02 22:29] lmangani commented on #406
Hi @DGEllis

The pipeline is heplify-server -> prom <- telegraf -> influxdb so all you need is the following in telegraf:
[code]

Just replace the influxdb_ip and homer_ip and it should just work out of the box. If telegraf runs on the same box as hepflify-server, the latter should be just localhost. Let me know if you have any issues with the above.

[2020-12-02 22:29] #406 closed

[2020-12-02 23:39] DGEllis commented on #406
Thank you for the quick response. What listens on 9066? homer-app or heplify-server? Can you show me the relevant configuration?

Thank you,

Darren

[2020-12-03 02:44] Shkiperon commented on #405
One opening of call makes 3 errors in console

[code]

[2020-12-03 03:31] Shkiperon commented on #405
This is strange. I tried to find the call with the problem in Firefox and quickly switch to the Chromium browser with a new call and an old call. I have reproduced the problem in the Chromium browser:
![изображение](https://user-images.githubusercontent.com/38580109/100959655-8de97b00-3540-11eb-9214-59034ae6944a.png)

![изображение](https://user-images.githubusercontent.com/38580109/100959943-27b1

[2020-12-03 03:38] Shkiperon commented on #405
After 5-7 minutes I tried to open that calls again in Firefox and Chromium browser - in both cases everything works normally

[2020-12-03 08:25] aqsyonas commented on #406
Hi

You need to configure port 9066 in heplify-server.

https://github.com/sipcapture/heplify-server/blob/master/example/homer7_config/heplify-server.toml#L13
`PromAddr               = "0.0.0.0:9066"`

But if you have done the homer installation using installer, it should have
configured all this for you.

Br, Aqs

On Thu, Dec 3, 2020 at 4:39 AM DGEllis <notifications@github.com> wrote:

[2020-12-04 16:02] wanted1900 commented on #405
I have the same problem after updating to the latest version. The call seems to open correctly, but then disappears almost instantly. I was monitoring the network tab of the dev-tools and I think the content disappears after the `/api/v3/agent/type/cdr` request. That request returns the following data: `no agent subscription object found for type [cdr]`.

[2020-12-04 16:12] #404 closed

[2020-12-04 16:54] adubovikov commented on #405
can you please guys check 1.3.7. We just released the new package.

[2020-12-06 16:37] Shkiperon commented on #405
I have updated to 1.3.7, but problem the same. In developer console the same error (ERROR TypeError: t is undefined)

[2020-12-06 16:39] adubovikov commented on #405
what do you have in the UI title ? I would like to see the version.

Regards,
Alexandr

On Sun, 6 Dec 2020 at 17:38, Artiom Druz <notifications@github.com> wrote:

[2020-12-06 16:43] Shkiperon commented on #405
"HOMER 7.9.8(prod)" if you mean the page title

[2020-12-06 16:46] adubovikov commented on #405
can you reset your local storage ?

Settings->Reset -> Clear local data
![screenshot-de9-sipcapture-io-8080-preference-reset-1607269550867](https://user-images.githubusercontent.com/4513061/101286452-e5ab0f00-37ea-11eb-9d45-53340edc796f.png)

[2020-12-06 16:55] Shkiperon commented on #405
Yes.
I pressed this button and logout/login in UI - no effect

[2020-12-06 16:59] adubovikov commented on #405
can you click on the filter and select/unselect "Payloadtype" and "callid"

![screenshot-de9-sipcapture-io-8080-dashboard-home-1607270304828](https://user-images.githubusercontent.com/4513061/101286765-af6e8f00-37ec-11eb-9bcf-762571126df3.png)

[2020-12-06 17:11] Shkiperon commented on #405
I don't have these switches

![image](https://user-images.githubusercontent.com/38580109/101287071-eace8500-380f-11eb-947a-7af1f20a08b0.png)

[2020-12-06 17:18] adubovikov commented on #405
ok, we will take a look

[2020-12-06 17:20] Shkiperon commented on #405
I have found interesting, but strange fast fix - click on others switchers, then close sub-window, and open again. After those manipulations - few calls opens as normal. Maybe this information will help in debugging

[2020-12-06 17:48] adubovikov commented on #405
sure, thank you!

[2020-12-14 09:57] adubovikov commented on #405
@Shkiperon can you please take the latest package and retest ?

[2020-12-14 15:23] Shkiperon commented on #405
Much better. In some cases, a loading animation is displayed, but after that everything is displayed as usual (in some calls RTCP packets are displayed for a few milliseconds, then disappear, but the SIP flow is displayed normally). Sometimes some SIP messages are downloaded after scrolling up or down, but after a few scrolls up and down, this normalizes and "loads on the go" does not happen.
In t

[2020-12-15 10:14] adubovikov commented on #405
So I will close the ticket for now. If need it, please reopen.

[2020-12-15 10:14] #405 closed

[2021-01-08 22:34] gledim opened #407 "Increase databases capacity"
Hi team,

This is not actually an issue, but more of a kind request of thoughts and suggestions from your side.

Currently we are successfully using 3 PostgreS databases in parallel, but we further need to increase the capacity, due to the huge amount of data.

Instead of scaling up the current hosts, which would be a short term solution, as they are quite powerful, we are thinking of expanding th

[2021-01-27 13:43] adubovikov commented on #407
Hi @gledim,

so, you can do it vertical or horizontal: create multiple DB and use it across one postfgress or create multiple postgress instances and (cluster/shard it). Homer-app can make connection to multipe sources and agregate data by multiple select.

My recommendation: make something like sharding (user id) and split data between multiple tables/hosts.

Regards,
Alexandr

[2021-02-03 13:41] kpribic opened #408 "share link issue"
**Summary**: Share link generated by homer7 doesn't work if call is correlated across two call IDs.

When generating link (Export->Share link) with WebUI 7.9.10, and the call has two callIDs then both call IDs end up in the URI. However when you try to use that URI Homer doesn't display the call data at all (empty table). There is data fetched from the DB but web gui part throws errors in the cons

[2021-02-08 12:25] thepacketlover opened #409 "HEPsub not working"
Hello,

I have been trying to start working with the HEPSUB projects.  I started looking at the simple sipcapture/hepsub project, in troubleshooting have looked at the hepsub-apiban, hep-sub-elastic, hepsub-rtpengine, hepsub-cgrates projects.

 The environment is on a test machine and have tried a fresh install of homer 7 on Centos 7 via the install script in the homer-installer project and also t

[2021-02-08 12:48] lmangani commented on #409
Hello @thepacketlover and thanks for giving this a try! Could you share your config.js without any sensitive details so I can try replicate this?

[2021-02-10 19:14] gledim commented on #407
Thank you for the suggestions @adubovikov
For the moment we did both a vertical and horizontal scale. We increased the number of nodes from 3 to 6, and upgraded the storage capacity.
I think the next step is sharding :)

[2021-02-10 19:14] #407 closed

[2021-02-11 20:35] thepacketlover commented on #409
Hello,
  here is the complete file.
[code]

[2021-02-11 23:13] gledim opened #410 "Wrong MOS score"
Hi guys,

In the QOS reports, we are noticing some calls getting MOS scores of 1 either from the beginning, or starting at some point, and continuing till the end of the call.

After some investigations, we noticed that at the point where MOS goes to 1, there are some lost packets.

From some old issues raised in Homer-Api, we found out that the MOS is calculated from a function that takes these m

[2021-02-11 23:32] lmangani commented on #410
Hi @gledim We know exactly what you're talking about here - and this is more about about how RTCP itself works and how this applies to the MOS estimation - unlike our RTPAgent reports and as you know RTCP packet loss is reported as an incremental counter without "resets" in between the chain of reports and as such it gets displayed. We can of course adjust things to get more flexible but at the sa

[2021-02-12 16:58] lmangani commented on #409
Could you confirm how you created the API Token in hepsub? Was it freshly generated? that's the core issue.

[2021-02-12 17:30] AlexeyOplachko commented on #408
Hello, this doesn't seem to be happening on our setup, can you please provide copy of XHR request to /data API endpoint? Preferably in text file/pastebin link
To do this(on Chrome) you need to press f12, go to network tab(might need to reload page after opening the tab), find where it says `data` press with right mouse button and `copy response`.

And if possible a screenshot of pretty-printed cod

[2021-02-12 22:55] thepacketlover commented on #409
@lmangani
  In the GUI Settings in upper right.  Then AuthToken.  There was a test token created on install that us good for 30 days.
![image](https://user-images.githubusercontent.com/78734572/107831109-4f034d00-6d5b-11eb-8c22-2294262b66bd.png)

[2021-02-12 23:14] lmangani commented on #409
Oh that's the GUID - its not the actual token! please generate a new one, the token is only displayed once and does not appear afterwards - could this be the source of confusion?

[2021-02-13 08:52] thepacketlover commented on #409
@lmangani
  That was the issue.   I was sure it was something that I was miss understanding.  Thank you for the help in getting past this hurdle.

[2021-02-13 08:52] #409 closed

[2021-02-13 08:52] thepacketlover commented on #409
Thank you for the help!

[2021-02-13 09:28] lmangani commented on #409
@thepacketlover its our pleasure, happy to help with anything hepsub related (its still fresh paint)

[2021-02-14 11:10] thepacketlover opened #411 "Loki Query and HEPSUB options not on all calls"
Hello,
  I have been working with hepsub and it seems the only way on 1.3.13 I can get to the Loki query or hepsub tabs are that there has to be a record in the database for the correlation ID and HEP type 100 to enable the Logging tab.   Is that a correct assumption?

call generated with HEPGEN.js.
![image](https://user-images.githubusercontent.com/78734572/107874725-84a65400-6e89-11eb-84fb-64c3c

[2021-02-14 11:22] lmangani commented on #411
Thanks @thepacketlover and indeed @adubovikov already confirmed he could replicate this undesirable condition.
Expect a fresh fix early this week

[2021-02-14 14:15] thepacketlover commented on #411
@lmangani   thanks for the quick response.

[2021-02-15 10:43] kpribic commented on #408
Hi @AlexeyOplachko . I'm sorry but I think I misdiagnosed the initial issue, it doesn't appear to be related to callIDs, I must have done something wrong when testing it before. Issue is probably related to using 1_call and 100_default at the same time, and in my architecture that happens always with two SIP callids. In this case there are logs in 100_default that are correlated to 1_call via sid

[2021-02-15 10:53] kpribic commented on #408
Data response for a non-working scenario, IP addreses/hostnames are replaced, however nothing else is touched: [data.response.txt](https://github.com/sipcapture/homer-app/files/5981067/data.response.txt)

[2021-02-15 12:34] jacovinus commented on #411
it should be fixed with https://github.com/sipcapture/homer-ui/pull/388

[2021-02-15 17:51] AlexeyOplachko commented on #408
Couldn't replicate it, but possibly fixed based on error messages you provided, we'll do a release soon, please write back and close issue if it's working for you.

[2021-02-15 22:43] gledim commented on #410
Thank you @lmangani

Yes, I was thinking exactly about this while investigating it.

I am attaching a sample dataset, that has some lost packets reporte, please let me know what do you think
[rtcp_set.zip](https://github.com/sipcapture/homer-app/files/5984435/rtcp_set.zip)

[2021-02-16 18:09] AlexeyOplachko commented on #408
@kpribic we made a release, please check if this issue still occurs. Thank you.

[2021-02-17 19:48] fabneto opened #412 "Ldap or Active Directory Authentication"
Hi!

I'd like to know if there is any way to configure LDAP auth and filter users by groups, by example:

user 1 - can login and is admin group (this user is part of Homer_Admins group)
user 2 - Can login and is a normal user (this user is part of Homer_Users group)
user 3 - Can't login because isn't part of any groups above

Thanks!

[2021-02-17 22:49] mmerrill3 opened #413 "Support configuration reload via an API"
Expose an API to allow readConfig() to be called again by outside processes, or sidecar containers.  This would be a POST for the homer-app to refresh it's configuration, including possible password changes to databases.

[2021-02-18 09:59] thepacketlover commented on #411
@lmangani  @adubovikov @jacovinus
  Looks like it is resolved.  Thank you for the quick help on this issue.

[2021-02-18 09:59] #411 closed

[2021-02-18 10:00] thepacketlover commented on #411
thanks

[2021-02-18 10:02] lmangani commented on #411
Thank you @thepacketlover

[2021-02-18 10:05] adubovikov commented on #411
@thepacketlover thank you! Please star us also here: https://github.com/sipcapture/homer/stargazers

[2021-02-18 10:21] jacovinus commented on #411
thanks @thepacketlover, we are pleased to help you!

[2021-02-18 10:46] jacovinus commented on #410
Good morning @gledim, we've analyzed your CSV file, but don't see any packets or MOS related data. Is the file corrupted perhaps? Please help us providing the complete file so we can help you :) .

[2021-02-18 11:45] jacovinus commented on #403
closing, was already solved.

[2021-02-18 11:45] #403 closed

[2021-02-18 13:21] adubovikov commented on #413
so, some params can be changed, this is not a problem, but server socket and binding can be changed only on restart.

[2021-02-18 13:30] adubovikov commented on #412
[code]
good luck

[2021-02-18 13:30] #412 closed

[2021-02-18 23:08] mmerrill3 commented on #413
Thanks @adubovikov, I was interested in the database passwords.  I could see a solution where a configuration reload request is sent, and the readConfig() can be aware if the config was already read.  If so, then only look to update certain config settings, like the database passwords.

[2021-02-18 23:09] mmerrill3 commented on #413
I can try a first pass at this over the weekend.

[2021-02-19 16:55] kpribic commented on #408
Better!

To summarize: a call that contained logs and sip messages, after successful correlation and external link generation, has a link that refers only to logs:

[code]
Those logs are now **properly displayed** in UI 7.9.11.

What is exactly the logic behind this? I think this worked differently before, that sip calls was default table that was called.

Correlation back to logs+calls doesn't wo

[2021-02-19 22:36] pgopu opened #414 "homer-app config file writes are switched for database_config and database_data sections."
https://github.com/sipcapture/homer-app/blob/473074c607656528d99eb01239c017d9f9a523a6/main.go#L234

appFlags.SaveHomerDbConfigToConfig calls applyDBDataParamToConfig() and
appFlags.SaveHomerDbDataToConfig calls applyDBConfigParamToConfig()
should be switched.

[2021-02-20 01:11] gledim commented on #410
Hi @jacovinus
That is an extract of the DB records for the call, probably not very helpful :)
I'm attaching the trace for another call, as captured locally and as exported from Homer
Please let me know if anything else is needed
[traces.zip](https://github.com/sipcapture/homer-app/files/6013861/traces.zip)

[2021-02-20 09:46] adubovikov commented on #414
Thank you. Fixed
https://github.com/sipcapture/homer-app/commit/a63bce1ccea0135a0836073ce37c6be70a1dd561

[2021-02-20 09:46] #414 closed

[2021-02-22 20:24] rogelio-telnyx commented on #410
@lmangani thanks for clarifying what's causing this issue. Can you please tell us how we can modify the MOS score calculation to consider incremental packet loss instead? Thanks!

[2021-02-23 08:47] lmangani commented on #410
Hi @rogelio-telnyx The only way around it would be subtracting the preceding loss value from each RTCP round before the MOS calculation is performed. Will discuss it with the team.

[2021-02-23 10:11] kpribic commented on #408
UPDATE: fixed correlating from logs aftrer clicking on link. this was indeed mapping issue on my side.

However, I'm still not clear on why did share link start search with logs? Can this be configured to be calls (SIP)  by default if available? This would be a much better user experience, because SIP already has some parsed information shown, while logs doesn't at the moment.

[2021-02-24 18:33] pgopu commented on #414
Thank you @adubovikov

[2021-02-26 11:38] adubovikov commented on #414
you are welcome and thank you as well :-)

[2021-02-26 14:20] Sp0rN opened #415 "Filter for X header"
Hi Guys,

I am trying to enable myself to be able to search for the value custom header we set when terminating outbound calls.

I have added an X header to our INVITES called: X-CID, which contains a uuid we generate outside of freeswitch. I want to add a field mapping that allows me to specify the uuid im looking and give me all the SIP calls that match that uuid.

So far ive tried adding the Cu

[2021-02-26 14:25] adubovikov commented on #415
Are you sure that this field exists ? Try to execute a query in pgsql CLI and looking for data.header.X-CID, in CLI you have to use this syntax:
[code]

[2021-02-26 20:06] mmerrill3 commented on #413
I believe we can just use viper to watch for changes to the file.  I am going to give the ability to turn on/off this feature via configuration.  Like this:

[code]

[2021-03-01 09:53] Sp0rN commented on #415
Thanks Alexandr,

I extracted the entry from psql to get all the data_header fields:
`{"cseq": "32618723 INVITE", "callid": "d7f4efa2-f2d6-1239-b8b0-0af0d01ff99c", "method": "INVITE", "to_user": "111111111", "from_tag": "UeBZD5aU17atD", "from_user": "22222222", "ruri_user": "11111111", "user_agent": "FreeSWITCH-mod_sofia/1.10.5-release-17-25569c1631~64bit", "ruri_domain": "1.2.3.4"}`

Freeswitch i

[2021-03-01 10:23] Sp0rN commented on #415
Hi Alexandr, I found my issue!

My field mapping was incorrect, I can now filter for this value :)

I'm going to give the correlation mapping a try now...will open a new issue if I get stuck.

[2021-03-01 10:25] adubovikov commented on #415
perfect :-)

[2021-03-01 10:26] #415 closed

[2021-03-04 12:31] mikeharrisontelia opened #419 "Dockerhub image tags"
Hi,

I would like to know if it's possible when you push images to [dockerhub](https://hub.docker.com/r/sipcapture/webapp)
If you could please tag them with the correct version instead of overwriting the latest tag.

[2021-03-04 12:36] lmangani commented on #419
Hi @mikeharrisontelia
Thanks this is of course a good approach in general but we currently do not consider the docker containers anything more than a demo platform, and since latest is the only supported version due to the high number of releases we're pushing out the current approach is simpler - this said, we should and will start tagging stable releases in between major feature implementations.

[2021-03-04 12:45] mikeharrisontelia commented on #419
Thanks, @lmangani.

I will build this and heplify-server from source for now.

In my use case, I spin up and tear down these environments daily and run these services on an AWS container platform.

Is there any specific reason that Docker containers are not considered production-ready?

[2021-03-04 12:50] lmangani commented on #419
I did not say they are unstable, just only used by us as a demo/CI platform - Packages are considered the only stable source.
Please consider sponsoring this effort and the project if that's important to your deployment ;)

[2021-03-04 13:23] #419 closed

[2021-03-04 17:05] AlexeyOplachko opened #420 "Dashboard overwrite"
Any "update" action with any dashboard overwrites ALL other dashboards to clones of dashboard where action was performed.
On "update" action UI sends only one request which is formatted correctly.

[2021-03-04 21:32] adubovikov commented on #420
https://github.com/sipcapture/homer-app/commit/a362bc0f96fd4c00dae58c816e76564fab60a969

thank you. Fixed

[2021-03-04 21:32] #420 closed

[2021-03-04 21:32] adubovikov commented on #372
it was fixed using proxy mode in homer-app. Please retest!

[2021-03-08 19:35] rogelio-telnyx commented on #410
@lmangani thanks for the confirmation, is there anything we can do here to help speed up the implementation of this fix?

[2021-03-14 20:29] JuanUnited opened #421 "bash: homer-app: command not found"
Hi!
Guys, I'm having the following issue and may anyone can help me:

# homer-app -create-config-db -database-root-user=postgres -database-host="127.0.0.1" -database-root-password=postgres -database-homer-user=homer_user
bash: homer-app: command not found

![image](https://user-images.githubusercontent.com/71094708/111083144-f057fd00-84d9-11eb-8e2e-166430253ba7.png)

And when I use systemctl statu

[2021-03-14 20:32] adubovikov commented on #421
/usr/local/homer/bin/homer-app

[2021-03-14 20:32] #421 closed

[2021-03-14 20:36] JuanUnited commented on #421
That directory isn't created yet

[2021-03-14 20:37] adubovikov commented on #421
so, you didn't install homer-app ?

[2021-03-14 20:40] JuanUnited commented on #421
![image](https://user-images.githubusercontent.com/71094708/111083422-87718480-84db-11eb-98b3-c3b1e57c3f81.png)
 I have that

[2021-03-14 20:50] JuanUnited commented on #421
![image](https://user-images.githubusercontent.com/71094708/111083730-f4394e80-84dc-11eb-800c-de45b4f3adfd.png)

[2021-03-14 22:26] adubovikov commented on #421
-webapp-config-path

[2021-03-14 22:27] adubovikov commented on #421
and
[code]

[2021-03-16 18:12] JuanUnited commented on #421
![image](https://user-images.githubusercontent.com/71094708/111359260-499a6a80-8659-11eb-8ad8-116617fc2894.png)

[2021-03-17 22:26] adubovikov commented on #421
you didn't create DB, please follow the HOWTO:

https://github.com/sipcapture/homer-app#create-table--migration---connection-data-will-be-read-from-webapp_configjson

[2021-03-18 19:49] ciscomonkey opened #422 "Multiple Loki/Prom servers"
I have two datacenters and in each I have a local instance of Postgres, Loki, Prometheus, heplify-server and heplify client running to collect traffic.  (Set up this way after the suggestion during last clue-con Homer session.)

In the Homer config, I have both databases configured, but it looks like we can only have one Loki server and one Prometheus server configured.  Is it needed to have both

[2021-03-24 05:08] rogelio-telnyx commented on #410
@lmangani according to [rfc3550](https://tools.ietf.org/html/rfc3550) RTCP messages contain two values related to packet loss: "cumulative number of packets lost" and "fraction lost".
The "fraction lost" metric seems to use the same approach as the packet loss metric from RTPAgent:
```fraction lost: 8 bits The fraction of RTP data packets from source SSRC_n lost since the previous SR or RR packet

[2021-03-26 01:00] lazedo commented on #400
@adubovikov
Hello, tried 1.3.19 with same results.
capture is being done by `heplify` in a freeswitch server and sent to a `heplify-server`

i noticed that [homer-ui restricts the types](https://github.com/sipcapture/homer-ui/blob/master/src/app/qos.worker.ts#L349) it handles.

and noticed the rtcp raw payload for the ones that came from devices (type = 207 extended report)
[code]
but afaics they

[2021-03-29 21:46] JuanUnited opened #423 "DB Limit"
Hi there, me again.

I'm looking for a way to put a limit in the database, for example 2 or 3 days. Any idea?

[2021-03-30 10:22] adubovikov commented on #423
https://github.com/sipcapture/heplify-server/blob/master/example/homer7_config/heplify-server.toml#L31

[2021-03-30 10:22] #423 closed

[2021-03-30 13:02] JuanUnited commented on #423
But I use captagent

[2021-03-30 13:27] lmangani commented on #423
@JuanUnited the agents are not responsible for rotation, they only send data. the capture server receiving them is responsible for the database storage and rotation, so what you're looking for is built in on the other side of the circuit. Just read through the link and apply to your usecase.

[2021-03-30 13:28] JuanUnited commented on #423
Understood, thank you

[2021-04-13 17:14] emmceemoore opened #424 "TypeError: Cannot read property 'protocol_id' of null"
I've noticed an issue where some users aren't able to see the modal produced by clicking on the "Session ID" when they first use the homer-app. (They click on the "Session ID" link and nothing happens.)

In the browser console, I see the following errors:
![image (3)](https://user-images.githubusercontent.com/484429/114591611-52299500-9c47-11eb-88c5-695e2f236938.png)

These are first-time visitors

[2021-04-13 17:18] lmangani commented on #424
Thanks for the report @emmceemoore this is a very good pointer. We'll investigate this further.

[2021-04-27 21:13] gledim commented on #410
Hey @lmangani @jacovinus
By investigating some sample traces, we have noticed that there is an error in calculating the packets_lost , but this seems to be an issue happening in the HEP server.

So, whenever the cumulative number of lost packets is increase by 1 in RTCP packets, in Homer it is increased by 256. This then affects the MOS calculation, and whenever this happens, MOS drops to straight

[2021-04-27 22:23] adubovikov commented on #410
Hi,

I am not sure that you look at the correct field. In the latest version we
take fraction packet loss and not cumulative loss. And this number should
be multiplied by 256 because the field is usigned 8 bits integer. (RFC
rtcp)

Regards,
Alexandr

On Tue, 27 Apr 2021, 23:13 gledi.musa ***@***.***> wrote:

[2021-04-28 07:21] adubovikov commented on #410
Hi,

ok I see... who has generated that HEP message ?

Regards,
Alexandr

On Wed, 28 Apr 2021 at 00:22, Alexandr Dubovikov <
***@***.***> wrote:

[2021-04-28 10:57] adubovikov commented on #410
ok, all good!

LostPercentage=100.0*(float)report_block_get_fraction_lost(rb)/256;

Let me do the change!

On Wed, 28 Apr 2021 at 09:21, Alexandr Dubovikov <
***@***.***> wrote:

[2021-04-28 11:17] adubovikov commented on #410
so, anyway please tell us who generated that HEP

[2021-04-28 16:36] rogelio-telnyx commented on #410
@adubovikov we created a custom FreeSWITCH module that converts all RTCP messages that FS sends or receives into HEP messages that are sent to heplify server.
We're putting together an example from a call that shows the values at the 3 stages:
- RTCP Message sent/received by FS
- HEP Message sent by FS
- RTCP message shown by Homer App

This will help us understand where's the problem, please hold

[2021-04-28 19:26] adubovikov commented on #410
@rogelio-telnyx sure, but this is already almost clear that looks like you send fraction_loss as packet_loss and cumulative as fraction. Please check these values!

[2021-04-28 20:33] rogelio-telnyx commented on #410
@adubovikov indeed that's what we found! We will make the necessary modifications to the custom FS module and report back once we fully test it. Thanks

[2021-04-28 20:51] adubovikov commented on #410
@rogelio-telnyx :-) good luck!

[2021-05-11 11:28] adubovikov commented on #410
https://github.com/sipcapture/homer-ui/commit/0d3b297e66c8948bed46e15e0173ccac818903ca

fixed

[2021-05-12 20:46] pgopu commented on #414
Hi Alexandr, I have a question - How do I configure Homerapp to read from
Multiple databases? Thank you!

Prameela Gopu

***@***.*** ***@***.***>

23 Main St.  • Holmdel, NJ  07733 • USA

<https://www.vonage.com/newera>Communications APIs  | Unified
Communications  | Contact Centers

NOTE: The information contained in this email message is considered
confidential and proprietary to the sender and

[2021-05-12 23:13] adubovikov commented on #414
Just add multiple databases in the json config and it will automatically
displayed in the drop down select menu

On Wed, 12 May 2021, 22:46 Prameela Gopu ***@***.***> wrote:

[2021-05-13 12:36] lmangani commented on #410
@piotrgregor could you confirm if the patch was successful from your side of the integration?

[2021-05-14 01:44] pgopu commented on #414
Thanks a lot Alexandr!!!

Prameela Gopu

***@***.*** ***@***.***>

23 Main St.  • Holmdel, NJ  07733 • USA

<https://www.vonage.com/newera>Communications APIs  | Unified
Communications  | Contact Centers

NOTE: The information contained in this email message is considered
confidential and proprietary to the sender and is intended solely
for review and use by the named recipient.  Any unauthorized

[2021-05-16 09:51] lmangani commented on #410
Closing as resolved. Feel free to reopen if needed ;)

[2021-05-16 09:51] #410 closed

[2021-05-17 09:41] piotrgregor commented on #410
Yes. Thanks @lmangani

[2021-05-18 07:47] bhatguru commented on #222
Hi @adubovikov

We have a 2 data node homer setup, currently when we search for the packets, search happens across both the data nodes and whenever one of the data node goes down we will not able to access any packets from other node as well. Saw  that from the above conversations some feature has been added to select the data source for searching, can you please point me which release has this fe

[2021-05-25 19:13] ghmj2417 opened #427 "Search across multiple tables provides inconsistent results"
When attempting to search across two tables, example 1_call and 1_default, we receive inconsistent results.  For example, the following query snip it will return 15 records for one API call and then the next API call it will be 0 records.
[code]
I think I narrowed it down to `data/service/search.go` SearchData function.  I see an iteration of `sData.ChildrenMap()` which it appears both 1_call and

[2021-05-25 21:15] adubovikov commented on #427
in the single search you can search only in one table, but aggregation you can do across multiple tables using correlation mapping

[2021-05-25 23:54] ghmj2417 commented on #427
I looked at this, https://github.com/sipcapture/homer-app/wiki/Examples:-Correlation-MAPPING, but nothing stands out in terms of aggregating results across multiple tables.  From what I can tell, the correlation mapping will take a value that exists in one table and pull that same value out of another table.  In my case, the call id will either exist in 1_default or 1_call but shouldn't exist in b

[2021-05-27 19:32] ghmj2417 commented on #427
If you can provide any pointers, references, or examples I will do my best to piece it all together.  As I said in the previous comment, https://github.com/sipcapture/homer-app/wiki/Examples:-Correlation-MAPPING has some info but nothing that stands out.

[2021-05-28 11:57] adubovikov commented on #427
Single:
[code]
Multiple:

[code]

[2021-05-28 12:00] adubovikov commented on #427
you can also use correlation script (javascript base) to do some extra manipulation (input_function)

[2021-05-28 12:02] adubovikov commented on #427
but if you want make multiple search using different search criteria, in Homer it's not possible. Just make 2 API call to get data and aggregate it on your side.

[2021-05-28 13:21] ghmj2417 commented on #427
On your Multiple example.  I tried that and I didn't get any results.

I added the following to the top of `call SIP 1` mapping:
[code]
I then searched for a Call ID that exists in 1_default but does not exist in 1_call.
[code]
I am either searching incorrectly or what I am trying to do is not possible and I will need to create multiple calls to search different tables.

[2021-05-28 15:17] adubovikov commented on #427
no no, my example was for correlation: if you click on any callid you can aggregate data for a transaction view across multiple tables: for example: logs, rtcp/rtp reports etc, but of course using some uniq. parameters.

but if I understand you correct, you want to make a single search query but to different tables and get union results. As I wrote before, Homer doesn't support such method and in

[2021-05-28 15:22] ghmj2417 commented on #427
Got it.  Yup, you helped.  Thank you for taking the time to explain it.

[2021-05-28 15:22] #427 closed

[2021-06-11 19:43] pgopu commented on #414
Hi Alexandr,

In regards to the issue #414, the problem still exists in the main.go file.
We are now calling correct function, but not sending correct parameters.
Please check the colored text.
/* now check if we do write to config */
if *appFlags.SaveHomerDbConfigToConfig {
    applyDBConfigParamToConfig(appFlags.DatabaseHomerUser,
appFlags.DatabaseHomerPassword,
            appFlags.DatabaseHome

[2021-06-21 13:44] bmgante opened #430 "SIP Register/Invite without SDP/XML"
Hi,

I´ve just noticed that for some SIP messages, the XML/SDP field is not available. Using latest versions of heplify-server + homer-app.

In the example below there are 2 registers, left side without XML and right side with XML. These 2 registers are indeed from the same transaction but between different network elements (left side is public part and right side is private).

Any idea on what co

[2021-06-21 14:22] lmangani commented on #430
This would suggest the message being malformed and somehow breaking the client-side [parser](https://www.npmjs.com/package/parsip)

[2021-06-21 14:24] #430 closed

[2021-06-21 14:49] bmgante commented on #430
Hi @lmangani
Indeed seems that it only happens when sip port is 4060. Is there any configuration on homer-app or heplify-server for sip ports config?

![image](https://user-images.githubusercontent.com/27358817/122781905-2a3e5980-d2a8-11eb-92c4-acdd774f633e.png)

[2021-06-21 14:56] lmangani commented on #430
The message is captured, so I guess the configuration is right and this comes from a built-in HEP agent in a proxy or similar.
The issue is with the content, the parsing you're referring to is client-side, performed by the UI, not any of the backend parts.

Try to paste the SIP message body in the link I shared and check if it gets parsed and/or what error it returns.

[2021-06-21 15:39] bmgante commented on #430
when i export pcap from homer for a sip message with missing xml for example, we can see the following error on wireshark
Indeed seems there´s some formatting issue. The message body it´s not here.

![image](https://user-images.githubusercontent.com/27358817/122788536-552bac00-d2ae-11eb-9494-09111414296c.png)

[2021-06-21 15:46] lmangani commented on #430
Indeed, that's the root cause right there - since Wireshark agrees with our parser, this is just a badly formatted message and HOMER seems right not to parse it. I guess the endpoints are more lenient about this aspect but its still a case malformation.

As you can also appreciate, HOMER is storing this anyhow, allowing us to detect and troubleshoot the issue regardless.

[2021-06-21 16:01] bmgante commented on #430
Does it mean that in postgres database, the full message body is there (even if not well formatted) and homer UI is just not able to parse it?

[2021-06-21 16:08] lmangani commented on #430
HOMER doesn't parse like user-agents or servers. It's only purpose is to store the data for troubleshooting, good or bad and it does. The UI client-side parser (tab) only works on valid formatted messages - part of its role is to confirm they are, and if this was not the case, you wouldn't know this message malformed. If anything, we should add the error somewhere, just like in wireshark.

[2021-06-21 16:13] bmgante opened #431 "Same IP alias for multiple ports"
Hello,
Is it possible to configure on alias entry for multiple ports? Wondering if there´s any allowed wildcard (*) that could be used.
I´d like to enrich an IP which may have random ports.

Thanks

[2021-06-21 16:17] lmangani commented on #431
Yes. Setting the port to 0 will match any for the set IP/Range.

[2021-06-21 16:17] #431 closed

[2021-06-21 16:38] bmgante commented on #430
The raw field on database has the following content:

`"REGISTER sip:ims.xxx.net SIP/2.0
To: <sip:+xxx@ims.xxx.net>
From: <sip:+xxx@ims.xxx.net>;tag=1VXWF9mFwz
Expires: 600000
Require: sec-agree
Proxy-Require: sec-agree
Security-Client: ipsec-3gpp;alg=hmac-md5-96;ealg=aes-cbc;mod=trans;port-c=60565;port-s=52246;prot=esp;spi-c=250937743;spi-s=119347246,ipsec-3gpp;alg=hmac-md5-96;ealg=null;mod=trans

[2021-06-21 17:05] lmangani commented on #430
This printout is skipping the newlines so its not very helpful - anyhow we already know the root cause. No fix is needed here.
Any other question?

[2021-06-21 20:59] bmgante commented on #430
I guess this is due to sip udp fragmented messages which are not reassembled by horaclifix agent.

[2021-06-21 21:00] bmgante commented on #431
Thanks @lmangani

[2021-07-23 15:00] jvb187 opened #432 "Unable to select remote nodes from GUI"
I have followed the instructions for multi node setup, and I see the remote connection is successful in the docker logs, however the only node I am ever able to select is the LocalNode in the GUI.

Here is the relevant section of my config:

[code]

Here are the logs showing that the RemoteNode was successfully connected:

[code]
I then added Nodes to my search proto, but I am only ever able to se

[2021-07-23 16:21] adubovikov commented on #432
can you please share your mapping for SIP call ?

[2021-07-23 16:23] adubovikov commented on #432
look at this:
https://github.com/sipcapture/homer-app/blob/master/migration/jsonschema/jsonschema.go#L319-L323

and activate _from_api, to retrieve the list automaticaly:

[code]

[2021-07-23 16:38] jvb187 commented on #432
I updated my mapping to the following:

[code]

I am still only seeing LocalNode in the Node selection drop down though.  Is there something else I have to do to enable the node list api?  When I try /api/database/node/list, I get {"message":"Not Found"}.

Thanks,
Jeremy

[2021-07-23 16:40] adubovikov commented on #432
rename form_default to -> "_form_default"

[2021-07-23 16:41] jvb187 commented on #432
That did it.. thank you!

[2021-07-23 16:45] adubovikov commented on #432
you are welcome

[2021-07-23 16:45] #432 closed

[2021-07-23 16:46] adubovikov commented on #432
please star the main homer project as well :-)

https://github.com/sipcapture/homer/stargazers

[2021-08-09 21:34] emmceemoore opened #433 "Date/time picker appears to be buggy."
When entering custom values in the date/time range data picker I notice weird behavior.
- Input values don't "stick".
- Other values unexpectedly change.

This is the "picker" I'm referring to:
![image](https://user-images.githubusercontent.com/484429/128776698-691a4b0d-988a-4c4d-b47f-e7e7ccacaf6e.png)

In this ☝️ screenshot I have the hour (`07`) selected. If I type `11`, then I get this:
![image

[2021-08-10 08:11] AlexeyOplachko commented on #433
We're currently doing migration to Angular 12, and tons of components are refactored. And this particular issue seems to be fixed.
Current ETA for release is friday.

[2021-08-10 14:17] emmceemoore commented on #433
That's good to hear! Best of luck with the migration.

[2021-08-31 19:10] emmceemoore commented on #433
@AlexeyOplachko - Hope you are well! Just checking in to see if you have a rough estimate for when you might be able to finish the Angular 12 migration.

[2021-09-01 14:36] adubovikov commented on #433
Please install homer-app-1.4.0 and test again

[2021-09-01 14:36] adubovikov commented on #424
Please install homer-app-1.4.0 and test again

[2021-09-01 14:37] adubovikov commented on #402
Please install homer-app-1.4.0 and test again

[2021-09-01 14:37] adubovikov commented on #408
Please install homer-app-1.4.0 and test again

[2021-09-01 14:37] adubovikov commented on #400
Please install homer-app-1.4.0 and test again

[2021-09-01 14:38] adubovikov commented on #389
Please install homer-app-1.4.0 and test again

[2021-09-01 14:38] #389 closed

[2021-09-01 14:38] adubovikov commented on #305
Please install homer-app-1.4.0 and test again

[2021-09-01 14:39] adubovikov commented on #372
Please install homer-app-1.4.0 and test again

[2021-09-01 14:39] #372 closed

[2021-09-01 14:40] adubovikov commented on #346
I am closing the ticket. Please also install homer-app-1.4.0

[2021-09-01 14:40] #346 closed

[2021-09-01 14:40] #203 closed

[2021-09-01 14:40] #305 closed

[2021-09-01 14:41] #314 closed

[2021-09-03 12:53] systemcrash commented on #402
Some nice improvements, gents! I pulled in the latest homer-app yesterday day-time.

1.4: Not sure what changed but LogQL log browser just shows anything right now. The provided call ID shows "something recent" there without actually matching the call ID. If I paste the same query in Loki/Grafana, I get only the exact results I expect to.

call graph in PNG  does a few strange things:

corners loo

[2021-09-03 13:03] systemcrash commented on #402
See https://github.com/sipcapture/homer-ui/issues/417

[2021-09-03 13:06] systemcrash commented on #402
Debug console still shows this (probably related to bootstrap) in FF91

[code]

[2021-09-03 13:29] lmangani commented on #402
@systemcrash

Those are client side decoders, in the browser. Valid SIP/SDP/Tokens/etc will spawn new tabs for different purposes acting as validators and debuggers for each, including decoding STIR-SHAKEN tokens extracted from signaling.
This is what HOMER is for after all, the more the better (no data gets wasted in the process)

[2021-09-04 23:12] lazedo commented on #400
@adubovikov noticed no diff in the way homer-ui handles the rtcp packets. [type 207 is still not handled](https://github.com/sipcapture/homer-ui/blob/master/src/app/workers/qos.worker.ts#L360)

[2021-09-11 08:37] pengweichu opened #436 "Use custom header for correlation ID?"
Hi,

Say in my SIP server, for some scenarios, like MOH, transfer, ring group, there have a lot of legs that need to be correlated for a call, I have added an ` X-Unique-Id` header for these legs, when sending the SIP messages to HOMER( I integrated the HepAgent in our application), shall I use the value of header  `X-Unique-Id`  as the correlation ID?

On the HOMER server-side, how to set the map

[2021-09-11 10:11] adubovikov commented on #436
nop, you start the homer-app, but not the homer :-)

https://github.com/sipcapture/homer/stargazers

[2021-09-11 10:13] pengweichu commented on #436
Done! Now I get the bash installed, working on the custom header as your guide, have a good day!

[2021-09-11 10:22] adubovikov commented on #436
Thanks :-) have a nice week end!

[2021-09-11 23:47] #436 closed

[2021-09-11 23:48] adubovikov commented on #433
so, since no feedback, I will close the ticket

[2021-09-11 23:48] #433 closed

[2021-09-11 23:48] #424 closed

[2021-09-11 23:48] adubovikov commented on #408
so, since no feedback, I will close the ticket

[2021-09-11 23:48] #408 closed

[2021-09-11 23:49] #327 closed

[2021-09-11 23:49] adubovikov commented on #364
any feedback here ?

[2021-09-11 23:50] adubovikov commented on #402
please recheck the latest version, it should fix the flow issue

[2021-09-11 23:53] adubovikov commented on #400
207 is the RTCP-XR. Can you please provide an example ?

[2021-09-12 14:02] mcrgnt opened #437 "Capture ID issue"
Hello.
(dist from homer-app repository v1.4.2)

capture agent starts with flags:
./heplify -hs 192.168.10.4:9060 -nt udp -hi 1001 -hn sip3 -n log
in this case i got human readable Capture ID in ui,

but when i try to search by Capture ID i get postgres error:
homer_user@homer_data ERROR:  invalid input syntax for integer: "sip3"

According to heplify help options:
  -hi uint
        HEP node ID (d

[2021-09-12 15:00] lazedo commented on #400
@adubovikov thanks for looking into this. [check previous comment](https://github.com/sipcapture/homer-app/issues/400#issuecomment-807849147) where i posted what was received from freeswitch and sent to heplify-server by heplify-client, the payload is from homer-app (using chrome debug tools to watch the qos returned values)

[2021-09-12 15:33] lmangani commented on #437
@mcrgnt should use integer identifiers with hi (capture_id). hn will only work with hepfliy/heplify-server but it is experimental and hence not documented for usage or supported uniformly as of yet.  If you have inconsistencies please open separate issues.

[2021-09-12 15:33] #437 closed

[2021-09-12 16:44] adubovikov commented on #437
where do you see that issue? Is it error in homer-app?

On Sun, 12 Sep 2021, 17:33 Lorenzo Mangani ***@***.***> wrote:

[2021-09-12 18:40] mcrgnt commented on #437
thx for reply,

yes in homer-app, and i use hepfliy/heplify-server bunch.
i try like lmangani advised use only -hi flag, of course it's work.

So, if i set -hn flag they just overrides -hi

p.s.
i understand that is easy just close issue, but use names is better then int ids for humans
may be just add full support for node name in homer-ui? i mean add capture_name in search fields list and don't o

[2021-09-12 19:36] adubovikov commented on #437
@lmangani closed it because this is not an issue, since the feature is/was experimental and not fully supported in the homer-app/UI. So this was total correct. But just to make all happy, it should be open as a feature request in UI/homer-app :-)

[2021-09-12 19:48] adubovikov commented on #437
so, just checked - good news here

System ->Mapping -> call SIP click edit. Find the capture ID and change it. After it go to widget and reassign the field :-)

![HOMER-7-10-2 (1)](https://user-images.githubusercontent.com/4513061/133000716-3b85f4f6-eaba-44a2-b201-87e648f3d348.png)

once you will figure it out, don't forget to star us :-)

https://github.com/sipcapture/homer/stargazers

[2021-09-13 09:56] adubovikov commented on #437
@mcrgnt   Did it help ?

[2021-09-14 10:34] bmgante opened #438 "LDAP reconnection loop issue"
Hi

Tried this config and it works, just needed to set "skipverify:true".
`https://github.com/sipcapture/homer-app/wiki/Configuring-the-connection-of-the-LDAP-module-to-the-Active-Directory-(instead-classic-LDAP)`

However i am getting an error from time to time and when it starts anyone can login anymore. Homer-app service restart works as workaround but some time after it starts again...

[code]

[2021-09-14 10:47] adubovikov commented on #438
check if one of your dashboard has bad name. This you can verify in your user's settings

looks like LDAP connection has been closed and couldn't reconnect.

Please take this release and check if it will solve the reconnect issue:
https://github.com/sipcapture/homer-app/commit/4208272937deb2bcea238974a4142a3edd28e345

[2021-09-14 17:16] microgiantya commented on #437
yes it works!

[2021-09-14 17:17] adubovikov commented on #437
@microgiantya so, now is your move: please give us a star https://github.com/sipcapture/homer/stargazers

[2021-09-14 18:00] mcrgnt commented on #437
Сделано))

[2021-09-14 18:02] adubovikov commented on #437
two accounts ? :-) two stars ? ;-) Thank you!

[2021-09-15 10:47] bmgante commented on #438
Issue is not occurring since installed this release. Thanks

[2021-09-16 09:38] #438 closed

[2021-09-17 13:47] Shkiperon opened #439 "Problem with queries to Loki from Homer"
Hi, I have an issue with homer-app 1.4.11 - when I run LogQL query `{job="asterisk",hostname="asterisk1"} |~ "888555000111"` from the window with call flow I get a lot of rows that look like a full export from my Loki database.
When I run the same query from the Grafana panel in my dashboard, I get 2 rows with the result I am looking for.

In the dump I see that Homer-App and Grafana are making di

[2021-09-17 16:30] lmangani commented on #439
Thanks for the report. Fix in progress.

[2021-09-17 16:49] adubovikov commented on #439
homer-app-1.4.12 should have the fix for it. Please install and confirm

[2021-09-19 07:11] Shkiperon commented on #439
Now it works correct. Thank you for help :smiley:

[2021-09-19 07:11] #439 closed

[2021-09-20 11:01] systemcrash commented on #402
Loki logs work correctly again, presumably due to c0da935
Flow also looks clean and correct - all arrows line up. Perfect. ❤️

[2021-09-20 11:04] systemcrash commented on #402
Extreme right clipping seems to be too aggressive - some addresses are clipped:

![Screenshot 2021-09-20 at 12 02 09](https://user-images.githubusercontent.com/647633/133992111-c48839b6-c6db-4c3f-85ed-59cbbabd6ba2.png)

Expanding window rightwards does not help. Same result after.

[2021-09-20 11:09] lmangani commented on #402
@systemcrash good catch!
@RFbkak37y3kIY could you take a look at this one?

[2021-09-20 11:15] systemcrash commented on #364
From whom? Looks like a good DoS if I can crash the binary. Not tried this recently.

[2021-09-20 11:20] lmangani commented on #364
If you can reproduce this with the current release, please feel free to reopen anytime. Thanks!

[2021-09-21 08:22] adubovikov commented on #400
@RFbkak37y3kIY can you check it once you will have time ?

[2021-09-21 08:26] AlexeyOplachko commented on #402
I'll take a look

[2021-09-21 11:06] systemcrash commented on #364
Here you go:
[code]

For the lazy:
- log in to Homer.
- get the jwt (`Authorization: Bearer` content)
- send with curl e.g.
[code]

[2021-09-21 11:41] lmangani commented on #364
Reopening. Never has a username been more appropriate @systemcrash :)

[2021-09-21 12:23] #364 closed

[2021-09-21 16:43] #402 closed

[2021-09-23 20:48] lazedo commented on #400
@adubovikov this issue is related https://github.com/sipcapture/heplify/issues/197
the same packet contains `200`, `202` and `207`. `200` is overridden by `207` and that's why its not selected .

[2021-09-23 22:09] adubovikov commented on #400
@lazedo I don't think it related to 197. If heplify sent it as HEP RTCP it should be inserted into DB

[2021-09-23 22:13] lazedo commented on #400
@adubovikov it is inserted in the db and retrieved but the type is 207 (the last in the packet). what's inserted in the db is not the `real` packet but a json representation of the same which is messed up because of 3 reports were received in same packet

[2021-09-23 22:17] adubovikov commented on #400
this is that I was trying to say. It was inserted as a JSON representation and should be proceed in backend and UI. For now UI ignores that not equal 200-202. We will take a look on next occasion

[2021-10-07 01:01] Moke opened #440 "Add support for SAML or oauth2 SSO"
Hopefully this is the correct place to register a feature request.

I would like to see SAML or oauth2 based SSO added to the homer7 products. The current available solution (ldap) is less desirable than being able to use Google or AzureAD as an idp.

[2021-10-15 12:58] solarmon opened #443 "Search form - negate character"
Hi,

I have a problem with using the negate character "!" in the search form in homer-webapp 1.4.16

When I use it, it does not return any results and the results window just shows the message:

"Adjust params and do a search to show results".

I'm using the search form in "AND" mode.

For example, when I use "!anonymous" for the "SIP From user" field.

[2021-10-15 13:07] solarmon opened #444 "Search form results - not in date and time range"
Hi,

I have experienced some sort of caching issue with the form search results - in homer-webapp 1.4.16

I had specified a date and time range and applied an empty form search, and the results are as expected.

![image](https://user-images.githubusercontent.com/46369787/137490938-ad04dca8-b7e8-4757-aae0-485c8459195d.png)

However, when I changed the search form to set only "INVITE" for the SIP Me

[2021-10-15 13:42] solarmon commented on #443
Thanks,

I can confirm that using "!=" works!

Had this behaviour changed recently? As I thought it was just "!".

[2021-10-15 15:14] #443 closed, assigned to nobody

[2021-10-19 05:43] gedia opened #445 "RTCP always shown for one leg regardless of filtering"
Hello,

I'm not sure what triggers this, or whether it's due to something unique to my configuration/use case, but in dialog view showing both A and B legs RTCP messages for one of the two legs is always shown in the exchange regardless of "PayloadType" filtering setting. More specifically:

- With RTCP disabled in "PayloadType" filtering, RTCP messages in one of the two call legs appear in the ex

[2021-10-19 16:49] gedia opened #447 "Aliases seemingly not taking captureID into account"
Hello all,

I don't expect this to affect that many people, but I thought I'd open an issue anyway. There seems to be an issue when determining aliases for IP addresses, more specifically when an IP address appears more than once in the flow (e.g. when capturing from two different VRFs each of which contains a host with the same IP). Here's an example:

[code]
In the above example, ProxA and ProxB

[2021-10-20 08:59] gedia opened #448 "Messages no longer have same background colour by callid"
Hello,

In previous versions of homer-app/ui, rows in the results widget would always have the same background colour if they belonged to the same callid. This no longer happens, at least with versions 1.4.16 and 1.4.17.

[2021-10-20 10:18] agrigorjevs opened #449 "Filter by Capture ID does not return any results"
Hello,

When trying to search in WEB messages by Capture ID - it never return any results.

Doesn't matter if the Capture ID is int or string (we are using hep node names instead of numeric ID's on heplify agents).

At the same time if just searching without filter and filtering capture ID on the search result itself (frontend filter) - it works.
<img width="1789" alt="Screenshot 2021-10-20 at 13

[2021-10-20 10:32] adubovikov commented on #449
@agrigorjevs unfortunately I couldn't reproduce it in the latest homer-app. Whats version do you use ?

[2021-10-20 13:43] adubovikov commented on #448
@gedia can you please install 1.4.18 and retest again ?

[2021-10-20 13:59] adubovikov commented on #448
You are welcome!

[2021-10-20 13:59] #448 closed

[2021-10-20 14:18] #449 closed, assigned to nobody

[2021-10-20 14:20] adubovikov commented on #447
@gedia thank you! Let us know and we will be happy to fix it.

[2021-10-20 14:20] #447 closed, assigned to RFbkak37y3kIY

[2021-10-21 09:40] gedia opened #450 "Pressing ESC should close windows one-by-one"
In homer5, pressing ESC while viewing (having "in-focus") a floating window would only close that window. In homer7, all windows are closed. I do think the homer5 behaviour is more practical. Scenario:

- Perform a search
- Open a callid and navigate to the "flow" tab
- Click on an "INVITE" message from the flow, new floating window appears
- Click on a "200 OK" message from the flow, another floa

[2021-10-28 14:24] nakchak opened #451 "Ldap config being ignore and internal auth being used instead"
Just updated to latest docker release of homer-webapp and now LDAP auth no longer works, it appears to be attempting to look for users using internal auth, as there is no evidence of the web app attempting to contact the ldap server in a network capture which would have contained multiple login attempts.

Neither setting values in environment variables or config file has any effect for me.

[2021-10-28 18:46] heig opened #452 "Not able to enter password in login form"
Hi, I just updated my docker-based homer-installation (docker-compose pull) and now I cannot login to my homer anymore. It is simply not possible to enter the password. I get many errors in the console. I created a short screen capture of the behaviour.

https://user-images.githubusercontent.com/8817380/139316752-279d0df5-9366-4ab9-b076-9e1820722832.mov

[2021-10-28 19:42] #452 closed, assigned to nobody

[2021-11-01 16:11] nakchak commented on #451
Hi, i have pulled the latest images and still the same result

Shall dig in a bit deeper and see if i can capture any evidence of LDAP lookups being attempted..

[2021-11-01 19:00] adubovikov commented on #451
yes, please do and inform us once you will get any input

[2021-11-02 09:49] nakchak commented on #451
@adubovikov I can confirm that im seeing no traffic what so ever coming from homer to the domain controller i am using, and their is nothing in the application logs (trace level set in config) relating to the login other than a query to the users db table.
The ldap config im using is the same as the one i posted here:
https://github.com/sipcapture/homer/issues/468#issuecomment-943139719

I have tr

[2021-11-02 15:24] adubovikov commented on #451
@nakchak let me add this --info to troubleshoot

[2021-11-03 21:11] adubovikov commented on #451
something like this ?

`./homer-app -show-current-config
`

[code]

[2021-11-03 21:14] adubovikov commented on #451
something like this ?

`./homer-app -show-current-config
`

[code]

[2021-11-04 21:21] gedia commented on #451
I'm also having the same trouble. Capturing on ldap proxy shows no traffic from homer-app host. This concerns latest version 1.4.22

It seemed to be working fine up to 1.4.18, haven't tested the versions in between.

I guess the 1.4.22 version's binary doesn't support the '-show-current-config' flag?

[2021-11-04 21:23] adubovikov commented on #451
weird, let me release a new package and you guys can retest. Sorry about it.

[2021-11-04 21:41] gedia commented on #451
Hmm, I just noticed some LDAP traffic flowing over, but not when I try to login (which fails)...
Do you do any sssd-style caching/enumeration from LDAP, or should there be a request at every auth attempt?

[2021-11-04 21:44] adubovikov commented on #451
so, I found the issue - sorry about it. The new version is coming. 1.4.33
It has also Oauth2 support. Just FYI!

[2021-11-04 21:49] gedia commented on #451
Thanks! Just to clarify on the new ldap settings, do the groups defined in auth_settings.user_groups need to be the same as the ldap_config.admingroup and ldap_config.usergroup values? Or is auth_settings.user_groups ignored when auth_settings.type == "ldap"?

[2021-11-04 22:04] gedia commented on #451
I can confirm ldap login now works with 1.4.23

[2021-11-04 22:35] adubovikov commented on #451
@nakchak can you please confirm it ?

[2021-11-04 23:31] adubovikov commented on #440
@Moke the version 1.4.23 has oAuth2 support

here is the an example for google:

[code]

[2021-11-04 23:33] lmangani commented on #451
Thanks @adubovikov 🥇

[2021-11-05 00:07] Moke commented on #440
I am working on adapting your example to work with AzureAD.

[2021-11-05 00:10] zpnielsen commented on #440
And I'm watching him do it :)

[2021-11-05 02:30] ar45 opened #454 "echo: http: panic serving 192.168.11.221:64820: interface conversion: interface {} is map[string]interface {}, not string"
Nov 05 02:14:47 homer homer-app[26586]: time="2021-11-05T02:14:47Z" level=info msg="SELECT * FROM \"user_settings\"  WHERE (category = 'dashboard' AND (username = $1 and param = $2))" module=gorm type=sql
Nov 05 02:14:47 homer homer-app[26586]: time="2021-11-05T02:14:47Z" level=info msg="SELECT count(*) FROM \"user_settings\"  WHERE (category = 'dashboard' AND (username = $1 and param = $2))" modu

[2021-11-05 04:44] Moke commented on #440
Doesn't look like im able to get it working. Here's the configuration.

[code]

Even though i am able to successfully see the configuration using

`/usr/local/bin/homer-app -show-current-config`

I am being redirected to google for oauth2 instead of the auth_uri defined.

[2021-11-05 05:52] Moke commented on #440
It would appear that [on line 127 of homer-ui/src/app/components/login/login.component.ts](https://github.com/sipcapture/homer-ui/blob/34428a41533b46d525154fbb7d7aca718838b90e/src/app/components/login/login.component.ts#L127) the redirect is hardcoded to contain an invalid URL prefix of `http://homer.null.qxip.net`

[code]

I suspect that this is causing my problem.

[2021-11-05 06:12] adubovikov commented on #440
Oops. Let us fix it asap

[2021-11-05 06:36] adubovikov commented on #454
Hi, thank you, can you please share your search request ?
You can find it in F12 -> Network tab

i.e.:
![Screenshot from 2021-11-05 07-35-40](https://user-images.githubusercontent.com/4513061/140468691-7cfcf20c-12c5-454d-90f9-9e1c2e650d82.png)

[2021-11-05 07:42] adubovikov commented on #454
can you please install homer-app-1.4.24 and re-check ?

In your case it will generate an Error with description of your map search

[2021-11-05 07:43] adubovikov commented on #440
@Moke can you please check homer-app-1.4.24 ? Thank you!

[2021-11-05 08:41] Moke commented on #440
Having a problem with the final step in the authentication. It's redirecting to / with the ?token param but failing with a 404 HTTP response.

[2021-11-05 11:04] adubovikov commented on #440
did you configure the api to retrieve your profile ?

[2021-11-05 11:06] adubovikov commented on #440
@Moke are you able join us on Matrix ?
 https://matrix.to/#/#sipcapture_homer:gitter.im

[2021-11-05 12:04] adubovikov commented on #440
so, with 1.4.25 it works as should! Thank you @Moke !

[2021-11-05 12:05] Moke commented on #440
Here is my latest and working configuration to use Azure AD with Homer. Sharing for anyone else.

[code]

[2021-11-05 15:20] adubovikov commented on #440
@Moke thank you so much!

[2021-11-05 15:20] #440 closed

[2021-11-05 15:21] adubovikov commented on #440
@Moke please star us :-) https://github.com/sipcapture/homer/stargazers

[2021-11-05 20:27] adubovikov commented on #440
@Moke https://github.com/sipcapture/homer-app/commit/44839ca084c6aa764183f713dad52a02c838f994

here is gravatar support

[2021-11-06 13:57] adubovikov commented on #454
@ar45 please provide us a feedback if it works or not

[2021-11-06 13:58] adubovikov commented on #451
@nakchak I will close the ticket, please reopen if it will be needed

[2021-11-06 13:58] #451 closed

[2021-11-06 13:58] adubovikov commented on #444
@solarmon do you have save issue in the latest release ?

[2021-11-06 13:59] adubovikov commented on #413
@mmerrill3 sorry - should we close the ticket ?

[2021-11-07 01:15] gedia opened #455 "JSON dashboard provided in dashboard_home doesn't seem to work"
Hello,

I've tested the dashboard_home feature to provide new users with a default dashboard upon first login, but it doesn't seem to work:
[code]
I'm attaching the json used to this ticket. It was produced by homer-ui's visual editor (renamed to .txt to allow github upload):
[dashboard_home.json.txt](https://github.com/sipcapture/homer-app/files/7491522/dashboard_home.json.txt)

This provided jso

[2021-11-07 01:18] adubovikov commented on #455
looks like you have to provide only data object :-)

[2021-11-07 01:19] adubovikov commented on #455
here is the example: https://github.com/sipcapture/homer-app/blob/master/migration/jsonschema/jsonschema.go#L25

[2021-11-07 01:22] ar45 commented on #454
Thanks @adubovikov
I cleared my session and reset all my settings already and now it seems to be working.

If it happens again I'll reopen and supply the parameters within the post request.

Thank you

[2021-11-07 01:22] #454 closed

[2021-11-07 01:24] adubovikov commented on #455
and the example is correct

https://github.com/sipcapture/homer-app/blob/master/etc/dashboard_home.json.example

[2021-11-07 01:26] adubovikov commented on #454
super! Enjoy!

[2021-11-07 01:27] gedia commented on #455
Geez do you ever sleep @adubovikov ?

Thanks I'll try it out :-)

[2021-11-07 01:28] adubovikov commented on #455
Robots are never sleeps :-)

[2021-11-07 01:42] #444 closed

[2021-11-08 06:28] gedia commented on #455
OK, so with the data object only in the custom home JSON file, home dashboard generation seems to work for new logins.

However, I've noticed that when a user logs in, multiple copies of dashboards get created (sometimes two, sometimes three, but never one), not only for the home dashboard but also for the default "smartsearch" dashboard. Perhaps this affects LDAP users only? I haven't tried with

[2021-11-08 06:40] adubovikov commented on #455
Yes, please do

On Mon, 8 Nov 2021, 07:28 George Diamantopoulos, ***@***.***>
wrote:

[2021-11-08 06:45] gedia commented on #455
OK, I'm closing this

[2021-11-08 06:45] #455 closed

[2021-11-08 06:50] gedia opened #456 "Multiple copies of default dashboard are created on first LDAP user login"
Hello,

As stated in #455 upon first login of a user with auth_settings.type: "ldap", multiple copies of default dashboards are created (by default, I mean the following two: home and smartsearch).

This is regardless of whether the user is in the admins or the users group. Also, providing a custom Home (e.g. at /usr/local/homer/etc/dashboard_home.json) doesn't make a difference, I'm clarifying th

[2021-11-08 06:55] gedia opened #457 "Display aliases in QoS tab"
Hello,

It would be useful if aliases would also be used instead of IPs in the QoS tab of a dialog view, e.g. here:
![image](https://user-images.githubusercontent.com/15806134/140696844-8638a7ee-1973-4209-a035-fd1bec2328a4.png)

Ideally, the same rules should apply as for SIP entities, i.e. resolve captureID values when there are multiple alias entries for the same IP. The port setting should eith

[2021-11-08 06:58] gedia commented on #457
Also, the same functionality could be considered for the "Session Info" tab. However, I'd advise against replacing the IPs with their aliases in this panel. Instead, I'd rather they were printed alongside the IPs, perhaps in a lighter shade of grey so as not to introduce too many distracting elements in the UI.

[2021-11-08 10:09] adubovikov commented on #456
@gedia can you confirm the version of hepic-app ?

[2021-11-08 12:28] gedia commented on #456
Sorry, forgot to mention. It's on 1.4.25

[2021-11-08 13:14] adubovikov commented on #456
couldn't reproduce it using internal and oauth2

[2021-11-10 13:13] nakchak commented on #451
Apologies for late reply, I've been on paternity leave and not monitoring email.

I have pulled the latest changes and can now see ldap traffic and the running config (Thanks so much for adding that, it really helps :-) ), had to add group attributes to my running config but other than that it works perfectly again

[2021-11-10 13:16] adubovikov commented on #451
thank you for the bug report!

[2021-12-07 23:38] druchoo opened #458 "Unable to use OAuth with Okta"
Trying to configure Okta OAuth following examples from https://github.com/sipcapture/homer-app/issues/440 with the following config.

[code]

The flow seems to kick off but in the end UI redirects to `https://homer.myco.com/api/v3/oauth2/auth?code=xxxx&state=yyy` and receive the error:

[code]

[2021-12-07 23:57] adubovikov commented on #458
redirect url should be: https://homer.myco.com/api/v3/oauth2/auth

please check change and try again

[2021-12-08 00:41] druchoo commented on #458
@adubovikov with `"redirect_uri": "https://homer.myco.com/api/v3/oauth2/auth"` I get:

![image](https://user-images.githubusercontent.com/2237523/145127389-e4d61eb4-e8ed-42ed-a8e9-5dc1f40ba9e0.png)

Looking at the [code](https://github.com/sipcapture/homer-app/blob/master/main.go#L462) it seems `auth` is already appended from `"provider_name": "auth"`?

And n the Okta config `Sign-in redirect URIs

[2021-12-08 19:41] ghmj2417 opened #459 "OR logic - timestamp included in search"
Is it intentional to include the timestamp part of the OR search?

For example, I set orlogic: true, and add params dstIP and srcPort for the search.  I set the timestamp for the past 24 hours.  I am seeing the results for the dstIP and srcPort, but I am also seeing all of the records for the past 24 hours.  I didn't expect this behavior.  I think most of us would only want the results for the sea

[2021-12-08 19:44] lmangani commented on #459
Sounds like a potential bug indeed - investigating

[2021-12-08 21:53] adubovikov commented on #458
@druchoo because we use "provider" as param and in your case you have "auth" -> that makes /auth/auth

if you want, change the param to "okta".

https://github.com/sipcapture/homer-app/blob/master/router/v1/user.go#L57
[code]

can you please provide the debug log of homer-app, specially during request of api/v3/oauth2/auth/"provider" (auth)

thank you

[2021-12-08 21:58] adubovikov commented on #458
i think you should register correct redirect_uri as I wrote above - https://homer.myco.com/api/v3/oauth2/auth

[2021-12-09 13:35] adubovikov commented on #459
https://github.com/sipcapture/homer-app/commit/f2cdde3b471d6e5422621655ca2e6a02dd2aaf62

[2021-12-09 13:36] adubovikov commented on #459
@RFbkak37y3kIY the bug with AND/OR still valid - switcher doesn't reset the value and it always sends "true"

[2021-12-09 13:47] ghmj2417 commented on #459
Thank you for the app fix @adubovikov!

Are you referring to the UI issue that I created? https://github.com/sipcapture/homer-ui/issues/562

[2021-12-09 13:50] adubovikov commented on #459
@ghmj2417 ah, yes, you did it! In this case I will close the ticket.
please star us here: https://github.com/sipcapture/homer/stargazers

[2021-12-09 13:50] #459 closed

[2021-12-09 14:01] adubovikov commented on #458
@druchoo any progress ?

[2021-12-10 08:57] oej opened #460 "Visual Studio, Swagger viewer and swagger.json"
Using Microsoft Visual Studio with the "Swagger Viewer" extension v3.1.2
   - loading the file and starting preview with Shift-Alt-P shows a blank page
   - Running the "Preview Swagger" command, it lists a lot of issues

[code]

[2021-12-10 09:00] oej opened #461 "swagger_codegen and swagger.json fails"
Using the python app swagger_codegen parsing of swagger.json fails

[code]

[2021-12-10 09:11] oej commented on #461
https://pypi.org/project/swagger-codegen/

[2021-12-10 09:18] AlexeyOplachko commented on #461
Hi, since our swagger was generated with go-swagger it's a OpenApi 2.x (Swagger 2) while that python library supports only OpenApi 3.x(aka Swagger 3) which is not backwards compatible.

So most likely that's your source of a problem.

[2021-12-10 09:23] oej commented on #461
Ok, will try to find something compliant with 2.x. Thanks!

[2021-12-10 09:25] AlexeyOplachko commented on #461
Feel free to reopen an issue if this doesn't fix your problem :)

[2021-12-10 09:25] #461 closed

[2021-12-10 10:06] lmangani commented on #460
Potentially related case: https://github.com/OAI/OpenAPI-Specification/issues/1719

[2021-12-10 10:26] adubovikov commented on #460
https://marketplace.visualstudio.com/items?itemName=42Crunch.vscode-openapi

[2021-12-10 10:32] oej commented on #460
That also shows a lot of errors... This is confusing.

[2021-12-10 13:47] pgopu commented on #458
@adubovikov I am @druchoo's colleague working on this Oauth. We are seeing the following in the log:

{"level":"debug","msg":"Doing AuthSericeRequest for provider: okta","time":"2021-12-10T13:00:21Z"}
{"level":"error","msg":"AuthSericeRequest OAuth2Config Exchange is invalid:oauth2: cannot fetch token: 400 Bad Request\nResponse:
{\"error\":\"invalid_grant\",\"error_description\":\"The authorizatio

[2021-12-14 17:15] pgopu commented on #458
@adubovikov - any progress on this? Do you need any more info from us?

Is it this? https://devforum.okta.com/t/v1-token-400-error-when-token-has-expired/8637/11

[2021-12-14 18:50] pgopu commented on #458
@adubovikov - I tried with latest master, and updated the config to include auth_style=1.  I got the following error:

{"data":{},"message":"oauth2: cannot fetch token: 400 Bad Request\nResponse: {\"error\":\"invalid_grant\",\"error_description\":\"PKCE verification failed.\"}"}

[2021-12-14 20:24] adubovikov commented on #458
https://github.com/sipcapture/homer-app/commit/aa75dd5c8c45dc265038f07aa389eb37337565a0

before I will check, does Okta have a free accounts to check auth ?

[2021-12-15 15:32] pgopu commented on #458
@adubovikov - I have tried with your latest commit (aa75dd5) still the same result PKCE verification failed.

[2021-12-15 15:39] lmangani commented on #458
@pgopu this is as far as we can go without having access to the affected platform (we do not)
If you'd like to sponsor this change request, please consider a donation to the project

[2021-12-15 16:38] pgopu commented on #458
Would you like to sign up on okta? https://developer.okta.com/signup/

I will check with my team about your request.

[2021-12-15 17:08] lmangani commented on #458
I know its almost Christmas, but It is not realistic to expect OSS developers to signup with any 3rd party service when requested to support it freely :) jokes aside, if you would like to express this process, we appreciate any counter support

[2022-01-11 12:07] solarmon opened #462 "Different Flow view for after BYE"
Hi,

I have a Homer 7.10.10 setup. This issues occurs on two separate Homer servers - opensips is sending HEP capture traffic to both.

The issue I'm experiencing is that, for the same callid (and correlation_id), when I click on callid of the BYE packet, it shows a different Flow view compared with when I click the callid of any packets before the BYE paket.

![image](https://user-images.githubus

[2022-01-11 12:11] lmangani commented on #462
Could you please do confirm if this is still an issue with the latest version, otherwise the patch and investigation might diverge

[2022-01-11 12:36] solarmon commented on #462
I updated to Homer 7.10.15 and it seems to have the same issue for me.

[2022-01-11 12:42] solarmon commented on #462
I changed the lookback/lookforward range (in Admin > Mapping > Protocol > Correlation) for "call SIP" to:

[code]

And that seems to have resolved the issue.

What is the implications on performance and resources by of having a wide range?

[2022-01-11 12:48] lmangani commented on #462
@solarmon the implications as you suspected is an increased resource usage per query, but you can observe the setup consumption and judge if this is a critical increase or not - being an ondemand query it should not impact you much unless dozens of users leverage it concurrently. You should find the minimal "sweet spot"

[2022-01-11 12:48] lmangani commented on #462
Closing as resolved, suggestions/docs contributions are welcome on the subject!

[2022-01-11 12:48] #462 closed

[2022-01-12 22:18] pgopu commented on #458
@adubovikov - I have tested with some changes done in homer-app code in my fork https://github.com/pgopu/homer-app to make it work with Okta Oauth2. You can check the code in that branch.

I still have one issue with Okta is that it is not able to match the code_challenger and code_verifier when used https://github.com/sipcapture/homer-app/blob/d4f20880d224b6cd5f857048d5899eb89aac4718/utils/heputi

[2022-01-13 11:48] adubovikov commented on #458
@pgopu Super! Here you are:

https://github.com/sipcapture/homer-app/commit/cc5269b202cfa4f2d749e773ad3793283796d386#diff-2873f79a86c0d8b3335cd7731b0ecf7dd4301eb19a82ef7a1cba7589b5252261R415-R417

[2022-01-13 16:45] pgopu commented on #458
@adubovikov - we still need to merge the changes from my branch. Shall I create a PR for you? My branch is  https://github.com/pgopu/homer-app.
Please take a look at newer changes to GenCodeChallengeS256 function in my branch: https://github.com/pgopu/homer-app.

[2022-01-13 17:15] pgopu commented on #458
@adubovikov here is the PR: https://github.com/sipcapture/homer-app/pull/463 with all the changes. I have tested with Okta Oauth. All the parameters that were added are needed particularly for Okta, might be optional for other Oauth providers.

[2022-01-13 22:25] adubovikov commented on #458
@pgopu merged :-) lets test ?

[2022-01-13 23:44] pgopu commented on #458
@adubovikov - Sure! Will test and update here. Thank you!

[2022-01-14 00:06] pgopu commented on #458
@adubovikov - tested and it works!!! 👯

[2022-01-14 00:31] pgopu commented on #458
@adubovikov - Could you please cut the release?

[2022-01-14 12:58] adubovikov commented on #458
@pgopu pushed and released!

[2022-01-14 21:28] anthonywittig opened #465 "JWT Errors On 1.4.29"
Hello - this is probably missing a lot of critical information, please let me know what to add. 🙏

We have two servers running `heplify-server` and `homer-app`. When we updated `homer-app` to `1.4.29` (from `1.4.27`) we started seeing a lot of JWT errors in the browser console, e.x.:
[code]
We'd get a 401 on these and be redirected to the login page. Sometimes folks could get past the login page,

[2022-01-14 21:30] adubovikov commented on #465
@anthonywittig let us check it asap

[2022-01-14 21:35] adubovikov commented on #465
@anthonywittig unfortunately couldn't reproduce it in our lab.
can you please enable debug log and see if u see any errors ?

[2022-01-14 21:38] anthonywittig commented on #465
I'll try that out off hours (for now we've scaled down to one host and things are working).

[2022-01-14 21:39] adubovikov commented on #465
please regenerate jwt_sescret using "uuid" and clean the cache in your browser (F12->disable cache)

[2022-01-14 22:01] anthonywittig commented on #465
Is there somewhere I can find out more about the `auth_settings`? Each host should have a unique `jwt_secret`, right?

[2022-01-14 22:13] adubovikov commented on #465
@anthonywittig thats correct, but if you have cluster - you should have same between all your hosts

[2022-01-14 22:23] anthonywittig commented on #465
That solved my issue 🤦 , thanks for your quick response and help! ⭐

[2022-01-14 22:23] #465 closed

[2022-01-14 22:25] adubovikov commented on #465
you are welcome :-) please star us also here https://github.com/sipcapture/homer/stargazers

[2022-01-17 22:03] adubovikov commented on #458
@pgopu I am closing the ticket. Thanks to everybody!

[2022-01-17 22:03] #458 closed

[2022-02-02 02:04] zimmerya opened #466 "Calls are correclty correlated, but flow diagram only shows invites of other calls?"
I have read through the wiki and the other issues to set the mapping for my call structure and homer works really nicely. The only problem I have is that the flowchart only shows all messages of the selected call, the messages of the correlated calls don't get shown at all, except for the invites. Here a screenshot:
![homer7flowScreenshot](https://user-images.githubusercontent.com/98062318/1520807

[2022-02-09 19:49] radicaldrew opened #467 "Unable to run homer-app (homer-ui) from subdirectory"
when running homer-app from a sub directory such as <ip>/homer the assets are unable to load.
angular base href is defaulted to /
![screen96](https://user-images.githubusercontent.com/8816264/153278770-aab3a468-f569-4d7a-adb0-45ba956792f2.jpg)
possible solution is to update the package.json of homer-ui with base-href in build.
"build": "ng build --base-href ${BASE_HREF:-/} .....

[2022-02-10 17:33] radicaldrew commented on #467
created a pull request for this under homer-ui repo
[](https://github.com/sipcapture/homer-ui/pull/573)

[2022-02-16 09:45] AlexeyLilichenko opened #469 "Issue with shared links for Homer 7.10.17"
After update from **Homer 7.10.16** to **Homer 7.10.17** bug appeared.

If I search **call A**, then check its **Flow**, then press **Export**->**Share Link**.

I do same for **call B**, and check both **Shared links** in browser I will see **same results for both links** (result last saved in localStorage, not the result for shared link).

**To force this shared links work, I must manually clear

[2022-02-16 09:54] AlexeyLilichenko commented on #469
Additional details:
homer-app 1.4.30  - was OK
homer-app 1.4.32 - bug appear

Shared link example:
http://<homer_IP>:9082/search/result/dashboard/home?%7B%22timestamp%22:%7B%22from%22:1644996892037,%22to%22:1644997492037%7D,%22param%22:%7B%22search%22:%7B%221_call%22:%7B%22id%22:444170,%22callid%22:%5B%226169623b564f9a0939d1dc0403a65e89@<my_voip_server_IP>:5060%22,%227cf90fb100f6d33d4b3dd76571ee1e

[2022-02-16 09:55] lmangani commented on #469
Thanks for your report @AlexeyLilichenko we are investigating

[2022-02-16 11:39] #469 closed

[2022-02-22 14:13] agrigorjevs opened #470 "Strange username format validation in user settings"
Hello,

We have users created and also LDAP usernames with such format - firstname.lastname. Creation of such usernames is allowed.

But when you try to add a new user setting - it does not allow dot in the usernames.

<img width="799" alt="Screenshot 2022-02-22 at 15 30 04" src="https://user-images.githubusercontent.com/39706760/155149658-96fd5d5b-9cc1-4289-beb4-8ee3dcbf47fa.png">

Also, another

[2022-02-23 19:08] jvb187 opened #471 "Trouble With OR Logic"
Hello,

I can not seem to get the OR logic working properly. When I set my query to OR, I see the local storage object is updated properly:

`
{
    "fields": [
        {
            "name": "protocol_header.srcIp",
            "value": "xx.xx.xx.xx",
            "func": null,
            "type": "string",
            "hepid": 1
        },
        {
            "name": "protocol_header.dstIp",

[2022-03-01 11:04] Farid-19 opened #472 "Docker Image tags"
Hi! This is my first time posting a issue. Althought I am not sure if this is the correct repository to post on, if not, please correct me :)

We would like to use the docker image for Homer 7 webapp (https://hub.docker.com/r/sipcapture/webapp/), however I notice that the image itself has no "stable" tags defined, except for **slim** & **latest**:

Would it be possible to create tags for this?

Ma

[2022-03-17 11:06] adubovikov commented on #471
I think it was fixed already. Can you please pull the latest version and check again ?

[2022-03-31 09:50] hb9eue opened #475 "How to create ui user (admin deleted by mistake)"
Hi List

'Somebody' managed to 'delete' the admin and support UI users, probably leaving our installation without user.

/usr/local/bin/homer-app allows to reset the passwort for a user. But can I create an user?

-Benoit-

[2022-03-31 11:16] lmangani commented on #475
Hi @hb9eue
This is available in the [readme](https://github.com/sipcapture/homer-app#create-user)
Let us know if it doesn't work for your case.

[2022-03-31 11:17] #475 closed

[2022-04-01 14:31] getrahulchauhan opened #476 "Homer UI not showing logs"
Hello,

I have new in homer , and i installed homer 7.10.18, homer-app service and heplify-server services is working fine but i can't see any logs on web.

My server have : -
Asterisk 13.17.2
Homer App UI : - 7.10.18
Homer-app version: - homer-app 1.4.35.
postgresql -12

homer_data=# select * from hep_proto_1_call;
 id | sid | create_date | protocol_header | data_header | raw
----+-----+---------

[2022-04-05 18:52] lukeescude opened #477 "Embed the SIP Message Ladder as an iFrame"
Hello, is there a way to embed the SIP Message Ladder as an iFrame?

For example, displaying the SIP Messages (or other Homer7 tabs in a SIP dialog, like RTCP, etc.) in our custom PBX admin portal - without the user logging in (they would only be allowed to look up a SIP Call-ID they have permissions to view on our system).

[2022-04-22 17:03] danlshields opened #478 "Docker image doesn't appear to include Swagger file"
In Settings, the API documentation doesn't load, the API responds to the request to `/doc/api/json` with a `400` error, with a `{"data":{},"message":"swagger file couldn't be found"}` body.
https://github.com/sipcapture/homer-app/blob/f957fc9c5ffc634fee27a62429d8d40edd32e7f1/main.go#L721-L731
<img width="879" alt="Screen Shot 2022-04-22 at 10 59 47" src="https://user-images.githubusercontent.com/3

[2022-04-25 09:09] adubovikov commented on #478
you can set the real host here:

https://github.com/sipcapture/homer-app/blob/master/etc/webapp_config.json#L48

[2022-04-25 12:06] danlshields commented on #478
@adubovikov I'm afraid I don't understand, the problem isn't the API host shown in the API documentation, it's that there is no swagger file at all. It doesn't even get as far as to use `config.Setting.SWAGGER.ApiHost`...

[2022-04-29 12:43] #478 closed

[2022-04-29 12:43] #471 closed

[2022-07-07 11:07] m-j-b opened #481 "date format"
The date format on the Widget Result tab is dd/MM/yyyy HH:mm:ss e.g. 07/06/2022 08:47:37 Can this be changed? Ideally I'd like to show milliseconds as well.

![widget-result-date-format](https://user-images.githubusercontent.com/70200455/177759578-1b051d83-e0a9-41d7-b6b8-5bdd3b067a1d.png)
.

[2022-07-08 13:47] husam212 opened #482 "Capture ID is set to integer in the default mapping"
Searching by capture ID with alphanumeric characters doesn't work out of the box, changing the field `type` in the mappings to `string` fixes the issue, I'm not sure if this is a bug or it's intentionally set to `integer` by default.

[2022-08-15 08:49] m-j-b commented on #481
Thanks, that works great:

![new_date_format_settings](https://user-images.githubusercontent.com/70200455/184605307-d9497869-ac90-436a-ae52-d19d44ef364e.png)

![new_date_format_widget](https://user-images.githubusercontent.com/70200455/184605325-9962263f-023f-4e36-8e05-f916371d340c.png)

[2022-08-15 08:52] #481 closed

[2022-08-24 15:38] ghost opened #485 "OAuth2 with github provider"
Hey,
I would like to kindly ask if you could help with github provider in Homer.
As there is little documentation on how to set up, I configured that this way:

[code]
However, I am getting 502 response and panic error.

[code]
Thank you for any help!

[2022-08-29 07:29] vcidst opened #486 "How do I find out register requests sent from a particular IP?"
I'm using the "Registration Search Widget" currently it only allows me to filter by Call ID. I'm trying to see Register attempts filtered by source IP or destination IP. Is there a way I can do that?

I tried filtering in the Source IP / Destination IP column but I do not see any results since the request isn't on the current page.

[2022-08-29 07:31] lmangani commented on #486
@vcidst did you add the relative fields to the search widget? This is done through the form.

[2022-08-29 07:33] #486 closed

[2022-08-29 07:33] lmangani commented on #486
Please be so kind to star the repository if you use our software and ask support.

[2022-08-29 07:49] vcidst commented on #486
Thank you @lmangani that helped! I've starred the repository as well :)

[2022-09-08 12:16] mcebey1891 commented on #432
Hi,
I have a problem related to this.
I followed this thread and I have the Node field with its options visible, but they appear in gray and cannot be chosen.
The Node field appears in the results with the correct node names.
I am using the latest Docker version of Homer7.
My mapping:
    {
        "id": "node",
        "name": "Node",
        "type": "string",
        "index": "none",
        "fo

[2022-09-09 12:58] mcebey1891 opened #487 "Problem with selecting node in a multinode configuration"
Hi,
I have a problem related to [this](https://github.com/sipcapture/homer-app/issues/432#issue-951657517).
I followed this thread and I have the Node field with its options visible, but they appear in gray and cannot be chosen.
The Node field appears in the results with the correct node names.
I am using the latest Docker version of Homer7.
My mapping:
[code]
And My configuration is:
[code]
The r

[2022-09-12 09:04] PJ111288 opened #490 "How to Capture sip packets in Homer7"
Hello Fella's,

I am very new in homer and however i was able to install homer7 by github help..........:) but i am not able find that how can configure homer so that it can capture sip packets.

i believe someone can help me on this...

Installation help from this : https://github.com/sipcapture/homer/wiki/Quick-Install

============================================================
I have installe

[2022-09-12 09:27] lmangani commented on #490
Hello @PJ111288

Please share your OS/version and as many details as possible for things to make sense.

Are you actually trying to use this with Elasticsearch? That's not a good idea _(see our project qryn.dev)_
I would suggest you start [simple](https://github.com/sipcapture/heplify-server/blob/master/example/homer7_config/heplify-server.toml) and make sure all works before enabling other integr

[2022-09-12 09:49] PJ111288 commented on #490
Hello @lmangani

i have installed Homer Server on Debian-11 and heplify client installed on Centos 7 asterisk server. just only this setup.

No elastic search or anyother.

I hv followed the same https://github.com/sipcapture/heplify-server/blob/master/example/homer7_config/heplify-server.toml. As it is very new for me.

------------------------------------------------------------------
### /etc/a

[2022-09-12 10:10] lmangani commented on #490
If you have no elastic I don't understand why the settings are in your config.

Please confirm you have clean settings before restarting the example.

On the monitored host (Asterisk, etc) use EITHER `heplify` or the built-in hep feature - not both.
NOTE: heplify tends to be simpler and faster as long as you don't do TLS encryption it works just fine.

1) start watching for incoming HEP packets on

[2022-09-12 12:01] PJ111288 commented on #490
Hello @lmangani

yes i got packets now but when i run this ./heplify -hs 192.168.2.45:9060 -nt tls otherwise no luck.

so is there any setting through which sip packets can route automatically to homer server?

Many Thanks

[2022-09-12 13:01] PJ111288 commented on #490
@lmangani   >> Something like this ?

HEPTCPAddr            = "0.0.0.0:9060"
HEPTLSAddr            = ""

[2022-09-12 15:24] lmangani commented on #490
Start simple. This is the most basic command sending UDP to port 9060

[2022-09-13 05:46] PJ111288 commented on #490
@lmangani Good Morning,

It is working fine like yesterday but problem is that i had to run it manually and then captures are forwarding to Homer server. I need to set automatically sip captures forward to homer server. how can i do it ?

./heplify -e -hs 192.168.1.1:9060

[2022-09-13 07:57] PJ111288 commented on #490
@lmangani

Many thanks for your help. I found a way to run auto this ./heplify -e -hs 192.168.1.1:9060 and packets are forwarding too homer srv.

one more imp thing that right now captures are displaying on homer UI in multiple (sip events (trying/invite etc)) of a single call. how could i make a single consolidate capture only for each call? The following screenshot has two calls but 8 dialogs wi

[2022-09-13 08:08] lmangani commented on #490
Follow the [example](https://github.com/sipcapture/heplify/blob/master/example/heplify.service) to run heplify as a service.
There are no "call" in HOMER, just signaling and correlation - click the call-id to see the full transaction flow.

That's how this works. If you need a call tracking system, that's [hepic](https://hepic.tel) also from QXIP.

[2022-09-13 17:14] mcebey1891 commented on #487
Hi,
This is not a solution but it is how I have it working now.
In case it helps someone, this is the code in the mapping section:
[code]

Since I only have two plot sources I put them in the "form_default" section and override the "from_api" section.

[2022-09-13 17:33] lmangani commented on #487
@AlexeyOplachko could you confirm if this is still an issue?

[2022-09-13 17:47] mcebey1891 commented on #487
Since when adding a new site you have to add the option manually in the mapping, I understand that it is still an issue.
The above is a patch that works for few sites.
An extra problem is that in the configuration I named the nodes in uppercase but the filter puts them in lowercase so you have to iterate a bit so that the filter takes the values ​​accordingly.

[2022-09-15 06:05] PJ111288 commented on #490
@lmangani Hello,

Many thanks for your great instant support during my homer journey. It is very very appreciated. I have successfully installed and able to capture packets in production.

But there is some issue or configuration setting that only 200 events are displaying in homer UI, i have monitor two days. So can you please advise on this?

[2022-09-15 08:01] lmangani commented on #490
Hello @PJ111288 you're most welcome.
About your question - super simple - just add the "limit" parameter to the search form and change the limit to any.

[2022-09-15 08:50] PJ111288 commented on #490
Ok. Thanks.

[2022-09-15 12:11] #490 closed

[2022-09-19 11:48] PJ111288 opened #491 "Where and how data stores in Homer"
Where and how data stores in Homer?

[2022-09-19 12:35] lmangani commented on #491
Hello @PJ111288
Where: All data is stored in postgres tables for version 7.x
How: you can see in the code itself in heplify-server (writing) and homer-app (writing/reading)

[2022-09-19 12:35] #491 closed

[2022-09-20 07:36] PJ111288 opened #492 "How to change or update new Password for admin user Homer UI via PG Database."
How to change or update new Password for admin user Homer UI via PG Database.

[2022-09-20 07:39] lmangani commented on #492
Hello @PJ111288 mind github issues are not a google search form - please make a effort to CTRL-F before submitting.
The answer is in the [readme](https://github.com/sipcapture/homer-app#reset-ui-password-for-any-user) 😄

[2022-09-20 07:39] #492 closed

[2022-09-20 09:10] PJ111288 commented on #492
@lmangani  : ManyThanks for guding it.

[2022-10-05 12:16] mcebey1891 opened #494 "Multi node, flow of multiple session-id"
Hi,

I have a system made up of a web-app and two heplify-servers (with their own database).
Using the node field I can search for SIP messages belonging to the two nodes, but if I then select session-id from different nodes, when selecting a session-id, in the flow it only shows those of the node where the session-id comes from and not all selected session-id.

Could you implement that all messag

[2022-10-05 15:16] kYroL01 commented on #482
Hi @husam212 . Thanks for this question.
Yes by default is intentionally set to `integer` because most of the HEP agent use the capture ID as a string, but if you use [heplify](https://github.com/sipcapture/heplify) you can set this value also as an alphanumerical string (option `-hn stringName`)

[2022-10-05 15:16] #482 closed

[2022-10-11 06:34] palmtown opened #495 "Auth-Token is Not Working"
Hello,

The Auth-Token header is not working when trying to consume the API.  Note that I created an token at preference/auth%2520token and added it to the headers, however, the API returns a 401 error.

Does the Auth-Token work to consume API services?

[2022-10-11 08:33] lmangani commented on #495
Please attach the actual errors from clients and/or backend.

Have you validated this is the case using the HOMER ADMIN > API Config app?

![image](https://user-images.githubusercontent.com/1423657/195040217-a32e1308-7e74-4a89-a5d5-703756e5e2ab.png)

[2022-10-11 08:53] adubovikov commented on #495
Hello @palmtown,

you have to provide the Auth-Token as a HTTP request header and put the tocken inside.

https://github.com/sipcapture/homer-app/blob/fe984d36722bacc051ce5b2cc27293eb2f6bbdd0/auth/constants.go#L7

Please be sure that the header is case sensitive - please write it as Auth-Token, and not as "auth-token" :-)

[2022-10-11 08:58] palmtown commented on #495
Hello @adubovikov

I really appreciate your response.  The package I am using is automatically changing the header to lower case.  I am going to research this further to see how to avoid that.  However, I am happy to get your insight as I too saw the header in the file, however, assumed homer was case insensitive.

I'll give that a try and report back.

[2022-10-11 09:00] adubovikov commented on #495
try to fix it from your side - if it will be not easy - we can add an exception

[2022-10-11 09:10] adubovikov commented on #495
@palmtown hold on

the auth-token doesn't work for API - only for HepSub

let us add it

[2022-10-11 09:17] palmtown commented on #495
Hello @adubovikov

Thanks for the update.  I would appreciate if this is implemented.  Also, I would kindly request it to be case insensitive.  As I am finding, according to section "4.2 Message Headers" at https://www.rfc-editor.org/rfc/rfc2616#section-4.2  "Field names are case-insensitive."

[2022-10-11 09:42] adubovikov commented on #495
https://github.com/sipcapture/homer-app/commit/0cd50fbaf5c14a4e1090cfcce56d28b4c5c8ebf5

@palmtown can you please re-compile and recheck ?

[2022-10-11 09:44] palmtown commented on #495
Hello @adubovikov

Absolutely, trying now.

[2022-10-11 10:18] palmtown commented on #495
Hello @adubovikov

I'm using the https://github.com/sipcapture/homer7-docker deployment; it doesn't seem it pull the latest source when I try to redeploy.  I'll need to setup install manually.  Once I get that done and test, I'll update.

[2022-10-11 11:14] palmtown commented on #495
Hello @adubovikov

My initial test shows that the Auth-Token is working, however, more testing is needed as the error is gone, but no data is being returned.   Also, note to get it to work, I had to change "enable_token_access": true

I saw in your commit you added this, however, it is false by default.

[2022-10-11 11:17] adubovikov commented on #495
ah, yes, the enable_token_access should be true. Let me know and we can rebuild dockers

[2022-10-11 11:21] lmangani commented on #495
containers should be pushed by now

[2022-10-11 11:23] palmtown commented on #495
Hello @lmangani

Excellent, I'll test it now.  Thanks for the update.

[2022-10-11 11:41] palmtown commented on #495
Hello @adubovikov & @lmangani

It works great!  On the docker deployment, similar as above in that I had to add "enable_token_access": true in etc/webapp_config.json. I also added "auth_token_header": "Auth-Token" as shown in the commit.  Note that these variables are not present in the docker deployment whereas in the source, they are present, just that  "enable_token_access": false.

Thanks, ver

[2022-10-11 11:41] #495 closed

[2022-10-11 11:42] lmangani commented on #495
Thanks @palmtown feel free to open an issue for adding those ENV variables in containers if needed.

[2022-10-26 18:49] Anthony-Bible opened #496 "Possible to allow http debug to be set via environment variable?"
It would be nice to allow the http debug to be set by an environment variable at startup. Is there a reason it isn't? If not I'd be more than willing to create a PR to allow that.

[2022-10-26 22:45] adubovikov commented on #496
please check how the viper supports ENV github.com/spf13/viper

[2022-10-26 23:02] Anthony-Bible commented on #496
@adubovikov thanks, But homer-app currently doesn't use viper to get environment variables only to read the config as far as I can tell . I was referring to this: https://github.com/sipcapture/homer-app/blob/master/docker/docker-entrypoint.d/1

[2022-10-27 05:47] adubovikov commented on #496
I know and I wrote this comment because you mentioned PR :-) otherwise we
will redesign the part of viper reader to use it in more intelligent way.

On Thu, Oct 27, 2022, 1:02 AM Anthony Bible ***@***.***>
wrote:

[2022-11-02 07:29] anannaya opened #497 "Support for oauth2-proxy frontend?"
https://github.com/oauth2-proxy/oauth2-proxy  is widely used in many projects ,  Which intern sets some header along Authorization bearer token , Can the homer be supported with id_token ?

[2022-11-02 09:01] lmangani commented on #497
Homer already supports oauth2

https://github.com/sipcapture/homer-app/blob/master/etc/webapp_config.json#L149

[2022-11-03 21:44] kosza opened #498 "Missing QoS data"
Hi,

I use VERSION: 1.4.37 of homer-app. On the tab qos some data is not displayed. The datas are in qos response, there is no javascript error and the qos is empty.
![image](https://user-images.githubusercontent.com/31093540/199839057-e09c0ef9-33d1-42ab-9f4b-8a8a11654940.png)

I attach the qos response, the ip's are modified.

[homer_qos.txt](https://github.com/sipcapture/homer-app/files/9933143/

[2022-11-04 09:11] lmangani commented on #498
The `207` response needs an extended handler. Assigned to @RFbkak37y3kIY

[2022-11-04 14:55] #498 closed

[2022-11-11 09:34] kosza opened #499 "Where is the log?"
Hi,

I use VERSION 1.4.42 of Homer-app on Ubuntu bionic.
I tried to debug sql queries but they are not written into the homer-app.log. Finally I found them in syslog. In the homer config I write direct syslog to false. I find syslog variable from the source.
How it should be configured to use only homer-app.log?

[code]

Other question: ~~is it possible to log the final query string? Now there is

[2022-11-11 14:27] kosza opened #500 "Search field value modification"
Hi,

Is there any method to modify search field value? Mapping can use script to add 'b2b_1' sting to the correlation_id.
Example:
I want to search a call by ruri_user in e.164: 3699123456, where 36 is the cc, 99123456 is the subscriber number.
The script should modifies 3699123456 to +3699123456, 003699123456.

Thanks for your help.

[2022-11-11 14:42] lmangani commented on #500
Why not just searching for `%3699123456` instead of manually mapping prefixes?

[2022-11-11 15:56] kosza commented on #500
Because if the customer dials with national prefix (in Hungary it is `06`) the ruri will be `0699123456`. This is a fortunate case, `%699123456` will work but if the cc not ends digit `6` it won't.

[2022-11-11 16:38] lmangani commented on #500
There are no national formats in e.164

[2022-11-11 16:48] kosza commented on #500
Yes. This is why I would like to use e.164 format is search. But the ruri_user can be several types.

[2022-11-11 17:26] kosza commented on #500
For my problem the `%` is a good solution. So I close the issue.

Thanks for your advice.

[2022-11-11 17:26] #500 closed

[2022-11-25 16:30] efuster88 opened #501 "Is it possible to get a unique URL link that points to a specific CALL/session ID?"
I want to just find a way to get a unique URL link that points to a specific CALL-ID, is it possible?