[2018-07-03 06:44] MosinAnton opened #1 "Old DB schema"
Homer UI use 'gid' field in requests, but it was deleted in heplify-server.

`{"msec":13.167360999621451,"error":"select \"id\", \"sid\", \"gid\", \"protocol_header\", \"data_header\", ROUND(EXTRACT(epoch FROM create_date)*1000) as create_date from \"hep_proto_1_call\" where \"create_date\" between $1 and $2 - column \"gid\" does not exist","data":{"name":"error","length":206,"severity":"ERROR","c

[2018-07-03 07:37] lmangani commented on #1
@MosinAnton this is intentional - GID has no longer a role in HOMER. Thanks for the report.

[2018-07-03 09:46] lmangani commented on #1
@MosinAnton to make sure i did not misunderstand, what's the bundle you are using? This might have to be reopened accordingly :)

[2018-07-03 09:59] lmangani commented on #1
Reopened pending fix to drop the query option

[2018-07-03 13:02] lmangani commented on #1
This issue has been fixed but outlined a couple more adjustments we'll open in parallel.
Thanks again for your precious report!

[2018-07-03 13:02] #1 closed

[2018-07-06 21:31] astrakid opened #2 "Id ordered not ordered correctly"
id column is ordered by word, not by numbers.

[2018-08-16 14:00] ivlovric opened #3 "Can not login to Homer 7 beta instance"
I am unable to login using any known homer 7 frontend password combination with user "admin".
I am getting this in browser debug/developer tools: "[ "RequestResponseInterceptor" ]
 Array [ "reponseError" ]
 Unauthorized incorrect password"

I see users in homer_config database:
id | username | partid |     email      | firstname | lastname | department | usergroup |                             has

[2018-08-16 14:08] lmangani commented on #3
Hi @ivlovric ,

The default login for seven is `admin/sipcapture`
Have you installed homer-app as part of a stack or stand-alone?

[2018-08-16 16:57] ivlovric commented on #3
Hi, @lmangani!

Thanks for your quick response.
Perfect, these credentials  work. I was following installation procedure for stack version but was unable to find default credentials anywhere so I was combining every previous homer versions passwords.

Maybe it would be convenient to include this info in installation procedure.

[2018-08-16 16:59] lmangani commented on #3
@ivlovric glad you got around this. There's actually no real installation procedure, this is in alpha so welcome to the team and feel free to report issues you will SURE find.

[2018-08-16 16:59] #3 closed

[2018-09-20 11:52] lmangani opened #4 "Preferences Page"
Preferences page suffers a provider bug in need of a check:
`bundle.js:201129 Error: [$injector:unpr] Unknown provider: APP_PREF_SCHEMAProvider <- APP_PREF_SCHEMA <- UserService`

[2018-09-20 12:00] lmangani opened #5 "UI-Grid Preferences"
The UI-Grid column preferences are not being saved / restored and do not persist across user sessions.

[2018-09-21 09:29] lmangani opened #6 "Search Form Clear"
- The CLEAR button in the search Form is not clearing fields on interaction (`$ctrl.clearSearchForm()`)

[2018-09-22 11:58] lmangani opened #7 "Last Search Cache"
The last search parameters are not cached and reapplied on page refresh/reload as intended.
Edit: minimal feature as per ui-grid preferences

[2018-09-22 11:59] lmangani commented on #7
Possible related to https://github.com/sipcapture/homer-app/issues/5 from cache perspective

[2018-09-22 15:31] adubovikov commented on #7
the logic is same as in HEPIC or in H5 - on RELOAD we should send an API request to restore ALL profiles into memory. Same for search. Once you press the SEARCH button - we update the "search profile" ASAP (async process with API), that can be restored and used later.

[2018-09-23 15:31] lmangani opened #12 "Search Params edit mode"
Search Params edit (via SweetAlert) are only partially implemented, missing the edit Functionality:
![image](https://user-images.githubusercontent.com/1423657/45918787-58d73d80-be8c-11e8-9249-735764327cf5.png)

Clicking the EDIT or double-clicking the Filter should render the edit mode and resubmit search

[2018-09-23 15:33] lmangani commented on #12
PS: Are we using [SweetAlert2](https://sweetalert2.github.io/) as per original plan?

[2018-09-23 20:40] lmangani opened #13 "Legacy QOS Tab"
The high-level former RTCP stats flow reference is below:

- QOS RTCP API [trigger](https://github.com/sipcapture/homer-app/blob/master/public/app/search/call-detail/call-detail/controllers/call-detail.controller.js#L248) (baseline implemented)
- QOS RTCP Parser [TBD](https://github.com/sipcapture/homer-ui/blob/858424f138a56f7d8c4a6f152c92e4a2acbef7e3/share/controller.js#L69)
- QOS RTCP Template [

[2018-09-25 20:53] sergibondarenko commented on #7
@adubovikov @lmangani

The whole app reload? Can you show me the place in the old app where it is implemented?

Do you mean this? https://gitlab.com/qxip/hepic-ui/blob/master/app/controllers/search/searchcallController.js#L57

[2018-09-25 21:03] sergibondarenko opened #15 "Port messageSearchFilter"
Now if you insert value in search results input
![screenshot from 2018-09-25 23-01-49](https://user-images.githubusercontent.com/5389745/46043019-25f4aa00-c117-11e8-840b-8ee245926e01.png)
you get err
[code]

[2018-09-25 21:05] sergibondarenko commented on #12
@lmangani How can I create this notification you have in the screenshot?

[2018-09-25 21:39] #6 closed

[2018-09-25 21:52] #15 closed

[2018-09-25 23:07] sergibondarenko opened #18 "Searchdata class server side error"
[code]

[2018-09-25 23:12] #12 closed

[2018-09-26 21:07] #18 closed

[2018-09-27 18:32] lmangani commented on #5
@sergibondarenko the changes are unfortunately not persistent on a reload, just refresh. Probably should save them in the session?

[2018-09-27 18:39] lmangani opened #24 "CFLOW Logs out-of-sequence"
LOGS in CFLOW are displayed out of sequence position, despite the correct timestamp

[2018-09-27 21:35] sergibondarenko opened #26 "Bad implementation error, server side"
[code]

[2018-09-27 21:40] sergibondarenko opened #27 "Check timepicker and TimeMachine work"
I noticed that Today doesn't work if you come to the callSearch from a dashboard first time.
And the TimeMachine value is in future
![screenshot from 2018-09-27 23-18-32](https://user-images.githubusercontent.com/5389745/46176152-b0bbdd00-c2ae-11e8-86d3-ba39def4f33a.png)

It works well if you pick another time and click Today again.

[2018-09-29 11:11] #27 closed

[2018-09-29 11:13] sergibondarenko commented on #7
This was solved by a series of PRs:
https://github.com/sipcapture/homer-app/pull/30
https://github.com/sipcapture/homer-app/pull/28
https://github.com/sipcapture/homer-app/pull/14

[2018-09-29 11:15] sergibondarenko opened #32 "Add time range to callSearch component url params"

[2018-09-29 11:30] #26 closed

[2018-09-29 11:44] lmangani opened #34 "UI-Grid Multi-Select"
The ui-grid multi select feature is currently not resulting in multiple sessions displayed or aggregated when multiple rows are selected

[2018-09-29 17:40] sergibondarenko opened #35 "Pass time via URL"

[2018-09-29 20:31] sergibondarenko commented on #35
This fixed by https://github.com/sipcapture/homer-app/pull/36

[2018-09-29 20:31] #35 closed

[2018-09-29 20:33] sergibondarenko opened #37 "Execute the event subscribed callback only if the state is current one"
Do this in all callbacks https://github.com/sipcapture/homer-app/blob/master/public/app/search/call-search/controllers/call-search.controller.js#L70

[2018-09-29 20:43] sergibondarenko commented on #32
Duplicate of https://github.com/sipcapture/homer-app/issues/35

[2018-09-29 20:43] #32 closed

[2018-09-30 12:50] adubovikov commented on #24
the data should be resorted after append

[2018-09-30 23:34] lmangani opened #43 "image store"
![ezgif com-optimize 10](https://user-images.githubusercontent.com/1423657/46264200-211a6680-c51a-11e8-8477-3b7a53f9aa0b.gif)

[2018-09-30 23:34] #43 closed

[2018-10-01 13:18] malberto99 opened #44 "UI-Grid Size"
The UI-Grid results size not being expanded correctly to fill the page height

[2018-10-11 12:48] #44 closed

[2018-10-20 15:25] lmangani opened #46 "CFlow obsessing with Call type 1"
Feeding the system with JSON only events (Janus/MediaSoup) the CFLOW still looks up `hep_proto_1_call` as opposed to the actual protocol type(s) selected and fails with:
[code]

[2018-10-20 15:34] lmangani commented on #46
To replicate a full server setup: `https://github.com/sipcapture/homer-docker/tree/master/hepop/hom7-json-influx`

To replicate JANUS traffic:
[code]

[2018-10-26 08:57] Revent opened #47 "PCAP and text exported as js object"
this is bug or feature?

[2018-12-18 17:21] lmangani opened #48 "Implement Loki Search"
Implementing Loki Search using labels
FYI @negbie

[2018-12-23 10:50] Gudeen opened #50 "hep_proto_1_registration and call legs"
Hi,
I'm testing heplify-server with homer7 UI, and heplify-server writes register messages to hep_proto_1_register, but the UI tries to select from hep_proto_1_registration ("ERROR:  relation "hep_proto_1_registration" does not exist").
How should I adjust the configuration, that heplify-server and the ui use the same table names?

Another issue I have, is that the A-Leg and B-Leg of a call are no

[2018-12-23 11:51] lmangani commented on #50
Try adjust settings here and report if successful for a patch: `public/app/widgets/protosearch-widget/settings/data/proto_transactions.json`

As of correlation, this is an entirely different subject and mostly depends on your setup - there is no guessing possible, so please don't mix issues to avoid confusion.

[2018-12-23 14:32] Gudeen commented on #50
just changing public/app/widgets/protosearch-widget/settings/data/proto_transactions.json didn't work yet. It still throws the same error when searching for registrations.

For the correlation issue I'll open a separate issue then, but could you tell me whether this should be related to heplify-server or homer-app? just that i'll post it in the right place...

[2019-01-05 11:21] Gudeen commented on #50
I'm currently still stuck with the different homer7 hep_proto_1_registration/register table names in heplify-server and homer app.
Of course I could also easily change the table name in my heplify-server, but so far I'm not even sure which of both names you consider to be the correct one...

[2019-01-05 11:33] lmangani commented on #50
@Gudeen this is being fixed

[2019-01-07 22:43] negbie opened #52 "JavaScript heap out of memory"
Hi,
I wanted to take a closer look at the performance and noticed this in the logs:
omer-webapp      | FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out of memory
homer-webapp      |  1: node::Abort() [node]
homer-webapp      |  2: 0x8ccf9c [node]
homer-webapp      |  3: v8::Utils::ReportOOMFailure(char const*, bool) [node]
homer-webapp      |  4: v8::internal::V8::FatalProc

[2019-01-08 00:09] lmangani commented on #52
is this with a container or running on an actual system?

[2019-01-08 00:14] negbie commented on #52
It's the recent container. I also noticed that heplify-server does not create good postgres indicies. For example I should create a index for create_date and payloadType. This is not related to this error but would help to boost the query performance.

[2019-01-08 00:40] negbie commented on #52
Pulled it but couldn't reproduce it so far. Will close this issue and hope I can reproduce it to reopen.

[2019-01-08 00:40] #52 closed

[2019-01-08 14:30] lmangani commented on #48
Baseline implemented with 6a6a3a36989b267f7a4de59a811a4066a3d35b34

[2019-01-14 16:37] #48 closed

[2019-01-18 13:10] sergibondarenko opened #53 "A problem with npm packages reported by @baron"

[2019-01-18 18:33] lmangani commented on #53
resolved

[2019-01-18 18:33] #53 closed

[2019-01-18 18:56] lmangani commented on #34
Cross-Correlation rules should also be editable. Shall we add this to a macro for k/v store?

[2019-01-19 14:25] lmangani opened #55 "LOGIN Require Fields"
When logging in, autofill credentials still cause the field required warnings to be displayed:

![image](https://user-images.githubusercontent.com/1423657/51427977-50a2cb00-1bfe-11e9-88e3-386edd12abe7.png)

[2019-01-19 15:53] negbie commented on #55
Another minor thing. When user enters a too short you get a log line Error: child "password" fails because ["password" length must be at least 8 characters long]
but the user does not get a warning in the ui.

[2019-01-19 16:32] lmangani commented on #55
@negbie this is a backend error and indeed, we should print it out
@sergibondarenko could you take care of this?

[2019-01-20 09:37] sergibondarenko commented on #55
@lmangani sure, I'll do it later
The solution to the current issue is https://gist.github.com/pc035860/8018569
Some more discussion on this https://stackoverflow.com/questions/14965968/angularjs-browser-autofill-workaround-by-using-a-directive

@negbie your issue i unreleated to this one, please open a new issue in such cases in the future.

[2019-01-20 15:47] negbie commented on #55
@sergibondarenko sure, sorry for this!

[2019-01-20 21:11] sergibondarenko opened #58 "Allow create passwords of length 2"
Now the minimum length is 8 chars. Original https://github.com/sipcapture/homer-app/issues/55#issuecomment-455791564

[2019-01-21 10:45] #55 closed

[2019-01-21 10:46] #58 closed

[2019-01-21 19:37] negbie opened #61 "Show errors to the user"
Maybe it would be good to show the user errors like the following in the ui and not only in console:
 "fail to add user: child "email" fails because ["email" length must be at least 6 characters long]"

[2019-01-27 17:57] lmangani opened #63 "QOS Tab visibility"
TODO:
The QOS Tab (RT*P Statistics) in Session Details is not hidden when there is no data available. The same logic works for Logs Tab.

[2019-01-28 02:59] lmangani opened #64 "Proto Search settings"
Proto Search settings (in proto search widget) are currently not being populated
![image](https://user-images.githubusercontent.com/1423657/51812273-13e76b80-22b1-11e9-8bf8-404e2942d2d5.png)

[2019-01-28 02:59] #34 closed

[2019-01-29 21:16] jmordica opened #65 "503 when logging in"
I'm running the quick install Homer 7 and when attempting to login with admin/sipcapture i'm getting a 503 from the api service. I'm not able to connect to the running container to see what the logs look like. Any suggestions or known issues?

[2019-01-29 23:30] lmangani commented on #65
Hi Joe,

There's really no quick install for H7 only containers. Could you confirm what instructions you followed?

[2019-01-29 23:36] jmordica commented on #65
Yea sorry it was the docket containers. hep7-influx. The only other thing I did was use nginx as a reverse proxy to port 9060. But I tried it without nginx and got the same 503 when trying to auth. The hep5-influx works fine and I can auth with admin/test123 but it seems to use a different backend api.

[2019-01-29 23:52] lmangani commented on #65
Hi Joe,

Indeed, the API between 5 and 7 is entirely different. The latest containers should all work great as-is unless there are errors intializing. Specifically this one should match your setup:

https://github.com/sipcapture/homer7-docker/tree/master/heplify-server/hom7-hep-influx

[2019-01-29 23:59] jmordica commented on #65
Yep so all I did is docker-compose up -d and verified that all the containers started properly. I guess I will need to attach to the container running the api/nodejs server and figure out what is going on with it.

[2019-01-30 00:06] lmangani commented on #65
`docker logs --follow homer-webapp` should do to get an idea

[2019-01-30 05:38] jmordica commented on #65
Everything works fine with hom7-hep-prom-graf

[2019-01-30 10:48] lmangani commented on #65
@jmordica could you pull the latest `sipcapture/homer-app:master` container and try again?

[2019-01-30 11:52] areski commented on #65
@lmangani the last container for `homer-app` have an issue with the migration, see https://github.com/sipcapture/homer-app/commit/929a0454fb007bbec3f46141c3d962619820aad9#diff-528c0c313081bc1040c1262dce60b32c

It would be great if you could push an update!

[2019-01-30 12:53] negbie opened #67 "Limit db results"
Without DB limits and decent datasets you will kill/eat your host memory pretty fast.

FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out of memory
 1: node::Abort() [node]
 2: 0x12190dc [node]
 3: v8::Utils::ReportOOMFailure(char const*, bool) [node]
 4: v8::internal::V8::FatalProcessOutOfMemory(char const*, bool) [node]
 5: v8::internal::Factory::NewStruct(v8::internal::Ins

[2019-01-30 12:56] negbie opened #68 "Errors while adding proto search widget"
From dev console. This is more cosmetic but still doesn't look good.

bundle.js:207152 TypeError: Cannot read property 'error' of undefined
    at bundle.js:348938
    at processQueue (bundle.js:209521)
    at bundle.js:209569
    at Scope.$digest (bundle.js:210704)
    at Scope.$apply (bundle.js:211001)
    at done (bundle.js:204979)
    at completeRequest (bundle.js:205223)
    at XMLHttpRequest

[2019-01-30 13:01] adubovikov commented on #68
did you check the latest master git ? We have removed bad PR this morning.

[2019-01-30 13:31] adubovikov commented on #68
ok, thank you. let us know

[2019-01-30 13:32] negbie opened #69 "Avoid unnecessary api calls"
Without statistics widget there is still one call to
http://localhost:8880/api/v3/statistic/data
on timeframe change. This results in errors when influxdb isn't present.

[2019-01-30 13:39] negbie opened #70 "Multiple errors in transaction window"
Opened a transaction and saw in dev console:

TypeError: data.map is not a function
bundle.js:360599 Uncaught (in promise) TypeError: Cannot read property 'values' of undefined
    at CallDetailQos._configureChart (bundle.js:360599)

[2019-01-30 13:40] adubovikov commented on #70
yes, @lmangani has opened the ticket https://github.com/sipcapture/homer-app/issues/63 for this

[2019-01-30 13:42] negbie opened #71 "Cannot edit data field in Advanced Settings"
Wanted to edit loki server but data field isn't populated

[2019-01-30 13:43] negbie commented on #70
Close duplicate of https://github.com/sipcapture/homer-app/issues/63

[2019-01-30 13:43] #70 closed

[2019-01-30 13:48] negbie commented on #71
Ok after I deleted it and create a new one it's populated.

[2019-01-30 13:48] #71 closed

[2019-01-30 13:57] negbie opened #72 "Preferences route changes"
Clicking from home dashboard preferences once will use route
preferences/users
clicking it again
/preferences
and you will see a empty page

[2019-01-30 14:12] lmangani commented on #69
Confirmed

[2019-01-30 14:33] negbie commented on #69
This gets even worse on a simple timerange change in transaction window and results in 27 calls to
http://localhost:8880/api/v3/search/call/data

![screenshot_20190130_153306](https://user-images.githubusercontent.com/20154956/51988187-6046cd00-24a4-11e9-9f0b-b9cabd26d64f.png)

[2019-01-30 14:49] negbie opened #73 "Option to hide certain heptypes from flow"
Like RTCP

[2019-01-30 14:50] lmangani commented on #73
Shall we add an option to the advanced keyvalue store to control what protocols are part of the tab resolution?

[2019-01-30 14:51] lmangani commented on #65
@areski could you open a separate issue for that with the case details? We'll look in parallel

[2019-01-30 14:53] negbie commented on #73
Sounds like a good way to do it. Just noticed that it could be distracting when you have a lot of different heptypes in one flow.

[2019-01-30 15:47] negbie opened #74 "Add b2b correlation"

[2019-01-30 15:53] negbie opened #75 "Add number normalization by countrycode"
Like in homer5 so you can search for 0123 or +49123

[2019-01-30 16:31] areski commented on #65
Surely, sorry for hijacking this issue!

[2019-01-30 16:34] areski opened #76 "docker update"
the last container for homer-app have an issue with the migration, see https://github.com/sipcapture/homer-app/commit/929a0454fb007bbec3f46141c3d962619820aad9
It would be great if you could push an update!

Additionally it seems the `latest` tag is missing on the last docker images, I'm getting an error when I try to pull homer-app
[code]

[2019-01-30 16:37] lmangani commented on #74
This is already in the works and pending PR/Merge @adubovikov

[2019-01-30 16:57] negbie commented on #76
About tags:
https://cloud.docker.com/u/sipcapture/repository/docker/sipcapture/homer-app/tags

[2019-01-30 17:15] lmangani commented on #76
@areski not sure I understand, this PR is fixing a mis-assignment for the new settings tables - what's the exact error when attempting usage please?

As of the tags in our case they equal the branch you're deploying from. We'll sync latest with master on stable releases as part of the release cycle.

[2019-01-30 17:53] negbie opened #77 "Change timerange to last x min results in Transition Rejection error"
bundle.js:61708 Transition Rejection($id: 37 type: 2, message: The transition has been superseded by a different transition, detail: Transition#58( 'hepic.search'{"protoID":"call","limit":200,"from":1548869533615,"to":1548870133616,"custom":"Last 10 Minutes","timezone":{"value":-60,"name":"Local"},"search":{"1_call":[]},"transaction":{}} -> 'hepic.search'{"protoID":"call","limit":200,"from":154886

[2019-01-31 09:49] areski commented on #76
Sorry my bad when I was trying to update my docker container I was using `docker pull sipcapture/homer-app` instead of `docker pull sipcapture/homer-app:master` and that was trying to pull the `latest` tag.

All good now, the `master` container have the migration fixed.
Thanks for such a great quick feedback!

[2019-02-01 09:53] adubovikov opened #80 "GlobalSettings"
Unfortunately the globalsettings should be loaded before results page will execute search request (SYNC vs ASYNC), because the parameteres are not availble in the scope

[2019-02-01 11:25] adubovikov opened #81 "Wrong notification on Login page."

[2019-02-01 18:36] sergibondarenko opened #82 "new Buffer was deprecated in Node.js 10, remove it from pcap"
[code]

Ref https://nodesource.com/blog/understanding-the-buffer-deprecation-in-node-js-10/

[2019-02-01 19:14] sergibondarenko commented on #80
What is the "results page"?

[2019-02-02 11:17] adubovikov commented on #80
OK. Thanks for this. I will check it asap

[2019-02-09 17:17] #80 closed

[2019-02-10 11:59] negbie commented on #67
Should be fixed by https://github.com/sipcapture/homer-app/pull/89
at least for sip search

[2019-02-21 11:58] khorsmann commented on #50
@lmangani and @adubovikov
Hello,

i still try the same (kamailio and FreeSWITCH as agents) and hom7-hep-influx docker images (today 2019/02/21 version).

Still no luck with X-CID Correlation. Any hints or is that an homer5 only feature at the moment?

[2019-02-22 12:03] adubovikov commented on #50
Hi Karsten,

unfortunately i can only give you an advice and link to the code. You can do any X-CID correlation, and here is the way:

https://github.com/sipcapture/homer-app/blob/master/seeds/02_Mapping.js#L434

you can take any header and make own correlation lookup in any tables:

{
      source_field: 'data_header.callid',
      lookup_id: 5,
      lookup_profile: 'default',
      lookup_field

[2019-03-05 18:02] ognyenius opened #92 "Drop down menu glitch"
"Search results" page column drop down menu:
When column drop down menu is pressed the glitch is appearing below the settings icon in upper right corner of the table

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/47450374/53826562-21aba300-3f79-11e9-9662-b896562cfbfb.gif)

[2019-03-05 18:20] ognyenius opened #93 "Last column menu overflow"
"Search result" page:
When drop down menu for the last column is pressed, it overflows

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/47450374/53827510-97187300-3f7b-11e9-83ca-4605e42aadba.gif)

[2019-03-05 21:19] adubovikov commented on #93
@sergibondarenko can you please take a look at this ?

[2019-03-06 13:12] ognyenius opened #94 "Search Results - Export excel feature is broken"
At the Search Results page in "settings" (upper left corner) drop down menu  "Export visible data as excel" feature is broken

bundle.js:207225 ReferenceError: ExcelBuilder is not defined
    at bundle.js:262583
    at processQueue (bundle.js:209594)
    at bundle.js:209642
    at Scope.$digest (bundle.js:210777)
    at Scope.$apply (bundle.js:211074)
    at HTMLButtonElement.<anonymous> (bundle.j

[2019-03-06 13:28] ognyenius opened #95 "Search Results page - icons overflow"
Search Results page:
When "Group" feature is pressed at the column drop down menu "settings" icon overlaps "plus" (+) icon (at the upper left corner of the table)

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/47450374/53884394-cb437080-401b-11e9-907a-83d20fd2417e.gif)

[2019-03-06 14:20] ognyenius opened #96 "Search Results page - drop down menu jumps"
Search Results page:
When drop down menu above the first column is pressed it jumps to the third column

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/47450374/53887728-2c227700-4023-11e9-831d-60f8a1050aba.gif)

[2019-03-07 14:33] almukhametovd commented on #81
https://github.com/sipcapture/homer-app/pull/97

[2019-03-07 15:39] almukhametovd commented on #94
https://github.com/sipcapture/homer-app/pull/98

[2019-03-08 10:15] #81 closed

[2019-03-08 10:15] #94 closed

[2019-03-08 10:20] adubovikov commented on #67
done

[2019-03-08 10:20] #67 closed

[2019-03-08 10:34] negbie commented on #74
Can be closed since it's handled by heplify-server

[2019-03-08 10:34] #74 closed

[2019-03-08 10:35] #68 closed

[2019-03-08 10:36] #77 closed

[2019-03-08 10:37] negbie commented on #75
I guess it's better to handle this in a postgres function

[2019-03-08 10:37] #75 closed

[2019-03-08 10:38] negbie commented on #61
It guess this is already fixed

[2019-03-08 10:38] #61 closed

[2019-03-08 10:46] adubovikov commented on #24
it has been fixed already

[2019-03-08 12:14] almukhametovd commented on #95
https://github.com/sipcapture/homer-app/pull/99

[2019-03-08 12:14] #95 closed

[2019-03-08 12:39] adubovikov commented on #13
should we close it or move ?

[2019-03-08 12:40] #13 closed

[2019-03-08 13:33] almukhametovd commented on #96
https://github.com/sipcapture/homer-app/pull/100

[2019-03-08 13:33] #96 closed

[2019-03-08 13:33] almukhametovd commented on #93
https://github.com/sipcapture/homer-app/pull/100

[2019-03-08 13:55] adubovikov commented on #92
@ognyenius can you please check if the bug is still valid ?

[2019-03-08 13:57] adubovikov commented on #47
it has been fixed

[2019-03-08 13:57] #47 closed

[2019-03-08 16:05] ognyenius commented on #92
@adubovikov yes. I tested it again. Still shows the same glitch.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/47450374/54039919-67a87700-41c4-11e9-9b93-c2826ce29d79.gif)

[2019-03-08 16:08] ognyenius opened #101 "Version number?"
How can I determine version number for the user interface?

[2019-03-08 16:28] ognyenius commented on #92
@adubovikov Yes. I tested it again. The bug is still unresolved as you can see in the screenshot
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/47450374/54041267-8bb98780-41c7-11e9-8e52-15b4de83fd8f.gif)

[2019-03-08 16:43] ognyenius commented on #93
Issue still not resolved. Would you show me an example of your fix? I tested it again and the last column still overflows.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/47450374/54042105-a4c33800-41c9-11e9-956b-254eef261c28.gif)

[2019-03-08 17:03] almukhametovd commented on #72
https://github.com/sipcapture/homer-app/pull/102

[2019-03-08 17:03] #72 closed

[2019-03-08 17:47] almukhametovd commented on #63
https://github.com/sipcapture/homer-app/pull/103

[2019-03-08 17:47] #63 closed

[2019-03-08 17:51] almukhametovd commented on #93
This PR isn't merged
https://github.com/sipcapture/homer-app/pull/100

[2019-03-08 18:37] almukhametovd commented on #69
https://github.com/sipcapture/homer-app/pull/104

[2019-03-08 18:37] #69 closed

[2019-03-08 18:38] almukhametovd commented on #93
@ognyenius could you please recheck

[2019-03-09 10:26] negbie commented on #101
I would suggest to put it in the footer near "made with ♥ at sipcapture.org"

[2019-03-09 10:35] negbie opened #105 "Failed api call to stats backend"
When you update the timepicker on home dashboard you will see multiple api calls to api/v3/statistic/data no matter if you have configured a stats backend.

![Screenshot_20190309_113025](https://user-images.githubusercontent.com/20154956/54070373-5d878680-425f-11e9-9b32-ec45ed2b438a.png)

[2019-03-11 08:00] adubovikov commented on #101
or just add to the TITLE

[2019-03-11 09:12] adubovikov commented on #93
@ognyenius can you please recheck ?

[2019-03-11 12:53] ognyenius commented on #93
@adubovikov checked. works fine now. thanks!

[2019-03-11 12:53] #93 closed

[2019-03-11 12:54] adubovikov commented on #93
super!

[2019-03-11 13:34] ognyenius opened #109 "Prometheus chart failure"
On Panels:test page
"prometheus chart" seams to be broken

<img width="1033" alt="Screen Shot 2019-03-11 at 14 22 32" src="https://user-images.githubusercontent.com/47450374/54127506-37eab080-440a-11e9-820e-1ce1d240a16f.png">

[2019-03-11 13:36] adubovikov commented on #109
did you test the latest one ? I have pulled today

[2019-03-11 13:48] ognyenius commented on #109
@adubovikov yes. actually I think it is all right now with just a small latency when the chart is loading

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/47450374/54128569-aa5c9000-440c-11e9-9bdb-d0dbc96274d9.gif)

[2019-03-11 13:51] adubovikov commented on #109
this is resizing "post event" How quick data is arriving ?

[2019-03-11 13:52] ognyenius commented on #109
@adubovikov less than 2 seconds

[2019-03-11 13:53] adubovikov commented on #109
please check it in the web console of your browser (F12) -> network tab. If it takes so longer = 2 seconds - probably is something or with backend (Prometheus) or your network

[2019-03-11 14:01] ognyenius commented on #109
It loads fast. Seams to be ok. Probably was something with my network

[2019-03-11 14:15] #109 closed

[2019-03-11 15:24] ognyenius opened #110 "Panels section bug (version 7.0.4)"
When in "Panels" section "Test" is selected and after this we go back to "Home" by pressing HOMER logo in the upper left corner, "Panels" section is showing - Panels: Test instead of Panels: Home

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/47450374/54135281-cdda0780-4419-11e9-8c9c-c7c1e5a02b62.gif)

[2019-03-11 17:12] adubovikov commented on #110
ok. I will assign to Denis, he will check it.

[2019-03-11 17:13] adubovikov commented on #101
so, since we already have version in the title i close the ticket

[2019-03-11 17:13] #101 closed

[2019-03-11 17:14] adubovikov commented on #73
the best way make a drop down menu there you can enable/disable protocols on the flow.

[2019-03-11 17:31] ognyenius opened #111 "Prometheus chart - overlapping symbols (ver 7.0.4)"
At home page - upper left corner of Prometheus chart, number overlaps the vertical line.
See the screenshots for details:

<img width="761" alt="Screen Shot 2019-03-11 at 18 25 20" src="https://user-images.githubusercontent.com/47450374/54144192-7fcdff80-442b-11e9-9e0e-4bc26114db91.png">
<img width="453" alt="Screen Shot 2019-03-11 at 18 22 55" src="https://user-images.githubusercontent.com/474503

[2019-03-12 00:08] #24 closed

[2019-03-13 10:06] mtryfoss opened #112 "Call-Flow: Aliases are not applied to visualization"
Is there a configuration option to ignore port and only group messages by ip when drawing call flows?

[2019-03-13 10:08] adubovikov commented on #112
you can use !5060 or !192.168.10.1 during search. The params means not equals

[2019-03-13 10:09] lmangani commented on #112
I think an Alias for the IP with port `0` would be the approach to group w/o port distinction in general. Good occasion to cross-check.....

[2019-03-13 10:16] mtryfoss commented on #112
Tried adding an alias, but nothing show up. No error, and no response from the request.
Any ideas? Using hom7-hep-influx docker images started up today.

{"alias":"test","ip":"10.10.10.10","port":0,"mask":32,"captureID":"1","status":true}

[2019-03-13 10:23] mtryfoss commented on #112
Never mind my latest post. I had some network issues.

Alias is now added, but i doesn't seem to use it in the call flow?

[2019-03-13 10:30] lmangani commented on #112
Changed the title to reflect the actual issue we should look into, hope that's alright.

[2019-03-13 10:38] mtryfoss commented on #112
No problem. I got this error in browser console when trying to open a call too.

https://gist.github.com/mtryfoss/a41c16a9a495ea596d56927501f0344f

[2019-03-13 13:08] ognyenius opened #113 "Calendar icon - unexpected flashing (ver 7.0.4)"
On Home page - time navigation panel - custom range - there is an unexpected movement of calendar icon. I don't know if it is a real bug but I am reporting it.
See the screenshot below for details:

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/47450374/54281042-30a5dd00-4599-11e9-93ab-6f89ce34da52.gif)

[2019-03-14 12:27] ognyenius opened #114 "Search columns missing (ver 7.0.4)"
When we filter search (home page - call sip search) by entering "Src port" number or "Session ID", more than a half "search columns" aren't visible at the Search Results page
See the screenshot bellow for more details:

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/47450374/54356811-cb1b2480-465c-11e9-9254-aade798da2c8.gif)

[2019-03-14 12:43] ognyenius opened #115 "No "Limit Result" is found in "call sip search" widget (ver 7.0.4)"
In the "call sip search" widget - settings - add from field section, no "Limit Result" option is found at the drop-down menu
See the screenshot for details:

<img width="1272" alt="Screen Shot 2019-03-14 at 13 39 12" src="https://user-images.githubusercontent.com/47450374/54357570-a7f17480-465e-11e9-990d-cd3fe40cd033.png">
<img width="707" alt="Screen Shot 2019-03-14 at 13 39 31" src="https://user

[2019-03-14 17:39] ognyenius opened #116 "Feature request: Restore user defaults (ver 7.0.4)"
It is currently not possible to restore a default dashboards from the user interface.
This could be useful if someone with admin permission changes or overwrites dashboard default settings.

[2019-03-14 17:57] adubovikov commented on #115
confirmed. The fields are from DB only. I will check it

[2019-03-14 19:16] adubovikov commented on #115
https://github.com/sipcapture/homer-app/commit/2fe1fd8d83962b14fbd859ddbd72b780fb063015
fixed please check

[2019-03-14 19:16] #115 closed

[2019-03-14 19:17] adubovikov commented on #114
please check the response of API - if there are all headers

[2019-03-15 13:10] ognyenius commented on #114
[code]

This is the response header

[2019-03-15 13:55] ognyenius opened #117 "Prometheus widget Chart types (ver 7.0.4)"
By testing Chart types at Prometheus widget (home page) I found out that following types are not functional: Area, Bar, Scatter.

See the screenshot for more details:

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/47450374/54436122-38e55000-4732-11e9-9437-eaacd789d60a.gif)

[2019-03-22 14:22] negbie commented on #50
@Gudeen sorry I somehow overlooked this issue. Mby in such case you could open a ticket inside heplify-server repo too. I'm barely watching this repo. Anyway I changed the table name to hep_proto_1_registration so could you please try it again?

[2019-03-24 09:46] negbie commented on #112
@mtryfoss Aliases are currently not implemented. The only thing you can do is to create them in the UI.

[2019-03-26 11:53] Dazez opened #118 "Proto column in search results"
Hello,
When I have searched, for example, a call, column Proto is UDP in all cells. But the calls are over TCP/TLS/WS. I had the same topology with H5 and the same column was filled with "ws" correctly, so I think that this is a bug.

[2019-03-26 14:45] ognyenius commented on #111
This looks well now.

[2019-03-26 14:45] #111 closed

[2019-04-01 15:18] nevian427 opened #119 "Heplify-server and Homer7 call correlation"
Hi,

After some experiments I see Alexander’s advice is not working:
Query execution failed

Reason:
SQL Error [42703]: ERROR: column "data_header.callid" does not exist

If we change mapping to more correct Postgres notation (->>) we again got same error
Query execution failed

Reason:
SQL Error [42703]: ERROR: column "data_header->>'callid'" does not exist

To get it working we need somehow to g

[2019-04-01 15:44] lmangani commented on #119
@nevian427 that's not old, `correlation_id` within the `hep` is used by agents (mostly within or around B2BUAs or RTP Relays) to forward leg correlation when they can, often based on SDP determinations. This offloads the lookup for cases where the link is known already at the source.

[2019-04-01 16:18] nevian427 commented on #119
It's not a HEP chunk, it's (old?) db scheme
https://github.com/sipcapture/homer-app/blob/2fe1fd8d83962b14fbd859ddbd72b780fb063015/server/classes/searchdata.js#L195

[2019-04-01 16:27] lmangani commented on #119
That's not old @nevian427 the content of that field comes out of a `hep` chunk whenever available first hand, or it can be filled by the capture server either. `sid` is just a common unique identifier to host the same function in homer seven

[2019-04-01 16:52] nevian427 commented on #119
But now there is no such column in DB. Is it traces from H5 or future of H7?
I can see such subfield in protocol_header definition but it's not used either (shouldn't heplify fill this?)

[2019-04-01 17:12] lmangani commented on #119
In `H7` the concept is simply non-static. The header can contain any correlation id, and the backend can loop them together regardless of their name. It's an abstraction developers can use with more freedom, particularly when different or multiple correlations methods are required (cross-protocol case)
That's what the `source field` parameter in correlation is for - so anything can be elected to a

[2019-04-14 18:38] dpocock opened #120 "install: root permissions: eslint, knex"
I followed the installation procedure in https://github.com/sipcapture/homer-app/blob/master/docs/dev/README.md

When I run this command during the installation:

npm install -g knex eslint eslint-plugin-html eslint-plugin-json eslint-config-google

it wants to write to /usr/local/bin and /usr/local/lib with root permissions.  The command aborts.

This is for knex and eslint

knex and eslint are n

[2019-04-14 18:40] dpocock opened #121 "call search panel settings: influxdb mentioned but prometheus is being used"
I installed HOMER 7 using Prometheus

When I look at the settings for the default search panel, I see that influxdb is mentioned there.  Prometheus is not an option in the pull down.  The call stats are missing.

[2019-04-14 18:44] dpocock opened #122 "extra search panel vanishes"
The search panel installed by default only searches calls.

I added a registration search panel and used it to make a search.

When I return to the main screen, the registration search panel has vanished and I have to add it again.

[2019-04-14 18:56] dpocock opened #123 "server/config.js includes both influxdb and prometheus"
Both influxdb and prometheus appear to be enabled in server/config.js

It is not clear how to disable one of them when the other is being used.

[2019-04-14 18:57] dpocock opened #124 "display error if database not in good state"
It would be useful if the homer-app web interface displays a prominent error when the database isn't initialized.

[2019-04-14 18:59] dpocock opened #125 "errors on console: stats data has been not found"
[code]

[2019-04-14 19:02] lmangani commented on #121
@dpocock the defaults can't possible take all options into account and ship with generic examples.
Are you able to add a Prometheus Stats widget and display any data there?

[2019-04-14 19:02] dpocock opened #126 "table sort in descending time order sorts by time of first register"
I look at the search results for registrations and I see the first REGISTER messages in the results.

I click to sort in descending time order.

It continues to show old entries, not recent REGISTER messages, although they are sorted in descending order for the time of the first REGISTER message from each client.

This is a little bit confusing.

[2019-04-14 19:03] lmangani commented on #122
@dpocock you need to `save` panels after modifications for them to be retained. This is done from the dashboard menu under the time selection part on the `top-right` of the panel

[2019-04-14 19:03] dpocock opened #127 "web user logged out sometimes"
Sometimes the web user is logged out by a timeout.  Is it possible to eliminate timeouts by default?

[2019-04-14 19:23] lmangani commented on #123
@dpocock both can be used at the same time and more might appear, too. Those are defaults to reach the back-ends and are not used unless a widget specifically attempts to fetch from either. FYI Homer is able to display also data it did not create itself and this is the main reason why this is possible.

[2019-04-14 19:27] lmangani commented on #127
This is not really a logout but rather a session expiration detected upon activity. Each access is governed by a JWT token with a default duration of 1h. I'm not a big fan of non-expiring logins, so I would exclude eliminating this mechanism but I'm happy to extend it if the audience approves.

The expiration value can be modified here at this time: https://github.com/sipcapture/homer-app/blob/mas

[2019-04-14 19:28] lmangani commented on #126
What happens when you click the sorting multiple times?

[2019-04-14 19:29] lmangani commented on #125
This is a simple debug message stating there were no stats found for a session being pulled AFAIK,
If you think this is a symptom for a different issue, please extend with more details about the preconditions of this appearing.

[2019-04-14 19:31] lmangani commented on #124
@dpocock Are you referring to the login page? when the database is not initialized or down, most likely users would be prevented from accessing the system at all.

[2019-04-14 19:42] lmangani commented on #120
@dpocock this is a circumstance only relevant to app developers really, currently impacting all users while we are in pre-release stage excluding those on Docker. The intention is to distribute a prepacked version of `homer-app` next for installation next. Might change the issue title to reflect this perhaps.

[2019-04-15 16:58] dpocock commented on #121
On 14/04/2019 21:02, Lorenzo Mangani wrote:

If I try to edit the stats window it only shows InfluxDB in the
pull-down menu.  It doesn't show Prometheus anywhere when I edit the panel.

Now I've found that I can add a new panel for Prometheus, but when I try
to play with the settings for the new panel, I can't seem to find any
metrics.

When I look in the Prometheus web interface (port 9090) there

[2019-04-30 09:19] Si-Richards opened #128 "Homer7 evaluation - No MoS and no User-Agent"
Homer5 frontend listed UserAgent in the grid-view which is useful.  The MoS score is not clear and on the QoS tab.

Are there plans to build this into Homer7?

[2019-04-30 10:44] adubovikov commented on #128
@Si-Richards good point :-) normaly you can add any header in the https://github.com/sipcapture/heplify-server/blob/master/database/postgres.go#L404-L431
but 100% agree we should add this to the config file. Let us do it ASAP. About MOS score, can you please provide more details ?

[2019-04-30 10:45] adubovikov commented on #128
sb.WriteString("\",\"user_agent\":\"")
 sb.WriteString(h.SIP.UserAgent)

[2019-04-30 10:47] adubovikov commented on #128
https://github.com/sipcapture/heplify-server/commit/a2d4d83e7ea6a9a064078cd0c89e0d43823c78e8

[2019-05-01 11:05] Si-Richards commented on #128
I'm not sure how to interpret the MoS for this call or perhaps i've missed something or need to change the config...

![image](https://user-images.githubusercontent.com/20224397/57014734-433baa80-6c09-11e9-9305-a7f9e0ac497d.png)

[2019-05-06 14:15] lmangani commented on #119
I see activity in the mailing list related to this issue - I would suggest re-testing with the latest codebase and using the included correlation examples for validation - channel any input in here, this is an active issue and will be followed up - Thanks!

[2019-05-07 02:54] qdzhuning opened #130 "The field name couldn't be cofigured at homer7 "Search Results" page"
There's one field name shown as "from_user" at homer7 "Search Results" page. How to let it shown as "From User"? We couldn't find the modified point.

[2019-05-07 13:16] fpiccinin commented on #119
@lmangani can you please provide more details about the configuration needed to acheive the result and where we can find the examples you are referring to?
Thanks!

[2019-05-09 20:21] vandykew commented on #119
How can we do this ?

I am using hom7-hep-prom-graf

[2019-05-14 08:17] vladislavvvvvvv opened #131 "Ldap authentication on Homer 7"
Hello!
How can provide ldap authentication on homer 7 ?

[2019-05-15 08:27] latysheff opened #132 "Direct JSON communication between SIP client and homer-app"
Hi guys, could you explain, is it possible and what steps needed to directly save parsed SIP messages to homer-app? I'm using Node.js [sip](https://www.npmjs.com/package/sip) module, and it would be an overhead to pack/unpack/parse again, using HEP protocol.

[2019-05-15 08:40] lmangani commented on #132
@latysheff the pre-parsed body can be useful for a variety of things and to ease the indexing stage, but unless you have a super-stable and fully predictable JSON schema for your parsed version, and unless can carry the original payload there will be format translations (and field name complexity) even just in order to display traffic in the UI - If you want this to look like SIP you should pack a

[2019-05-15 09:02] latysheff commented on #132
@lmangani most probably I can match requirements you indicated to avoid any additional conversions.

So, currently, some modifications in homer-app are needed? Or it is just configurable?

Options 1 and 3 still have overhead of HEP proto build/parse.

[2019-05-15 09:48] adubovikov commented on #132
IMHO the #2 is the best way in this case, just add an custom HEP ID (you can take any from >1000)
and send it to HEPop or to Heplify-server and it will be inserted  into DB. In this case as we discussed already you have to make a mapping array to display correct names for your fields .

[2019-05-17 10:01] lmangani opened #133 "HEPSUB: Enhancement for Dynamic Values"
Opening this thread for discussion and comments;

HEPSub is currently a prototype and supports a minimal set of parameters for querying pubsub resources, mostly designed to support the current endpoints (cgrates, voipmonitor, loki)

In order for [HEPSub](https://github.com/sipcapture/hepsub) to be really flexible, we either need to send out the full object to be interpreted or let out more paramet

[2019-05-20 11:45] vance-od commented on #119
We started using Homer7, and lack of this feature is quite inconvenient comparing to Homer5.
is there are any estimates when it can be implemented?

[2019-05-20 11:56] adubovikov commented on #119
@vance-od sorry, can you please provide more info what doesn't work for you ?

@nevian427 Are you sure what you have to lookup ID: 5 for correlation ?

`{
source_field: 'data_header.callid', // This is SOURCE field from first table. I.e. SIP-CALL = hep_proto_1_call
lookup_id: 5, // this is DESTINATION lookup table i.e. hep_proto_5
lookup_profile: 'default', // this is profile -> hep_proto_5_defaul

[2019-05-20 12:04] adubovikov opened #134 "new images for wiki"
![Screenshot from 2019-05-20 13-59-14](https://user-images.githubusercontent.com/4513061/58020275-f8c29500-7b07-11e9-9def-ab286d07da4e.png)

![Screenshot from 2019-05-20 14-03-36](https://user-images.githubusercontent.com/4513061/58020321-1b54ae00-7b08-11e9-9b13-b65e7d71437e.png)

[2019-05-20 12:04] #134 closed

[2019-05-20 12:13] adubovikov commented on #119
https://github.com/sipcapture/homer-app/wiki/Examples:-Correlation-MAPPING

[2019-05-20 12:31] adubovikov commented on #131
@vladislavvvvvvv the AUTH is here, need to test it
https://github.com/sipcapture/homer-app/blob/master/server/classes/ldap.js
do you use openLDAP ?

[2019-05-21 06:57] vance-od commented on #119
hi Alex!
thx for the quick reply!
this is definitely what is missing in the Wiki. Our current target is SIP leg correlation
We will give it a try today - and give you feedback

[2019-05-21 07:05] vladislavvvvvvv commented on #131
yes , we use openldap and we try ldap.js. thanks

[2019-05-21 07:56] fpiccinin commented on #119
Hi all, thanks for all the updates about the issue.
Anyway I'm trying to edit mapping settings through web-app but it does not save any changes.
Is there any permissions or flag setting that I need to change?
Thanks

[2019-05-21 08:51] adubovikov commented on #119
@fpiccinin please be sure that your syntax in the editor is correct.

[2019-05-21 10:18] aqsyonas opened #135 "add new mapping: fail to add a living being: insert into "mapping_schema"
I was unable to add new mapping into homer-app. It was giving below error upon saving.

message: "add new mapping: fail to add a living being: insert into "mapping_schema" ("correlation_mapping", "create_index", "create_table", "fields_mapping", "hep_alias", "hepid", "mapping_settings", "partid", "partition_step", "profile", "retention", "schema_mapping", "schema_settings", "version") values (DEFA

[2019-05-21 15:05] adubovikov commented on #135
https://github.com/sipcapture/homer-app/commit/c2e212acd1ad445e07d79e9e5ddad54b1a1364ee

please check

[2019-05-21 15:12] adubovikov commented on #130
@qdzhuning in the mapping schema. Go to Profile->Mapping->SIP call and configure it there

[2019-05-21 15:21] adubovikov commented on #119
https://github.com/sipcapture/homer-app/commit/c2e212acd1ad445e07d79e9e5ddad54b1a1364ee

fixed. Please recheck!

[2019-05-21 17:18] aqsyonas commented on #135
I see adding a new mapping perfectly works fine. But I am unable to delete the added mapping and also changes in added mappings are not getting persistent.

[2019-05-21 17:41] adubovikov commented on #135
What do you see in the web console ?

[2019-05-21 18:15] aqsyonas commented on #135
Upon deletion.

["AppPreferencesMapping"]0: "AppPreferencesMapping"length: 1__proto__: Array(0) "fail to delete advanced settings: The resource isn’t available on this server.

Upon edit.
{guid: null, profile: "default", hepid: 10, hep_alias: "aqsremotetest", partid: 10, …}
bundle.js:208128 PUT http://nyc01.sipcapture.io:88/api/v3/mapping/protocol/ 404 (Not Found)
(anonymous) @ bundle.js:208128
se

[2019-05-21 23:34] saydulk opened #136 "curl: (7) Failed to connect to localhost port 8001: Connection refused"
I am using Amazon Linux. Homer app 7 running well and i have install JWT Web Tokens using
$ npm i jsonwebtoken

to get JWT token when i run

curl -X POST localhost:8001/api/v3/auth \
-d "username=admin&password=password"

it shows curl: (7) Failed to connect to localhost port 8001: Connection refused

8001 port is open but no service is listening

For this i am also getting Error: Something went w

[2019-05-22 08:38] negbie opened #137 "use string for captureId"
Right now captureId could be not only a int but string too. Mappings should reflect that.
https://github.com/sipcapture/homer-app/blob/master/seeds/02_Mapping.js

[2019-05-22 08:48] lmangani commented on #137
AFAIK `captureID` will always be converted to INT and `hepNodeName` will always be converted to CHAR at chunk level when being encapsulated - is this assumption correct @adubovikov

[2019-05-22 08:50] adubovikov commented on #137
it's a good point. Should we just replace captureId with hepNodename if the last exists or add a new field ?

[2019-05-22 09:37] lmangani commented on #137
I think it should be up to the HEP library or client. In `hep-js` for pure testing when `hepNodeName` does not exist in the source, the library will use `captureId` in string format to fill-in, but I'm not even sure this is right for a real-life scenario as it sounds like a server side decision rather. I'd go for no change and leaving it optional for the client to use/send.

[2019-05-22 09:37] negbie commented on #137
I would just use string and convert int to string in the json output.

[2019-05-22 09:40] negbie commented on #137
Clients could send what ever they want. Server needs to convert int to string anyway to form the json header. So I would just change to mapping type to string and in heplify-server change
sb.WriteString(",\"captureID\":")
to
sb.WriteString(",\"captureID\":\"")

[2019-05-22 09:52] negbie commented on #137
Of course this means a schema change but since it's json it's not so painful.

[2019-05-22 10:50] aqsyonas commented on #136
@saydulk you need to change port according to below settings.
https://github.com/sipcapture/homer-app/blob/master/server/config.js#L55
For the wrong credentials, we have replied to you in your previous thread.

[2019-05-22 11:08] adubovikov commented on #137
for mapping - int -> str(text)

[2019-05-22 11:30] negbie commented on #137
type: 'string'

[2019-05-27 09:58] vladislavvvvvvv commented on #119
if I right understand hep_proto_5_default have rtcp information, but not sip information.
Also  heplify-server in default not save x-cid information of sip message in data_header field - save in raw field.

Maybe leg correlation in default case :
  {
    "source_field": "data_header.callid",
    "lookup_id": 100,
    "lookup_profile": "default",
    "lookup_filed": "raw.x-cid",
    "lookup_range":

[2019-05-27 11:35] negbie commented on #119
It seems there is a lot of confusion about the aleg correlation. Just to make sure there is no x-cid field. At least not in heplify-server. Right now there are following protocol_header source_field:
	(`"protocolFamily":`)
	(`"protocol":`)
	(`"srcIp":"`)
	(`"dstIp":"`)
	(`"srcPort":`)
	(`"dstPort":`)
	(`"timeSeconds":`)
	(`"timeUseconds":`)
	(`"payloadType":`)
	(`"captureId":"`)
	(`"capturePass":"

[2019-05-27 11:40] negbie commented on #119
Best way would be if someone could provide a pcap with alegID so we can test it.

[2019-05-27 14:30] adubovikov commented on #135
sorry, guid was null. Please take last git and remove the bad records:

delete from homer_config.mapping_schema where guid is null;

[2019-05-27 19:21] aqsyonas commented on #135
Thanks, I see mapping functions working fine now and will close this issue. I will continue my testing and open another issue if I came across anything else.

[2019-05-27 19:21] #135 closed

[2019-05-27 21:23] adubovikov commented on #135
thank you

[2019-05-28 10:56] vladislavvvvvvv commented on #119
@negbie
ok. I try use correlation id . Siptrace  send  good correlation_id.  In decoder.go h.CID of protoType: 1 I get correlation id (h.CID in decoder.go), but then h.CID was rewritten on CallID and in postgres.go corrid is empty (and not write correlation_id) . In attachments file dump of packets to heplify-server.

[test890.zip](https://github.com/sipcapture/homer-app/files/3227234/test890.zip)

[2019-05-28 23:17] #136 closed

[2019-05-28 23:23] UbuntuEvangelist opened #139 "{"error":"Not found"}"
Looks like the API service might not be running: POST http://homer7.domain.com/api/v3/search/call/data

DNS has been cut over from homer 5 to new homer 7 setup so CaptureAgents should be sending traffic to homer7.domain.com now but not working

![Screenshot from 2019-05-29 05-22-09](https://user-images.githubusercontent.com/1058663/58518637-bd902800-81d1-11e9-97aa-4fca916a2b8c.png)
 503 (Service U

[2019-05-29 07:32] aqsyonas commented on #139
@saydulk github issues are for bug reporting. Please use homer google group for any kind of configuration issue so other people could also get benefit out if it.
Create a thread over there with console logs and whatever info you have.

[2019-05-29 07:41] saydulk commented on #139
@aqsyonas thanks for your response. after report this thread i have seen this thread https://github.com/sipcapture/homer-app/issues/69 which match with my problem and  @lmangani added this as bug label on Jan 30. Also @adubovikov assigned almukhametovd on Mar 8 for this issue #104

[2019-05-29 08:22] lmangani commented on #139
@saydulk this seems completely unrelated to #69
Could you detail best your current status? Is the entire API non functional? Can you login or search?

[2019-05-29 08:25] adubovikov commented on #139
IMHO here is a problem of GET. The API supports POST request and if you just do get - the answer is "NOT FOUND". That we can do: implement GET that will get back data from the call table of last 10 minutes.

[2019-05-29 09:14] TaurusXY opened #140 "SIP call flow display abnormally"
Hello,

I sent some SIP messages towards HOMER7 and checked the SIP call Flow.
Besides the IP address of the last entity can not display entirely, the width of the last two entities is smaller than the front ones obviously. Seems the call flow could not adjust to the screen automatically.
Below is the printscreen. Is this one issue or not?

![image](https://user-images.githubusercontent.com/495037

[2019-05-29 09:16] lmangani commented on #140
Try `hover` the hidden item, it should display. This definitely needs improvement.

[2019-05-29 09:32] qdzhuning opened #141 "The “Timezone” function didn't work."
When we set the "Timezone" to "GMT+8 CCT", the create_data is "2019-05-29 10:22:49.000 +0800".
If we change the  "Timezone" to "GMT-1",  the create_data is still "2019-05-29 10:22:49.000 +0800".
So it seems the timezone function didn't work well.

[2019-05-30 00:38] TaurusXY commented on #140
Thanks for your info! Yes, when the mouse point enters the element, the IP address can be displayed entirely.

[2019-05-30 09:08] qdzhuning commented on #141
![New Bitmap Image](https://user-images.githubusercontent.com/50348863/58622103-71da9d00-82fd-11e9-8e36-4a398f1ebf2e.jpg)

[2019-05-30 09:49] lmangani commented on #141
Hi - Internally all data is in UTC format as you can see, so the display part should not change.
For clarity, could you confirm if when you change timezone, you get the *exact* same results out?

[2019-05-30 09:55] #140 closed

[2019-05-30 09:56] lmangani commented on #137
This seems to have been satisfied as implemented with `hepNodeName` can we close this issue?

[2019-05-31 01:09] qdzhuning commented on #141
We change the timezone from one to another, we could get the exact same results out.
Please see below two pictures.

![Uploading 1.jpg…]()

[2019-05-31 01:12] qdzhuning commented on #141
![New Bitmap Image](https://user-images.githubusercontent.com/50348863/58674824-25867000-8384-11e9-92c5-54f0f3e0ac2f.jpg)
![1](https://user-images.githubusercontent.com/50348863/58674834-36cf7c80-8384-11e9-9b29-f455e0b56409.jpg)

[2019-06-01 14:48] lmangani commented on #137
Reopen if needed ;)

[2019-06-01 14:48] #137 closed

[2019-06-03 11:18] vladislavvvvvvv commented on #119
To @negbie
In siptrace of kamailio  (client side) we send correlation_id like sip_trace("sip:10.1.1.2:5085", "$bleg_cid");
On server side we get in decoder.go correlation_id in h.CID then in sip.go set up h.CID=h.SIP.CallID, if  heplify-server didn't get XCallID (in this moment we break our correlation_id for insert into database).
Maybe need set up push request for changing in sip.go ?
before  ch

[2019-06-03 11:34] saydulk commented on #139
@adubovikov is GET implemented as you says ?

[2019-06-03 11:50] negbie commented on #119
Hi @vladislavvvvvvv
sorre for the delay but had to finish some other stuff but now I have some time to assist you. I've changed the handling to this
https://github.com/sipcapture/heplify-server/blob/master/decoder/sip.go#L23

[2019-06-04 07:04] vladislavvvvvvv commented on #119
@negbie
Thank you.
Now we see correct draw the flow  b_leg with a_leg, thanks to fix the correlation_id.

[2019-06-04 08:59] vladislavvvvvvv commented on #119
But have another problem with homer-app (about leg correlation),
if I set in mapping settings - call SIP with parameters
{    "source_field": "data_header.callid",
    "lookup_id": 1,
    "lookup_profile": "call",
    "lookup_field": "sid",
    "lookup_range": [
      -300,
      200]  }
I have result with some duplicate message of sip such as:
215019 | 04-06-2019 | 11:01:27.282 | 0.000s | 407 | 5

[2019-06-04 09:00] vladislavvvvvvv commented on #119
But have another problem with homer-app (about leg correlation),
if I set in mapping settings - call SIP with parameters
{ "source_field": "data_header.callid",
"lookup_id": 1,
"lookup_profile": "call",
"lookup_field": "sid",
"lookup_range": [
-300,
200] }
I have result with some duplicate message of sip such as:
215019 | 04-06-2019 | 11:01:27.282 | 0.000s | 407 | 505 | 127.0.0.1 | 5061 | 127.0.0.

[2019-06-06 14:02] adubovikov commented on #131
It should work for TLS because ldapjs has ssl support. Can you please check?

[2019-06-06 14:46] adubovikov commented on #131
var tlsOptions = {
// This is necessary only if the server uses the self-signed certificate
ca: [ fs.readFileSync('/etc/ldap/cacert.pem') ]
};

var ldap = require('ldapjs');
var client = ldap.createClient({url: 'ldaps://plat.com:636',tlsOptions: tlsOptions});

[2019-06-06 14:46] adubovikov commented on #131
can you check that code ? if it works, I will add

[2019-06-06 14:49] adubovikov commented on #131
Or  this way:

var options = {
    'rejectUnauthorized': false,
};

var client= ldap.createClient({
    url: 'ldap://127.0.0.1:389'
    tlsOptions: options
});

client.starttls(options,[], function(err) {
    console.log('inside the starttls callback');
    client.bind('cn=admin,dc=example,dc=com', 'admin',callback );
});

[2019-06-07 09:11] vladislavvvvvvv commented on #131
the best work way is second variant
 var options = {
'rejectUnauthorized': false,
};

var client= ldap.createClient({
url: 'ldap://127.0.0.1:389'
tlsOptions: options
});

client.starttls(options,[], function(err) {
console.log('inside the starttls callback');
client.bind('cn=admin,dc=example,dc=com', 'admin',callback );
});

[2019-06-07 11:41] hafkensite opened #143 "Feature request: Export pcap for search on IP"
We are currently using the HOMER 5 [`/api/v1/search/export/data/pcap`](https://github.com/sipcapture/homer-api/blob/master/api/RestApi/Search.php#L785) endpoint to get a pcap file with all captured packets from/to an IP within the last hour. We use the `orand` search parameter to use it IP in both the source and destination fields.

Sadly this endpoint has changed in HOMER 7. The only endpoint I c

[2019-06-10 08:26] qdzhuning opened #144 "question about the value of "Limit Query"."
Hi,

I found the value of "Limit Query" keep change same value in different widget.
Could you please check if this is one issue or enhancement needed?
Here is the procedure to reproduce this phenomenon:

1. We wrote "2222" in "Limit Query" field of "call sip search" widget,
2. Meanwhile, the"Limit Query" field of "log search" widget changed to same value("2222").
<img width="567" alt="Capture" src

[2019-06-11 06:02] TaurusXY opened #145 "filter could not be cleared after back to the Home page and search again"
Hi,

I found the filter could not be clear after back to the Home page and search again.
Could you please check if this is one issue or enhancement needed?
Here is the procedure to reproduce this phenomenon:
Step1, type in some filter, take the "Destination Host" as an example.
![step1](https://user-images.githubusercontent.com/49503708/59247178-1390b100-8c51-11e9-9643-5663d2788b3e.png)

Step2, Ba

[2019-06-11 13:42] lmangani commented on #145
Hi @TaurusXY this is actually intentional and part of the "grid" settings persistence. It allows users to extend the query (and table) with additional results without loosing the previous settings, unless manually removed.

Perhaps we should extend the `clear` form button to also clear grid filters? Community speak out ;)

[2019-06-12 14:41] teeby commented on #131
Hi.
I see my ldap.js file but I don't see what to do with this file.
Would you be so kind as to provide the list of files that need to be amended to specify authentication to be done by ldap and examples of the settings in those files?

[2019-06-12 15:09] teeby opened #146 "No horizontal scroll on search results"
Hi
After I run a search I find all the columns are crushed small to fit them all on the page. I see I can turn the columns on and off to reduce the number of columns. If I want lots of columns and to see all the data in the column by expanding their size, the last column disappears off the page and there is no horizontal scroll bar.  I can make the main window bigger but this is only useful for a

[2019-06-13 03:29] qdzhuning opened #147 ""Search" function work abnormally after change protocol and profile at widget setting page."
Hi,
We found "search" function work abnormally after change protocol and profile at widget setting page.
Could you please check if this is one issue or enhancement needed?
Here is the procedure to reproduce this phenomenon:

1. Keep the default values of "Proto" (SIP) and "Profile"(call) at widget settings page.
2. Then, click "Search" button. The data of "1_call" tables were shown.
3. Change the

[2019-06-13 06:04] qdzhuning opened #148 "Two "Limit Query" fields appear in field list after change protocol and profile at widget setting page."
Hi,
We two "Limit Query" fields appear in field list after change protocol and profile at widget setting page.
Could you please check if this is one issue or enhancement needed?
Here is the procedure to reproduce this phenomenon:

1. Keep the default values of "Proto" (SIP) and "Profile"(call) at widget settings page.
2. Change the values of "Proto" (SIP) and "Profile"(call) to  "Proto" (LOG) and

[2019-06-13 06:16] qdzhuning opened #149 ""Limit Query" keep same value even in different widget"
Hi,

We found the value of "Limit Query" keep same value even in different widget.
Could you please check if this is one issue or enhancement needed?
Here is the procedure to reproduce this phenomenon:

1. We wrote "500" in "Limit Query" field of "call sip search" widget.
2. Meanwhile, we found the"Limit Query" field of "log search" widget changed to same value("500").
<img width="948" alt="Captur

[2019-06-13 06:49] adubovikov commented on #149
The problem is here the such values are universal and have same name. Is it a problem or just a discomfort ?

[2019-06-13 07:44] qdzhuning commented on #149
@adubovikov @lmangani Since the "Limit Query" field is in different widget according to different protocol configuration, we think it should keep same behaviour as other fields in different widget.
For example, "Src Port" field.
If we change "Src Port" field in "call sip search" widget, the same name field in "log search" widget will not change.

[2019-06-13 08:00] qdzhuning opened #150 "The panel name was shown wrong after click back the logo Homer"
Hi,

We found the panel name was shown wrong after click back the logo Homer.
Could you please check if this is one issue or enhancement needed?
Here is the procedure to reproduce this phenomenon:

1. Log in the default panel "Home", and the panel's name is "Home".
<img width="713" alt="1" src="https://user-images.githubusercontent.com/50348863/59414559-4c1cc000-8df4-11e9-8107-b28d1fae98a6.PNG">

[2019-06-13 11:13] adubovikov commented on #149
@qdzhuning can you please check the branch "fix_limit" ? We have fixed the issue. I hope :)

[2019-06-13 11:14] adubovikov commented on #148
fixed in the branch "fix_limit". Please check!

[2019-06-13 11:17] adubovikov commented on #144
I think we can close this ticket, since you have opened another two

[2019-06-13 11:17] #144 closed

[2019-06-13 11:21] adubovikov commented on #131
@teeby you have to open config.js and put ldap url information to the URL of ldapauth object.

https://github.com/sipcapture/homer-app/blob/master/server/config.js#L45-L53

[code]

after the auth local should false and ldap param have to be true

https://github.com/sipcapture/homer-app/blob/master/server/config.js#L65
[code]

[2019-06-14 05:38] qdzhuning opened #151 "question about "create_data" format in message-details page"
Hi,

We found the "create_data" format wasn't normal data format(for example: yyyy-MM-dd HH:mm:ss) in message-details page.
Could you please check if this is one issue or enhancement needed?
Here is the procedure to reproduce this phenomenon:

1. At "Search Results" page, click "id" field in one message, then get the Message page.
2. In Message "Details" page, the "create_data" was "1560146712630"

[2019-06-14 07:08] lmangani commented on #151
Thanks for the report @qdzhuning

That's simply a timestamp detail. The information in the "DETAILS" tab in unchanged/raw and not intended for interpolation or printing formats. The actual date, is displayed in the flow.

[2019-06-14 07:08] #151 closed

[2019-06-17 01:44] qdzhuning commented on #148
@adubovikov Thanks a lot! This issue has been fixed in branch "fix_limit" after checked. Do you have any plan to merge this code change to master branch?

[2019-06-17 01:44] qdzhuning commented on #149
@adubovikov Thanks a lot! This issue has been fixed in branch "fix_limit" after checked. Do you have any plan to merge this code change to master branch?

[2019-06-17 01:46] qdzhuning commented on #141
@adubovikov Do you have any update for this issue? Thanks a lot.

[2019-06-17 03:16] qdzhuning opened #152 "Search field didn't be clear automatically after change protocol and profile at widget setting page."
Hi,
We found search field didn't be clear automatically after change protocol and profile at widget setting page.
Could you please check if this is one issue or enhancement needed?
Here is the procedure to reproduce this phenomenon:

1. Keep the default values of "Proto" (SIP) and "Profile"(call) at widget settings page.
Here were four search fields:  Src IP, Src Port, Dest IP, Dest Port.
<img wid

[2019-06-17 03:18] qdzhuning commented on #147
I closed this issue because it was same with #152

[2019-06-17 07:07] adubovikov commented on #148
https://github.com/sipcapture/homer-app/commit/a433f5317dbe1f3671fb6bcdc4781a4db30c4009

done

[2019-06-17 07:07] #148 closed

[2019-06-17 07:07] adubovikov commented on #149
yes, I will merge it ASAP ;-)

[2019-06-17 07:07] adubovikov commented on #149
https://github.com/sipcapture/homer-app/commit/a433f5317dbe1f3671fb6bcdc4781a4db30c4009
done

[2019-06-17 07:07] #149 closed

[2019-06-17 07:10] adubovikov commented on #139
will finish it today

[2019-06-17 09:34] qdzhuning commented on #147
Sorry type error, it shouldn't be closed because it hasn't been fixed.

[2019-06-17 10:04] Demon-DK opened #154 "hepsub mapping schema error"
I'm using default deploy of following stack in the docker images:
- image: sipcapture/heplify:master
- image: sipcapture/heplify-server:master
- image: sipcapture/homer-app:master
- image: postgres:10-alpine

In the postgreSQL log I'm constantly observe the following error which is caused as I think by heplify-server calls:
[code]
But in the heplify-server repo I got the note that this is related

[2019-06-18 22:29] Demon-DK opened #155 ""search" function issue related to range filters"
I'm using default deploy of following stack in the docker images:
[code]

The issue is simple to reproduce
1) Make call (_e.g. for the case below at 1:13:43_)
2) Go to the web interface and try to find latest
3) If you have time range filter is set as **"last hour"** you will not find it
![Screenshot_1](https://user-images.githubusercontent.com/25489257/59724079-59d9a780-9231-11e9-9633-97ab352067d

[2019-06-19 17:04] gedia commented on #146
It would also be great if font size for the search results page could be selected in user's settings page. I think the default font size in homer7 leads to much less information density than in homer5.

[2019-06-19 18:47] lmangani commented on #146
@gedia please open a feature request! We're absolutely open to suggestions from users.

[2019-06-20 01:59] qdzhuning opened #156 "search filter didn't be clear automatically after search another protocol date"
Hi,

We found the search filter didn't be clear automatically after back to the Home page and search another protocol data.
Could you please check if this is one issue or enhancement needed?
Here is the procedure to reproduce this phenomenon:
1. In Home page, click "SIP" search button. Then, type in some filter in search result page, take the "sport" as an example.
<img width="666" alt="1" src="ht

[2019-06-20 02:01] qdzhuning commented on #152
@lmangani @adubovikov Hello, do you have any idea for this issue? Thanks a lot.

[2019-06-20 09:20] qdzhuning opened #157 "fields appeared twice in field list after change protocol and profile at widget setting page."
Hi,
We found fields appear twice in field list after change protocol and profile at widget setting page.
Could you please check if this is one issue or enhancement needed?
Here is the procedure to reproduce this phenomenon:

1. Keep the default values of "Proto" (SIP) and "Profile"(call) at widget settings page.
2. Change the values of "Proto" (SIP) and "Profile"(call) to  "Proto" (LOG) and "Profi

[2019-06-21 06:55] qdzhuning opened #158 "SIP message couldn't be shown fully in Flow page."
Hi,
We found SIP message couldn't be show fully in Flow page.
Could you please check if this is one issue or enhancement needed?
Here is the procedure to reproduce this phenomenon:

1. Click one SIP message and the Flow page was shown. The message was shown as "INVITE sip:+17053200".
2. Click this message at flow page, we found the message should be shown as "INVITE sip:+17053200002@imsate.lucentl

[2019-06-21 08:38] qdzhuning opened #159 ""Limit Query" value didn't be clear after click "Clear" button at widget page."
Hi,
We found "Limit Query" value didn't be clear after click "Clear" button at widget page.
Could you please check if this is one issue or enhancement needed?
Here is the procedure to reproduce this phenomenon:

1. Set "Limit Query" value to 10, click "Search" button, we got 10 items in search results page.
2. Came back to Home page and click "Clear" button. Then, click "Search" button, we still g

[2019-06-21 09:11] adubovikov commented on #158
There is not enough space to display full URL, therefore it was limited to 20 characters, we can change it to 50 if it's so critical :-)

[2019-06-21 09:14] adubovikov commented on #154
Looks like you didnt create some tables during installation. Please check the homer_config DB

[2019-06-21 09:29] Demon-DK commented on #154
Right, mentioned table isn't exist in DB.
As I understand heplify-server during start had to create it, hadn't it ?
I can also recheck this behavior in older versions.

[2019-06-21 09:31] qdzhuning commented on #158
@adubovikov We propose change it to 50 characters because it's one important information.

[2019-06-21 09:40] lmangani commented on #158
We can get the full string and have use CSS `text-overflow` do the limiting

[code]

[2019-06-21 09:43] adubovikov commented on #154
heplify-server will create tables only for data, the users/configs tables you should create during homer-app install - knex:
https://github.com/sipcapture/homer-app/blob/master/docs/dev/README.md

[code]

and after

[code]

[2019-06-21 09:49] adubovikov commented on #154
sorry, can you run:

`knex seed:make 06_HepSubmapping
`

[2019-06-21 09:54] Demon-DK commented on #154
So, in any case this tasks are manually and doesn't tailored in container deployment, right.

I can try yo automate it during compose or kubernetes command arguments, but exactly these db's were created by server:
* homer_config
* homer_data

The issue is that it doesn't create exactly this "hepsub_mapping_schema".

[2019-06-21 09:57] lmangani commented on #154
@Demon-DK I'm working on a method to update the containers tables by mounting the scripts in a standalone container for that purpose, right now changes would only be reflected on a new setup when CI rebuilds the baseline.

[2019-06-21 10:04] adubovikov commented on #154
it looks like need find a best way for knex/update

[2019-06-21 10:13] adubovikov commented on #154
@Demon-DK can you please show the result of:

knex migrate:currentVersion

[2019-06-21 10:19] Demon-DK commented on #154
@adubovikov

Sure
[code]

[2019-06-21 11:38] adubovikov commented on #158
https://github.com/sipcapture/homer-app/commit/46ae654d59d2643c323bf2eae260b00685395334

[2019-06-21 11:39] adubovikov commented on #158
should be ok

[2019-06-21 11:41] adubovikov commented on #154
not good - the version should be

[code]

if you do:

[code]

what are you getting ?

[2019-06-21 17:45] aqsyonas commented on #155
@Demon-DK i was unable to reproduce it, could you try it on the latest build.

[2019-06-23 20:40] Demon-DK commented on #154
**# kubectl exec -it homer-web-server -- knex migrate:latest**
[code]

**# kubectl exec -it homer-web-server -- knex seed:run**
[code]

[2019-06-23 20:58] Demon-DK commented on #155
Yeap, but actually I am already using the latest as you can see.
```image: sipcapture/homer-app:master```

At their docker hub there are no tag **latest** only **master** tag is the latest one.

[2019-06-24 09:37] qdzhuning opened #161 "$$hashKey was shown at Details page of Message ID"
Hi,
We found $$hashKey was shown at Details page of Message ID while there was no this field at database.
Could you please check if this is one issue or enhancement needed?
Here is the procedure to reproduce this phenomenon:

1. Click one SIP message by sid,then the Call-ID page was shown.
2. Click one item at the Call-ID page, we found $$hashKey was shown at Details page of Message ID.
<img width

[2019-06-25 14:27] adubovikov commented on #161
this is object that existing in your "Message" tab. Normaly should be skipped

[2019-06-25 18:17] adubovikov commented on #161
no no, it should not be closed, just skipped the haskey to display. Leave it to me

[2019-06-26 01:00] qdzhuning commented on #161
@adubovikov  I changed below source code of homer-app and the $$hashKey has been hided.

homer7-app/public/app/search/call-message-detail/controllers/call-message-detail.controller.js
<img width="357" alt="1" src="https://user-images.githubusercontent.com/50348863/60143431-ca179880-97f0-11e9-822c-3c8b9f65e67c.PNG">
<img width="398" alt="2" src="https://user-images.githubusercontent.com/50348863/60

[2019-06-26 01:16] qdzhuning opened #162 ""Date", "Time" and "Diff" fileds shew abnormally when click one item at the Call-ID page"
Hi,
We found "Date", "Time" and "Diff" fileds shew abnormally when click one item at the Call-ID page.
Could you please check if this is one issue or enhancement needed?
Here is the procedure to reproduce this phenomenon:

1. Click one SIP message by sid,then the Call-ID page was shown.
<img width="512" alt="1" src="https://user-images.githubusercontent.com/50348863/60143897-064bf880-97f3-11e9-804

[2019-06-26 03:36] qdzhuning commented on #162
Sorry for  mislead. It caused by private code change.

[2019-06-26 03:36] #162 closed

[2019-06-26 05:45] aqsyonas commented on #161
@qdzhuning Ah, great.

[2019-06-26 06:55] qdzhuning commented on #141
@adubovikov  Would you mind sharing us any idea about how to fix this issue?

[2019-06-28 06:16] aqsyonas commented on #141
@qdzhuning thanks for reporting the issue. We are working on your request.

[2019-06-28 06:22] aqsyonas commented on #154
@Demon-DK looks like tables were created during the previous installation. Could you try to manually remove them and then run above-mentioned commands.

[2019-06-28 09:23] qdzhuning opened #163 "search field shows uncomfortable when add more fields at widget"
Hi,
We found search field shows uncomfortable when add more fields at widget.
For example, the "clear" and "Search" buttons cover the search field after we added more field in the search list.
We know we could pull the widget page down to resolve this issue manually.
It will great if it could self-adaption, I mean, adjust the widget page to suitable size based on fields' amount automatically.

<im

[2019-06-28 09:54] adubovikov commented on #163
thanks for report!

[2019-07-03 09:51] adubovikov commented on #146
https://github.com/sipcapture/homer-app/commit/4e6c3a0ca170c1885e9c84a41c068582c138a0f7
Should be fixed!

[2019-07-03 21:09] init-0 commented on #112
Any update on this?  I am in the middle of a migration to Homer 7 and this is a pretty important feature for us.

[2019-07-04 08:11] aqsyonas commented on #112
@init-0 we are working on your request. Thank you for your patience

[2019-07-04 13:36] #158 closed

[2019-07-04 13:36] adubovikov commented on #157
I think the issue has been fixed in the last git

[2019-07-04 13:37] adubovikov commented on #154
Did you recreate it ?

[2019-07-04 13:39] adubovikov commented on #131
any feedback ?

[2019-07-04 13:46] adubovikov commented on #146
unforuntately UI-grid doesnt support this well: you will have some space if the sum of column's widths is less then the width of grid. In this case you have to do resize it manualy

[2019-07-04 14:12] adubovikov opened #169 "Ui-grid takes not full space"
UI-Grid has some CSS issues and has an empty space. Need to remove it.
![Screenshot from 2019-07-04 16-11-46](https://user-images.githubusercontent.com/4513061/60672766-7a7f3f80-9e76-11e9-847d-c5a4c9192759.png)

[2019-07-05 06:13] vladislavvvvvvv commented on #131
Hello! As I wrote 28 days for us best working second variant by tls and no problem with ldap connections.

[2019-07-05 06:13] vladislavvvvvvv commented on #119
Hello! Have any news about duplicate sip messages ?

[2019-07-05 06:34] adubovikov commented on #119
In the correlation mapping you do a second request that retrieve same sip
session (same calif in the sid). If you tell us that exactly you are trying
to do, we can give you an advise.

Wbr,
Alexandr

On Fri, 5 Jul 2019, 08:14 vladislavvvvvvv <notifications@github.com> wrote:

[2019-07-05 06:40] vladislavvvvvvv commented on #119
I want see sip messages for A leg with B leg when I use correlation id. Correlation id I have in database. When I use mapping settings
{ "source_field": "data_header.callid",
"lookup_id": 1,
"lookup_profile": "default",
"lookup_field": "sid",
"lookup_range": [
-300,
200] }
I didn't see b-leg . When I use in settings "lookup_profile": "call" - we see b-leg but with some duplicate sip messages. How

[2019-07-05 07:15] adubovikov commented on #131
oki, I will check and add this as an option. Thank you.

[2019-07-05 12:58] Demon-DK commented on #154
Yes, I've tried but without success.
Actually for every new test I'm typically recreating new container so I'm checking every suggestions from the scratch

[2019-07-05 14:05] adubovikov commented on #154
@lmangani can we please check if the table agent_location_session has been created in the container ?

[2019-07-08 06:34] aqsyonas commented on #119
@vladislavvvvvvv as said before it looks like you are doing a lookup for the same leg again. Check your data_header and adjust your query accordingly.

[2019-07-09 15:12] adubovikov commented on #131
https://github.com/sipcapture/homer-app/commit/6d34d74ff84e2411e96e32cd89f4f6c6ea202438

@vladislavvvvvvv can you please check the changes ?

[2019-07-10 08:37] vance-od commented on #131
Alex, thank you for the change you've done, at the moment @vladislavvvvvvv is on vacation atm,
we will try to check earlier, but if no free time it will be checked in 1.5 weeks - July 22

[2019-07-10 08:42] aqsyonas commented on #131
Thanks, @vance-od.

[2019-07-10 15:32] adubovikov commented on #131
so, it works in our setup. Closing the ticket, please repopen if needed

[2019-07-10 15:32] #131 closed

[2019-07-10 15:33] adubovikov commented on #161
@qdzhuning can you please do a PR ?

[2019-07-11 11:05] aqsyonas opened #171 "In alias tab cannot save unless you mark status true"
While adding new alias from UI, I see it does not let you save unless you check status button. This will be good in cases where you just want to add alias but active them later.

![alias button](https://user-images.githubusercontent.com/49914149/61046027-92663e80-a3f5-11e9-86ab-acad363542cf.PNG)

[2019-07-16 07:05] hafkensite commented on #143
Can you give any indication as to when API endpoint will be implemented?

[2019-07-16 07:38] aqsyonas commented on #143
@hafkensite We will update this ticket once mentioned feature is implemented. Thanks for your patience.

[2019-07-16 13:07] adubovikov commented on #169
https://github.com/sipcapture/homer-app/pull/172

fixed

[2019-07-16 13:07] #169 closed

[2019-07-23 12:15] hafkensite opened #176 "Feature request: API endpoint for pcap export based on search"
We require an API endpoint that returns search results for an account in PCAP format. Possibly spanning multiple tables, so that we can get all messages based for an account.

The account id could be in the from/to or authentication headers

[2019-07-29 09:16] adubovikov commented on #176
@hafkensite so, normaly you would like get make first API request, receive all callids and second send a request with callid that return pcap ?

[2019-07-30 08:51] lmangani commented on #133
According to the latest HEPSUB standard, the Server component should send an array of "transactions" for lookups formed as an array:
[code]

HOMER needs to be updated to conform in order for all clients to be unified.

[2019-07-30 08:57] judyQD opened #177 "how to show Tabs QoS and Logs in Homer7 app"
use homer7, but in homer-app webpage, there is no QoS and Logs shown in page. How to config it to make them visibility?

[2019-07-30 09:06] lmangani commented on #177
Hi @judyQD the QoS and Logs tab only show up when there's corresponding data. So this would most likely suggest you're not capturing or streaming any RTCP stats or logs.

Feel free to share your configuration, but closing as this is not an issue rather a condition.

Thanks!

[2019-07-30 09:06] #177 closed

[2019-07-30 09:11] judyQD commented on #177
@lmangani Thanks very much for your support. Yes, this is not a issue.
But I am wondering if I just install homer 7 with heplify-server docker image, webapp docker image and Postgres docker image. Will my homer 7 be with the function to show tab qos and logs?
Or in other words, do I need some other special packages to support show these two function?

[2019-07-30 09:51] lmangani commented on #177
It's all about the HEP agents and what they're sending. So it depends on your capture setup, not just the collector part.

[2019-07-31 07:29] rsanting commented on #176
@adubovikov I work together with @hafkensite, we would like an endpoint that gives all messages that contain a specific account over a period of time. This would mostly be used for accounts that are unable to register for example. The per callid function would be nice as an additional functionality.

[2019-07-31 08:00] adubovikov commented on #176
@rsanting but this functionality already exists - just send a 2 API calls and receive pcap. I am working now on the documentation in the swanger branch, if somebody can help migrate to hapi 18, the documentation will be ready early....

[2019-07-31 08:36] rsanting commented on #176
@adubovikov @hafkensite is away from the office for a few more days, I am not 100% sure if I understood him correctly if this functionality already exists. Maybe we can wait for his response when he is back?

[2019-07-31 10:41] #171 closed

[2019-08-06 05:15] judyQD commented on #177
@lmangani Thanks for your kind reply.
If I want to show logs in my webapp, do I need install influxDB? Here is my configuration: heplify + postgres + webapp. Do my configuration can meet the requirement to show logs tab in webapp?
Looking forward to your support.

[2019-08-06 08:45] lmangani commented on #177
Anyone w/ this doubt, please validate your setup using `hepgen.js` and you will be able to tell if the QoS and Logs work: https://github.com/sipcapture/hepgen.js/blob/master/README.md#run

[2019-08-15 05:47] lauraliq opened #179 "Date disappear when remove hour or minute during selecting time range in Custom Range"
![Time range select](https://user-images.githubusercontent.com/38939679/63074936-4b261d00-bf62-11e9-8ec3-1b5225555b3c.jpg)
Hello, when I choose Custom Range to select the time range on HOMER7, I encountered a problem. That is when I remove the number shown in hour or minute frame to change the time, the date which shown above the hour frame disappear. I uploade the screeshot for it. Could you plea

[2019-08-15 06:58] aqsyonas commented on #179
@lauraliq, I don't think this a bug, since it needs to adjust according to new values that is why it disappears unless you enter new correct values. Did it appear correctly when you enter the right values?

[2019-08-15 07:50] lauraliq commented on #179
Yes, that's right. But it's confused that when I remove the number in seconds frame, the date is still there. i mean the behavior is different between remove hour/minute and seconds.
![seconds selection](https://user-images.githubusercontent.com/38939679/63080694-52562680-bf74-11e9-9168-f42e41dbbd0b.jpg)

[2019-08-15 08:18] aqsyonas commented on #179
@lauraliq, thanks, I will add this to enhancement bucket.

[2019-08-15 08:20] lauraliq commented on #179
@aqsyonas That's great! Thanks so much!

[2019-08-15 09:02] lauraliq opened #180 "All the items in Admin Settings(users/alias...) cannot be deleted"
Just take the items in alias for example, i can add and update the items, but cannot delete it. And the logs in console say that "fail to delete user: fail to delete user: fail to delete a living being: The operator "undefined" is not permitted". Could you please help to check this?
![图片](https://user-images.githubusercontent.com/38939679/63084712-656df400-bf7e-11e9-8a09-60cbd3103a0e.png)

[2019-08-15 10:07] aqsyonas commented on #180
@lauraliq thanks for reporting this.

[2019-08-19 03:30] judyQD commented on #154
@Demon-DK @lmangani @adubovikov any update for this issue? We have met the same error too. Thanks.

[2019-08-19 06:53] charliye commented on #112
hi all, Could anyone tell me whether this bug/enhancement has been resolved?

[2019-08-19 07:18] lmangani commented on #154
I just forced a full rebuild and pushed a new image to docker hub - could you try from scratch?

[2019-08-19 07:20] aqsyonas commented on #112
@charliye yes, this is fixed in below commits.

https://github.com/sipcapture/homer-app/commit/3160b8210c6df39a3a18adce7b9059ca535f2732
https://github.com/sipcapture/homer-app/commit/d3ccc0159e081ce18069bba5cf16e8a5717b1be0

[2019-08-21 02:07] judyQD opened #182 "Question: I am using Homer-app with https, but always get the error about ssl3_read_bytes:sslv3 alert certificate unknown"
I use the config https port to 443. But when app server start, using https://<IP>:443 to access homer, will get the error info in console log as below:
Server started
Debug: connection, client, error
    Error: 140437753862016:error:14094416:SSL routines:ssl3_read_bytes:sslv3 alert certificate unknown:../deps/openssl/openssl/ssl/s3_pkt.c:1494:SSL alert number 46
140437753862016:error:140940E5:SSL

[2019-08-21 02:10] judyQD commented on #182
Or how to config webapp with HTTPS? As my problem happened when I want to config webapp with HTTPS. Thanks

[2019-08-21 02:40] lauraliq commented on #180
@adubovikov Hello, is there any clue for this issue? Thanks a lot!

[2019-08-21 06:13] aqsyonas commented on #180
@lauraliq we are working on your request. Thanks for the patience.

[2019-08-21 06:15] lauraliq commented on #180
Thanks much for your support!

[2019-08-21 06:18] aqsyonas commented on #182
@judyQD the best way would be to use at nginx at front-end handling ssl configurations and relaying traffic to homer-app un-encrypted.

[2019-08-29 08:16] changzx opened #183 "homer7-QOS"
hello！
    I'm use homer7,the qos has some prombles. The talk time is less than 1 minute, and the time on the QOS side is not related to the time.

![1567066453](https://user-images.githubusercontent.com/42836671/63922879-2066b900-ca78-11e9-91f3-166d2e7e3ebc.jpg)

[2019-08-29 08:20] lmangani commented on #183
@changzx Homer has nothing to do with generating those timestamps, this is just a display of what your packets contain. The timing of RTCP is probably in a format not converted - can you capture some raw packets to share from the devices? Can other users confirm if they experience a similar issue?

[2019-08-29 08:25] changzx commented on #183
the messages time is right,but qos not.for example:
![1567067015(1)](https://user-images.githubusercontent.com/42836671/63923619-6a9c6a00-ca79-11e9-9eb0-2fa9cc4f0942.jpg)

[2019-08-29 08:55] os11k commented on #119
Hi! First of all thank you for all of your efforts building Homer. I really enjoying it!!!

Nevertheless I still do not understand how I can correlate separate calls based on call-id in header? Is it even possible or it is possible only via inserting data to HEP header???

[2019-08-29 10:09] lmangani commented on #183
You are comparing Apples and Oranges or in other words, confusing two protocols here. The timestamp of signaling events and the timestamp of RTP and RTCP packets are completely different, and unrelated to each other. For RTP this is determined by the packet and the sniffer. For RTCP those are determined by the User-Agent generating them. In order to know anything, we would need to see the actual p

[2019-08-29 10:28] lmangani commented on #119
Hi @os11k and thanks for the kind words!

If the call-ids are already the same (proxy) the correlation should be automatic. If they are not, there's multiple approaches - a common one is to insert an X-Header in the B-Leg containing the A-Leg call-id and letting HOMER do the correlation by configuring the `AlegIDs` parameter in `heplify-server`, ie:

[code]

[2019-08-29 10:44] changzx commented on #183
How to give the actual packets to you?

[2019-08-29 12:22] os11k commented on #119
Hi @lmangani !

Is it possible to configure in docker-compose via environment variables? Like this:

`"HEPLIFYSERVER_ALEGIDS=X-CID"`

[2019-08-29 15:17] lmangani commented on #119
@os11k yes check the examples

[2019-08-30 00:40] mcebey1891 opened #184 "Problem with Homer 7 webap"
Hi,

I'm running the docker container hom7-hep-influx on a Ubuntu Server 18.04 and when I try to create somthing on the web interface its not save and the graph are not shown.

I run the command
 `sudo docker logs --follow homer-webapp
`
And I have a lot of lines like:

`Debug: handler, error
    {"msec":1.0339829996228218,"error":"Not Found","data":{"data":null,"isBoom":true,"isServer":false,"out

[2019-08-30 08:59] salehhoushangi opened #185 "homer7 and AD authentication"
actually now i switched to H7 but unfortunately after configured /opt/homer-app/server/config.js like below :
const ldapauth = {
url: 'ldap://10.0.xxx:389',
strictDN: true,
dn: 'dc=xx,dc=net',
userdn: 'uid=%USERNAME%',
filter: '(uid=%USERNAME%)',
scope: 'sub',
uidNumber: 'uidNumber'

and
auth: {
ldap: true,
i cant success to authenticate via AD. and giving error "Error: Something went wrong, no JW

[2019-08-30 09:03] lmangani commented on #185
Check this ticket and see if it helps: https://github.com/sipcapture/homer-app/issues/131

[2019-08-30 09:21] salehhoushangi commented on #185
ok i have checked it one of the different between my problem and this post #131 is to using openldap instead of AD Microsoft. but as you know  there is no different in type of protocol and connection way although may be different in user attribute value .any way i did configure same as mentioned in this post  and my question still unanswered  that where do we define cn in homer 7 and how should we

[2019-08-30 09:27] lmangani commented on #185
@salehhoushangi we can only help if you make configuration attempts and they fail or show bugs we can discuss here. if you need professional support you can email sales@qxip.net for a quote anytime - Thanks!

[2019-08-30 09:27] #185 closed

[2019-08-30 09:43] salehhoushangi commented on #185
My problem is very clear. No output to view login process or any other errors. just getting error in logging page with "Error: Something went wrong, no JWT token received, probably wrong credentials used to login".
This is the most basic way you can guide someone.and anyone who has a question on git here has certainly reviewed the previous posts.it is good to refer someone to an old post but not e

[2019-08-30 10:16] lmangani commented on #185
We're helping everyone but opensource does not necessarily mean unlimited availability - How about checking the error on your server side to begin with?

[2019-08-30 10:41] salehhoushangi commented on #185
I definitely agree with you but don't remember open source philosophy is open your mind to other and sharing your knowledge with other, those who strive to expand the culture of open source software.This is not a law, but a principle concept .

[2019-08-30 10:45] lmangani commented on #185
Feel free to take a look at my github profile, and judge for yourself - I dedicate my life to sharing knowledge and time :) This said, this is a very open and "hacktive" community, and its really open meaning there's nothing to be assumed :) Just do more testing give us more details and you'll be suprised at the results

[2019-08-30 10:54] salehhoushangi commented on #185
I'm not going to judge anyone, and as you know, the open source world is not just about git.Here as a small member of the large open source world Thanks for your time in the open source world.
let me to talk about  one of the open source world problem.

I was only able to monitor the network packets on the server side and saw an error
T xx.x.x.x:389 -> 1x.xx.xx.xx:58064 [AP] #5
  0....h...a...._..

[2019-08-30 10:55] lmangani commented on #185
Thanks @salehhoushangi
@adubovikov does this suggest anything to you?

[2019-08-30 11:01] salehhoushangi commented on #185
yes but actually his advice was limited to monitoring the packages. But my problem still exist.

[2019-08-30 11:13] salehhoushangi commented on #185
@lmangani  could you tell me how can i check and monitor authenticate ongoing step?  i means Is there at least a place to store authentication logs?

[2019-08-30 13:53] VolhaRS commented on #184
I have the same problem, I have not found a solution yet.

[2019-08-30 14:06] mcebey1891 commented on #184
In Homer 5 a similar problem, I solved it by modifying permissions.
But with Docker in the middle, I'm not sure it's the same problem.

[2019-08-30 14:18] VolhaRS commented on #184
With Homer5 i have not problem.

[2019-08-31 14:07] os11k commented on #184
I have same problem, when adding to call sip search at main page form field.

[2019-08-31 14:08] os11k opened #186 "Password resets daily to sipcapture"
After setting-up new password via gui at next day it again reset to sipcapture.

[2019-08-31 14:56] lmangani commented on #186
Is any of the containers is restarting daily?

[2019-08-31 14:57] lmangani commented on #184
Please provide a step-by-step procedure to reproduce your issue.

[2019-08-31 14:59] os11k commented on #186
No, all containers are up except "hepsub-elastic", that problem I explained separately on google groups.

[2019-08-31 15:48] mcebey1891 commented on #184
Hi,

The procedure was:

- First I did a fresh installation of Ubuntu Server 18.04.3.

- Next, I followed the procedure to install docker from the official website [https://www.digitalocean.com/community/tutorials/how-to-install-and-use-docker-on-ubuntu-18-04](url). Except for the part of **Executing the Docker Command Without Sudo**

- Then, I download the directory with the containers to a perso

[2019-08-31 16:01] lmangani commented on #185
The error is the same you saw by sniffing the port. You need to troubleshoot server-side, we can't help you without knowing the input to the output.

[2019-09-01 19:24] salehhoushangi commented on #185
thank you  . finally i do it.

[2019-09-02 08:17] os11k commented on #184
Hi,

To reproduces. Clean Ubuntu 18:

1 .apt-get install docker-compose
2. apt-get upgrade
3.  apt-get update
4. cd /usr/src/
5. git clone https://github.com/sipcapture/homer7-docker.git
6. cd /usr/src/homer7-docker/
7. cd ./heplify-server/hom7-hep-elastic/
8. docker-compose up -d --build

Please check below gif. After adding call-id in call sip search and saving it I pressed F5 for refresh and ne

[2019-09-02 08:35] os11k commented on #184
Hi, my fault I needed to press save on right top corner - "save changes". It seems to work now. Very sorry for this.

[2019-09-02 08:39] lmangani commented on #184
@os11k glad you got this working! If you feel this should be improved, please open a proposal separately.

[2019-09-02 08:39] #184 closed

[2019-09-05 06:51] os11k commented on #186
I re-fetch my docker images and seems issue is not there anymore, so you can close this. Not sure who and when fixed it or maybe I was just not lucky and I got some-kind of random glitch...

[2019-09-05 07:15] os11k commented on #186
Strange, I just did:

docker-compose down
docker-compose up -d --build

And password again was reset to sipcapture

[2019-09-05 19:09] compuwizz opened #187 "Correct times not exported in PCAP"
When finding a call, the ladder graph shows the correct timing for the SIP packets on the transaction. When the transaction is exported to PCAP, the resulting PCAP has the packets at the wrong time intervals. So duration of call is incorrect as well as when packets were replied to.

[2019-09-06 07:57] lmangani commented on #187
Thanks for the report @compuwizz - This might depend on your PCAP unless otherwise proven. You're also not mentioning which of our tools you're using - please document your case and attach some elements for reproducing so we can assist.

[2019-09-06 18:20] compuwizz commented on #187
I'm using Homer 7.0.4. Here is an example. I have used sngrep to capture the call and compare it against the PCAP that Homer exports for the same call. In Wireshark, the times associated with the sngrep capture are correct. The times with the Homer capture are incorrect.
[Archive.zip](https://github.com/sipcapture/homer-app/files/3585187/Archive.zip)

[2019-09-07 11:49] changzx opened #188 "RTP-FULL-REPORT is null"
rtp-full-report is null？
![image](https://user-images.githubusercontent.com/42836671/64474509-59a1d600-d1a8-11e9-9c0e-f9a0c71ab00f.png)
![image](https://user-images.githubusercontent.com/42836671/64474523-91108280-d1a8-11e9-8a06-bf9965c040fd.png)

[2019-09-07 12:03] lmangani commented on #188
Was this a question?

[2019-09-07 12:15] changzx commented on #188
What conditions trigger, will there be data?

[2019-09-11 11:47] os11k commented on #119
@lmangani it worked thank you! But quite often call is not glued correctly in Web app. Somehow it glues only INVITE, but not whole call. Should I open new bug for this? Nevertheless for some other calls it works as expected...

[2019-09-11 11:49] os11k commented on #112
Hi! Does aliases should work already if I configure them in gui? I configured 2 aliases with port 5060 first and second with port 5061 and it still shows as separate servers in web...

[2019-09-11 12:02] lmangani commented on #112
@os11k could you show us what you provisioned please?

[2019-09-11 13:09] os11k commented on #112
Hi @lmangani sure, I just cut out 2 octets in print-screen below:
![image](https://user-images.githubusercontent.com/6322576/64699926-860e6880-d4ae-11e9-98d5-63a6e1170293.png)

[2019-09-16 10:04] changzx opened #189 "Choose a different prometheus data source"
Dear:
 Is it possible to choose different prometheus data sources for different voip servers?
![image](https://user-images.githubusercontent.com/42836671/64949659-4380cd80-d8ac-11e9-9053-5f869219b4d8.png)

[2019-09-16 14:28] lmangani commented on #189
Hi @changzx you should be able to add multiple datasources form the Admin panel where the current one is configured. Have you attempted to do so already?

[2019-09-17 05:47] changzx commented on #189
Admin panel?
where?
![image](https://user-images.githubusercontent.com/42836671/65014554-9e203500-d951-11e9-901e-14ad422a2b1b.png)

[2019-09-17 07:05] aqsyonas commented on #187
@compuwizz we are working on your request. Thanks for your patience.

[2019-09-30 10:42] kpribic opened #190 "Ladder diagram feature proposal - two line labels"
When there is an alias match there should be a two line label that includes the alias name match and the actual IP:port. Something like this:
![image](https://user-images.githubusercontent.com/50572561/65870777-4df79880-e37d-11e9-8ed7-de9ebdf22c8d.png)

NOTE: INVITE text is cut off in this picture, that is not the desired result it's just what happens when you insert another div tag via crome insp

[2019-10-08 11:42] #143 closed

[2019-10-09 13:28] dvillaume opened #192 "Ui aliases maximum mask 32, too short for IPV6"
Hello,

Alias maximum mask is set to 32 on UI, is not pertinent for IPV6, may you have a look ?

Thanks.

[2019-10-13 16:26] negbie commented on #192
@dvillaume I have added the mask field only to possibly use it in the future. It never worked so you can just ignore it.

[2019-10-22 09:21] fourti commented on #128
Just pushing this one, because it would be very helpful to have the MOS values in homer7

[2019-10-22 09:45] lmangani commented on #128
This is going to be part of the upcoming 7.7 release. Mind the MOS we're discussing here is a pseudo calculation resulting from the RTCP messages so its not 100% reliable.

For a 100% reliable MOS based on actual RTP, our `RTPAgent` add-on should be deployed.

[2019-10-24 04:18] changzx opened #194 "SID"
Dear:
Why is each sid a line? Can I integrate each call into one sid?
![image](https://user-images.githubusercontent.com/42836671/67453133-3055e000-f658-11e9-8be3-a8020e677194.png)

[2019-10-28 15:20] runelucica opened #196 "Call Correlation using Session-ID header"
First of all, I would like to thank everyone at sipcapture for Homer. It was (back in the Homer 5 days) and continues to be a great product.

Now, going back to my issue at hand.
I am using Homer 7 (more exactly: hom7-hep-elastic docker compose setup) and would like to use the Session-ID header value for correlating call legs. The call legs have Session-ID header populated with the same value and

[2019-10-29 10:25] runelucica commented on #196
Here are 2 sample call legs that would need to be correlated.
Leg 1 - Source 172.Y.T.11 Destination 172.Y.X.165:

INVITE sip:70006000@172.Y.X.165:5060 SIP/2.0
Via: SIP/2.0/UDP 172.Y.T.11:5060;branch=z9hG4bKcee4d167fbc333
From: "UserA" <sip:74912864@customer.com>;tag=23987083~be9d2c70-b173-4e5f-b1e5-cc7a3b86db78-28251532
To: <sip:70006000@172.Y.X.165>
Date: Tue, 29 Oct 20Y 09:11:25 GMT
Call-ID: 13d

[2019-10-31 08:46] runelucica commented on #196
Could you please let me know if this issue/request should have been submitted somewhere else (i.e. heplify-server)?

Any feedback would be appreciated.

[2019-10-31 21:17] lmangani commented on #196
Hi @runelucica
Your question requires a faceted response. The Correlation ID can be extracted by an Agent (such as HEPlify) a Server (HEPlify-server extract X-CID) or determined by the API/UI based on mapping settings.

Please make sure your `Session-ID` header is configured in a case-sensitive fashion and verify if this is extracted into the `correlation_id` or `SID` field in Database. Your examp

[2019-11-01 07:18] runelucica commented on #196
Thank you for the reply. Will give this a try.

Since some of my questions I know can't be handled via github issues (they are more suited in a training class) I sent an email asking for a training quote (to QXIP ticket ID 13631). Not sure if anyone is following that. Would be great if you guys are still hosting them as I am interested in attending.

[2019-11-04 23:41] rayj-pgi commented on #180
Thanks for the help on this. I'm seeing a similar issue with the subscribe api call.

`delete agent_subscribe: fail to delete a living being: The operator \"undefined\" is not permitted`

[2019-11-07 11:32] #2 closed

[2019-11-13 09:16] Justessej opened #200 "Error with JWT Token when reboot"
I got my homer up and running but when i installed captagent and reboot my system i get a JWT Token and i cant get in my homer GUI

[2019-11-14 00:54] aleczmw opened #201 "IPV6 format is wrong in call flow"
the ipv6 is **1:2:3:4:5::7:8**  but it show **7:8::1:2:3:4:5**   in call follow(destination IP)
**div ng-if="$last == true" class="info info_gateway" style="margin-right:-4px;"**
            div class="wr-info-text cflow-bubble">
              div class="info-text ng-binding" style="color:#fff;"></div>
              div class="info-text-port ng-binding">**1:2:3:4:5::7:8**</div>
            /div>

[2019-11-14 01:19] aleczmw commented on #201
<div ng-if="$first" **### class="wr-info-text wr-info-text_left cflow-bubble"** style="margin-left:-2px;">
               <div class="info-text" style="color:#fff;">{{item.description}}</div>

           <div ng-if="$last == true" **class="info {{$ctrl.lasthosts.type}}"** style="margin-right:-4px;">
             <div class="wr-info-text cflow-bubble">
               <div class="info-text" style="c

[2019-11-14 09:33] lmangani commented on #201
Thanks for the report! The version you're using has known issues and is about to be hotswapped.
Any chance you could test this against a 7.7 alpha release using the `server-only` branch please?

[2019-11-14 09:40] aleczmw commented on #201
Thank you for your response.

[2019-11-18 21:07] gedia opened #202 "Search results page: make font size and table cell padding configurable"
Hello,

I've redeployed homer-app from master today, and most of the shortcomings I encountered the last time I tried it out (which was a few months ago), mainly LDAP integration, seem to be resolved.

One aspect I find a little inconvenient is the density of displayed information in (Proto) search results. I believe the text size is too large which leads to text being truncated in table view. I t

[2019-11-18 21:47] gedia opened #203 "Support Homer5-style layout of Search dashboard"
Hello,

I realise Homer7 has a much larger scope of applications than Homer5, but I think users would be more inclined to try it out if the default knex seeds provided a "Search" dashboard for SIP which replicates the structure found in Homer5.

Right now I believe the following is missing:
* One cannot position search fields in a columns/rows layout, sharing a single Search and Clear button
* Sea

[2019-11-28 14:24] akam-it opened #206 "can't import json dashboard"
Hello, I have just installed homer 7 docker-compose and trying to import dashboard SIP_Overview.json
But I can't, something wrong with interface, then I press Save nothing happens

![Screenshot from 2019-11-28 16-42-44](https://user-images.githubusercontent.com/1487709/69813775-f00ff180-1203-11ea-9b85-66ca1d69774c.png)

[2019-11-28 14:42] akam-it opened #207 "RTP direction"
Hello,
sorry, maybe it is not a bug, but a question. (are there any community forum or chats?)

1. Is it possible to show RTP directions(like in sngrep) in Flow tab?
2. I think screen space is not very compatible. for example in attachment two screenshot of one call - sngrep and homer. sngrep have 4 tabs (ip) and homer have 8

![Screenshot from 2019-11-28 17-41-45](https://user-images.githubuserco

[2019-11-28 18:41] lmangani commented on #207
Thanks for the report!
It's funny because the reason it has 8 instead of 4 is because its showing the RTCP/SDP flows which is exactly what I think you were asking? So the answer to question 2) is question 1) and the last 2 columns are reports from the media streams. Homer's agents don't do RTP so that's RTCP and might have the private IPs of the devices, etc.

This said, this version is about to b

[2019-11-28 18:41] #207 closed

[2019-11-28 18:57] lmangani commented on #206
This has been much improved and resolved in 7.7 - feel free to switch to the branch anytime its already superior to 7.0 by far

[2019-11-28 18:57] #206 closed

[2019-11-28 18:58] lmangani commented on #203
It would be incredibly useful if you could try and open issues for 7.7 - the display experience and the mapping of fileds changed slightly and might already fit the bill. Feel free to re-open for 7.7 anytime!

[2019-11-28 18:58] lmangani commented on #202
The entire display setup has been redesigned in 7.7 please check there to see if the experience improved -thanks!

[2019-11-28 18:58] #202 closed

[2019-11-28 18:59] #194 closed

[2019-11-28 19:00] lmangani commented on #194
Please re-test in 7.7 any input is welcome!

[2019-11-28 19:02] lmangani commented on #189
Please re-test in 7.7 feel free to try it - any input is welcome!

[2019-11-28 19:03] #189 closed

[2019-11-28 19:04] lmangani commented on #183
Please re-test in 7.7 feel free to try it - any input is welcome!

[2019-11-28 19:04] #183 closed

[2019-11-28 19:04] lmangani commented on #196
Please re-test in 7.7 feel free to try it - any input is welcome!

[2019-11-28 19:04] #196 closed

[2019-11-28 19:05] lmangani commented on #141
Please re-test in 7.7 feel free to try it - any input is welcome!

[2019-11-28 19:05] #141 closed

[2019-11-28 19:05] lmangani commented on #145
Please re-test in 7.7 feel free to try it - any input is welcome!

[2019-11-28 19:05] #145 closed

[2019-11-28 19:05] lmangani commented on #152
Please re-test in 7.7 feel free to try it - any input is welcome!

[2019-11-28 19:05] #152 closed

[2019-11-28 19:06] lmangani commented on #157
Please re-test in 7.7 feel free to try it - any input is welcome!

[2019-11-28 19:06] #157 closed

[2019-11-28 19:07] lmangani commented on #139
Closing in preparation for the 7.7 Release. Please re-test your issue using the 7.7. branch or Compose containers and feel free to reopen w/ fresh details if needed. Thanks!

[2019-11-28 19:07] #139 closed

[2019-11-28 19:07] lmangani commented on #159
Closing in preparation for the 7.7 Release. Please re-test your issue using the 7.7. branch or Compose containers and feel free to reopen w/ fresh details if needed. Thanks!

[2019-11-28 19:07] #159 closed

[2019-11-28 19:07] lmangani commented on #155
Closing in preparation for the 7.7 Release. Please re-test your issue using the 7.7. branch or Compose containers and feel free to reopen w/ fresh details if needed. Thanks!

[2019-11-28 19:07] #155 closed

[2019-11-28 19:08] lmangani commented on #186
Closing in preparation for the 7.7 Release. Please re-test your issue using the 7.7. branch or Compose containers and feel free to reopen w/ fresh details if needed. Thanks!

[2019-11-28 19:08] #186 closed

[2019-11-28 19:08] lmangani commented on #182
Closing in preparation for the 7.7 Release. Please re-test your issue using the 7.7. branch or Compose containers and feel free to reopen w/ fresh details if needed. Thanks!

[2019-11-28 19:08] #182 closed

[2019-11-28 19:08] lmangani commented on #179
Closing in preparation for the 7.7 Release. Please re-test your issue using the 7.7. branch or Compose containers and feel free to reopen w/ fresh details if needed. Thanks!

[2019-11-28 19:08] #179 closed

[2019-11-28 19:08] lmangani commented on #156
Closing in preparation for the 7.7 Release. Please re-test your issue using the 7.7. branch or Compose containers and feel free to reopen w/ fresh details if needed. Thanks!

[2019-11-28 19:08] #156 closed

[2019-11-28 19:08] lmangani commented on #163
Closing in preparation for the 7.7 Release. Please re-test your issue using the 7.7. branch or Compose containers and feel free to reopen w/ fresh details if needed. Thanks!

[2019-11-28 19:08] #163 closed

[2019-11-28 19:09] #7 closed

[2019-11-28 19:09] #46 closed

[2019-11-28 19:09] #64 closed

[2019-11-28 19:09] #73 closed

[2019-11-28 19:09] #82 closed

[2019-11-28 19:09] #92 closed

[2019-11-28 19:09] #105 closed

[2019-11-28 19:09] #110 closed

[2019-11-28 19:09] #112 closed

[2019-11-28 19:09] #113 closed

[2019-11-28 19:09] #114 closed

[2019-11-28 19:09] #116 closed

[2019-11-28 19:09] #117 closed

[2019-11-28 19:10] lmangani commented on #119
Closing in preparation for the 7.7 Release. Please re-test your issue using the 7.7. branch or Compose containers and feel free to reopen w/ fresh details if needed. Thanks!

[2019-11-28 19:10] #119 closed

[2019-11-28 19:10] lmangani commented on #118
Closing in preparation for the 7.7 Release. Please re-test your issue using the 7.7. branch or Compose containers and feel free to reopen w/ fresh details if needed. Thanks!

[2019-11-28 19:10] #118 closed

[2019-11-28 19:10] lmangani commented on #50
Closing in preparation for the 7.7 Release. Please re-test your issue using the 7.7. branch or Compose containers and feel free to reopen w/ fresh details if needed. Thanks!

[2019-11-28 19:10] #50 closed

[2019-11-28 19:10] lmangani commented on #65
Closing in preparation for the 7.7 Release. Please re-test your issue using the 7.7. branch or Compose containers and feel free to reopen w/ fresh details if needed. Thanks!

[2019-11-28 19:10] #65 closed

[2019-11-28 19:11] lmangani commented on #126
Closing in preparation for the 7.7 Release. Please re-test your issue using the 7.7. branch or Compose containers and feel free to reopen w/ fresh details if needed. Thanks!

[2019-11-28 19:11] #126 closed

[2019-11-28 19:11] lmangani commented on #146
Closing in preparation for the 7.7 Release. Please re-test your issue using the 7.7. branch or Compose containers and feel free to reopen w/ fresh details if needed. Thanks!

[2019-11-28 19:11] #146 closed

[2019-11-28 19:11] #133 closed

[2019-11-28 19:11] lmangani commented on #188
Closing in preparation for the 7.7 Release. Please re-test your issue using the 7.7. branch or Compose containers and feel free to reopen w/ fresh details if needed. Thanks!

[2019-11-28 19:11] #188 closed

[2019-11-28 19:11] lmangani commented on #154
Closing in preparation for the 7.7 Release. Please re-test your issue using the 7.7. branch or Compose containers and feel free to reopen w/ fresh details if needed. Thanks!

[2019-11-28 19:11] #154 closed

[2019-11-28 19:12] lmangani commented on #161
Closing in preparation for the 7.7 Release. Please re-test your issue using the 7.7. branch or Compose containers and feel free to reopen w/ fresh details if needed. Thanks!

[2019-11-28 19:12] #161 closed

[2019-11-28 19:12] lmangani commented on #130
Closing in preparation for the 7.7 Release. Please re-test your issue using the 7.7. branch or Compose containers and feel free to reopen w/ fresh details if needed. Thanks!

[2019-11-28 19:12] #130 closed

[2019-11-28 19:12] lmangani commented on #147
Closing in preparation for the 7.7 Release. Please re-test your issue using the 7.7. branch or Compose containers and feel free to reopen w/ fresh details if needed. Thanks!

[2019-11-28 19:12] #147 closed

[2019-11-28 19:12] lmangani commented on #150
Closing in preparation for the 7.7 Release. Please re-test your issue using the 7.7. branch or Compose containers and feel free to reopen w/ fresh details if needed. Thanks!

[2019-11-28 19:12] #150 closed

[2019-11-28 19:12] lmangani commented on #127
Closing in preparation for the 7.7 Release. Please re-test your issue using the 7.7. branch or Compose containers and feel free to reopen w/ fresh details if needed. Thanks!

[2019-11-28 19:12] #127 closed

[2019-11-28 19:12] lmangani commented on #124
Closing in preparation for the 7.7 Release. Please re-test your issue using the 7.7. branch or Compose containers and feel free to reopen w/ fresh details if needed. Thanks!

[2019-11-28 19:13] #124 closed

[2019-11-28 19:13] lmangani commented on #122
Closing in preparation for the 7.7 Release. Please re-test your issue using the 7.7. branch or Compose containers and feel free to reopen w/ fresh details if needed. Thanks!

[2019-11-28 19:13] #122 closed

[2019-11-28 19:13] lmangani commented on #121
Closing in preparation for the 7.7 Release. Please re-test your issue using the 7.7. branch or Compose containers and feel free to reopen w/ fresh details if needed. Thanks!

[2019-11-28 19:13] #121 closed

[2019-11-28 19:13] lmangani commented on #125
Closing in preparation for the 7.7 Release. Please re-test your issue using the 7.7. branch or Compose containers and feel free to reopen w/ fresh details if needed. Thanks!

[2019-11-28 19:13] #125 closed

[2019-11-28 19:13] lmangani commented on #180
Closing in preparation for the 7.7 Release. Please re-test your issue using the 7.7. branch or Compose containers and feel free to reopen w/ fresh details if needed. Thanks!

[2019-11-28 19:13] #180 closed

[2019-11-28 19:14] lmangani commented on #120
Closing in preparation for the 7.7 Release. Please re-test your issue using the 7.7. branch or Compose containers and feel free to reopen w/ fresh details if needed. Thanks!

[2019-11-28 19:14] #120 closed

[2019-11-28 19:14] #123 closed

[2019-11-28 19:14] lmangani commented on #200
Closing in preparation for the 7.7 Release. Please re-test your issue using the 7.7. branch or Compose containers and feel free to reopen w/ fresh details if needed. Thanks!

[2019-11-28 19:14] #200 closed

[2019-11-28 19:20] gedia commented on #203
@lmangani

This ticket concerned testing of commit 076237a03f4b1a0dade9dbd69a148fb87b001d84 from the master branch. There have been no newer commits since then. Is version 7.7 available in a different branch? Thanks!

[2019-11-28 19:20] gedia commented on #202
@lmangani

This ticket concerned testing of commit 076237a03f4b1a0dade9dbd69a148fb87b001d84 from the master branch. There have been no newer commits since then. Is version 7.7 available in a different branch? Thanks!

[2019-11-28 19:21] lmangani commented on #187
Should be fixed now! Closing in preparation for the 7.7 Release. Please re-test your issue using the 7.7. branch or Compose containers and feel free to reopen w/ fresh details if needed. Thanks!

[2019-11-28 19:21] #187 closed

[2019-11-28 19:26] lmangani commented on #132
Closing in preparation for the 7.7 Release. Please re-test your issue using the 7.7. branch or Compose containers and feel free to reopen w/ fresh details if needed. Thanks!

[2019-11-28 19:26] #132 closed

[2019-11-28 19:27] akam-it commented on #206
thank you for answer, so master is older than 7.7 right?

[2019-11-28 19:29] lmangani commented on #203
Things are going to be shuffled around a bit and we'll go back to the main `homer` repo but you can test using the `server-only` branch of homer-app right now. Thanks in advance!

[2019-11-28 19:29] gedia commented on #203
Never mind, I found this line in installer script of 7.7 branch of homer-installer:

`repo_clone_or_update "$src_base_dir" "$src_homer_app_dir" "https://github.com/sipcapture/homer-app" "server-only"`

[2019-11-28 19:29] gedia commented on #202
Never mind, I found this line in installer script of 7.7 branch of homer-installer:

`repo_clone_or_update "$src_base_dir" "$src_homer_app_dir" "https://github.com/sipcapture/homer-app" "server-only"`

[2019-11-28 19:36] lmangani commented on #206
@akam-it that's correct the `server-only` branch is currently ahead in homer-app or `7.7` branch in `homer-docker` examples & templates which are the most feature complete examples

[2019-11-29 07:59] UbuntuEvangelist commented on #139
@adubovikov @lmangani
will finish it today

You guy's did not keep commitment as says.

[2019-11-29 08:02] lmangani commented on #139
@UbuntuEvangelist I'm sorry? Have you even tried the new release or you're just here shooting judgements? Do not come here expecting commitment, open-source is a two way street sir.

[2019-11-29 21:51] gedia opened #209 "homer-app 7.7: knx seed:run fails with "Cannot find module '/tmp/grafana.json'""
Running knx seed:run with homer-app commit 82a198f3c1b39cdda994f3717930e82edbae91cb results in the following error:

[code]
Indeed 99_GrafanaAPI.js includes a reference to an absolute path under /tmp where the json file is supposed to be located. Shouldn't this be included in the repo instead?

[code]

[2019-11-29 22:10] adubovikov commented on #209
looks like this only works from installer script. For now please create an empty /tmp/grafana.json and it should be fine

[2019-11-29 22:12] lmangani commented on #209
The temp file should be automatically created by the Grafana provisioning of a Key as a bridge in configuration. The fact is missing basically points to the Grafana API not being reachable at the time the Knex provisioning runs.

[2019-11-29 22:15] lmangani commented on #209
Here's the failing bit: https://github.com/sipcapture/homer-app/blob/server-only/docker/docker-entrypoint.d/01-seeding_db.sh#L18

[2019-11-29 22:31] adubovikov commented on #209
IMHO need make it by default disable. This will help everybody to use normal build

[2019-11-30 00:05] lmangani commented on #209
I slightly disagree at this stage. If the provisioning script doesn't succeed absolutely nothing happens besides the warning error, and simply the datasource has to be configured manually.

[2019-12-05 15:25] Rico29 opened #210 "custom ssl certificate in homer-app"
Hello,
I'm looking for the syntax to use in homer-app/server/config.js to use a custom SSL certificate. Did not find doc about that :

[code]
is there any doc about that ?
Regards

[2019-12-06 10:03] lmangani commented on #210
I'll add some docs in the next days/weeks but in real-life scenarios for ease of operation, support and feature we would suggest simply deploying NGINX or any other lightweight production-grade proxy in front of the application.

[2019-12-12 11:34] Rico29 opened #211 "ctrl.shareLinkDisabled"
hello,
I see in code "ctrl.shareLinkDisabled" which seems to be true as "export > share link" is disabled.
how do I change this param ?
Regards
Cédric

[2019-12-12 11:36] lmangani commented on #211
Hello Cedric,

Which version are you using? This is disabled in 7.01 and will be re-enabled in 7.7 at some point.

[2019-12-12 11:44] Rico29 commented on #211
Hello,
I'm using git master branch
Regards

[2019-12-12 19:35] negbie opened #213 "Support more postgres logical operators"
Allow all kind of logical postgres operators (OR,NOT...) per search field.

[2019-12-12 19:36] negbie commented on #213
Allow concatenation of them.

[2019-12-12 19:47] negbie opened #214 "Combine dialogs in Loki too"
When I select the checkbox for two disctinct dialogs with different call-id's I see that the flow will combine those two but Loki tab will only use the one you click at.

[2019-12-12 19:49] negbie commented on #213
Like call-id1;call-id2;call-id3, !call-id1;!call-id2;call-id3

[2019-12-13 09:43] lmangani commented on #214
Good point. The LOKI Tab should use all the Correlation IDs for the query as default.

[2019-12-15 09:55] negbie opened #216 "Grouping of result columns"
In Homer 5 it was possible to group search result columns. This was quite handy when you use Timeseries Monitoring Systems where you i.e. see how many bad requests comes from a certain Proxy but you don't know exactly if just one user or multiple user causing them. To group by from or to user showed you this very quickly.

[2019-12-15 10:20] lmangani commented on #216
Good Point, more about the library we're using for grid than any other real choice at this time.

In parallel, we're trying to complement this with the "results widgets" which allow displaying the returned set as table OR as chart. This is still experimental but I suspect it would cover a similar role of grouping by any search result element (say, from_user or RURI) and stat a specific result as c

[2019-12-15 10:36] negbie commented on #216
Combined with Grafanas 6.3 data links this could be very usefull.

[2019-12-16 11:54] gedia opened #217 "homer-app 7.7: knex seed:run fails with 'relation "agent_location_session" does not exist'"
Hello,

On a new installation from 'server-only' branch (commit b9ec1160f97f306471dff3effad11f1880b870d7), I'm getting the following error upon running knex seed:

[code]

[2019-12-16 11:59] lmangani commented on #217
Hello @gedia thanks for the report! Could you confirm this is still the case with the most recent `server-only` branch?

[2019-12-16 12:02] gedia commented on #217
You're welcome :-)

Well as I said it's commit b9ec1160f97f306471dff3effad11f1880b870d7, which I believe to be the latest already?

P.S. in case it matters:
* I'm using nodeJS 12.x, which I'm assuming is the new target version for Homer 7.7 judging from recent commits?
* Knex --version prints out:
  * Knex CLI version: 0.20.4
  * Knex Local version: 0.19.5

[2019-12-16 12:04] lmangani commented on #217
That seems in line with our setup, but I no longer has this error in knex.
See Dockerfile: https://github.com/sipcapture/homer-app/blob/server-only/Dockerfile

[2019-12-16 14:04] gedia commented on #217
Hm, the dockerfile you linked to seems to be using a different repository at gitlab: https://gitlab.com/qxip/hepic-ui-3, which seems to be quite different from the server-only branch from this repository.

Other than that, I wasn't able to find any significant differences with my deployment, which is based on the homer_installer.sh script from branch 7.7 of homer-installer repo.

I'll give it anot

[2019-12-16 16:34] lmangani commented on #217
The UI is already included in the `homer-app` public folder, so you can skip that step.
The 7.7. installer should fetch the `server-only` branch of this project which includes the UI.

[2019-12-16 17:08] gedia commented on #217
OK, got it. I'm assuming it's for the same reason that homer_installer.sh won't do ```npm install -g @angular/cli && ng build```?

The only other difference I was able to spot was that the dockerfile will also run ```npm install -g modclean && modclean -r``` which the bash installer script doesn't. Is this an omission or on purpose?

Lastly, an instance of heplify-server was already configured to

[2019-12-16 17:21] lmangani commented on #217
Spot on. `modclean` is just a tool removing all unecessary duplicates and non-vital files installed under node_modules, in an effort to make the container smaller. About knex and the existing tables, the seeding actions should allow for existing tables and produce no errors, so I need to review them next.

[2019-12-17 17:29] rgiskard85 opened #218 "Homer-app 7.7 server only- Cannot login over https"
Hello,
I have Homer-app 7.7 server-only branch installed and listening on ports

- http://127.0.0.1:8080

- https://127.0.0.1:8443

The http port works and I can login without issues. I installed nginx and configure it as a typical reverse proxy
http port 80 redirects to https port 443 that uses proxy pass to http://127.0.0.1:8080
After those changes, the login page loads normally but when trying

[2019-12-18 10:41] aqsyonas commented on #218
@rgiskard85 please, try the latest code from the very branch.

[2019-12-18 11:07] ruchi1912 opened #219 "Version 7.7 -- Widget World Clock shows incorrect time for few Time Zones"
How to add  World Clock Widget:
1. Login to GUI
2. Go to '+'  icon to add widget
3. Select visualize and add "World Clock"

For below time-zones Homer World Clock Widget shows incorrect time
1) Central European Time
2) Eastern European time
3)  Moscow Standard Time
4) GMT+4
5) GMT+5
6) Japan Standard Time

Screenshot shows the comparison where HEPIC World Clock shows correct time  v/s HOMER World

[2019-12-18 11:09] ruchi1912 opened #220 "Version 7.7 : Search Widget Configuration shows a mispelt word " Saves" instead of "Save""
Steps to reproduce

1. Login to GUI
2. Go to Add Widget
3. Select Search and add Proto Search
4. Go to recently added Widget's Settings
5. Save button has mispelt spelling

Actual Output

- It is showing "Saves"

Expected Output

- It should be "Save"

![HOMER1](https://user-images.githubusercontent.com/59015660/71081246-d5062100-21b4-11ea-89d1-c66f7958c140.png)

[2019-12-18 11:11] ruchi1912 opened #221 "Version 7.7 : Widget Display Chart - Misspelt word "Add Serias" instead of " Add Series""
Steps to reproduce

1. Login to GUI
2. Go to Add Widget
3. Select Visualize and add Display Results Chart
4. "Add Series" has mispelt spelling

Actual Output
- It is showing " Add Serias"

Expected Output
- It should show "Add Series"

![HOMER 2](https://user-images.githubusercontent.com/59015660/71081377-172f6280-21b5-11ea-9c9f-566ac88d90ae.png)

[2019-12-18 16:10] jvb187 opened #222 "Multiple Search Nodes in H7"
Hello,

Is it possible to have multiple search nodes in the H7 web front end like we could in H5?  I currently have H5 setup with a Heplify-Server instance in each of a number of countries and store the data locally, using one web front end to search calls in the different nodes.

In H5 it was as simple as disabling single node and then just adding the nodes in admin.  I am not seeing anything sim

[2019-12-18 16:19] adubovikov commented on #222
Hi Jeremy,

yes, it has been planned and it will be availble untill end of this year.

[2019-12-18 16:23] jvb187 commented on #222
Thank you Alexandr!

[2019-12-20 08:42] adubovikov commented on #216
https://www.ag-grid.com/javascript-grid-grouping/ Unfortunately this is an Enterprise feature. Let us check if there are external plugins for this

[2019-12-20 12:06] adubovikov commented on #216
https://github.com/Servoy/aggridcomponents/wiki/Data-Grid

[2019-12-20 12:07] adubovikov commented on #216
we can add this plugin later

[2019-12-22 13:09] negbie opened #223 "Speedup loki search with filter expression"
{job="heplify-server"} 7019SD48m404884c23
takes 14 seconds

{job="heplify-server"} |= "7019SD48m404884c23"
takes 2 seconds

This helps especially when you use a wider time range.

[2019-12-27 11:20] adubovikov commented on #218
I am clossing the ticket. The issue has been fixed

[2019-12-27 11:20] #218 closed

[2019-12-27 11:21] adubovikov commented on #217
i am clossing it. The issue has been fixed

[2019-12-27 11:21] #217 closed

[2019-12-28 12:31] adubovikov commented on #221
fixed

[2019-12-28 12:31] #221 closed

[2019-12-28 12:32] adubovikov commented on #220
fixed

[2019-12-28 12:32] #220 closed

[2019-12-30 11:27] adubovikov opened #224 "Display time in different time zones"
We have to implement a date function that we should use everythere using different time zones to be able show results in these zones

[2019-12-30 11:27] adubovikov commented on #222
due date 07.01.2020

[2020-01-07 20:54] abv commented on #217
I've run into this too. Using the latest build. I've tracked the problem down to the error `function date_add(timestamp with time zone, interval) does not exist` which is eaten by `knex:migrate` and not exposed in the logs.

I think its something related to this... (via https://www.postgresql.org/docs/7.2/datatype-datetime.html)

After some experimenting, it seems that the `agentLocationSession.ti

[2020-01-08 11:28] ccmsi opened #225 "knex fails to create homer-app tables"
Greetings.
Im running homer-app commit 3679d8e98018590a0d6484d5e0364b4085e732b0 on a dedicated VM against a remote postgresql server.

When running
knex migrate:latest
on an empty DB

response is:
Using environment: development
Batch 1 run: 1 migrations

However, no homer-app tables are created.
originally empty DB now contains:

homer_config_700=# \dt
                List of relations
 Schema |

[2020-01-08 11:36] lmangani commented on #225
As a starter, do you have a populated `bootstrap` file by any chance? This will prevent re-provisioning. Could you try emptying out the file and running again?

This said, we should get rid of this inherited hell in a few weeks time hopefully solving all those issues at once.

[2020-01-08 11:38] ccmsi commented on #225
# cat bootstrap.js
require('babel-core/register');
require('babel-polyfill');
require('./server/server');

this is the file referenced for starting the service. do i understand correctly that i should empty it for a file size of 0 ?

[2020-01-08 11:46] lmangani commented on #217
Thanks @abv much appreciated and well spotted! I just punched this in to master, let us know if this sorts it in real life :)

[2020-01-08 12:35] ccmsi commented on #225
Meanwhile i tried rerunning with aforementionned bootstratp.js both emptied and removed. However result is the same as in original description.

[2020-01-08 13:03] inmula commented on #225
I ran into the same issue. I believe it's related to the `hasTable` calls in the migration file, but I wasn't able to fix it properly. I ended up stripping the migration file of all the `hasTable` calls and just ran the `createTable` function directly without checking if the tables already exist (and since Knex remembers which migration files have been executed, this shouldn't cause any problems l

[2020-01-08 13:05] ccmsi commented on #225
after some googling i decided to give it a try to modify 20191126194600_Datastructure.js which seems to give me some progress. the change is such that:

exports.up = function(knex) {
  return Promise.all([
            knex.schema.createTable('users', function(usersTable) {
              // Primary Key
              usersTable.increments();
              // Data
...
              usersTable.timesta

[2020-01-08 13:21] ccmsi commented on #225
aboce timestamp error refers to:
"expire_date" timestamptz not null default CURRENT_TIMESTAMP86400,

and at least completes if changed to:
"expire_date" timestamptz not null default CURRENT_TIMESTAMP,

[2020-01-08 14:17] RFbkak37y3kIY commented on #219
fixed https://gitlab.com/qxip/hepic-ui-3/commit/6432a7263d0f6384ece149245809e61d2efa7922

[2020-01-08 14:26] #219 closed

[2020-01-08 14:31] #223 closed

[2020-01-08 22:23] abv commented on #217
@lmangani Turns out there were some other problems w/ `knex:migrate` not properly creating tables, which I resolved here https://github.com/sipcapture/homer-app/pull/226

[2020-01-08 22:33] abv commented on #225
I ran into the same problems yesterday/today. The timestamp and migrate scripts issues should both be resolved by https://github.com/sipcapture/homer-app/commit/8942e8ecfd7fadfad0c9ff3964a773b62b3f898c

[2020-01-09 10:46] hbokh opened #227 "Fix version of the Datastructure.js file"
When starting todays latest homer-app container image (`Homer 7.7.004`)

[code]

we get this error:

[code]

Our workaround: enter the container; cd into `/app/migrations`; run `cp 20191126194600_Datastructure.js 20190401143156_Datastructure.js`; `cd ..` and run `knex migrate:latest` things are OK.

Can this please be fixed permanently?
Or is there another way to get around this?

[2020-01-09 14:58] adubovikov commented on #222
some delays.. updates are comming

[2020-01-10 08:57] #214 closed

[2020-01-10 13:57] farmorg opened #229 "Homer Logo/Link not returning to dashboard"
Fresh install of 7.7 hom7-prom-all

1. Login using default admin account
2. Perform a search with no filters and results container set to default
3. Results are displayed in the results page
4. Click the Homer logo top left (expect to return to dashboard)
5. A page with the black dashboard header but otherwise blank.

HTH
Mark.

<img width="471" alt="Screenshot 2020-01-09 at 13 56 47" src="https:/

[2020-01-10 18:40] gedia commented on #209
FYI, an empty /tmp/grafana.json also fails with:
[code]

This is with lastest master as of this writing, which is commit cbf95c5390e4472e35ff7aae02be4989c7b69205

[2020-01-13 15:00] kpribic opened #231 "FLOW messages out of order"
When SIP messages are recorded in the same millisecond they may appear out of order when rendered in as ladder diagram (flow). Correct ordering could be achieved by using timeUseconds property however it appears to be ordered based on timeSeconds.
Noticed first on 7.0, retested on 7.7 (7.7.001)

Example: 403 response appears to come before OPTIONS message. Same timeSeconds value but it is visible

[2020-01-13 15:06] lmangani commented on #231
Hi @kpribic thanks! This should have already been fixed, are you running the latest GO API?

[2020-01-13 16:10] adubovikov commented on #231
in the go it should be fixed, since we did sort.Slice
https://github.com/sipcapture/homer-app/blob/b0c48b9ae6019f8b89eaf38569bfba25bffcdafb/data/service/search.go#L339

[2020-01-14 08:50] kpribic commented on #231
@adubovikov according to git blame that was changed 2 days ago, so I didn't test with that code base. My system was installed via script last friday (4 days ago)

I tried to use the latest packages today but everything fell apart, It will take some time to fix it and test again.

[2020-01-14 08:56] lmangani commented on #43
![image](https://user-images.githubusercontent.com/1423657/72265062-1e168d00-361c-11ea-9662-1663f3d9f38b.png)

[2020-01-14 11:49] kevin-olbrich opened #232 "Which one to use? NodeJS or GO?"
Hi!

I noticed that a lot of changes were made to homer-app.
The current version seems to be very new and a replacement to the NodeJS version.

Which one should I use if I want to replace my old kamailio based setup?

Kind regards
Kevin

[2020-01-14 12:04] lmangani commented on #232
Hi Kevin,

You should install `homer-app` and `heplify-server` on top of `postgres` to get a basic HOMER 7.7 stack. In tandem, they replace all the UI and Capture Server functionality, removing the need for any 3rd party element. In addition you can connect them to either `prometheus` or `influxdb` for timeseries and `loki` for logs to both components.

We are upgrading the installers and componen

[2020-01-14 12:04] #232 closed

[2020-01-14 13:07] kevin-olbrich commented on #232
Hi!

Thanks for your prompt reply!
We have multiple locations but would like to see them in one interface while making sure, all locations still record data if the VPN connection is lost.

I would like to set up a heplify-server in each location with a local database and configure the frontend to connect to n databases. In homer 5, this was very simple - in webapp_config.json I only found one entr

[2020-01-14 13:37] lmangani commented on #232
The nodejs version of the API is now decommissioned and fully replaced by the GO version, which also includes the Javascript frontend code for the User-Interface. We'll publish instructions on building a "soft-cluster" or star connect system like the previous in the upcoming weeks.

[2020-01-14 13:43] kevin-olbrich commented on #232
I'm talking about the GO version:
https://github.com/sipcapture/homer-app/releases/tag/1.0.3

The deb file contains a webapp_config.json.

Does this mean it's not yet suported or just not documented?
I am a software developer (neither nodejs. nor go), missing docs are fine, some hints where to look at would already help me.

I did some research in the code but did not find multi-db support. As my

[2020-01-14 13:44] lmangani commented on #232
@kevin-olbrich standby for an extended config example. We're pushing things out of the oven as we speak so it shouldn't be long.

[2020-01-14 14:43] adubovikov commented on #222
https://github.com/sipcapture/homer-app/commit/8e88e029ee336101751057f234ba0764f4ee5932

[2020-01-14 14:43] adubovikov commented on #222
implemented in the homer App Go

[2020-01-14 15:31] jvb187 commented on #222
Thank you very much!

[2020-01-14 15:36] adubovikov commented on #222
please install the package and test it https://github.com/sipcapture/homer-app/releases

[2020-01-14 15:41] lmangani commented on #222
config reference: https://github.com/sipcapture/homer-app/blob/master/CONFIGURE.md

[2020-01-14 15:47] kpribic commented on #231
Couldn't get homer to run properly with homer-app-1.0.1-amd64.rpm, weird bugs:
1) Won't correlate options - I just get blank popup when I click on session ID - so I couldn't retry the test.
2) When correlating regular SIP calls arrows and messages are offset to the right by about 5 cm (basically one node to the right)

Just saw there is a new release, so I'll try 1.0.5 tomorrow.

[2020-01-14 15:51] adubovikov commented on #231
can you make a screenshot ?

[2020-01-14 15:52] adubovikov commented on #231
can you please also share your current correlation map ?

[2020-01-14 16:02] kpribic commented on #231
SIP call flow render offset example. also direction is weird, right to left, not sure if that is intentional :-)
![image](https://user-images.githubusercontent.com/50572561/72359660-f7755680-36ee-11ea-9ed0-e8f88aac53a1.png)

Emtpy windows example when trying to correlate OPTIONS flow
![image](https://user-images.githubusercontent.com/50572561/72359796-36a3a780-36ef-11ea-8aac-e55a9b3f2bcd.png)

Map

[2020-01-14 16:35] lmangani commented on #231
@kpribic are you familiar with the correlation mapping settings already?

[2020-01-14 17:49] jvb187 commented on #222
I installed the latest package, and the actual remote database connection is working great.  When I search I receive results as expected.

I am having issues when clicking on a Session ID link, however. The results window appears, but the loader spins forever and I receive the following in Chrome Dev Tools:

ERROR TypeError: Cannot read property 'protocol_id' of null
    at SearchGridCallComponent

[2020-01-14 18:13] adubovikov commented on #222
We will check ASAP

On Tue, 14 Jan 2020 at 18:49, jvb187 <notifications@github.com> wrote:

[2020-01-14 20:07] adubovikov commented on #222
Do you have something in the homer-app's console ? On our lab all looks.
If you will see something like this: pq: out of shared memory, you have to increase
 max_locks_per_transaction = 384
in your /etc/postgresql/11/main/postgresql.conf

[2020-01-14 20:14] jvb187 commented on #222
Would I increase this on the remote node, or on the homer-app server?   I tried increasing it on the homer-app server, but still get the same results, "Cannot read property 'protocol_id' of null"

If it is on the remote node, I am not quite sure how to do that as the remote is one of your homer7-docker images.

I do see the following in the console when I click a session ID, so I know it is retrie

[2020-01-14 20:36] adubovikov commented on #222
wait wait... this is not the homer-app go ? Are you sure that you run the latest goapp ?

[2020-01-14 20:38] jvb187 commented on #222
I am running a homer7-docker image that is collecting SIP via HEP from one of my SBC's.

I then set up a dedicated VM and installed the latest homer-app go DEB package and configured it to use the homer7-docker instance as a remote node.

I am doing all of my searching on the dedicated VM with only homer-app go latest and I am getting results pulling from my remote homer7-docker node.  It is only

[2020-01-14 21:47] adubovikov commented on #222
@lmangani any update here ?

[2020-01-15 05:55] games130 commented on #203
I have just loaded the new homer-app (via docker). I guess this is HOMER 7.7? I believe the question posted by @gedia is still there.

I too would like to have an option to use back HOMER5 search dashboard.
The new search is widget is only one column and if we add too much rows, it goes missing as you are not able to scroll down.

[2020-01-15 08:42] kpribic commented on #231
Unfortunately no, I'm stuck at trying to recreate functionality that our support staff is used to now with previous Homer release. WebUI bugs and lack of search across multiple homer DB instances was a definite blocker in the past, I was motivated to try again by Alexandrs promise to enhance search functionality couple of days ago :-)
I do have some plans for correlation in the future - I'd like t

[2020-01-15 09:13] kpribic commented on #231
Retried with version 1.1.2 and got similar results.

**Test 1** - Correlate OPTIONS on Chrome Version 79.0.3945.117 (Official Build) (64-bit)
Result: empty windows, as in the screenshot above.
Console log: [Chrome_correlate_options_fail_console.txt](https://github.com/sipcapture/homer-app/files/4063919/Chrome_correlate_options_fail_console.txt)

**Test 2** - Correlate SIP calls on Chrome Version 7

[2020-01-15 09:30] games130 commented on #231
@kpribic on homer5, i was doing p-charging-vector icid correlation - this was done by running cronjob script.
1. If you are using heplify-server, set the AlegIDs = ["P-Charging-Vector"]
2. Now the data stored in mysql have the value icid="xxxxxx"xxxxx
3. your script will need to do some string manipulation to remove the icid so that only the value remain.
4. Then corellate CallID to the AlegIDs.

[2020-01-15 10:53] adubovikov commented on #231
guys, can you update your homer-app ?
https://github.com/sipcapture/homer-app/releases/tag/1.1.4
the callflow should be OK now. About the transaction - need to investigatge, but let first update

[2020-01-15 10:54] adubovikov commented on #229
it has been fixed already.

[2020-01-15 10:54] #229 closed

[2020-01-15 10:54] adubovikov commented on #227
we have migrated to homer-app-go. Please take look at this

[2020-01-15 11:05] adubovikov commented on #203
@games130 you can change the loyout in the dashboard settings:
![Screenshot from 2020-01-15 12-04-56](https://user-images.githubusercontent.com/4513061/72429038-4a064f80-378f-11ea-9178-1264f9c2b4ed.png)

[2020-01-15 11:14] gedia commented on #203
The request concerns, among others, the possibility of choosing a grid layout for the search widget, in addition to the grid layout already available for dashboards.

[2020-01-15 11:16] adubovikov commented on #203
@gedia interesting request. Would you like do define amount of columns ?

[2020-01-15 12:43] gedia commented on #203
I believe anything above 2 columns would find very few use cases out there. But that's just my opinion.

While columns will vastly improve usability of the search widget in my opinion, it would also be useful, to a lesser extent, to have the ability to define rows. What I mean by rows is the ability to add visual horizontal separators between rows at specified points. Such a setting (e.g. add hori

[2020-01-15 13:45] lmangani commented on #227
nodejs app and knex are decommissioned. Please migrate to the new GO homer-app and feel free to open new issues if you experience glitches. Thanks!

[2020-01-15 13:45] #227 closed

[2020-01-15 13:52] lmangani commented on #222
Docker image of `homer-app` has been updated and should be now at the latest build. Please retest!

[2020-01-15 14:57] jvb187 commented on #222
I have upgrade my remote node to the latest docker images and I still receive the same error when trying to search the remote node from my local copy of the latest homer-app go.

main.8eded70ae1b56a655ac6.js:75516 ERROR TypeError: Cannot read property 'protocol_id' of null

Just to be on the same page, I have a remote node in NYC that I am running the very latest H7.7 docker images on.  This node

[2020-01-15 15:34] kpribic commented on #231
Call flow is better in 1.1.4
![image](https://user-images.githubusercontent.com/50572561/72446698-4f29c580-37b4-11ea-8e3b-a2d4fc3b0410.png)

I kinda expected some offset on the verticals, ideally half the size of one hostname box or something like that. I looked at homer5, there it appears that first and last vertical have fixed offset to window borders, and those in the middle are set at the midd

[2020-01-15 15:38] lmangani commented on #231
This specific visualization is highly dynamic (now it supports multiple protocols, types, etc) so there will be differences inevitably. The alignment in this case is one of the trickiest tricks and we prefer starting with this clean approach. We're not here to emulate the old Homer rather evolve it to cover a broader scope.  This being said, all improvements are super welcome, so feel free to send

[2020-01-15 15:46] kpribic commented on #231
I understand, I just mentioned homer5 because that particular feature (vertical line offset logic) works fine. Maybe for that feature screenshot from homer5 is a good enough mockup.
Unlike, for example, vertical flow scrolling where hostnames go off screen -  this is done waaay better in homer7. I'm very happy about that scrolling part :-)

[2020-01-15 15:50] kpribic commented on #231
How often do you run the cronjob on the DB? I presume you just update rows timestamped after the last run?

This seems like a common case. Maybe we should talk to @negbie to include it in heplify-server :-)

[2020-01-15 15:55] adubovikov commented on #222
Jeremy,

can you please open F12 in  your browser and click on the callid, after
check the Network tab if you have any API request and any exists, check the
path and the result and paste here

thank you

On Wed, 15 Jan 2020 at 15:57, jvb187 <notifications@github.com> wrote:

[2020-01-15 15:57] jvb187 commented on #222
No, there is no network request made when I click on the callid.  Only the javascript error.

Thanks,
Jeremy

[2020-01-15 16:04] adubovikov commented on #222
ghmm, ok, can you show us the result of the AIP that you have if you do
messages search  ?
The API is api/v3/search/call/data

On Wed, 15 Jan 2020 at 16:57, jvb187 <notifications@github.com> wrote:

[2020-01-15 16:12] jvb187 commented on #222
I receive all of the expected data in the api/v3/search/call/data API call that happens when I press Search. There is a data object with a data array and a keys array inside.

There is quite a bit of data and I am not sure how to display it here, is there something in particular that you are looking for?

Thanks,
Jeremy

[2020-01-15 16:32] lmangani commented on #222
pastebin the whole thing if you can

[2020-01-15 16:35] jvb187 commented on #222
I am going to work on getting an example that I don't have to worry about sanitizing and then I will put it in a pastebin and upload.

Thanks,
Jeremy

[2020-01-15 16:43] jvb187 commented on #222
Here is the pastebin:

https://pastebin.com/rQKmhXB2

Thanks,
Jeremy

[2020-01-15 16:54] jvb187 commented on #222
For a comparison, here is a patebin of the same API call when I do the same exact search on the remote node's homer-app instance, which works fine:

https://pastebin.com/MH32bw0B

It looks like there are some casting differences with the data when pulled remotely compared to local. I wonder if that has something to do with it..

Thanks,
Jeremy

[2020-01-15 17:20] adubovikov commented on #222
so, looks like this  https://pastebin.com/MH32bw0B has been served by
nodejs server-only application  and the  https://pastebin.com/rQKmhXB2 -
webapp-go

Can you confirm ?

On Wed, 15 Jan 2020 at 17:54, jvb187 <notifications@github.com> wrote:

[2020-01-15 17:36] jvb187 commented on #222
https://pastebin.com/MH32bw0B  is from the latest homer7-docker from Github.  I am using the hom7-hep-prom-graf version.

https://pastebin.com/rQKmhXB2  is just a fresh install of Ubuntu 18.04 with Postgres and the latest homer-webapp go DEB file installed.

Thanks,
Jeremy

[2020-01-15 17:39] adubovikov commented on #222
and who is populating the DB for "DEB" ? or do you use same DB ?

Wbr,
Alexandr

P.S. the homer7-docker that you use is 100% with nodejs API server. Please
update it

On Wed, 15 Jan 2020 at 18:36, jvb187 <notifications@github.com> wrote:

[2020-01-15 17:53] jvb187 commented on #222
I will try to update the docker images again.

No HEP data will be in the homer-webapp database. I plan on only using the app to search remote nodes. All HEP data is inserted into each remote node from its local SBC.

Thanks,
Jeremy

[2020-01-15 18:54] jvb187 commented on #222
I was able to get a little further.  It appears that the protocol_id javascript error only occurs when using the home page search results widget.  When I change the Results Container to Default so that it opens up a new page with the results, I no longer get the javascript error.

I am still just getting the spinning loader animation and no results.  I do now see that API calls are made successful

[2020-01-15 19:10] jvb187 commented on #222
I think I have it all working now.

It looks like I used the "LocalNode" section of the webapp_config.json file instead of "RemoteNode".

Once I moved my remote node configuration settings to "RemoteNode" and removed "LocalNode" section completely (since I will have no local node) and restarted the homer-app server, everything worked fine.

I am able to pull up the call details on both the widget

[2020-01-15 22:04] adubovikov commented on #222
Great that you have figured it out. About selection - we will implemented
in the next minor release

On Wed, 15 Jan 2020 at 20:10, jvb187 <notifications@github.com> wrote:

[2020-01-15 22:07] adubovikov commented on #222
I will close the ticket because now it very huge and we have lost the track. For the selection of node, please open an additonal ticket - i will explain how to do it even with current widget.

[2020-01-15 22:07] #222 closed

[2020-01-15 22:08] adubovikov commented on #231
I am not 100% sure, but in the heplify-server you can add custom header extraction and populate this information and do corrleation.

[2020-01-16 05:35] games130 commented on #203
May i suggest to have exactly the same search layout as HOMER5, then build a new search layout for HOMER7.7. (I guess you can have a link on a corner to use the new search layout - like how i see it being done when i upgrade to the latest prometheus)

![Untitled](https://user-images.githubusercontent.com/32865575/72496569-f6663580-3864-11ea-94b6-a9d76598f8e6.png)

[2020-01-16 09:59] games130 commented on #231
I run mine every 5 minute and to check the past 20min worth of calls - this is becasue the P-Charging-Vector might not be available at the very first INVITE. So after you have enough data you will need to go back in time to update the all the callID. So far with my setup my correlations seems great.. i get end-to-end call corellation (UE--SBC---P/S/I-CSCF---ATS----MGCF) -- I am on IMS network.

I

[2020-01-16 10:03] adubovikov commented on #231
in the Homer7 you can do correlation on any message and not only first
INVITE and not only on INVITE.....

On Thu, 16 Jan 2020 at 10:59, Wei Cheng <notifications@github.com> wrote:

[2020-01-16 15:38] kpribic opened #234 "Web UI: can't add alias"
When I try to add new alias it just throws an error via GUI:
![image](https://user-images.githubusercontent.com/50572561/72538540-44d3fe00-387e-11ea-86fb-38e9176f591f.png)

![image](https://user-images.githubusercontent.com/50572561/72538550-48678500-387e-11ea-886d-ebeeb2a2e06b.png)

Console log from chrome:
[Alias.error.txt](https://github.com/sipcapture/homer-app/files/4072067/Alias.error.txt)

[2020-01-16 15:40] adubovikov commented on #234
it has been fixed today, just take the latest webapp from master or wait for a package

[2020-01-16 15:41] kpribic commented on #190
As far as I can see this is implemented in 1.1.4.

[2020-01-16 15:41] #190 closed

[2020-01-16 15:41] adubovikov commented on #234
about error, totaly agree - pushing this information to the dev team

[2020-01-16 15:41] adubovikov commented on #234
@RFbkak37y3kIY please take it

[2020-01-16 15:45] kpribic commented on #231
@adubovikov could you please change the default orientation of the first arrow (first message between two nodes)?
Now it points right-to-left and it's really weird because the whole flow is read left-to-right.
Noted with red in screenshot:
![image](https://user-images.githubusercontent.com/50572561/72539429-9466f980-387f-11ea-917b-23143c242fc8.png)

[2020-01-16 16:50] lmangani commented on #231
@kpribic the orientation depends on the package source/destination and the first displayed package is probably NOT the invite. What's above it? That's the issue.

[2020-01-16 21:39] adubovikov commented on #231
@kpribic fixed in
https://github.com/sipcapture/homer-app/commit/1da5bbae6ec52d0a50650100a1f094b46152d7cb

[2020-01-17 09:01] kpribic commented on #231
@lmangani INVITE was the first message, I think it was a bug. Anyways: tested with latest release, arrow orientation is sensible now thanks to @adubovikov fix

Now all that remains as open issue in this thread is lack of flow correlation on SIP DEFAULT, or specifically OPTIONS messages.

[2020-01-17 09:05] adubovikov commented on #231
we will provide today couple changes, so, please wait

[2020-01-17 09:05] kpribic commented on #234
Tried with latest version, adding still doesn't work, while I can edit existing one.
![image](https://user-images.githubusercontent.com/50572561/72598773-c4aaa880-3910-11ea-8af5-8127583dd93c.png)
![image](https://user-images.githubusercontent.com/50572561/72598780-c8d6c600-3910-11ea-9149-805971e6939a.png)

[2020-01-17 09:05] adubovikov commented on #234
we are working on it right now... please wait

[2020-01-17 09:14] kpribic opened #235 "Export pcap/text doesn't work"
Export pcap results in empty pcap file.
Export to text results in empty text file.
Tested on current master, latest chrome, exporting correlated SIP call. Same behavior for report and widget display.

![image](https://user-images.githubusercontent.com/50572561/72599469-09830f00-3912-11ea-8594-08b045ffdc8b.png)

[2020-01-17 09:16] adubovikov commented on #235
please check F12 web console if you return any data
also check the text export

[2020-01-17 09:21] kpribic commented on #235
Text export empty as well, console doesn't show anything.
![image](https://user-images.githubusercontent.com/50572561/72600011-19e7b980-3913-11ea-932e-0b368667bba9.png)

[2020-01-17 09:43] kpribic opened #236 "Editing mapping schema via GUI"
I tried to add a new SIP field via field GUI for call SIP mapping and after changing it my widgets broke. After I removed the changes via GUI widgets still report that configuration is broken.

![image](https://user-images.githubusercontent.com/50572561/72601608-025e0000-3916-11ea-918e-1cca2c0bbc8b.png)

In the configuration tables in DB it looks like web GUI added \n newlines after editing that f

[2020-01-17 09:45] adubovikov commented on #236
Thank you for your report, but as I said, we are working on it right now. Please wait a bit and we will push all changes to the master and packages after testing.

[2020-01-17 09:49] kpribic commented on #236
OK, sorry I didn't realize that this is the same problem, thought this was something unrelated.

[2020-01-17 14:40] donweasel opened #237 "HOMER ui site not running"
Hello,
i have tried to install Homer7 several times in Centos 7 or Debian 9 with no luck. the main site is not running while other sites like chronograf UI works perfect.

i have used the following commands
cd /usr/src
wget https://cdn.rawgit.com/sipcapture/homer-installer/master/homer_installer.sh
chmod +x homer_installer.sh
./homer_installer.sh

and bellow ports open
tcp        0      0 127.0.0.

[2020-01-17 14:43] lmangani commented on #237
Hi,

Not sure if the CDN cache is playing tricks but there seems to be no UI listening at all here.
Check if you have anything in `/usr/local/homer` if you don't, manually add the `homer-app` component, or run the latest script and attach the logs in case of issues to get help.

[2020-01-17 16:01] donweasel commented on #237
Hi,
it happening same exact thing on DEBIAN 9, nothing listening on port 80.  i see inside /usr/local/homer
2 folders: dist  etc.

attached my logs:
[homer_installer.sh.21801.log](https://github.com/sipcapture/homer-app/files/4077602/homer_installer.sh.21801.log)

[2020-01-17 16:33] RFbkak37y3kIY commented on #234
fixed

https://github.com/sipcapture/homer-ui/commit/902b7518de1c096bac36e29d27dccaa699fd352e

https://github.com/sipcapture/homer-ui/commit/d78b6d31292d75af017859c136bb2a4f19a00b33

https://github.com/sipcapture/homer-ui/commit/d09590cf972a29bf3c77600b830e5db581afc6cb

[2020-01-17 16:33] #234 closed

[2020-01-17 18:36] aqsyonas commented on #237
you need to check on port 9080.

Br, Aqs.

On Fri, Jan 17, 2020 at 9:02 PM Lorenzo Mangani <notifications@github.com>
wrote:

[2020-01-17 18:38] donweasel commented on #237
I have checked and if you read the first post, the port 9080 is not on the list.

[2020-01-17 20:31] orthelan commented on #237
I'm having the same issue. The homer-app process fails to start with the error.

`{"level":"error","msg":"pq: password authentication failed for user \"homer_user\"","time":"2020-01-17T15:26:09-05:00"}`

I was able to resolve this issue by changing  the localhost entries in ph_hba.conf to

`# IPv4 local connections:
host    all             all             127.0.0.1/32            md5
# IPv6 local c

[2020-01-17 23:31] donweasel commented on #237
hello all, this is how i finally fixed it ;)
1. yum install -y postgresql-server postgresql-contrib
2. Reboot  (postgresql started with no problems, homer DBs and users present)
3. the installation console tells that config files are at  '/opt/homer-app/server/config.js'
         '/opt/homer-app/server/private/jwt_settings.json'  but they really are at **/usr/local/homer/etc/** went in to config.j

[2020-01-18 00:14] adubovikov commented on #237
Thank you, but you have to force use homer-app go. NodeJS version is
obsolete

On Sat, 18 Jan 2020 at 00:31, donweasel <notifications@github.com> wrote:

[2020-01-18 00:15] ryan99alero commented on #206
I'm not seeing a server-only branch nor did I find any examples & templates.  Was wanting to see if they had any alternate options for the Dash Board vs the stock one.  Has this been moved?  I've found several dashboard files but I think they are for Prometheus not homer web app.

[2020-01-18 00:15] donweasel commented on #237
Hi, and... how do i do that? seems like the script is not installing everything as expected :(

[2020-01-18 00:17] adubovikov commented on #206
server-only is obsolete. You have to use homer-app-go - the new version of
our API

On Sat, 18 Jan 2020 at 01:15, Ryan99alero <notifications@github.com> wrote:

[2020-01-18 15:14] aqsyonas commented on #237
I have checked the logs that you sent. Looks like you had run it multiple
times on the same machine. Script was supposed to run on a freshly
installed debian9/centos7.

Br, Aqs

On Sat, 18 Jan 2020, 5:15 am donweasel, <notifications@github.com> wrote:

[2020-01-18 17:09] donweasel commented on #237
ill try a fresh install and will put the logs here in couple hours
Thanks!

[2020-01-19 01:19] donweasel commented on #237
Well... this is weird... it worked now flawless. thank you all !!

[2020-01-19 01:22] lmangani commented on #237
Great! Let us know if you find any other issues and welcome to the bunch!

[2020-01-19 14:50] donweasel commented on #237
Hello again... ;)

server is not displaying any data, this is the config i have on my FreeSwitch

sofia.conf.xml
    <param name="capture-server" value="udp:192.168.10.222:9060"/>

external.conf.xml
    <param name="sip-capture" value="yes"/>

i was using a HOMER5 server before and it was working fine.

thoughts?
thanks

[2020-01-19 15:25] adubovikov commented on #237
did you change the capture server or only web parts ?

On Sun, 19 Jan 2020 at 15:50, donweasel <notifications@github.com> wrote:

[2020-01-19 15:25] lmangani commented on #237
You'll have to do some more legwork. Check if the data is coming to the right server/port as a first step ( `ngrep -W byline port 9060`) and then check if `heplify-server` is running and reports any issues. If it does not, data should be inserted to pgsql (`ngrep -W byline port 5432`) and then be searchable.

[2020-01-19 15:48] donweasel commented on #237
@adubovikov is a new server

@lmangani i see server getting packets on port 9060 when making a call,  but no activity on port 5432.

bellow ports that are listening
tcp        0      0 127.0.0.1:8088          0.0.0.0:*               LISTEN      6892/influxd
tcp        0      0 127.0.0.1:5432          0.0.0.0:*               LISTEN      6337/postmaster
tcp        0      0 127.0.0.1:25            0.

[2020-01-19 16:06] lmangani commented on #237
@donweasel everything seems to be running - we need to troubleshoot the `heplify-server` settings and make sure the auth to the local database is proper. Feel free to share your configuration here so we can correct whatever the issue was/is.

[2020-01-19 16:12] adubovikov commented on #237
did you configure to use homer7 mapping and use postgres connection ?

On Sun, 19 Jan 2020 at 16:48, donweasel <notifications@github.com> wrote:

[2020-01-19 16:13] lmangani commented on #237
@adubovikov the installer should have done everything - this will help us understand if there's something missing

[2020-01-19 16:14] aqsyonas commented on #237
You can also check if heplify-server reports any error in
/opt/heplify-server/ log file.

On Sun, 19 Jan 2020, 9:06 pm Lorenzo Mangani, <notifications@github.com>
wrote:

[2020-01-19 16:25] donweasel commented on #237
@lmangani the installer once again say config files are at /opt/homer-app/server/  but they are at /usr/local/homer/etc/

attached config file

@aqsyonas attached log files
[heplify-server.log](https://github.com/sipcapture/homer-app/files/4082910/heplify-server.log)

[webapp_config.txt](https://github.com/sipcapture/homer-app/files/4082912/webapp_config.txt)

[2020-01-19 17:04] lmangani commented on #237
@donweasel thanks! we'll get this fixed asap in the installer - that's indeed the location the packages will install the `homer-app` files and config to - you can create a symlink for now if you wish to get out of the muds.

[2020-01-19 17:06] donweasel commented on #237
@lmangani could you please point me to the correct directions on the symlink? dont want to mess things up :)

[2020-01-19 17:30] lmangani commented on #237
@donweasel I've checked and the wrong path only appears in the printout. The problem is unrelated. Please make sure you're sending HEPv3 and if you're not sure, show us a sample of what's arriving on port 9060 on the Homer server please.

[2020-01-19 17:41] donweasel commented on #237
here you go...
[homer7.log](https://github.com/sipcapture/homer-app/files/4082995/homer7.log)

[2020-01-19 17:43] adubovikov commented on #237
this is hep v2, please switch to HEPv3

On Sun, 19 Jan 2020 at 18:41, donweasel <notifications@github.com> wrote:

[2020-01-19 17:46] lmangani commented on #237
@donweasel
[code]

[2020-01-19 17:47] donweasel commented on #237
understood... testing....

[2020-01-19 17:50] donweasel commented on #237
i think is not supported on the version i have FreeSWITCH Version 1.4.18   because when using the changes @lmangani gave me, im not getting any traffic on port 9060

[2020-01-19 17:51] adubovikov commented on #236
please take the new package and test it

[2020-01-19 17:51] adubovikov commented on #231
please take the new package and test it

[2020-01-19 17:52] lmangani commented on #237
Disable the integrated HEP agent on this historical version, and install `heplify` on the FS instance. With a version that old, i'm sure you do NOT do any TLS so you can go passive and forget the complexity behind.

[2020-01-19 17:52] #237 closed

[2020-01-19 17:53] adubovikov commented on #237
so, or the heplify or the captagent can do the duplicate job

[2020-01-19 17:54] lmangani commented on #237
Use this command as reference:  `./heplify -i eth0 -pr 5060-5080 -hs 192.168.10.222:9060`

[2020-01-19 18:16] donweasel commented on #237
i dont see a guide on how to properly install heplify, could you please help me out ?  thanks

[2020-01-19 18:24] lmangani commented on #237
there's nothing to install, really, just a readme to follow .

* Download [heplify](https://github.com/sipcapture/heplify/releases) and execute 'chmod +x heplify'
* Adjust parameters and Run `./heplify -i eth0 -pr 5060-5080 -hs 192.168.10.222:9060`

You'll find instructions on the repository to set it up as a [service](https://github.com/sipcapture/heplify/blob/master/example/heplify.service), etc

[2020-01-19 19:18] donweasel commented on #237
sorry to be a pain... but is complaining about something im not sure if i have them installed

./heplify: /lib64/libc.so.6: version `GLIBC_2.14' not found (required by ./heplify)
./heplify: /lib64/libc.so.6: version `GLIBC_2.15' not found (required by ./heplify)

[2020-01-19 20:02] lmangani commented on #237
Alright - You are now troubleshooting `heplify` so please, do open a separate thread to keep the topic relevant. In doing so, please make sure you specify what operating system and version you are using, as we can't really guess it - in this case, it seems to be a super, super outdated OS so you might have to compile your own binary. Thanks for understanding!

[2020-01-19 20:06] donweasel commented on #237
hello all, thanks for the help and yes is a really old install, and our programmers are couple month far to update our in-house app to use latest of everything.

thank you !!

[2020-01-19 22:20] adubovikov commented on #237
in worse case you can compile this application:

https://github.com/sipcapture/captagent/tree/captagent4/old/captagent_0_9_1

On Sun, 19 Jan 2020 at 21:07, donweasel <notifications@github.com> wrote:

[2020-01-20 08:59] kpribic commented on #231
Flow doesn't render for OPTIONS messages.

# ./homer-app -version
VERSION: 1.1.6

![image](https://user-images.githubusercontent.com/50572561/72712557-9379e480-3b6b-11ea-92b4-af05e64d4e0b.png)

[2020-01-20 09:05] kpribic commented on #236
Same behavior on 1.1.6.
I reset the whole config DB with
`/homer-app -populate-table-db-config  -force-populate`
to have a clean starting point.
Search widget is broken on simple open and save of mapping config via gui. It looks like this in DB:

![image](https://user-images.githubusercontent.com/50572561/72712877-40ecf800-3b6c-11ea-86d9-4965f4008eff.png)

[2020-01-20 11:31] kevin-olbrich commented on #232
Can I use this repo instead of building the app myself?
https://packagecloud.io/qxip/sipcapture

Or, is there a reason not to use it?

I am building images using CI, pulling apps directly from a repo is easier to track.

[2020-01-20 14:01] adubovikov commented on #236
sorry, did you run heplify-server after that ?

[2020-01-20 14:04] donweasel opened #238 "Incomplete data inserted from heplify client to Homer7"
Hello,
i have successfully able to insert data from a Centos6 / FreeSwitch 1.4 to HOMER7 using heplify client but the data seems to be incomplete, attached some logs.

this is the command and running from the FreeSwitch server
./heplify -i any -pr 5060-5080 -hs 192.168.2.222:9060

homerui_2 happens when i try to click on any of the ID so show the graphics

![homerui_2](https://user-images.githubus

[2020-01-20 15:11] lmangani commented on #232
Absolutely! Just be aware, the package generation and push it not yet fully automated so it might lag behind the master

[2020-01-20 15:45] NinoFares opened #239 "utf-8-validate version 4.0.0 is not supported"
Hi,

utf-8-validate on version < 4 is not supported anymore, i try it with 5.0.2 (the lastest version) and it's work with it.

https://github.com/sipcapture/homer-app/blob/cbf95c5390e4472e35ff7aae02be4989c7b69205/package.json#L59

[2020-01-20 15:47] lmangani commented on #239
Hi @NinoFares - We no longer use nodejs for the backend. Please upgrade to the latest swap-in node-app using a binary release or a package and you should be good to go.

[2020-01-20 15:47] #239 closed

[2020-01-20 16:16] kpribic commented on #236
No I didn't before, but I tried now and it duplicated all entries in mapping table. Is that intentional?
Editing via GUI still breaks data even with duplicated entries.

[2020-01-20 17:28] adubovikov commented on #236
Kosta,

please take the latest heplify-server (1.14)  and clean up the
configuration database using homer-app with --force-populate. It should
solve the problem

On Mon, 20 Jan 2020 at 17:16, Kosta Pribić <notifications@github.com> wrote:

[2020-01-21 13:01] ghmj2417 opened #240 "logpath in system_settings being overwritten"
I believe the following code in main.go is overwriting my log settings in webapp_config.json/system_settings.  You check if appFlags.LogPathWebApp is not empty, and it won't be because you are setting a default value, so it assigns logPath as appFlags.LogPathWebApp.  The workaround would be to add the param when starting homer-app, but I would much rather keep the config in webapp_config.json.  Ar

[2020-01-21 14:53] adubovikov commented on #240
fixed. Will be realeased today in the new package

[2020-01-21 15:14] ghmj2417 commented on #240
@adubovikov I saw the commit.  Thank you,  You may want to do the same thing for LogName as that has the same problem.

[2020-01-21 15:19] adubovikov commented on #240
done

[2020-01-21 17:01] donweasel commented on #238
any one?

[2020-01-21 17:02] adubovikov commented on #238
a new update is coming....

On Tue, 21 Jan 2020 at 18:01, donweasel <notifications@github.com> wrote:

[2020-01-21 18:20] adubovikov commented on #240
https://github.com/sipcapture/homer-app/releases/tag/1.1.8

[2020-01-21 18:20] adubovikov commented on #238
https://github.com/sipcapture/homer-app/releases/tag/1.1.8

[2020-01-21 18:20] adubovikov commented on #238
https://github.com/sipcapture/heplify-server/releases/tag/1.14

[2020-01-21 18:21] adubovikov commented on #235
https://github.com/sipcapture/homer-app/releases/tag/1.1.8

[2020-01-21 18:21] adubovikov commented on #236
https://github.com/sipcapture/homer-app/releases/tag/1.1.8
https://github.com/sipcapture/heplify-server/releases/tag/1.14

[2020-01-21 18:22] adubovikov commented on #231
https://github.com/sipcapture/homer-app/releases/tag/1.1.8

[2020-01-21 18:22] adubovikov commented on #225
https://github.com/sipcapture/homer-app/releases/tag/1.1.8
https://github.com/sipcapture/heplify-server/releases/tag/1.14

[2020-01-21 18:23] adubovikov commented on #128
https://github.com/sipcapture/homer-app/releases/tag/1.1.8
https://github.com/sipcapture/heplify-server/releases/tag/1.14

[2020-01-21 18:23] adubovikov commented on #203
https://github.com/sipcapture/homer-app/releases/tag/1.1.8

[2020-01-21 18:39] ghmj2417 commented on #240
Thank you very much Alexandr

[2020-01-21 22:03] kevin-olbrich opened #242 "Frontend needs a local homer_data database"
I've set up two collector (heplify-server) nodes with local pg server and one standalone frontend host with homer-app.

Looks like homer-app references this database locally but it only exists on both remote nodes. The frontend only has homer_config.

[code]
192.168.30.9: Frontend server

[2020-01-21 23:20] kevin-olbrich commented on #242
Nvm, my fault. I've not used pgsql a lot recently and forgot to allow remote pg_hba config.

[2020-01-21 23:20] #242 closed

[2020-01-21 23:21] kevin-olbrich opened #243 "influxdb_config is mandatory"
If influxdb_config is removed from the config, the app won't start:

[code]

Leaving the setting in it, without changing the values, works.

[2020-01-21 23:24] kevin-olbrich opened #244 "Error by updating application tablepq: relation \"applications\" does not exist"
Fresh install:

[code]

[2020-01-21 23:31] kevin-olbrich commented on #244
Ok, looks like something got screwed up during the database bootstrap.

[2020-01-21 23:31] #244 closed

[2020-01-22 00:04] kevin-olbrich opened #245 "Broken setup when SIPHeader not set"
My dashboard does not work correctly. I previously used homer5 and tried to set up latest homer.

The session id has another cursor but I can't click - nothing happens. Also user data isn't shown.
Feeders are asterisk v13 and freeswitch 1.8.x.

![image](https://user-images.githubusercontent.com/503085/72853898-017cf380-3cb3-11ea-8d75-9742eff38cd6.png)

Source and Dest IPs have been removed, they a

[2020-01-22 00:24] lmangani commented on #245
It appears your mapping might be at fault here. I would consider re-populating the homer-app parameters, without dropping the traffic, to see if it helps:
`homer-app -populate-table-db-config ` (might need the force bit set, too)

[2020-01-22 00:26] lmangani commented on #243
TODO: add an 'enable' parameter to the configs to skip them entirely.

[2020-01-22 07:55] kevin-olbrich commented on #245
I already tried this but it did not help. I just did this again:

[code]

Still same display.

I did another try using a factory new firefox - same issue (no adblock, etc.).

Config:

[code]

The "localnode" in "database_data" has been added automatically, it does not realy make sense, isn't it?

[2020-01-22 08:30] kevin-olbrich commented on #245
I've corrected the database connection but the issue is not resolved.

[2020-01-22 08:36] kevin-olbrich commented on #245
Firefox Web Console logs this error:

![image](https://user-images.githubusercontent.com/503085/72877867-1df04e80-3cfa-11ea-8228-4fcbc8802e53.png)
Google Chrome, Fedora 31

The file exists and I can click the link inside the message.

Windows does not display anything at all:
![image](https://user-images.githubusercontent.com/503085/72878036-77f11400-3cfa-11ea-9014-02275f947e84.png)
Google Chrome,

[2020-01-22 08:41] lmangani commented on #245
Are you using the latest release 1.1.8? Please update your homer-app binary and provide a step-by-step sequence to reproduce your issue, thanks.

[2020-01-22 08:49] kevin-olbrich commented on #245
Yes, it's the same for 1.1.8:
[code]
Host is Debian 10/Buster.

I did nothing special, I set a password for the postgres user using psql and followed these steps:
https://github.com/sipcapture/homer-app/blob/master/CONFIGURE.md
https://github.com/sipcapture/homer-app/blob/master/README.md

Homer-app then beautified my webapp_config.json and let me login.

[2020-01-22 08:54] kevin-olbrich commented on #245
And this happens when I click on a Session ID:
![image](https://user-images.githubusercontent.com/503085/72879413-19796500-3cfd-11ea-80b5-f23e26580d02.png)

[2020-01-22 10:01] adubovikov commented on #242
Just for the future, if somebody seen such error , this means, you have to add your host to

**/etc/postgresql/11/main/pg_hba.conf** (depends on the version of your postgres - here is 11)

something like this
[code]

[2020-01-22 10:05] adubovikov commented on #244
sorry, about that - just run:

homer-app -create-table-db-config (it runs CREATE IF NOT EXISTS)

it will create the missed table. I will implement an "upgrade" option

[2020-01-22 10:07] adubovikov commented on #243
I will take a look

[2020-01-22 10:15] kevin-olbrich commented on #244
Yes, seems to be a classical layer 8 issue.
The onboarding instructions have some space for misinterpretation.

As soon as I get it working on my site and know what is needed to setup, I can spin up some Wiki PRs.

[2020-01-22 11:01] adubovikov commented on #243
{"level":"info","msg":"InfluxDB functions disabled","time":"2020-01-22T12:00:32+01:00"}
{"level":"info","msg":"Prometheus functions disabled","time":"2020-01-22T12:00:32+01:00"}

[2020-01-22 11:05] adubovikov commented on #243
so, please take the latest binary
https://github.com/sipcapture/homer-app/blob/master/homer-app

[2020-01-22 11:12] adubovikov commented on #245
@kevin-olbrich can you share to us the result of /api/v3/search/call/data ?

[2020-01-22 11:13] adubovikov commented on #245
and do you use heplify-server 1.14 ?

[2020-01-22 11:15] adubovikov commented on #244
perfect! I have also added -update-table-db-config - this is an alias to -create, because gorm does migration automaticaly, without dropping the existing columns

[2020-01-22 12:17] adubovikov commented on #245
looks like this is broken mapping. Can you go to Settings->Mapping->call SIP and paste here the mapping. Also please be sure that you don't have any dupplications! Please use heplify-server 1.14

[2020-01-22 15:47] ghmj2417 opened #246 "Role-based access control"
In HOMER 5 you have the option to assign a user as an admin or a user which then limits what they can and cannot do using the UI.  Will (or does) HOMER 7 have the same functionality?  I searched through the code for usergroup, admin, etc but couldn't find anything that prevents access to administrative settings.

[2020-01-22 16:03] adubovikov commented on #246
in H5 only admin can edit Settings. In the H7 will be same. The rest functionality for user and admin is identical

[2020-01-22 16:09] ghmj2417 commented on #246
I want to make sure I am understanding correctly.  "In the H7 will be same." meaning this functionality isn't there yet but will be in the future?

If it is not there yet, do you know what you will name the usergroup that has limited rights? user? users?  As of now, I see user `admin` and `support` added to a usergroup called `admin`.  So going with the singular theme I would guess it would be `us

[2020-01-22 16:46] lmangani commented on #246
@ghmj2417 a few advanced features are being adjusted and this is one, but the schema and the design include basic roles. As Alexandr said, there will be an admin bit determining visibility of certain options and menus for each user.

[2020-01-22 16:59] ghmj2417 commented on #246
Got it.  Not available yet, feature is coming, don't worry about `usergroup` yet.  Thank you for the responses.

[2020-01-22 18:44] kevin-olbrich commented on #245
GET
`{"message":"Method Not Allowed"}`

Yes:
[code]

![image](https://user-images.githubusercontent.com/503085/72923523-89184000-3d4f-11ea-96fe-cb1f217597c1.png)

[2020-01-22 18:50] adubovikov commented on #245
If you click on F12 you will able catch all network calls

[2020-01-22 19:19] kevin-olbrich commented on #245
I use real data for the test, I need to make sure I don't leak data.

The data looks like this:

![image](https://user-images.githubusercontent.com/503085/72926073-11004900-3d54-11ea-83e4-05468ce7be2f.png)
...
![image](https://user-images.githubusercontent.com/503085/72926196-4b69e600-3d54-11ea-88b3-3fc78eefeb14.png)

[2020-01-22 19:23] kevin-olbrich commented on #245
I'm using HEP from asterisk and freeswitch, no port mirror.
Currently the interconnect is using UDP but we want to be able to use TCP/TLS, that's why a port mirror does not make sense here. Does a clean install work for you?

PS: Homer5 was working fine until I shut it down yesterday. I was able to browse sessions and see user names (FROM, etc.), source data should be fine then (IMHO).

[2020-01-22 19:46] lmangani commented on #245
Are you using HEPv3 in your Agent setups? This is extremely important and often overlooked.

[2020-01-22 20:34] electroniceel opened #247 "Document database table mapping"
I have installed heplify-server-1.13 and homer-app-1.1.8 from your RPMs on CentOS 7.
heplify-server successfully receives sip call data and stores it into the homer_data database.

I can see in the database that the data is being stored into tables with a timestamp-based table name, like hep_proto_1_default_20200122_1900. I guess this has something to with the "DBPartSip" parameter in the heplify-

[2020-01-22 20:35] kevin-olbrich commented on #245
I think so:
[code]

[2020-01-22 20:51] lmangani commented on #247
Our platform will "partition" messages based on their session type - if your messages belongs to calls (vs registrations, keep-alives, etc) they will be in the `hep_proto_1_call` partition most likely. Try adjust your widget and search with no parameters, or reset the provisioning to get a default dashboard which does this already and let us know if it sorts it.

[2020-01-22 20:56] kevin-olbrich commented on #245
Ok, we are getting closer. As I did not fully understand what SIPHeader in heplify-server does, I left it on default: [].
Using the demo setting, I now see data and JS started working (maybe the code depends on it?).

Why do I need to set it? For debug, I would like to see "everything". Is this different to h5?

[2020-01-22 20:58] electroniceel commented on #247
When looking into the database dump, I see content in the hep_proto_1_registration_<date-and-hour> and  hep_proto_1_default_<date-and-hour> tables.

When I tell the widget to search in "default", it searches in the "hep_proto_1_default" database table. But that does not exist.

To me it looks like I somehow have to tell the homer-app to add the requested date and hour to the names of the database

[2020-01-22 21:02] lmangani commented on #247
Just to make sure I can replicate this somehow, have you created all the databases and tables as per readme steps? https://github.com/sipcapture/homer-app#create-homer-dbs or just installed and ran the packages?

[2020-01-22 21:11] electroniceel commented on #247
I first installed heplify-server. I manually created a database user and databases for it with the tools postgres commandline tools. Then I started heplify-server. It created a basic database schema for itself on startup. Then I began to feed data into it and made sure that the data is stored into the database.

After this was completed I began to look at homer-app. I found out that it is not work

[2020-01-22 21:41] lmangani commented on #247
You definitely have the wrong mapping tables. Let us look into an easy fix - this should NOT affect new installs, only those with an older heplify-server migrating up at this time.

[2020-01-22 21:46] adubovikov commented on #246
https://github.com/sipcapture/homer-app/commit/e887ec4ab3a256be699cba6d01698f41764a32a6
implemented in homer-app. Tomorrow we will add this in UI to have correct visibility

[2020-01-22 21:49] electroniceel commented on #247
So for new installs, heplify-server should use these date-and-hour named tables, and homer-app automatically use them?

And homer-app using database table names without date-and-hour is just something for old installs which are migrated?

So the fault is in the mapping tables of homer-app?

[2020-01-22 22:15] ghmj2417 commented on #246
That is truly amazing how quickly you put that together.  Big kudos to you for doing that.

[2020-01-22 23:10] electroniceel commented on #247
Because you suggested that this problem could be caused by some database migration logic, I just stopped both services and deleted both databases. Then I recreated them and filled them with homer-app -create-table-db-config and homer-app -populate-table-db-config.

After that I restarted heplify-server and sent some new data to it. It is still stores in database tables with the date and hour in th

[2020-01-22 23:39] lmangani commented on #247
Could you try with heplify-server-1.14 see if it makes any difference? We appreciate your effort and will surely figure this out for everyone's benefit - thanks!

[2020-01-22 23:44] adubovikov commented on #247
now you can do this way:
homer-app -populate-table-db-config -populate-table=mapping_schema
can be also multiple parameters:
homer-app -populate-table-db-config -populate-table=mapping_schema -populate-table=global_settings

[2020-01-22 23:49] adubovikov commented on #245
so, once you will define the SIPHeader, it will extract only these headers. Better keep it empty!

also, please update your mapping:

./homer-app -populate-table-db-config -populate-table=mapping_schema -force-populate

[2020-01-23 07:28] games130 commented on #203
I notice that now we can specify the columns. Still quite different from HOMER5.
![Capture](https://user-images.githubusercontent.com/32865575/72964156-0d240380-3df4-11ea-87b9-1dd21797b72d.JPG)

is it possible to make it so that we can arrange the parameters on which row and column.
is it possible to have multiple widget but when we click search it will take all search parameter from all the searc

[2020-01-23 08:25] kpribic commented on #231
Works now!

[2020-01-23 08:25] #231 closed

[2020-01-23 08:35] kpribic commented on #236
@adubovikov New versions you refer fixed the duplicated entries issue. However editing mapping still fails, same issue as before: there is escaping in JSON in DB after saving via WebGUI.

[2020-01-23 08:37] kpribic commented on #235
Same behavior as before.

[2020-01-23 10:05] adubovikov commented on #203
currently each widget is an isolete scope. In one of next releases we will add "connections" between widget, but for now you can just make widget bigger and add multiple columns

[2020-01-23 10:09] adubovikov commented on #236
@kpribic How did you edit that ? Did you make copy & paste from an external editor ?
If you open an existing record and just change a param and press save - will it save correct ?

[2020-01-23 10:11] adubovikov commented on #235
@kpribic can you activate debug in the homer-app and check if you have any exceptions ?

[2020-01-23 10:34] kpribic commented on #236
I just opened, did a minor edit in one field and saved.  Consequence is that both saved fields are incorrect. Same as in initial report:

[2020-01-23 10:47] lmangani commented on #246
This is now in testing phase, please contribute back your feedback and experiences to lock this down. Thanks!

[2020-01-23 10:48] lmangani commented on #245
Shall we consider this resolved? Sounds to me the issue was simply the misconfigured `SIPHeader` in heplify-server

[2020-01-23 10:53] kpribic commented on #235
There is one error that appears when homer starts:
`
{"level":"error","msg":"Error by updating application tablepq: relation \"applications\" does not exist","time":"2020-01-23T10:38:43Z"}
`
No errors when I do pcap export (replaced my IP with 5.5.5.5 and server with 6.6.6.6):

`
**Click to correlate**
{"time":"2020-01-23T10:47:43.928102455Z","id":"","remote_ip":"5.5.5.5","host":"6.6.6.6:9080","me

[2020-01-23 10:56] adubovikov commented on #236
tested on FF and Chrome - no issues
Can you please catch in the Webconsole F12 what did you send in the PUT /api/v3/mapping/protocol/:guid ?

[2020-01-23 11:04] kpribic commented on #236
It actually sends the escaping characters:

![image](https://user-images.githubusercontent.com/50572561/72979349-6a11c080-3dd8-11ea-9f0d-fe370570a959.png)

[2020-01-23 11:04] adubovikov commented on #235
please run:
[code]
homer-app -version
[code]

[2020-01-23 11:06] adubovikov commented on #236
it should send as an array. Whats version of UI do you use ?

[2020-01-23 11:08] kevin-olbrich commented on #245
Why do I need to set `SIPHeader`?
I did not set it ( [] ) and it did not work. From your comment it sounds like, an empty value should not filter the data but it looks like, it just drops everything if it's unset.

That's the problem :-) I've not tried what happens when I set it back to empty but on my fresh install, that field was empty and it caused this issue.

[2020-01-23 11:09] lmangani commented on #245
@negbie do you mind shedding some light here? This was implemented w/o much documentation indeed

[2020-01-23 11:41] adubovikov commented on #209
can you upgrade to the homer-app go ?

[2020-01-23 11:43] #240 closed

[2020-01-23 11:43] #243 closed

[2020-01-23 11:48] kevin-olbrich commented on #245
Just to make sure: It started to work when I added Headers to that setting, not the other way around.

[2020-01-23 11:50] adubovikov commented on #245
can you paste your toml ? I just checked on our lab and it works without that param :-/

[2020-01-23 12:09] negbie commented on #245
I think it's pretty obvious what his problem is. He set the value intentionally to an empty array. I will prevent this later by checking if len of SIPHeaders is >1-5 and if not use defaults.

[2020-01-23 12:11] kevin-olbrich commented on #245
Exactly! Just like the example config.

[code]

[2020-01-23 12:28] adubovikov commented on #245
and if you will remove SIPHeader and restart heplify-server ? Will it work ?

On Thu, 23 Jan 2020 at 13:11, Kevin Olbrich <notifications@github.com>
wrote:

[2020-01-23 12:32] kpribic commented on #235
This solved the error about "applications" table, but pcap/text export still doesn't work, same as before.

`$ ./homer-app -create-table-db-config

HOMER - creating table for the config DB [dbname=homer_config]

DONE
`

`
$ homer-app -version
VERSION: 1.1.8
`

I also ran populate just in case:
`
# ./homer-app -populate-table-db-config -force-populate

HOMER - filling tables for the config DB [dbna

[2020-01-23 12:51] kpribic commented on #235
OK it appears that I can get pcap for some sessions and not for others.
When I find one session for which I can get a pcap then it's findable in search using callid. Ones I can't export (most of them) are not found when I search via Call SIP search widget by callid.
They are visible when I just search certain time period with no constraints.

Something is wrong here, I'll try to figure out what is

[2020-01-23 12:53] kpribic commented on #236
By GUI you mean heplify-app? 1.1.8

[2020-01-23 13:01] AlexeyOplachko opened #248 "Changing Protosearch "Proto" parameter doesn't work."
Whenever I try to switch "Proto" parameter it does reset to previous one.
![2020-01-23_14-59-28](https://user-images.githubusercontent.com/45398541/72986570-1f507280-3df1-11ea-8096-b2ec237e7d39.gif)

[2020-01-23 13:34] adubovikov commented on #236
GUI - Graphic User Interface - the version you could find in  title  of
your browser [image: Screenshot from 2020-01-23 14-33-21.png]

On Thu, 23 Jan 2020 at 13:53, Kosta Pribić <notifications@github.com> wrote:

[2020-01-23 13:34] adubovikov commented on #236
![Screenshot from 2020-01-23 14-33-21](https://user-images.githubusercontent.com/4513061/72988910-8409ce00-3ded-11ea-820a-16db37b4e977.png)

[2020-01-23 13:42] adubovikov commented on #211
the button share link has been enabled in the dev. We will release it today.

but the link will be availble only for homer's users. For an external user you have to use Homer-View project

https://github.com/sipcapture/homer-view-react

[2020-01-23 13:42] #211 closed

[2020-01-23 13:49] AlexeyOplachko commented on #248
Small update: It doesn't happen on new widget, only on old copy or on default one.

[2020-01-23 13:54] kpribic commented on #236
7.7.004(prod)

[2020-01-23 13:59] adubovikov commented on #236
shall I tell you to upgrade ? :-) or you know already ?
https://github.com/sipcapture/homer-app/releases/tag/1.1.8
or use or package cloud - they have correct packages as well

[2020-01-23 14:05] kpribic commented on #236
Yeah, I figured out I should upgrade :-D. I'll install the package.

I was just trying to figure out if it was part of homer-app or not because the system was initially setup by your script and I was unsure why this wasn't upgraded when I upgraded homer-app.

Probably because last time I just copied the binary an thought that is it :-/. Bravo me.
So if I understand correctly UI is actually content

[2020-01-23 14:27] kpribic commented on #236
So.... that was it. Editing works now. :-) Thanks @adubovikov !

Maybe it wouldn't be a bad idea to sync UI versioning with homer-app in some way.
I wouldn't have known anything was wrong if you didn't tell me that exact version of UI to expect and chrome cache (in this case) loaded old version of UI.

[2020-01-23 14:27] #236 closed

[2020-01-23 14:55] lmangani commented on #236
@kpribic the `homer-ui` is already bundled in each `homer-app` build, so you can't go wrong when using the latest packages (or latest homer-ui build) either

[2020-01-23 15:10] kpribic commented on #236
Yes, that is clear now. :-)

[2020-01-23 15:17] kpribic commented on #235
After upgrading UI to 7.7.011 (prod) I think issue here is sliding relative time window.

In a nutshell if you go to export a pcap and selected time window actually contains that call then it works. Problems arise when your call is at the edge of the selected relative timewindow (eg. 30mins) and that windows slides while you have an open window. After a short period of time that pcap button doesn'

[2020-01-23 15:21] lmangani commented on #235
@kpribic nice catch here! let us try reproduce and fix this

[2020-01-23 16:56] adubovikov commented on #236
the chrome cache will not work in this case because we have new md5
extensions for each new build :-) Just FYI

On Thu, 23 Jan 2020 at 16:10, Kosta Pribić <notifications@github.com> wrote:

[2020-01-23 18:56] electroniceel commented on #247
heplify-server-1.14 doesn't make a difference, exactly the same problem.

I'd like to know if heplify-server or homer-app is at fault here. Please tell me if the date-and-hour named tables are something heplify-server should create or not.