[2020-01-23 18:58] electroniceel commented on #247
this seems to be implemented in recent checkins. I do not have a build environment set up, so for now I can just test something if you build me a rpm package.

[2020-01-23 20:35] negbie commented on #245
@kevin-olbrich this should be fixed now. Just to make clear what SIPHeader does. In homer7 you have a column data_header. The SIPHeader in heplify-server.toml let's you pick all the SIPHeader you want. Currently following are implemented in heplify-server:

callid,method,ruri_user,ruri_domain,from_user,from_domain,from_tag,to_user,to_domain,to_tag,via,contact_user,contact_domain,user_agent,pid_use

[2020-01-23 20:38] negbie commented on #245
If you set SIPHeader            = [] I will use following defaults header:
ruri_user,ruri_domain,from_user,from_domain,to_user,callid,method,user_agent

[2020-01-23 21:56] AlexeyOplachko opened #249 "Default time on daterangepicker"
On initial setup Daterangepicker shows "today" daterange, but actually it uses range from now to now. "now" being time of installation. Should default to actual "today".

[2020-01-23 22:22] AlexeyOplachko opened #250 "Return from new window popup bugged"
When you're returning from a new window popup it breaks regular popup. Whenever you interact with it, it closes.
Edit: added gif
![2020-01-27_17-00-39](https://user-images.githubusercontent.com/45398541/73185362-9ace5e80-4126-11ea-9f9a-3d2d991c7892.gif)

[2020-01-24 10:29] AlexeyOplachko opened #251 "Display results chart widget"
It's impossible to select "Axis 1" in Display results chart widget which leads to it not working.

[2020-01-24 10:37] RFbkak37y3kIY commented on #251
.../api/v3/search/call/data
Request Method: POST
don't back param { key: [...] } anymore

[2020-01-24 10:43] adubovikov commented on #251
fixed

[2020-01-24 10:43] #251 closed

[2020-01-24 12:35] adubovikov commented on #247
you can always download a binary from our repo: https://github.com/sipcapture/homer-app/blob/master/homer-app

[2020-01-24 17:42] adubovikov commented on #213
![Screenshot from 2020-01-24 18-41-07](https://user-images.githubusercontent.com/4513061/73090763-44201500-3ed9-11ea-87b9-d0dd1998cbfd.png)
it's in the master

[2020-01-24 17:59] adubovikov commented on #213
![Screenshot from 2020-01-24 18-58-43](https://user-images.githubusercontent.com/4513061/73091852-95c99f00-3edb-11ea-845f-6f56c1ce23ff.png)
and ! - NOT IN

[2020-01-24 23:58] adubovikov commented on #247
https://github.com/sipcapture/homer-app/releases/tag/1.1.12

[2020-01-24 23:58] adubovikov commented on #246
https://github.com/sipcapture/homer-app/releases/tag/1.1.12

[2020-01-24 23:58] adubovikov commented on #238
https://github.com/sipcapture/homer-app/releases/tag/1.1.12

[2020-01-25 00:00] adubovikov commented on #235
https://github.com/sipcapture/homer-app/releases/tag/1.1.12

[2020-01-25 00:01] adubovikov commented on #225
https://github.com/sipcapture/homer-app/releases/tag/1.1.12

[2020-01-25 00:01] #225 closed

[2020-01-25 00:02] adubovikov commented on #213
https://github.com/sipcapture/homer-app/releases/tag/1.1.12

[2020-01-25 00:02] adubovikov commented on #209
https://github.com/sipcapture/homer-app/releases/tag/1.1.12

[2020-01-25 00:02] #209 closed

[2020-01-25 00:02] donweasel commented on #238
Thanks ill try it and let you know :)

[2020-01-25 00:02] adubovikov commented on #203
https://github.com/sipcapture/homer-app/releases/tag/1.1.12

[2020-01-25 00:03] adubovikov commented on #238
https://github.com/sipcapture/heplify-server/releases/tag/1.15

[2020-01-25 00:04] adubovikov commented on #128
https://github.com/sipcapture/heplify-server/releases/tag/1.15
https://github.com/sipcapture/homer-app/releases/tag/1.1.12

[2020-01-25 00:05] adubovikov commented on #176
https://github.com/sipcapture/heplify-server/releases/tag/1.15
https://github.com/sipcapture/homer-app/releases/tag/1.1.12

[2020-01-25 00:05] #176 closed

[2020-01-25 00:06] adubovikov commented on #192
https://github.com/sipcapture/heplify-server/releases/tag/1.15
https://github.com/sipcapture/homer-app/releases/tag/1.1.12

[2020-01-25 00:06] #192 closed

[2020-01-25 00:06] adubovikov commented on #210
https://github.com/sipcapture/heplify-server/releases/tag/1.15
https://github.com/sipcapture/homer-app/releases/tag/1.1.12

[2020-01-25 00:06] #210 closed

[2020-01-25 00:06] adubovikov commented on #201
https://github.com/sipcapture/heplify-server/releases/tag/1.15
https://github.com/sipcapture/homer-app/releases/tag/1.1.12

[2020-01-25 00:06] #201 closed

[2020-01-25 00:07] adubovikov commented on #203
https://github.com/sipcapture/heplify-server/releases/tag/1.15
https://github.com/sipcapture/homer-app/releases/tag/1.1.12

[2020-01-25 00:08] adubovikov commented on #245
https://github.com/sipcapture/heplify-server/releases/tag/1.15
https://github.com/sipcapture/homer-app/releases/tag/1.1.12

[2020-01-25 08:52] negbie commented on #213
Nice and thanks. Will take a look later.

[2020-01-25 20:07] negbie opened #252 "Send full loki query to backend"
{job="heplify-server"} 63kjpmim66o6mjbhlfo23eppbj2sksfk@UAC |= "TEEEEEST"

will just send

{"level":"error","msg":"Couldn't  query:http://127.0.0.1:3100/api/prom/query?end=1579993199000000000\u0026limit=100\u0026query=%7Bjob%3D%22heplify-server%22%7D\u0026regexp=63kjpmim66o6mjbhlfo23eppbj2sksfk%40UAC\u0026start=1579388400000000000","time":"2020-01-25T21:03:24+01:00"}

[2020-01-25 20:34] negbie opened #253 "Or combine multiple fields"
Something like logical or in homer5

[2020-01-25 20:35] negbie opened #254 "Share link broken"
Returns {"message":"Not Found"}

[2020-01-25 23:11] adubovikov commented on #254
was fixed in the latest release

[2020-01-27 08:16] kpribic commented on #235
Confirmed, it works now!

[2020-01-27 08:16] #235 closed

[2020-01-27 08:21] adubovikov commented on #128
any updates here ?

[2020-01-27 09:39] adubovikov commented on #128
I will close, please reopen if needed

[2020-01-27 09:39] #128 closed

[2020-01-27 09:40] adubovikov commented on #213
once you have opened another ticket - I will close it as DONE

[2020-01-27 09:40] #213 closed

[2020-01-27 09:40] adubovikov commented on #238
any updates ?

[2020-01-27 09:41] adubovikov commented on #246
I will close the ticket

[2020-01-27 09:41] #246 closed

[2020-01-27 09:46] negbie commented on #254
When you say it's fixed let me close.

[2020-01-27 09:46] #254 closed

[2020-01-27 11:49] donweasel commented on #238
Hi @adubovikov ill do it in the next hours. sorry for the delay.

[2020-01-27 12:05] kpribic opened #255 "Minor cosmetic issue - flow"
When using flow to display ladder diagram the list of callid on the bottom covers the arrow from the last message.

![image](https://user-images.githubusercontent.com/50572561/73173422-99406e80-4105-11ea-8509-0df248ab317b.png)

[2020-01-27 12:30] kpribic commented on #255
It just occurred to me that I should have posted this on homer-ui git.
Should I close it and reopen there or should I leave it here?

[2020-01-27 12:33] lmangani commented on #255
It's fine here - close enough. @RFbkak37y3kIY could you take a look at this once possible?

[2020-01-27 14:07] AlexeyOplachko opened #256 "New window popup graphical issue"
When you open "message" in new window popup, underline which shows which tab is selected is shown longer than it should be until "decoded" tab loads in.
![2020-01-27_16-00-55](https://user-images.githubusercontent.com/45398541/73180998-13312180-411f-11ea-9265-db98353ad130.gif)
![Без имени-1](https://user-images.githubusercontent.com/45398541/73182504-d9ade580-4121-11ea-830f-34a7b637fcfd.png)

[2020-01-27 15:11] AlexeyOplachko opened #257 "New window popup position"
When opening new window popup it should open at mouse position with small offset so mouse is inside the window.

[2020-01-27 19:42] ghmj2417 opened #258 "users and user_settings model - username gorm unique or unique_index"
Would there be any issues with column `username` in `homer_config/users` and `homer_config/user_settings` having a unique or unique_index added to it's gorm model definition?

I would assume all usernames should be unique?  As of right now, they are not.  I can add multiple users with the same username.  I am automating our build/deploy and would like to add INSERT...ON CONFLICT for the username.

[2020-01-27 21:51] adubovikov commented on #258
yes, please do PR!

[2020-01-27 21:54] adubovikov commented on #258
something like this
https://github.com/sipcapture/homer-app/blob/master/model/applications.go#L16

[2020-01-27 23:21] donweasel commented on #238
Hi @adubovikov ,

this is working perfectly fine !! thanks !!

[2020-01-28 01:25] ghmj2417 commented on #258
Sure.  I can do a PR.  Do we have permissions to create and push branches?

[2020-01-28 01:53] ghmj2417 commented on #258
#259

[2020-01-28 07:44] adubovikov commented on #238
Perfect. I close the ticket

[2020-01-28 07:44] #238 closed

[2020-01-28 07:44] adubovikov commented on #258
@ghmj2417 thank you, but can you please sign https://cla-assistant.io/sipcapture/homer-app?pullRequest=259 ?

[2020-01-28 07:54] RFbkak37y3kIY commented on #249
fixed in devel, waiting merge to master branch

[2020-01-28 07:55] RFbkak37y3kIY commented on #248
fixed in devel, waiting merge to master branch

[2020-01-28 07:55] RFbkak37y3kIY commented on #250
fixed in devel, waiting merge to master branch

[2020-01-28 07:55] RFbkak37y3kIY commented on #257
fixed in devel, waiting merge to master branch

[2020-01-28 07:55] RFbkak37y3kIY commented on #255
fixed in devel, waiting merge to master branch

[2020-01-28 10:24] RFbkak37y3kIY commented on #249
fixed in devel, waiting merge to master branch

[2020-01-28 11:12] kpribic opened #260 "homer URL based search"
Is it possible to invoke a search via URL on Homer7?
Couldn't find any documentation except a rather empty ticket about passing time via URL.

Idea is to have an external system generate a URL that a user can click and open Homer with specific time and search parameters.

[2020-01-28 11:19] lmangani commented on #260
Yes. The "Share Link" functionality will show you an example of URL parameter mapping. Please give it a shot and let us know if this is what you're after - we definitely need help documenting this in the wiki once time allows.

[2020-01-28 11:51] kpribic commented on #260
OK, it looks like escaped json. How do I generate the id value? Can't figure out where that came from...

Example (unescaped :-) ):
[code]

[2020-01-28 12:00] kpribic commented on #260
Anyways doesn't work now, I get {"message":"Not Found"}, same as https://github.com/sipcapture/homer-app/issues/254
I presume fix isn't included in 1.1.12. I'll test when the new release gets out.

[2020-01-28 12:46] adubovikov commented on #260
does the share link work?
can you please share your json request ?

On Tue, 28 Jan 2020 at 13:00, Kosta Pribić <notifications@github.com> wrote:

[2020-01-28 13:10] AlexeyOplachko commented on #260
Can confirm, on 7.7.012 share link does not work. Seems like fix is not yet merged to master

[2020-01-28 13:11] kpribic commented on #260
URL as generated by Homer7 share link (I just masked host IP, no changes to the content)
`http://6.6.6.6:9080/call/result/?%7B%22timestamp%22%3A%7B%22from%22%3A1580214648301%2C%22to%22%3A1580215548301%7D%2C%22param%22%3A%7B%22search%22%3A%7B%221_call%22%3A%7B%22id%22%3A127108517%2C%22callid%22%3A%5B%221736420641-1543517928-1702904996%22%5D%2C%22uuid%22%3A%5B%5D%7D%7D%2C%22location%22%3A%7B%7D%2C%2

[2020-01-28 14:45] AlexeyOplachko opened #261 "Expired JWT token loses original link"
So when following a link to for example shared transaction you can be returned to login screen for two reasons:
1) You're not logged in
2) Your token is expired

In case of 1), after you enter login information you're sent to the destination of the link(in our example to shared transaction), but in case of 2) it loses all link information and you end up in default dashboard.

[2020-01-28 15:48] ghmj2417 commented on #258
Deleted #259 and created #262

[2020-01-28 18:11] #258 closed

[2020-01-28 20:24] donweasel opened #263 "Issue when adding users"
Hello,
the web-app is giving some errors when managing users. if you create one user you cant then modify any info of it, as well user settings is giving errors, see bellow

![image](https://user-images.githubusercontent.com/25114110/73302088-6c19bc00-41ea-11ea-9f45-1aa1ed3ac4ab.png)

![image](https://user-images.githubusercontent.com/25114110/73302222-a2573b80-41ea-11ea-96b5-71be6859785e.png)

[2020-01-28 20:35] #248 closed

[2020-01-28 20:35] #249 closed

[2020-01-28 20:35] #250 closed

[2020-01-28 20:35] #257 closed

[2020-01-28 21:08] adubovikov commented on #260
https://github.com/sipcapture/homer-app/releases/tag/1.1.15

[2020-01-28 21:09] adubovikov commented on #247
https://github.com/sipcapture/homer-app/releases/tag/1.1.15

[2020-01-28 21:10] adubovikov commented on #245
https://github.com/sipcapture/homer-app/releases/tag/1.1.15

[2020-01-28 21:10] adubovikov commented on #245
I will close the ticket. Please reopen if needed

[2020-01-28 21:10] #245 closed

[2020-01-28 21:11] adubovikov commented on #255
https://github.com/sipcapture/homer-app/releases/tag/1.1.15

[2020-01-28 21:11] #255 closed

[2020-01-28 21:38] kevin-olbrich commented on #245
I'll try that next week.
Thanks for taking a look into this issue!

[2020-01-29 06:50] adubovikov commented on #260
please let us know if you issue has been fixed

[2020-01-29 06:52] adubovikov commented on #263
I think the issue has been fixed in latest release (app+UI). Please download the package!
https://github.com/sipcapture/homer-app/releases/tag/1.1.15

[2020-01-29 08:36] kpribic commented on #260
Still doesn't work, when I open url I still get {"message":"Not Found"}

Decoded url:
```http://5.5.5.5:9080/call/result/?{"timestamp":{"from":1580285777186,"to":1580286677186},"param":{"search":{"1_call":{"id":133840786,"callid":["237d3a9b-e06e-420d-8d1d-dba267f6bb9b"],"uuid":[]}},"location":{},"transaction":{"call":true,"registration":false,"rest":false},"id":{},"timezone":{"value":-60,"name":"L

[2020-01-29 09:31] adubovikov commented on #260
yes, sorry, this is response in case you don't have any agents registered. Can you please take this binary and retest it ? It should hide this error
https://github.com/sipcapture/homer-app/raw/master/homer-app

[2020-01-29 09:52] adubovikov commented on #260
You url looks good - just compared to my. If you go to any session and press the share link button, do you get any result ?

[2020-01-29 11:14] adubovikov commented on #260
@kpribic any update ?

[2020-01-29 11:41] adubovikov commented on #255
fixed

[2020-01-29 11:58] AlexeyOplachko opened #264 "Adding user wong input highlight"
While adding user there are situations where it doesn't highlight wrong fields.
1) If you have different input in `password` and `confirm password` fields it does not accept this result, but does not highlight it in any way either.
2) Email field highlights that there is error in case of no `@domain` but does not highlight in case of no `.domainzone` after `@domain`. For example `test` and `test@`

[2020-01-29 12:01] kpribic commented on #260
[code]

Same:
![image](https://user-images.githubusercontent.com/50572561/73355056-82318600-4297-11ea-8cf5-4207c91409cc.png)

[2020-01-29 12:05] AlexeyOplachko opened #265 "Add user menu enhancments"
1) `repeat password` should be `confirm password` or even just `confirm` because that's usual terminology
2) `password` and `confirm password` should share `show password` button instead of having one for each field
3) `save` button shouldn't be grayed out, it should be clickable but if there are empty/incorrectly filled fields it should just highlight them instead of trying to save it.

[2020-01-29 12:47] adubovikov commented on #260
you are absolutely right. This is issue with / at the end. Can you please take this binary and re-test ?
https://github.com/sipcapture/homer-app/raw/master/homer-app

[2020-01-29 15:45] kpribic commented on #260
@adubovikov it works great with the new binary!

One question before this ticket is closed: you mentioned controlling selection of multiple databases using existing widgets (https://github.com/sipcapture/homer-app/issues/222#issuecomment-574879085).

Can DB be selected via URL when doing a search or is this something that is yet to be implemented?

[2020-01-29 15:49] adubovikov commented on #260
yes, using param.localtion.node . Please check the POST body and you will see

[2020-01-29 15:49] #260 closed

[2020-01-29 15:54] kpribic commented on #260
Got it, thanks!

[2020-01-29 16:03] ghmj2417 opened #266 "Wrong protocol displayed"
When I click on a message and it shows the message for a SIP call, if the protocol used is TCP (6) it will still show UDP in the Proto column.  When I look at the message's details, I see the protocol as 6, TCP.

![homer_wrong_protocol](https://user-images.githubusercontent.com/18738647/73373613-eb5ccd80-4286-11ea-9719-0236ba7f23cf.jpg)

[2020-01-29 16:27] adubovikov commented on #266
https://github.com/sipcapture/homer-ui/commit/0fc93e14a6f266290b288a72975a8f247940cf68

fixed

[2020-01-29 16:27] #266 closed

[2020-01-29 21:56] adubovikov commented on #263
https://github.com/sipcapture/homer-app/releases/tag/1.1.16 Please check

[2020-01-29 21:57] adubovikov commented on #247
https://github.com/sipcapture/homer-app/releases/tag/1.1.16

[2020-01-29 21:57] #247 closed

[2020-01-30 09:13] ccmsi opened #267 "LDAP auth not executing"
We were using LDAP auth in previous node edition so we do not have a fundamental LDAP issue.

With new go edition / webapp_config.json we have:
- adapted "ldap_config" to match our environment
- changed "auth_settings" to "type": "ldap"
however on login we get "OK" message in web interface but no login is executed, display stays on login page. Using packet capture / tcpdump we do not observe traff

[2020-01-30 10:48] ccmsi commented on #267
just upgraded to 1.1.16 which has different behaviour... working on clarifying specifics of that.

[2020-01-30 10:54] ccmsi commented on #267
seems it doesnt contact LDAP server either, just now responds with 401 / "incorrect password" in all cases

[2020-01-30 11:05] adubovikov commented on #267
we are checking it

[2020-01-30 13:29] ghmj2417 opened #269 "/call/result display widget mappings"
From my dashboard I create a SIP Call search widget that has a Result Container to Default.  When I search a call it takes me to the /call/result URI and displays the search results widget.  However, I noticed the columns do not associate with my mappings that I created.  For example, in my SIP call and default mappings, I hide protocol_header.protocol, protocol_header.protocolFamily, and data_hea

[2020-01-30 14:08] adubovikov commented on #269
No, it uses same mapping, but once the result has been displayed - this settings became be your local settings (stored in the localstorage) and you can do any manipulation with columns as you wish (hide/display columns in the grid settings) and all will be stored locally. Just try to remove your localstorage and you will see the result that you want

[2020-01-30 14:25] ghmj2417 commented on #269
Awesome. Thank you for the explanation.

[2020-01-30 14:25] #269 closed

[2020-01-30 15:38] adubovikov commented on #267
can you please download this binary and retest ?
https://github.com/sipcapture/homer-app/raw/master/homer-app

the config has been changed a bit:
[code]

[2020-01-30 18:06] #261 closed

[2020-01-30 18:06] #264 closed

[2020-01-30 18:06] #265 closed

[2020-01-30 18:51] donweasel commented on #263
Hello, still having issues.
![image](https://user-images.githubusercontent.com/25114110/73480181-cbed9f80-436f-11ea-9217-ffa899a1a06f.png)

![image](https://user-images.githubusercontent.com/25114110/73480255-f2abd600-436f-11ea-8902-3a3df49ec80f.png)

[2020-01-30 19:10] adubovikov commented on #267
any updates?  :)

[2020-01-30 19:16] adubovikov commented on #263
I think you still use old version. How did you install it ? Packages or self compiled ?

[2020-01-30 19:25] donweasel commented on #263
self compiled and is the latest

[2020-01-30 19:44] adubovikov commented on #263
only homer-app or homer-ui as well ?

On Thu, 30 Jan 2020 at 20:25, donweasel <notifications@github.com> wrote:

[2020-01-30 19:49] adubovikov commented on #263
Please be sure that your UI is also the latest. What do you see in the browser's title ?

[2020-01-30 19:49] donweasel commented on #263
homer app only

[2020-01-30 19:56] adubovikov commented on #263
Ok, here is two ways - please download the latest "dist": https://github.com/sipcapture/homer-app/tree/master/dist

or install it as package (best way)

https://github.com/sipcapture/homer-app/releases/tag/1.1.17

[2020-01-30 19:57] adubovikov commented on #267
https://github.com/sipcapture/homer-app/releases/tag/1.1.17

[2020-01-30 20:01] donweasel commented on #263
Let me ask you if im doint it right, these how im updatting it:

- systemctl stop heplify-server
- cd /usr/local/bin/
- rm -f homer-app
- wget https://github.com/sipcapture/homer-app/releases/download/1.1.17/homer-app
- chmod +x homer-app
- systemctl start homer-app

[2020-01-30 20:02] lmangani commented on #263
@donweasel this should work just fine, or you could use our packages eventually to take a couple steps off

[2020-01-30 20:18] adubovikov commented on #263
this is only update for homer-app, but the UI still old one. the best way for you take this:

Debian:
[code]
Centos/RH
[code]

[2020-01-30 20:20] adubovikov commented on #263
in worse case - you can download the latest UI from here:

https://github.com/sipcapture/homer-app/tree/master/dist

[2020-01-30 20:20] donweasel commented on #263
getting this

[root@localhost ~]# rpm -i homer-app-1.1.17-amd64.rpm
        file /usr/local/bin/homer-app from install of homer-app-1.1.17-1.x86_64 conflicts with file from package homer-app-1.1.6-1.x86_64
        file /usr/local/homer/dist/3rdpartylicenses.txt from install of homer-app-1.1.17-1.x86_64 conflicts with file from package homer-app-1.1.6-1.x86_64
        file /usr/local/homer/dist/ind

[2020-01-30 20:21] adubovikov commented on #263
rpm -U  homer-app-1.1.17-amd64.rpm

[2020-01-30 21:23] adubovikov commented on #263
works ? Can we close the ticket?

[2020-01-30 22:08] donweasel commented on #263
gave this, dont know if is good or bad

[2020-01-30 22:09] donweasel commented on #263
[root@localhost ~]# systemctl status homer-app
● homer-app.service - Homer API Server and UI Webapplication
   Loaded: loaded (/usr/lib/systemd/system/homer-app.service; enabled; vendor preset: disabled)
   Active: activating (auto-restart) (Result: exit-code) since Thu 2020-01-30 22:09:00 GMT; 3s ago
  Process: 11234 ExecStop=/bin/kill ${MAINPID} (code=exited, status=1/FAILURE)
  Process: 11226 E

[2020-01-30 22:12] adubovikov commented on #263
Please check your webapp config. Probably it was overwritten.
if you just run /usr/local/bin/homer-app ? What does it say ?

[2020-01-30 22:43] donweasel commented on #263
yeah... it looks like

[root@localhost ~]# /usr/local/bin/homer-app
{"level":"error","msg":"pq: password authentication failed for user \"homer_user\"","time":"2020-01-30T22:42:51Z"}
panic: failed to connect database

goroutine 1 [running]:
main.getConfigDBSession(0xc00034ef20)
        /home/shurik/go/src/github.com/sipcapture/homer-app/main.go:525 +0x41b
main.main()
        /home/shurik/go/src/gi

[2020-01-30 22:48] adubovikov commented on #263
so, please fix your config

On Thu, 30 Jan 2020 at 23:43, donweasel <notifications@github.com> wrote:

[2020-01-30 23:18] donweasel commented on #263
changed the password on the config file and works good now.

the only issue i see is that when i log in with a user different than the admin i see this

![image](https://user-images.githubusercontent.com/25114110/73498985-39f88d80-4395-11ea-9892-f0e8acbb6136.png)

[2020-01-31 01:12] s-schumann commented on #246
I tested it and it worked well for me. Had the same issue of non-admin user not working before. Thanks!

[2020-01-31 01:14] s-schumann commented on #263
I had this same issue earlier (prior to the latest release) as well. Deleting the non-admin user (that was created prior to the update) and re-creating it worked after reloading the site. Maybe that helps.

[2020-01-31 01:20] s-schumann opened #270 "RTCP not visible in latest Homer 7.7"
Hi

I don't see RTCP stats in Homer. I use a Kamailio/rtpengine combo and both send data.

SIP is decoded properly, RTCP isn't.

It looks as follows, RTCP decoded as LOG (red) in the messages of a session:
<img width="300" alt="Screenshot 2020-01-31 at 02 16 43" src="https://user-images.githubusercontent.com/428710/73504489-dfc8ee00-43cf-11ea-8d9d-3c9c775fe24a.png">

When opening the message it lo

[2020-01-31 07:27] ccmsi commented on #267
Login using LDAP works, going to check admin group membership.
Thanks for this superquick response.
Best regards.

Am 30. Januar 2020 20:57:28 MEZ schrieb Alexandr Dubovikov <notifications@github.com>:

--
Diese Nachricht wurde von meinem Android-Gerät mit K-9 Mail gesendet.

[2020-01-31 09:53] ccmsi commented on #267
Works. Issue can be closed.
Best regards.

[2020-01-31 10:39] adubovikov commented on #263
unfortunately there are a small issue - now it has been fixed. Can you please take the binary and retest it ?
https://github.com/sipcapture/homer-app/raw/master/homer-app
this issue happens only for internal non-admin users, for LDAP it worked.

[2020-01-31 10:42] adubovikov commented on #270
@s-schumann can you please share the reply from /qos API ?

[2020-01-31 10:43] RFbkak37y3kIY commented on #256
fixed on devel, waiting merge to master

[2020-01-31 11:31] adubovikov commented on #270
colros for LOG/RTCP and SIP has been fixed here:
https://github.com/sipcapture/homer-ui/commit/f53a2593f80e44b7c439ff4cc2219da9a615b74b
it will be move to master and released tonight

[2020-01-31 11:46] #267 closed

[2020-01-31 11:46] adubovikov commented on #267
thank you for the report

[2020-01-31 11:46] #256 closed

[2020-02-01 21:16] s-schumann commented on #270
Hi Alexandr

The response for a successful call is here: [response.txt](https://github.com/sipcapture/homer-app/files/4143249/response.txt)

I will try it once it is released. Thanks for now!

Sebastian

[2020-02-02 10:45] adubovikov commented on #270
@s-schumann thank you,
looks like some limiation in the parsing of big response. We will check it tomorrow.
Just can you check if this error you have in long calls ? If you do short one < 3 minutes, will you get same error ?

[2020-02-02 16:16] s-schumann commented on #270
@adubovikov Yes, same error for a short call: [short_response.txt](https://github.com/sipcapture/homer-app/files/4144614/short_response.txt)

It does also not matter if the other end is a phone or a gateway - always same result.

Thx, Sebastian

[2020-02-03 10:34] adubovikov commented on #270
the issue has been found. Fixing and will be pushed soon

[2020-02-03 11:17] RFbkak37y3kIY commented on #270
fixed into devel branch, waiting merge to master
https://github.com/sipcapture/homer-ui/commit/e16aa315beb029874c9d22a533b2c86af5f9d503

[2020-02-03 21:38] s-schumann commented on #270
Hi

Thank you. It's better but not fully working yet when testing.

I see this now in the list:
<img width="384" alt="Screenshot 2020-02-03 at 16 37 13" src="https://user-images.githubusercontent.com/428710/73693047-cd9fc600-46d5-11ea-9277-1728e81f4d84.png">

And this in the QoS tab:
<img width="1078" alt="Screenshot 2020-02-03 at 16 37 21" src="https://user-images.githubusercontent.com/428710/736

[2020-02-04 09:06] AlexeyOplachko opened #271 "Widget settings don't open"
On Devel branch widget settings can't be opened through button
![chrome_2020-02-04_11-04-34](https://user-images.githubusercontent.com/45398541/73729676-2a36cb80-473e-11ea-83ed-bdb1c2f02e16.png)

Getting this in console
[code]

[2020-02-04 12:12] #271 closed

[2020-02-04 12:46] AlexeyOplachko opened #272 "Protosearch LOG-default no filters"
If you select "LOG - default" as search type in protosearch it shows two default filters(Result container and query size) and two empty filters. ![chrome_2020-02-04_14-49-13](https://user-images.githubusercontent.com/45398541/73746309-94129d80-475d-11ea-8a78-c4aaf6c89f78.png)
![chrome_2020-02-04_14-49-55](https://user-images.githubusercontent.com/45398541/73746328-9ecd3280-475d-11ea-91ce-b023ef094

[2020-02-04 13:08] adubovikov commented on #272
fixed https://github.com/sipcapture/homer-app/commit/a89794421ae8371d1cb205ebd55cd4a32cb5b8c1

[2020-02-04 13:08] #272 closed

[2020-02-04 16:05] ghmj2417 opened #273 "loki, grafana, prometheus settings"
I see two different places where loki, grafana, and prometheus settings are stored.  First, when populating homer_config, I see a table `global_settings` which gets populated with static data by `migration/migration.go`.  Second, the webapp_config.json file has settings for each of those items (except grafana).

Which location is used when homer-app needs to reference those services?  If it's the

[2020-02-04 16:39] adubovikov commented on #273
@ghmj2417 these are different settings:
settings for Loki, Influx, Promethues are in webapp_config.json
You can override settings for Prometheues and Influx using Advanced Settings - in this case in the request UI will send a "contact host"
settings for Grafana - in the Advanced settings and it has been inserted by init and migration

[2020-02-04 16:49] ghmj2417 commented on #273
I'm confused.

Loki is in both and the db and webapp_config have the host parameter.  So which one is used?
What's the purpose of storing it in the Db, if the webapp_config (which I can customize) is available?

Db - global_settings table
UI / Settings / Advanced:
Data: `{"host":"http://loki:3100"}`

webapp_config.json:
[code]

[2020-02-04 17:03] lmangani commented on #273
This should allow for using db settings in simple setups as well as overriding or extending them via the `homer-app` api settings for specific purposes or to distribute configurations to a cluster formation. We should document the priority and or requirement of each in more detail to make this transparent in the settings page.

[2020-02-04 17:14] ghmj2417 commented on #273
What I am gathering is that you would like to use the Db as the preferred location for storing that info which makes sense.  But for a user to customize the settings upon database initialization, they have to update the Db record after initialization, or go into the UI and update it.  That correct?

I just need to know which one takes precedent so I can update my build scripts appropriately.  Righ

[2020-02-04 21:45] AlexeyOplachko opened #274 "Styles in new popup windows"
In new window popup styles break with new compression.
![image](https://user-images.githubusercontent.com/45398541/73789940-5edf6d00-47a8-11ea-83d4-525902657bfe.png)

[2020-02-05 08:40] #270 closed

[2020-02-05 09:39] #274 closed

[2020-02-05 11:31] adubovikov commented on #270
https://github.com/sipcapture/homer-app/releases/tag/1.1.20

[2020-02-05 11:31] adubovikov commented on #263
https://github.com/sipcapture/homer-app/releases/tag/1.1.20

[2020-02-05 11:31] #263 closed

[2020-02-05 11:32] adubovikov commented on #203
https://github.com/sipcapture/homer-app/releases/tag/1.1.20

[2020-02-05 11:32] adubovikov commented on #274
https://github.com/sipcapture/homer-app/releases/tag/1.1.20

[2020-02-05 12:19] adubovikov opened #275 "Firefox and 1.1.20"
Firefox still has the old bug with gzip  (Content-Type mix with Content-Encoding) therefore please force use 1.1.21 or download direct new homer-app binary from master:
https://github.com/sipcapture/homer-app/blob/master/homer-app

[2020-02-05 12:21] adubovikov commented on #275
https://github.com/sipcapture/homer-app/commit/6fc5f98d56a6b009cc30006fe494510322d5ada4#diff-7ddfb3e035b42cd70649cc33393fe32cR371

[2020-02-05 12:21] #275 closed

[2020-02-05 22:39] s-schumann commented on #270
All seems to work now. Thank you very much!

[2020-02-06 07:28] adubovikov commented on #270
Perfect. Did you install it from package ?

[2020-02-06 11:20] s-schumann commented on #270
Last time I compiled it from homer-ui and updated dist manually, but for verification now I installed it [freshly from the master of homer-app](https://gist.github.com/s-schumann/eaa221c938795d1d3495139ecc6a54b4) and it worked.

[2020-02-06 11:21] adubovikov commented on #270
does it now include .gz files only ?

[2020-02-06 11:24] s-schumann commented on #270
Yes, all .js files are .gz only.

[code]

[2020-02-06 11:25] adubovikov commented on #270
great, in this case it should load and work couple times quicker :-)

[2020-02-06 11:29] s-schumann commented on #270
Indeed the time until I'm logged into the first screen already with the search widget is notably faster! Really good job. I used to use Homer 5 in a previous project and after some initial obstacles I really like the new version a lot.

[2020-02-06 11:30] adubovikov commented on #270
thank you! Very glad that you like it!

[2020-02-06 17:31] AlexeyOplachko opened #276 "AG-Grid "Select all" button"
"Select all" button should behave like in [AG-Grid example. ](https://www.ag-grid.com/example-runner/angular.php?section=javascript-grid-selection&example=header-checkbox-entire-set&generated=1&grid=%7B%22noStyle%22%3A0%2C%22height%22%3A%22100%25%22%2C%22width%22%3A%22100%25%22%2C%22enterprise%22%3Anull%7D)
So, same checkmark as individual rows, and `indeterminate_check_box` Material icon when onl

[2020-02-07 09:44] adubovikov commented on #276
https://github.com/sipcapture/homer-ui/commit/5fd21be297bfc2f5e254594a60cf2e20a114bf10

[2020-02-07 09:44] #276 closed

[2020-02-07 10:47] kpribic opened #277 "Alias port can't be 0"
When I try to configure Alias port via webGUI to value 0, expecting it to ignore port, it fails with error:
![image](https://user-images.githubusercontent.com/50572561/74023156-3d94a180-499f-11ea-91ea-7e4c91a0b711.png)

Ignoring port value is required if aliases are to work for TCP as SIP transport due to ephemeral port usage.

homer-app 1.1.21
UI 7.7.021(prod)

[2020-02-07 10:51] kpribic commented on #277
Also tried with empty port field, throws a different error but still doesn't work.

[2020-02-07 10:58] adubovikov commented on #277
working on it. As a temporaly solution - delete the record and create a new one with port 0. The issue only in editing

[2020-02-07 15:18] kpribic opened #278 "How do mappings work?"
I've been playing around with correlation mappings and I have a couple of questions.
For start let's assume this topology:

![image](https://user-images.githubusercontent.com/50572561/74034756-35e1f680-49b9-11ea-85b1-2f9dfd747354.png)

**1. Correlation attempt # 1** - to connect all following dialogs with the first dialog I need to check if X-CID field in some dialog match my selected call-ID 1.
T

[2020-02-07 15:23] lmangani commented on #278
Hi @kpribic

I would actually start by configuring `heplify-server` to extract the value for correlation:
[code]
This should progress the situation forward most likely requiring no other changes - if that's not the case, let us know and we'll drill into the mapping aspect.

[2020-02-07 15:34] kpribic commented on #278
Do Correlation ID and Session ID have some special status compared to other fields?

OK, I'll remap CorrelationID and try again. Currently it's not stable: sometimes it's icid-value and sometimes x-cid, depending where in the flow you click.
Of course I wanted to make it work both ways :imp:

[2020-02-07 15:43] lmangani commented on #278
perhaps you can try configure multiple correlation headers in order of priority?
[code]

[2020-02-07 22:48] adubovikov commented on #278
in worse case, just make a multiple step for same HEP ID: first for
correlation_id, second for a custom header. At the end it will collect all
"callid" and do big query.

Wbr,
Alexandr

On Fri, 7 Feb 2020 at 16:43, Lorenzo Mangani <notifications@github.com>
wrote:

[2020-02-07 22:48] adubovikov commented on #277
fixed in 1.1.22

[2020-02-07 22:48] #277 closed

[2020-02-08 01:30] ghmj2417 opened #279 "Loki widget not showing results"
When using the Loki search widget, I add my query and click Search which takes me to a `/call/result` URI.  The results do not show.  A scroll bar allows me to scroll up and down and the footer which shows the items and pages show the amount of returned search results.  No results are actually displayed though.

When I perform a Loki search by clicking on a call message, clicking on Logs, making s

[2020-02-08 01:54] ghmj2417 commented on #273
I'll go ahead and close this.

[2020-02-08 01:54] #273 closed

[2020-02-10 07:50] kpribic commented on #278
That's exactly what I tried and it didn't work. Custom rule for correlation collected all the right INVITEs in the topology shown in the first post but didn't collect all the other messages in those dialogs.

I'll try to figure out a way to generate those scenarios in pcap with dummy numbers

[2020-02-10 10:11] AlexeyOplachko opened #280 "Loki search widget autocompletion broken Firefox"
In Firefox autocompletion in Loki search widget puts brackets after every "block" of autocompleted query.

[2020-02-10 10:13] AlexeyOplachko commented on #279
Happens only in Chrome, no errors in console, and data is received but is not displayed.

[2020-02-10 10:16] RFbkak37y3kIY commented on #279
fixed on devel branch, waiting merge to master
https://github.com/sipcapture/homer-ui/commit/1c5ec6ef6b8d0f87e7a9352ed2c8ee273223ab76

[2020-02-10 11:17] AlexeyOplachko opened #281 "Loki search results HTML sanitization"
HTML sanitization seems to be stripping data from "From" and "To" fields.
This should be treated as a string not HTML otherwise sip parameters are seen as Tags

[2020-02-10 11:46] AlexeyOplachko opened #282 "Dashboard switching doesn't load dashboard settings"
When you switch dashboards it sometimes loads previous dashboard settings instead of new ones

[2020-02-10 13:37] AlexeyOplachko opened #283 "Loki search results message height"
In results of loki search message height is not rescaled if width of the window is lowered, resulting in some text becoming not visible.

[2020-02-10 15:07] #281 closed

[2020-02-10 16:10] #282 closed

[2020-02-10 21:02] ghmj2417 opened #284 "Loki api/prom uri deprecated"
When updating the webapp_config.json and loki param in the Db to `loki/api/v1` I get the following error message:
[code]
Per their site, [here](https://github.com/grafana/loki/blob/master/docs/api.md#get-apipromquery),
`WARNING: /api/prom/query is DEPRECATED; use /loki/api/v1/query_range instead.`

Should your query arg be changed to query_range?  Or would this break other people's Loki implementa

[2020-02-10 21:04] lmangani commented on #284
What version of Loki are you using?

[2020-02-10 21:06] adubovikov commented on #284
[code]
has been fixed already - this was just debug. Please update  to 1.1.23

[2020-02-10 21:10] ghmj2417 commented on #284
Whoomp whoomp, I am running 1.1.22.  Ugh, sorry about that.  I should have searched closed issues.  I'll change to 1.1.23 and check.

[2020-02-10 21:12] adubovikov commented on #284
but the depricated api was not fixed there

[2020-02-10 21:13] lmangani commented on #284
I guess we need to allow further configuration to deal with the multiple versions of the LOKI API now. We'll come up with a plan in the coming days hopefully through configuration only.

[2020-02-10 21:14] adubovikov commented on #284
let me check, i think it was allowed

[2020-02-10 21:15] adubovikov commented on #284
https://github.com/sipcapture/homer-app/blob/master/etc/webapp_config.json#L41

[2020-02-10 21:44] adubovikov commented on #284
ok, this change only prefix, but looks like they change some another params. Update is comming

[2020-02-10 22:11] lmangani commented on #284
the issue is with the `query` part preceding the parameters which becomes `query_range`

[2020-02-11 01:30] ghmj2417 commented on #284
I was using latest Loki dev build, aka using master. We can define the uri but not the query part. You are appending query whenever we search, however the new uri requires query_range instead of query. I think you guys already know this now.

[2020-02-11 09:28] adubovikov commented on #284
https://github.com/sipcapture/homer-app/commit/448311d24da477292f66957334d1220903a15280
fixed

[2020-02-11 09:28] #284 closed

[2020-02-11 09:28] adubovikov commented on #283
fixed in dev

[2020-02-11 09:28] #283 closed

[2020-02-11 09:29] #279 closed

[2020-02-11 09:32] adubovikov commented on #278
Here the block that does the correlation:
https://github.com/sipcapture/homer-app/blob/master/data/service/search.go#L558-L627
if you can find the issue - please let us know.

[2020-02-11 09:46] kpribic commented on #278
@adubovikov sorry for the delay, my postgres crashed and I spent a whole day trying to figure out what is a "systems" database before I looked at your latest commits.

OK, back to correlation - it appears to me that there is no "last" call id query for all found dialogs.
I think this test proves it:
I clicked on a message that has:
- callid = 195314e32b1f45a4277a505873c1d189
- X-CID = SDcs48b01-39

[2020-02-11 09:46] AlexeyOplachko opened #285 "Changing search parameters from results"
Add button in a footer of Search Results to change search parameters without going back to widget.

[2020-02-11 10:24] adubovikov commented on #278
just do this way
[code]

[2020-02-11 10:37] adubovikov commented on #278
anyhow if you do this select:
[code]

do you see all callids ?

[2020-02-11 11:42] kpribic commented on #278
Yes, I get call IDs from those INVITEs that are correlated without other messages in those dialogs (shown twice because they go through proxy):
195314e32b1f45a4277a505873c1d189
195314e32b1f45a4277a505873c1d189
**6cb9716a1c7c77c56df82cd0725ce525**
**6cb9716a1c7c77c56df82cd0725ce525**

Regarding your proposal with additional mapping (callid->xcid and xcid->callid), that is exactly what I did in the

[2020-02-11 11:46] adubovikov commented on #278
but this means, the X-CID exist ONLY in the INVITES. Did I understand you correct ?

[2020-02-11 11:57] kpribic commented on #278
Yes, exists only in INVITEs. Isn't this usual way to do it?

I don't think it's even possible to add headers to other messages on BTBUAs like Asterisk.

[2020-02-11 12:00] adubovikov commented on #278
so, these are the old callids that you have to get by "correlation":
[code]
and you have them by executing SELECT manualy ?

[2020-02-11 12:04] kpribic commented on #278
Yes this is what I got when I executed your query without changes.

Just to be clear, everything works if I search in homer by x-cid for all the invites, manually select all call-IDs by clicking the checkboxes and then correlating by clicking on one SID. I get all dialogs and all messages. Data is there, issue is just that only thing connecting all those dialogs is xcid in INVITEs.

[2020-02-11 13:47] adubovikov commented on #278
so, take the latest binary (just uploaded to master)

and in the correlation mapping:
[code]
the param
[code]

will add the all callid (sid) from the first lookup to an array and this array will be added to any next correlation lookups:

1. i.e. in the first lookup you will do X-CID match and will receive callid 12345. The param will activate trigger to add the callid to an array.
2. second lookup

[2020-02-11 14:06] kpribic commented on #278
It works! (I changed the first maping to X-CID -> X-CID in your config example, because that's the main correlating ID across dialogs)

So, if I understand you correctly, ordering of rules is really important now because call-ID discovered in one rule will be available only to mapping rules below and not rules above?

[2020-02-11 14:10] adubovikov commented on #278
Super. Yes it goes to the chain steps: 1->2->3 and in each step you can calll append_sid to apply "sid"   of response to session correaltion array. If the array is not empty it will apply to each next lookup.

[2020-02-11 14:19] kpribic commented on #278
OK I'll experiment with this a bit to make sure I'm not closing the ticket prematurely :)

[2020-02-11 14:29] adubovikov commented on #278
just do it :-)

[2020-02-11 15:08] kpribic commented on #278
I think that's it as far as I can test at the moment.
I settled at this config to cover every possible case (depending on which dialog is clicked on).

[code]

[2020-02-11 15:08] #278 closed

[2020-02-11 15:11] adubovikov commented on #278
@kpribic great! Thank you. @lmangani IMHO need to document it right way :)

[2020-02-12 08:09] adubovikov commented on #217
@abv did you migrate to the new homer-app golang ?

[2020-02-12 08:10] #285 closed

[2020-02-12 08:50] AlexeyOplachko opened #286 "Search in results: Search/Clear button"
"Search/Clear button" state should be also passed from search widget.
Also it needs small margin from the bottom of search window.

[2020-02-12 08:52] AlexeyOplachko opened #287 "Search in results: adjusting fields clears search parameters."
Whenever you adjust fields in "Search in results" it clears all the search parameters.

[2020-02-12 09:07] AlexeyOplachko opened #288 "Search in results: Changing search type is partially broken"
When you're changing search type in "Search in results" it does change what is outputted in search, but after one search it reverts to previous type in search settings.

[2020-02-12 10:53] adubovikov commented on #252
https://github.com/sipcapture/homer-app/commit/c1272d3eff557be5a62e0305d20a5432775dfa3a
fixed

[2020-02-12 10:53] #252 closed

[2020-02-12 14:46] #286 closed

[2020-02-12 14:46] #287 closed

[2020-02-12 14:46] #288 closed

[2020-02-14 11:09] hangocanh2303 opened #289 "[Help] Homer 7 Display result not showing"
Hi All,
I have installed homer 7 in centOS 7
When i view homer web ui, display result only show loading,
Here is js error:
![image](https://user-images.githubusercontent.com/19758537/74525937-e5d4d800-4f54-11ea-8e29-fd536baa5c5a.png)
And here is postgresql database:
![image](https://user-images.githubusercontent.com/19758537/74526003-09981e00-4f55-11ea-882c-6f46d13b7926.png)
Please help me.

[2020-02-14 11:15] adubovikov commented on #289
Please follow this document: https://github.com/sipcapture/homer/wiki/Troubleshooting-Homer-7.7

and answer on the questions:

Submit versions of your homer-app/UI/heplify/heplify-server (the version of UI you can find in the title.)
How did you install the applications (package / installer script / self compiling)
How do you send data to Homer (SIP/ RTCP/ RTP / LOG)
Small network topology descrip

[2020-02-14 11:49] adubovikov commented on #289
**If you are upgrading Homer 7.0 to Homer 7.7. Please reinit your configuration database:**

./homer-app -populate-table-db-config -force-populate

[2020-02-14 12:44] hangocanh2303 commented on #289
No, I don't update from homer 7.0, I installed newest version of homer
1.
How did you install the applications (package / installer script / self compiling) -> I installed via installer script, but heplify-server problem. After that, I installed heplify-server via self compiling
2. How do you send data to Homer (SIP/ RTCP/ RTP / LOG) -> Freeswitch send data (udp, sip)
3. Small network topology des

[2020-02-14 12:48] adubovikov commented on #289
anyway, can you reinstall it
[code]
and check it:

https://github.com/sipcapture/homer/wiki/Troubleshooting-Homer-7.7#debug-in-web-console

[2020-02-14 13:21] hangocanh2303 commented on #289
what component i need to reinstall (psql, heplify, homer-app?)

[2020-02-14 13:22] adubovikov commented on #289
Just run:
[code]

[2020-02-14 13:25] adubovikov commented on #289
and check if you receive anything in the webconsole https://github.com/sipcapture/homer/wiki/Troubleshooting-Homer-7.7#debug-in-web-console

[2020-02-14 13:27] hangocanh2303 commented on #289
I have run this command and here is the result:
![image](https://user-images.githubusercontent.com/19758537/74535371-40c3fa80-4f68-11ea-9aa1-700acfc8569b.png)
@adubovikov why this time in server and homer app ui different ?
![image](https://user-images.githubusercontent.com/19758537/74535445-6d781200-4f68-11ea-84d8-97514dbe3301.png)
It can be a reason?

[2020-02-14 13:28] hangocanh2303 commented on #289
here is time in server:
Fri Feb 14 20:28:07 +07 2020

[2020-02-14 13:35] adubovikov commented on #289
check web console
https://github.com/sipcapture/homer/wiki/Troubleshooting-Homer-7.7#debug-in-web-console

[2020-02-14 13:43] AlexeyOplachko opened #290 "Protosearch error"
Trying to perform search in protosearch widget results in this error in console, and no search results
[code]

[2020-02-14 13:44] hangocanh2303 commented on #289
here is the result after logout, login and connect this link:
![image](https://user-images.githubusercontent.com/19758537/74536478-bfba3280-4f6a-11ea-88ae-178199ea2b4e.png)
http://localhost:9080/api/v3/search/call/data

[2020-02-14 13:46] adubovikov commented on #289
Wait. We found the issue!

[2020-02-14 13:46] AlexeyOplachko opened #291 ""Search in results" error"
When "search in results" loads it throws this error in console and also has same behavior as #290
[code]

[2020-02-14 13:54] RFbkak37y3kIY commented on #290
fixed on devel, waiting merge to master
https://github.com/sipcapture/homer-ui/commit/a19d7875099cd2ce0c334c2041484942521eeaad

[2020-02-14 13:55] RFbkak37y3kIY commented on #291
fixed on devel, waiting merge to master
https://github.com/sipcapture/homer-ui/commit/a19d7875099cd2ce0c334c2041484942521eeaad

[2020-02-14 13:58] #290 closed

[2020-02-14 14:07] adubovikov commented on #289
please update homer-app tp 1.1.27

[2020-02-14 14:20] adubovikov commented on #289
the UI should be 7.7.025

[2020-02-14 14:37] hangocanh2303 commented on #289
ok, I will update homer-app and report result soon

[2020-02-14 15:07] hangocanh2303 commented on #289
How can i check homer-ui version ?

[2020-02-14 15:10] adubovikov commented on #289
in the title:
![Screenshot from 2020-02-14 11-27-59](https://user-images.githubusercontent.com/4513061/74542760-76ef8300-4f44-11ea-8ff0-038a3ef9039e.png)

[2020-02-14 15:11] hangocanh2303 commented on #289
![image](https://user-images.githubusercontent.com/19758537/74542817-e1b9b200-4f76-11ea-8e9f-c536ad4cd905.png)
ok, i will find how to update homer-ui

[2020-02-14 15:12] adubovikov commented on #289
just install the new package

On Fri, 14 Feb 2020 at 16:11, Hà Ngọc Anh <notifications@github.com> wrote:

[2020-02-14 15:20] hangocanh2303 commented on #289
following this link ?
https://github.com/sipcapture/homer-ui
![image](https://user-images.githubusercontent.com/19758537/74543575-2d209000-4f78-11ea-8d96-8386135f8c68.png)

[2020-02-14 15:21] adubovikov commented on #289
how did you install it ?

yum update ? apt-get update ?

On Fri, 14 Feb 2020 at 16:20, Hà Ngọc Anh <notifications@github.com> wrote:

[2020-02-14 15:23] hangocanh2303 commented on #289
I update homer-app: yum install homer-app
I have installed homer via installer script (homer_installer.sh) except heplify-server

[2020-02-14 15:24] adubovikov commented on #289
and it still shows 7.7.024 ? Can you clean up cache in your browser ?

On Fri, 14 Feb 2020 at 16:23, Hà Ngọc Anh <notifications@github.com> wrote:

[2020-02-14 15:28] hangocanh2303 commented on #289
![image](https://user-images.githubusercontent.com/19758537/74544143-3b22e080-4f79-11ea-8d18-baffb49bb283.png)
ok, i will clear cache in chrome browser and now it's 7.7.025, but ui still loading

[2020-02-14 15:30] adubovikov commented on #289
If you press on the Search  - does it send any API request ?

On Fri, 14 Feb 2020 at 16:28, Hà Ngọc Anh <notifications@github.com> wrote:

[2020-02-14 15:30] adubovikov commented on #289
and do you have any errors in the console ?

On Fri, 14 Feb 2020 at 16:29, Alexandr Dubovikov <
alexandr.dubovikov@gmail.com> wrote:

[2020-02-14 15:32] hangocanh2303 commented on #289
oh, it's working, no error log
![image](https://user-images.githubusercontent.com/19758537/74544508-d4ea8d80-4f79-11ea-8056-1db5a914656f.png)
but i don't know why in my country, this time is 22:32, but homer ui show 8:32

[2020-02-14 15:37] adubovikov commented on #289
Click on edit and change your timezone :-)

On Fri, 14 Feb 2020 at 16:33, Hà Ngọc Anh <notifications@github.com> wrote:

[2020-02-14 15:39] hangocanh2303 commented on #289
![image](https://user-images.githubusercontent.com/19758537/74545062-d072a480-4f7a-11ea-9262-7fdede093c6e.png)
I changed time zone to my country - Viet Nam. but still wrong time

[2020-02-14 16:16] adubovikov commented on #289
Do you have daylight saving time (DST) ? How big is the different ?
anyway, this is different issue. I will close the ticket.

[2020-02-14 16:16] #289 closed

[2020-02-14 16:16] adubovikov commented on #291
fixed in the UI 7.7.025

[2020-02-14 16:16] #291 closed

[2020-02-14 16:47] AlexeyOplachko opened #292 "Protosearch: Fields changing order"
Saving settings for protosearch without changing anything reorders all selected fields in the same way as they sorted in list of inactive fields.
![2020-02-14_18-49-16](https://user-images.githubusercontent.com/45398541/74551026-1b7cbf80-4f5b-11ea-9611-9d0854dd1c3d.gif)

[2020-02-14 17:13] ghmj2417 commented on #279
I'm still seeing this issue.  I tested this in Chrome and in Firefox and both have the same symptom.  I am pulling homer-app from master, this morning 02:37 UTC.  Is this expected or should I open this same issue under homer-ui?

[2020-02-14 18:01] adubovikov commented on #279
Can you check the latest  UI 7.7.025? Do u see any request to the api
server?

On Fri, 14 Feb 2020, 18:13 ghmj2417 <notifications@github.com> wrote:

[2020-02-14 18:36] ghmj2417 commented on #279
How does homer-ui get built when using homer-app makefile `make modules` `make all`?  It's possible I am not actually pulling in the latest homer-ui when doing the above.

Based off of what I am seeing, the UI for my build is 7.7.021 (prod).

I do see the API requests.  Data is there, results aren't being displayed.

[2020-02-14 19:02] adubovikov commented on #279
OK... The. 021 is pretty old. Can you use packages and get the latest
version?
Or you  prefer to install manually?

On Fri, 14 Feb 2020, 19:36 ghmj2417 <notifications@github.com> wrote:

[2020-02-14 19:05] ghmj2417 commented on #279
I prefer to do it manually.  Although not the best solution, I can install docker and run `make frontend` to get the latest homer-ui.  Would that work?

[2020-02-14 19:19] adubovikov commented on #279
Clone homer-ui
Run npm install
Run npm run build

Copy dist to /usr/local/homer/dist

On Fri, 14 Feb 2020, 20:05 ghmj2417 <notifications@github.com> wrote:

[2020-02-14 19:21] ghmj2417 commented on #279
Easy enough.  I'll get that done and test again.

[2020-02-14 19:55] abv commented on #217
@adubovikov Yes. 7.7 golang seems to be working well.

[2020-02-15 03:05] ghmj2417 commented on #279
Tested with 7.7.025 and I don't see the issue anymore.  Thank you for pointing out the build steps for homer-ui.  When building homer-app manually is that the best way to build homer-ui?

Also, for other Loki UI issues that I am seeing, is it best to open an issue in homer-ui repo?

[2020-02-15 10:20] adubovikov commented on #279
Yep, if you wanna do manually only, the method above is the best one

For the web part better open issues in the app repository

On Sat, 15 Feb 2020, 04:05 ghmj2417 <notifications@github.com> wrote:

[2020-02-15 23:48] hvspa commented on #219
how this got resolved? my time is also showing incorrect.
date on server cli: Sun Feb 16 03:47:25 +04 2020
date on Homer Home clock:
Asia/Yerevan
19:47:43
Asia/Yerevan

[2020-02-16 15:13] negbie commented on #253
https://github.com/sipcapture/homer-app/pull/295

[2020-02-16 15:13] #253 closed

[2020-02-17 09:30] adubovikov commented on #219
Resolved in UI: '7.7.026'

[2020-02-17 13:04] hvspa commented on #219
thanks much Alexandr,

will it be pushed to docker hub as well?

[2020-02-17 13:05] adubovikov commented on #219
yes, should be ;-)

On Mon, 17 Feb 2020 at 14:04, hvspa <notifications@github.com> wrote:

[2020-02-17 15:51] thadeu opened #297 "How to re-create homer_data database?"
Hi guys!

We have a postgres with homer_data without tables, how can I re-create an tables?

[2020-02-17 15:56] ccmsi opened #298 "v 1.1.27 displays v 7.7.021 in browser tab /header"

[2020-02-17 16:18] thadeu commented on #297
I solved setting DBRotate based issue https://github.com/sipcapture/heplify-server/issues/266

[2020-02-17 16:18] #297 closed

[2020-02-17 18:02] adubovikov commented on #298
sorry ? What is your question ?

[2020-02-17 18:06] adubovikov commented on #298
https://github.com/sipcapture/homer/wiki/Troubleshooting-Homer-7.7

[2020-02-17 18:12] adubovikov commented on #298
Set the issue a proper way. As we wrote thousands times we couldn't read your mind!

[2020-02-17 18:12] #298 closed

[2020-02-18 01:19] hvspa commented on #219
thanks Alexandr, just tried to upgrade the whole thing. removed all containers, images, deleted all volumes and started from scratch.

i see the sipcapture/webapp was updated 7 hours ago, but the time is still showing incorrect...

CLI: Tue Feb 18 05:12:14 +04 2020
GUI: Asia/Yerevan 21:12:15  Asia/Yerevan

the webapp version in docker hub is 021.

docker pull sipcapture/webapp:latest

REPOSITORY

[2020-02-18 09:07] ccmsi commented on #298
v 1.1.27 displays v 7.7.021 in browser tab /header

nothing else there to say

[2020-02-18 09:18] adubovikov commented on #298
https://github.com/sipcapture/homer/wiki/Troubleshooting-Homer-7.7#submit-a-bug-report

[2020-02-18 09:30] adubovikov commented on #298
https://github.com/sipcapture/homer/wiki/Troubleshooting-Homer-7.7#version-desync--homer-app-vs-homer-ui

[2020-02-18 09:33] kpribic opened #299 "homer-app user permissions"
Command:

[code]

will change ownership on the database but will not check ownership/rights on individual tables in that db.

[code]

What happened to me was that I manually dropped some tables because of full disk and restarted heplify-server to recreate them. Afterwards homer-app could no longer select data from those tables because homer_user no longer had appropriate rights.

postgres12 log:
[

[2020-02-18 10:14] adubovikov commented on #299
Can you check this one:

https://github.com/sipcapture/homer-app/blob/master/homer-app

we have fixed it here:
https://github.com/sipcapture/homer-app/commit/8af5675492c295e2630effdac85417e50319b2c7

[2020-02-18 10:26] ccmsi commented on #298
/opt/homer-app/dist# md5sum main.27650fc9196cfe522e61.js.gz
c28106cbebcdd65329d6f08c87caa3d9  main.27650fc9196cfe522e61.js.gz

[2020-02-18 10:29] adubovikov commented on #298
Great!
[code]
I won!

[2020-02-18 10:33] adubovikov commented on #299
btw, for me it also a workaround, because looks like your heplify-server doesn't use homer_user for homer_data. Does it ? If the user is homer_user, all new tables should be created under this role.

[2020-02-18 10:39] adubovikov commented on #299
just FYI  homer-app package 1.1.31 has been uploaded

[2020-02-18 10:55] ccmsi commented on #298
this is v1.1.27:
https://github.com/sipcapture/homer-app/tree/be0853f3fccf4b52a8e3d38699f03c5e98b13e8b/dist which the report is about, there is no main.9b8e311ae067e85ac7cc.js.gz
i will go and check your just released v1.1.31

[2020-02-18 10:57] adubovikov commented on #298
wait, wait,. we don't update local dist! Normaly the directory should be removed!

[2020-02-18 10:58] ccmsi commented on #298
each version necessarily comes with its matching dist. while at it your main.9b8e311ae067e85ac7cc.js.gz also does not relate to v1.1.31 which is your current release. so atm i dont know what you are comparing with. is it a relase at all ?

[2020-02-18 11:01] adubovikov commented on #298
the release of homer-app - and the packaging system takes homer-ui and homer-app and make a package base on the version of homer-app. The directory dist was only for tests and have to be removed. If you do manual install use always the repo homer-ui and compile the UI manualy. Read the documenation.

[2020-02-18 11:05] ccmsi commented on #298
packaging crates a tar.gz which is published as a release and contains said components preumably  built the same way from matching versions. would there be an expectation of a different result ? if said files do not match /w ork, why are they published as a release ?

[2020-02-18 11:09] adubovikov commented on #298
you mix two different cases. The homer-app release is a release ONLY of the homer-app and it has nothing todo with rpm/deb packages except a release tag. As I wrote above, the package will always contain the actual release of the homer-ui. If you want to install UI/APP manualy you have to build it manualy. In worse case copy the latest compiled dist from :  https://github.com/sipcapture/homer-ui/t

[2020-02-18 11:17] adubovikov commented on #298
just updated it for you: https://github.com/sipcapture/homer-app/blob/master/README.md#manual-dist

[2020-02-18 11:19] lmangani commented on #298
@ccmsi I'm not sure where we're going with this - the current builders for published versions use docker to compile the frontend and backend compoments and assemble them into a release derived from `homer-app` regardless of the dist contents in git.

If you do see a better way or any improvement, feel free to submit a PR or change proposal and we'll gladly consider it. Thanks for sharing your time

[2020-02-18 11:48] ccmsi commented on #298
i'm currently not quite sure if i understand correctly.
Whatever the correct way of creating the build, it should either match / work or not be contained in the release file.
If the dist folder in homer-app repo is a "random" instance of "homer-ui" then IMO it should be part of the homer-app repo. Actually i think in that case, it should be part stored in the homer-app repo at all and blended out

[2020-02-18 11:51] adubovikov commented on #298
@ccmsi I appologies, but did you read the link that I paste before?

https://github.com/sipcapture/homer-app/blob/master/README.md#manual-dist

[2020-02-18 11:56] lmangani commented on #298
@ccmsi the `dist` folder is a snapshot since its built from another repository, we're not making the assumption the user will or should have all the requirements to build one necessarily, neither we do take for granted they have `docker` available to do so. It's a commodity and it gets updated as we release to lower the entry bar into custom builds for the `homer-app` components.

The problem is t

[2020-02-18 11:57] ccmsi commented on #298
yes i did but situation remains.
there is a dist folder contained in what is *designated* as homer-app release. IMO if it is, it must be a *release*.
looking closer at homer-ui it appears to me, there are release tags, but there is no *release" asset, just source.
a git clone IMO is no release operation and nor is a build.

[2020-02-18 11:59] ccmsi commented on #298
That to me reads like the opposite. Matching releases must be chosen as otherwise it wont work.

[2020-02-18 12:05] adubovikov commented on #298
ok, looks like a valid point. We will recheck

[2020-02-18 12:12] ccmsi commented on #298
the dist folder was added to homer-ui repo. would that not be the build result ? (cant verify atm as the build of homer-ui doesnt complete for me atm)

[2020-02-18 12:16] adubovikov commented on #298
so, there is two ways for now:
- we will update the dist in /homer-app during package/release of homer-app.
- we will release dist asset in /homer-ui

[2020-02-18 12:21] kpribic commented on #299
Yes you're correct, at some point I set heplify-server to postgres user and never switched back. I guess this wouldn't have happened otherwise.

I tried the command same with the new binary but I don't think it's working. In postgresql log all I get are:

[code]

There are no obvious alter commands to individual tables I manually deleted and recreated with heplify.
Homer user still doesn't have ow

[2020-02-18 12:24] adubovikov commented on #299
Does the query return any records?
[code]

[2020-02-18 12:39] ccmsi commented on #298
so yes, dist folder is produced by homer-ui build therefore should not be part of the repo and be gitignored. meaning i'd propose to undo commit 62d58a5b934ba9bace69b87b6fa8b21e1b447eb3

[2020-02-18 12:40] kpribic commented on #299
Yes, some 400 records:

![image](https://user-images.githubusercontent.com/50572561/74736986-30f03300-5254-11ea-8ef4-6112b03bef3b.png)

[2020-02-18 13:00] ccmsi commented on #298
for homer-ui, is there consistency in the usage of branches? iE master = release,  latest= devel_release_candidate ?

[2020-02-18 14:18] adubovikov commented on #299
can you try one more time  ?
https://github.com/sipcapture/homer-app/blob/master/homer-app

[2020-02-18 14:33] kpribic commented on #299
I deleted and recreated tables 35 and 54.
[code]
Postgres logs says:
[code]
I don't know why this isn't returning rows according to heplify-app output.
When I use the same query (copy/paste from log above) directly to db first query gets 407 rows as a result, and the second one only two (postgres and homer_user).

[2020-02-18 14:34] kpribic commented on #299
Forgot to mention - didn't change the individual table permissions, as you can see from queries.

[2020-02-18 18:49] cerienj opened #300 "No QOS data in Docker version of H7.7"
H7.7 has been installed smoothly via the docker compose. See version at the end.

While call data is fine, and RTCP data appears in the log, the QOS tab for any call is empty . No graph, (the axis are drawn, no data), and clicking on labels just show 0 values for all labels

This is on a VM and not in production, so I am available for reinstall / testing.

Great work on H7.7. !!!
J.

Ex: of logs d

[2020-02-18 20:09] adubovikov commented on #300
are you sure about homer-app version 1.1.3 ? maybe 1.1.30 ?

[2020-02-18 20:14] cerienj commented on #300
Sorry ! wrong cut & paste:
VERSION: 1.1.31

[2020-02-18 20:19] negbie commented on #300
Just tested the same and can confirm. In console I see error {data: "", message: "no advacned settings found for type cdr"}

[2020-02-18 20:20] adubovikov commented on #300
CDR ? ok. @RFbkak37y3kIY Do you have something to say ?

[2020-02-18 20:21] adubovikov commented on #300
@cerienj @negbie how do you feed the RTCP packets ? rtpengine/asterisk ?

[2020-02-18 20:21] negbie commented on #300
clone heplify repo and do ./heplify -rf example/pcap/rtp_rtcp_sip_ipv4_udp.pcap -e

[2020-02-18 20:22] adubovikov commented on #300
ok, normaly we do tests with hepgen, let me use heplify in this case

[2020-02-18 20:31] negbie commented on #300
Im just playing with it and not using it really so everything I do are synthetic tests with heplify -rf some file

[2020-02-18 20:32] negbie commented on #300
But I would assume thats it's broken for rtpengine or asterisk to because format should be the same?

[2020-02-18 20:36] cerienj commented on #300
different asterisk boxes, running heplify, version 1.55 now -

`heplify155 -i eth0 -myhost:9060 -hi 5959 -e -m SIPRTCP`

[2020-02-18 20:46] cerienj commented on #300
I see two sessions loaded into homer, 12013223@200.57.7.195 and 12015624@200.57.7.195
12013223@200.57.7.195 show a QOS tab, empty,
12015624@200.57.7.195 does not show a QOS tab (which makes sense, there is an invite but no 200 OK).

Here is the heplify result:
[code]

[2020-02-18 20:48] negbie commented on #300
@adubovikov keep in mind that this is a response from agentsub

return reply.String(), fmt.Errorf("no advacned settings found for type %s", typeRequest)

easy to spot because of the typo in advanced ;)

[2020-02-18 20:49] negbie commented on #300
So I think this console error is unrelated to empty QOS tab.

[2020-02-18 20:51] cerienj commented on #300
where would I find this in the docer install ? which components issues it ?

[2020-02-18 21:01] adubovikov commented on #300
so, confirmed. Created a ticket for dev-UI :-) ...

[2020-02-18 21:08] adubovikov commented on #300
Yes, thank you fixed all 6 :-)

[2020-02-18 21:11] adubovikov commented on #300
@cerienj but you have the RTCP packets in the Message view ?

[2020-02-18 21:21] cerienj commented on #300
Yes, I see them in the message & flow view. Also, I see data (from my hosts) in the Grafana / QoS dashboard

[2020-02-18 21:22] adubovikov commented on #300
ok, great. Tomorrow it will be fixed. Just wait a while.

[2020-02-18 21:27] cerienj commented on #300
awesome !

[2020-02-18 23:06] adubovikov commented on #299
and one more time, please
https://github.com/sipcapture/homer-app/blob/master/homer-app

[2020-02-19 03:07] ghmj2417 opened #301 "Building swagger throws error"
It was building fine with release 1.1.27 but now it's throwing an error when trying to build swagger

`operation (search): invalid route/operation schema provided`

I noticed there was a recent commit (2 days ago) to models.  Do you think this broke the build?

[2020-02-19 05:38] DarrenCarterSA commented on #300
Thank you! I spent the better part of yesterday trying to figure this out. No QoS stats.
Sending from RTPEngine.

[2020-02-19 08:40] aqsyonas commented on #301
@ghmj2417 should be fixed in below pull request.

https://github.com/sipcapture/homer-app/pull/302

[2020-02-19 08:41] kpribic commented on #299
Works! :-)

[2020-02-19 08:41] #299 closed

[2020-02-19 08:51] adubovikov commented on #299
super. The issue is - you have to be connected to "homer_data" DB, otherwise it doesn't show the tables.

[2020-02-19 10:34] adubovikov commented on #300
![Screenshot from 2020-02-19 11-29-08](https://user-images.githubusercontent.com/4513061/74826287-9d7a3900-530b-11ea-9cb6-486d6416699f.png)

so, fixed in the dev branch, we will fix couple another issues and implement couple new features and after test will release a new package

[2020-02-19 13:21] cerienj commented on #300
That looks great !!!! quite eager to see it myself :-)

[2020-02-19 13:43] adubovikov commented on #224
![Screenshot from 2020-02-19 14-39-36](https://user-images.githubusercontent.com/4513061/74839719-0a9ac800-5326-11ea-8301-5d88b593b066.png)
![Screenshot from 2020-02-19 14-40-55](https://user-images.githubusercontent.com/4513061/74839727-0d95b880-5326-11ea-97f9-195b237b8511.png)

https://github.com/sipcapture/homer-ui/commit/bf6bc8a15951a834415b82f125428def225a039f

[2020-02-19 13:43] #224 closed

[2020-02-19 13:44] adubovikov commented on #301
please reopen if needed

[2020-02-19 13:44] #301 closed

[2020-02-19 23:55] adubovikov commented on #298
https://github.com/sipcapture/homer-app/releases/tag/1.1.32
homer-ui now there as a an asset. I think it will solve your issue

[2020-02-19 23:57] adubovikov commented on #300
https://github.com/sipcapture/homer-app/releases/tag/1.1.32
also the packages are in the repository. Please update

[2020-02-20 00:26] hvspa commented on #219
hi Alexandr, can you please help to check if when the 028 pr 026 will be pushed to docker hub and what will be the tag? latest  or what?

[2020-02-20 01:51] lmangani commented on #219
the automated builds are pushed to latest

[2020-02-20 01:56] hvspa commented on #219
i tried last night and the version was 021:(

[2020-02-20 02:34] summitrabz commented on #300
Is this update applies to the docker version only? Would be nice if the update is also available on non-docker version :)

[2020-02-20 07:19] adubovikov commented on #300
This is for all

On Thu, 20 Feb 2020, 03:34 Rabs <notifications@github.com> wrote:

[2020-02-20 08:36] Shkiperon opened #303 "Homer-APP can create DB, but cannot create tables"
Hello. Homer-APP can create databases, but cannot create tables I tried do it in two ways:
[code]
As you can see - everything seems to be ok, but it is not. Databases are empty, but created by the homer-app utility.

I tried to replace the magic word “LocalNode” with “RemoteNode”  in web-config.json (I can not find any help about these options, but sometimes people write that this replacement can

[2020-02-20 08:38] adubovikov commented on #303
just run heplify-server and it will do the job for you.
Please read this:  https://github.com/sipcapture/homer/wiki/Troubleshooting-Homer-7.7#database-inspection

[2020-02-20 08:38] #303 closed

[2020-02-20 08:58] Shkiperon commented on #303
[code]
No tables created anyway. Maybe it can be some other problem? I have checked the toml-file of the heplify-server - the connection parameters are correct.

[2020-02-20 09:04] adubovikov commented on #303
Did you create the data db ? Did you read the link that I sent to you ?
https://github.com/sipcapture/homer/wiki/Troubleshooting-Homer-7.7#database-inspection

[2020-02-20 09:21] Shkiperon commented on #303
![image](https://user-images.githubusercontent.com/38580109/74919221-181a8580-53ec-11ea-9a60-4cfd34f74a90.png)
This database and tables is exist. Problem with homer_config

[2020-02-20 09:23] Shkiperon commented on #303
In homer_config I see this:
![image](https://user-images.githubusercontent.com/38580109/74919552-9119dd00-53ec-11ea-870d-80f09ed5b770.png)

[2020-02-20 09:30] adubovikov commented on #303
I am not sure you do it right:
first you did
[code]

and after
[code]

but the homer tables population you did only for "local node", but not for "pg.example.local"

[code]

but not for  "pg.example.local".

Please be sure that you use the correct host, check also your webapp_conf.json

[2020-02-20 09:39] adubovikov commented on #303
just checked, all works as should. Please follow the installation guide and be sure you have correct host and credentials in your webapp_config.json

[2020-02-20 10:10] Shkiperon commented on #303
Ok, I checked the credentials in webapp_config.json and change parameter "LocalConfig" to "RemoteConfig". But (as I said before) I have not found what these parameters defines and how it's can affect to my installation.
If you have a complete installation manual with a description of the parameters of the configuration files, please give a link, since what is on the Wiki repository does not answer

[2020-02-20 10:19] adubovikov commented on #303
The ALL steps described well and if a man will read it  with attention and not just complains,
all will work. Here was cleary written:

https://github.com/sipcapture/homer-app#please-setup-the-correct-credentials-for-homer_config-and-homer_data-db-in-your-webapp_configjson-

# Please setup the correct credentials for homer_config and homer_data DB in your webapp_config.json !!!
#Create Table / Mig

[2020-02-20 10:28] Shkiperon commented on #303
[code]
Looks like there is no some instruction for creation of config tables.
No any changes in pg.example.local

[2020-02-20 10:34] adubovikov commented on #303
are you sure that your webapp_conf.json is in /usr/local/homer/etc ?
looks like you do something wrong with your path
[code]
if you have changed webapp_config.json in the your root directory - do this, but BE SURE that you have the correct path in the service file

[code]

[2020-02-20 10:40] adubovikov commented on #303
Please setup the correct credentials for homer_config and homer_data DB in your webapp_config.json !!!

**if your webapp_config.json isn't in the default directory: "/usr/local/homer/etc", use the flag "-webapp-config-path" to correct it. Same have to be applied to all steps there you read settings from "webapp_config.json"**

[2020-02-20 10:40] Shkiperon commented on #303
My config file in default place:
`-rw-r--r-- 1 root root 1689 Feb 20 15:21 /usr/local/homer/etc/webapp_config.json`

[2020-02-20 11:00] Shkiperon commented on #303
Maybe this info can help - my homer-app instance installed from `https://packagecloud.io/qxip/sipcapture/debian buster InRelease `

[2020-02-20 11:21] adubovikov commented on #303
Download the binary:
https://github.com/sipcapture/homer-app/raw/master/homer-app
replace and execute the same procedure one more time. You will see more debug information.

[2020-02-20 11:51] Shkiperon commented on #303
We now more closer to solution. Look at this:
[code]
I tried do this command with `port` parameter:
[code]
So, the problem is that the homer-app doesn't use `port` parameter for connection.
I have a custom configuration of PG:
1) On port 5432 I have a SLAVE PG node;
2) On port 5900 I have a MASTER PG node.

Yes it strange, but it's necessary.

[2020-02-20 12:02] adubovikov commented on #303
ok. thanks. This is a bug :-) please pull the binary one more time and check again

[2020-02-20 12:48] Shkiperon commented on #303
With new binary works fine.
Thank you :)

[2020-02-20 13:19] adubovikov commented on #303
great :-) thanks for the bug report. Don't forget star the project :-)
http://github.com/sipcapture/homer

[2020-02-20 15:39] adubovikov commented on #300
sorry, we have updated the docker version  as well!

[2020-02-20 22:31] adubovikov commented on #300
any updates here ?

[2020-02-20 22:32] adubovikov commented on #300
@cerienj please close the ticket if all good

[2020-02-20 22:34] adubovikov commented on #219
@hvspa please try one more time

[2020-02-20 22:34] adubovikov commented on #292
@RFbkak37y3kIY any updates here ?

[2020-02-20 23:40] summitrabz commented on #300
Thanks, Alex for the update. I'm using the non-docker version, with Homer-App version 1.1.32 and also using heplify 1.55 to send packets with the following command

./heplify -hs 192.168.120.167:9060 -e

The QoS report is empty with no data

![image](https://user-images.githubusercontent.com/47308455/74989938-eeb63400-5495-11ea-9c59-36ceeac41e3c.png)

![image](https://user-images.githubusercontent

[2020-02-21 02:02] hvspa commented on #219
заработало :) версия 028 :) спасибо :)

[2020-02-21 04:48] bibace opened #304 "limit parameter in search API does not work as expected"
https://github.com/sipcapture/homer-app/blob/745ba3f3150f8696f9b568e2de697703c7831566/model/search.go#L17

For my understanding, the number of returned results should match $limit. But actually it doesnt work for search/call/data
[code]

After some investigation, I found we should put limit parameter in search value so the following code works

[code]

Is this how it works?

[2020-02-21 09:30] adubovikov commented on #300
@summitrabz did you install it as a package ? Are you sure that your UI is >= 7.7.028 ?

[2020-02-21 09:35] adubovikov commented on #304
@bibace sorry, I dont' really understand what do you mean ?  UI sends limit in the api requests and if you don't provide limit there should be no limit

[2020-02-21 12:02] bibace commented on #304
I mean when I was testing the APIs via the postman, $limit parameter didn't do anything for me. I changed it to 5, 10, 50, 100, 200. I always got the same results.

[2020-02-21 12:07] adubovikov commented on #304
can you please enable debug in the homer-app and see if the limit has been cactched and used in the sql query.

[2020-02-21 14:26] cerienj commented on #300
sorry - I was unavailable yesterday - I'm looking at branch 7.7 of sipcatpure/docker and Latest commit
8f8d14c - 4 days ago - I dont see your changes (on master, last commit is last month)

(https://github.com/sipcapture/homer7-docker/tree/7.7)

[2020-02-21 14:29] lmangani commented on #300
@cerienj the changes are in the docker container, not on the docker compose.
What you need to be doing:
[code]
or
[code]

[2020-02-21 14:40] cerienj commented on #300
still nothing, with either the test data or my data

[2020-02-21 14:47] lmangani commented on #300
Test your setup with hepgen - replace the IPs and commands if needed:
[code]

[2020-02-21 14:51] adubovikov commented on #300
@cerienj can you provide your data by dumping sip and rtcp table ? You can send it private if you prefer.

[2020-02-21 14:56] cerienj commented on #300
ok, with hepgen, I do get data in the qos window

[2020-02-21 14:58] lmangani commented on #300
@cerienj then your setup is doing just fine and you need to look into what's being sent and how

[2020-02-21 15:07] adubovikov commented on #300
@cerienj if you can, please send me your RTCP data only in the dump format. We will play back on our server

[2020-02-21 15:08] adubovikov commented on #300
@cerienj SQL dump

[2020-02-21 15:11] cerienj commented on #300
I am using heplify 155 to capture data, with the following syntax:
`heplify -i eth0 -hs myhomer:9060 -hi 1234 -e -m SIPRTCP

[2020-02-21 15:13] cerienj commented on #300
which table do you want exactly ?

[2020-02-21 15:19] adubovikov commented on #300
hep_proto_5_default

[2020-02-21 15:33] cerienj commented on #300
data is here: https://drive.google.com/open?id=1-Y4MWGTm6h8Anh3pZ6SESbmGta_5-c4I

[2020-02-21 15:33] cerienj commented on #300
I've extracted 10,000 records

[2020-02-21 16:15] ghmj2417 opened #305 "loki - Labels not loading, searching returns all results"
Using homer-app 1.1.32 and homer-ui 7.7.025.

When using the Loki search widget, when typing `{` the Labels box pops up and just says loading.  It doesn't show which labels are available.  Also, when I type in `job="`, I get the `Label value for "job"` box, but doesn't show the job names.  I have tried this using Firefox 73.0.1 and Chrome 80.0.3987.116.  Both show the same symptom.

When using the

[2020-02-21 16:34] adubovikov commented on #300
thanks, are you sure your time is correct ?
in the data I see: '2020-02-21 11:28:31.534'
but inside timestamp 1582298911 that should be "02/21/2020 @ 3:28pm (UTC)"  4 hours diff ? Or the server is in -4 GMT ?

[code]

[2020-02-21 16:38] ghmj2417 commented on #305
I take that back about the query being the same for Grafana.  I used an actual Loki search expression `{job="heplify-server"} |= "123456"`.  I tried doing the same using the widget, but still didn't get the expected results.  It looks as though Loki parameter searching via homer-app isn't working.

[2020-02-21 16:45] cerienj commented on #300
Capture node is gmt+1, Homer gmt-4, I have the same issue with a server on
the same time band as Homer

Le ven. 21 févr. 2020 à 12:34, Alexandr Dubovikov <notifications@github.com>
a écrit :

[2020-02-21 16:48] adubovikov commented on #300
just upload your data and corrected the time.

![Screenshot from 2020-02-21 17-46-34](https://user-images.githubusercontent.com/4513061/75053837-3a86ce80-54d2-11ea-95be-aa1aca8095a9.png)

the original call id was: "5e4687ef2d1bb6220090247b6c2a64ff@sip59.ipertelecom.fr"

Can you check on your side ?

[2020-02-21 16:54] lmangani commented on #305
There's currently a bit of desync due to the Loki API changes. If you're running the latest version of Loki, you most likely are suffering due to this. Please standby for a fix to re-test with.

[2020-02-21 18:44] hvspa commented on #219
i see there is anew feature there, to export the call flow as a PNG. the PNG does not include the IP address in the top of the call flow tab. can you have a look into that?

thanks again :)

[2020-02-21 19:12] adubovikov commented on #219
please open a new ticket for this.

[2020-02-21 19:40] hvspa opened #306 "PNG export does not show IP addresses"
i see there is anew feature there, to export the call flow as a PNG, which is great. However the exported PNG does not include the IP address in the top of the call flow tab. can you have a look into that?

thanks again :)

[2020-02-21 19:40] hvspa commented on #219
created. thanks much Alexandr,

[2020-02-21 20:18] adubovikov commented on #300
Just uploaded a new release 1.1.35 UI 7.7.030 please install

[2020-02-21 20:53] ghmj2417 commented on #305
Sounds good, thank you @lmangani

[2020-02-21 21:34] adubovikov commented on #305
@ghmj2417 can you please update homer-app and homer-ui to the latest version.

https://github.com/sipcapture/homer-app/releases/tag/1.1.35

[2020-02-21 21:46] cerienj commented on #300
it works with my existing data !!!!! That is AWESOME !!!!

[2020-02-21 21:47] adubovikov commented on #300
great :-) give a star, close the ticket!
Have a nice week end :-)

[2020-02-21 21:53] #300 closed

[2020-02-21 22:07] adubovikov commented on #300
@cerienj probably need to delete hep_proto.gz and screenshots with your hostsnames, just to avoid some curious people :-)

[2020-02-21 22:27] adubovikov commented on #306
@RFbkak37y3kIY in the tab-flow.component.html (line 7), div alias should also have a different position during export.

[2020-02-22 02:52] ghmj2417 commented on #305
Updated.  Still the same issues.

[2020-02-22 08:55] adubovikov commented on #305
Can you please tell your Loki's version?

On Sat, 22 Feb 2020, 03:52 ghmj2417 <notifications@github.com> wrote:

[2020-02-22 12:18] ghmj2417 commented on #305
1.3.0

[2020-02-24 01:03] bibace opened #307 "Any chance to add expire time on returned token result."
Happy with homer 7 apis so far.

However when I get token from auth endpoint,

it doesnt contain expire time. Really need it for storing the token in a caching service.

Furthermore, I still havent found any documentations about how to use Auth-Token from Homer setting.

I tried to put the token I generated to parameter Auth-Token in header, but always get

wrong JWT format error.

[2020-02-24 01:10] adubovikov commented on #307
![Screenshot from 2020-02-24 02-09-08](https://user-images.githubusercontent.com/4513061/75123754-ade33880-56aa-11ea-95b6-277a12f609a1.png)

Auth-Token you can use for HEPSUB for an external agent

[2020-02-24 08:43] ccmsi commented on #298
sort of.
i'm currently considering running a Jenkins instance for homer-ui / homer-app . the question about branch usage/mapping ie for dev/staging/prod is for that.

[2020-02-24 09:03] lmangani commented on #298
@ccmsi if you plan on contributing back something all users can benefit, we'll be glad to help you. If this is for your exclusive usage, its a lower priority. Feel free to open a dedicated ticket for this.

[2020-02-24 09:16] ccmsi commented on #298
plan to me is such a string word. atm i'm in the state where i believe i know what needs to be done and am willing to give it a shot. if it works out, fine. we'll probably serve back the jenkinsfiles and could feed the builds. promising something will be completed before it is i practically never do. however i did verifiably complete a couple things.
independent of that, any user or potetnial cont

[2020-02-24 09:27] lmangani commented on #298
@ccmsi much appreciated minus the extensive use of conditional. This is a community project, including the documentation, etc. When you get somewhere with this and if you think we can help, let us know and we'll be happy to.

[2020-02-24 10:15] ccmsi commented on #298
great.
then let me know if there's a matching between branch names and dev/staging/prod paths

great, then evidently we understand each other although we are not always consistent in our statements

[2020-02-24 17:13] gedia opened #308 "A/B leg call association seems to be broken with default settings"
I believe the JSON dict that is meant to allow for a-leg and b-leg association is wrong in the default installation. Here's the original:

[code]
whereas what works for me is the following:
[code]

Am I missing something here? Is this stanza meant for some other functionality?

[2020-02-24 17:15] gedia opened #309 "Allow closing pop-ups using the Escape key"
I'm missing the ability to close popups (e.g. SIP messages, flows etc) using the keyboard. Is it possible to reinstate this functionality?

[2020-02-24 17:34] adubovikov commented on #308
thank you. Just fixed in the master

[2020-02-24 17:34] #308 closed

[2020-02-24 18:36] gedia commented on #308
Looking at the diff, it still reads: data_header.correlation_id

I believe the correlation_id is located in the protocol_header column in PostgreSQL, not in the data_header column, at least in the latest schema. Am i mistaken?

[2020-02-24 19:24] adubovikov commented on #308
:-) you are absoultely right!
fixed

[2020-02-24 21:21] adubovikov commented on #309
https://github.com/sipcapture/homer-ui/commit/5a0bc05a29aed69679390c67768fdf7603b7ee33

[2020-02-24 21:21] #309 closed

[2020-02-24 21:22] adubovikov commented on #304
sorry, since no more input, i will close the ticket. Once you will have more info, please add.

[2020-02-24 21:22] #304 closed

[2020-02-24 21:23] #307 closed

[2020-02-26 15:21] lazedo opened #310 "homer7 flow tab is not merging aliases"
in homer5 we created aliases for servers with multiple ports and the flow would show that server only once. in homer7 (homer7-docker branch 7.7), with the same aliases created, the flow shows the alias of the server correctly but it shows the same server several times depending on the ports involved in the transaction

[2020-02-27 21:40] danjenkins opened #311 "docker init script using incorrect flag"
`flag provided but not defined: -database-root`

[code]

are the available ones apparently according to the log

[2020-02-28 12:21] hvspa commented on #306
@RFbkak37y3kIY hi, were you able to look into this? thanks

[2020-02-28 12:36] danjenkins commented on #311
Hey sorry all, made this issue late last night with very little info. as far as im aware i'm passing in the correct info in the env vars but I get this error. Based on the error i think the env vars need changing and the command you're running needs changing.

[2020-02-28 14:30] negbie commented on #311
Hey @danjenkins yeah https://github.com/sipcapture/homer-app/blob/master/docker/docker-entrypoint.d/9

needs to be changed because -database-root was renamed to -database-root-user

[2020-02-28 15:35] lmangani commented on #311
@negbie on it

[2020-02-28 15:37] lmangani commented on #311
@danjenkins could you check out and validate https://github.com/sipcapture/homer-app/pull/312

[2020-02-28 21:03] adubovikov commented on #306
@hvspa it's not a majior issue, therefore we will take a look once we have time for it.  If you in rush, please take a look on file tab-flow.component.html (line 7) and provide a patch

[2020-02-28 21:16] hvspa commented on #306
if you tell me where is it located the file you mentioning, i can definitely have a look

i tried to search it in container, but cannot find:

docker exec -ti homer-webapp find / -name  tab-flow.component.html 2>/dev/null

also cannot attach to that container :(  cannot execute bin bash, cannot ssh :(

[2020-02-28 21:31] adubovikov commented on #306
https://github.com/sipcapture/homer-ui/blob/master/src/app/components/search-grid-call/detail-dialog/tab-flow/tab-flow.component.html

On Fri, 28 Feb 2020 at 22:16, hvspa <notifications@github.com> wrote:

[2020-02-29 19:45] hvspa commented on #306
thanks Alexandr, i've had a look, but unfortunately it is above my level of knowledge :(
PS. when i open the call flow in new window and then do export to png the IPs in the title are shown in PNG.

[2020-03-03 14:10] AlexeyOplachko opened #313 "Settings: Clear storage"
Add two buttons in settings to clear local and sesion storage.

[2020-03-03 14:30] adubovikov commented on #313
It will be nice have this button (later will come another one) as a menu punkt:

Settings -> Reset -> buttons

[2020-03-03 16:48] danjenkins commented on #311
testing now! What would be really nice and would have made testing super simple - allow dickerhub to auto build the project and use branch names for tags etc

[2020-03-03 16:49] danjenkins commented on #311
Docker build failed....

[code]

[2020-03-04 08:27] lmangani commented on #311
@danjenkins that's an out of memory error from Docker build. Please try again ;) This said, we do have automated builds for master using codefresh and soon Github actions might replace it.

[2020-03-04 08:35] danjenkins commented on #311
I tried again thrice! Could one of you try?

[2020-03-04 08:53] lmangani commented on #311
Works fine with me using master - I merged the change already:
[code]

[2020-03-04 08:57] danjenkins commented on #311
Oh amazing! Thanks! I'll go test it

On Wed, 4 Mar 2020, 08:53 Lorenzo Mangani, <notifications@github.com> wrote:

[2020-03-05 14:45] kpribic opened #314 "how to set data_header->method property"
How can I propagate some nice title for a message so that it shows in data_header->method property that homer-ui so nicely renders in flow?

Random example would be:
![image](https://user-images.githubusercontent.com/50572561/75992229-f6df8c00-5ef7-11ea-82f3-73ee056ce0ec.png)

With data_header value:
[code]

I'm pushing logs into homer DB via hepipe.js -> heplify-server -> postgresql -> hep_proto_

[2020-03-05 14:54] kpribic commented on #310
+1

This can get pretty annoying when using TCP because ports can change within one dialog.

Maybe it would make sense to merge aliases when ports are turned off via the (great!) new feature in homer-ui. This way we could have the cake and eat it, if you want to see merged aliases then turn off ports, if you wan't to see everything - just keep the ports displayed.

[2020-03-05 15:16] lazedo commented on #310
ports turned off would simplify it but would not work me in this case, i have some ports for kamailio and other ports for freeswitch. this works great in home5

[2020-03-06 09:49] runelucica commented on #310
Jumping on this one as well, as I read something that caught my attention.
I am also struggling with defining Aliases in such way where if I have multiple ports and one host I would like that to appear once or max 2 times (once for signaling and once for media).
Is there anyway you can add a port range? I tried but it gave an error.

@kpribic - I just tried the port turn off feature and it does no

[2020-03-06 10:40] danjenkins commented on #311
I'm now hitting another issue but I don't think its related so I'll close this issue and re-open it if I need to

[2020-03-06 10:40] #311 closed

[2020-03-06 13:15] kpribic commented on #310
No, I don't think that works now, I was just suggesting that it would be a good way to implement merging while retaining the option to see separate ports (which can be useful).

[2020-03-09 18:03] systemcrash opened #315 "Homer7 (7.7.031 prod) cannot handle IPv6 addresses (in flows) after first colon"
Homer's treatment of IPv6 should not make them very long either. Perhaps most relevant is the 1st and last 16bits.

![Screenshot 2020-03-09 at 18 59 28](https://user-images.githubusercontent.com/647633/76243368-8195f300-6238-11ea-82bb-22a51fcbb92d.png)

[2020-03-10 10:25] runelucica commented on #310
Not sure if anyone else answered this one, but I was reading some older issues and found that by setting the Port value to 0 will allow the same Alias label to be applied in the Flow tab (even if the Port is different).

Hope this helps someone.

[2020-03-10 10:26] runelucica commented on #310
This is however different from the request above.
I read it again :). Does not really in that case.

[2020-03-10 10:29] lmangani commented on #310
@runelucica the port 0 behaviour is exactly as per design. Match all/any ports for an IP.

[2020-03-10 13:41] runelucica commented on #310
Understood. Did not know this, so I was happy to find that out.
Should configuring port 0 for an Alias display that host only once in the Flow tab or only show the Alias multiple times (if same IP with diff ports is used)?

This is how I have configured an Alias:

![Alias](https://user-images.githubusercontent.com/41921868/76317707-e440ca80-62dc-11ea-8be7-ac9909f0075c.PNG)

And this is how the flo

[2020-03-10 15:14] systemcrash commented on #315
Tried rolling back in docker to image: sipcapture/homer-app:1.1.2, without cleaning up DB or on disk files, and IPv6 labels displayed OK (though flow was a bit broken).

[2020-03-10 15:25] systemcrash opened #316 "Homer7 (7.7.031 prod) cannot export PCAP"
Current pcap sizes are 24 bytes. i.e. effectively empty.

Any suggestions?

Currently viewing any flow, shows similar to this in the logs:

[code]

[2020-03-10 15:34] systemcrash opened #317 "Homer 7 (7.7.031 prod) Msg Size column in messages list appears incorrect"
I suspect a CR+LF is counted where CR only should be counted.

Copy paste from the message window introduces the extra CR+LF (showing empty lines) e.g.

[code]
Currently, Msg Size counts these empty lines.

which should be

[code]

As a result, string length calculations of the "should be" (which is what ingresses to heplify-server) are shorter.

[2020-03-10 15:59] systemcrash commented on #316
Showing export TXT also results in 0 byte files.

[2020-03-10 16:31] lmangani commented on #316
Please check what the browser console is posting in the query to the API please

[2020-03-10 16:37] lmangani commented on #316
@systemcrash i just tested on the latest build and I can export a PCAP just fine. Are you exporting a Call related session or some other transaction type perhaps?

[2020-03-10 16:40] systemcrash commented on #316
Call (session).

[2020-03-10 16:44] lmangani commented on #316
Cannot reproduce it. Are you using a container or system installed version of homer-app?

[2020-03-10 16:47] systemcrash commented on #316
First displaying the flow, I get:

ERROR TypeError: "Argument 1 of Selection.setBaseAndExtent is not an object."

and then

{
  "data": "",
  "message": "no agent subscription object found for type [cdr]"
}

Everything is docker.

[2020-03-10 16:52] systemcrash commented on #316
Export flow as PNG is OK, however.

[2020-03-10 17:10] adubovikov commented on #316
need to know the version of homer-app and UI

[2020-03-10 17:12] adubovikov commented on #315
7.7.004 - very old. Please upgrade to the latest version

[2020-03-10 17:13] adubovikov commented on #315
sorry, this means in the 7.7.004 - the labels are ok and in the current have broken ?

[2020-03-10 17:14] adubovikov commented on #316
IMHO you have to allow popup in your browser. This can be an issue

[2020-03-10 17:20] systemcrash commented on #316
Thanks - definitely not the issue here. Disabled all ad-blockers.

homer-webapp      |  Version: homer-app 1.1.35

UI: 7.7.031 - same as subject

[2020-03-10 17:22] adubovikov commented on #316
and you have all messages in the popup ?

[2020-03-10 17:24] systemcrash commented on #316
Yes - poking into individual messages shows each content correctly

[2020-03-10 17:29] systemcrash commented on #316
The "Share link" opens a new window, which shows zero results...

[2020-03-10 17:55] adubovikov commented on #316
@systemcrash can you provide an access to check ?

[2020-03-10 17:58] systemcrash commented on #316
From what subnet?

[2020-03-10 17:59] adubovikov commented on #316
212.60.251.0/24

[2020-03-10 18:06] systemcrash commented on #316
http://193.180.23.2

[2020-03-10 18:08] adubovikov commented on #316
works without any issues :-)

[2020-03-10 18:10] adubovikov commented on #316
![Screenshot from 2020-03-10 19-10-15](https://user-images.githubusercontent.com/4513061/76344985-d00fc400-6302-11ea-95eb-ec3fd183f712.png)

[2020-03-10 18:11] adubovikov commented on #316
and share link works as well :-)
![Screenshot from 2020-03-10 19-11-05](https://user-images.githubusercontent.com/4513061/76345051-f5043700-6302-11ea-98b9-e6aed17b974a.png)

[2020-03-10 18:12] adubovikov commented on #316
maybe you have some cache or proxy or something else... ? Can you go to F12 -> Application and clean up the local storage ?

[2020-03-10 18:13] systemcrash commented on #316
Bizarre. When accessed via IP or a different domain name, things work.....

[2020-03-10 18:14] adubovikov commented on #316
:-) check your network topology. IMHO the ticket can be closed

[2020-03-10 18:27] systemcrash commented on #316
Yeah, I think for now..... gremlins :(

[2020-03-10 18:27] #316 closed

[2020-03-10 18:36] systemcrash commented on #317
ignore *facepalm*

[2020-03-10 18:36] #317 closed

[2020-03-10 21:06] systemcrash commented on #315
Effectively, yes (short of nuking all data on disk to verify this, I'm sure this is the case)

[2020-03-10 21:26] systemcrash opened #318 "Feature request: import PCAP"
Import an on-disk PCAP into Homer, from the GUI

Process SIP, RTP and RTCP.

(without having to utilise command-line utilities)

[2020-03-10 21:28] adubovikov commented on #318
sorry, can you be more concrete ?

[2020-03-10 21:28] adubovikov commented on #315
please provide your ipv6 dumps

[2020-03-10 21:33] systemcrash commented on #318
Instead of relying on heplify to ingest stuff, can we have the possibility to just upload a PCAP (of a call with SIP+RTP etc) into Homer

[2020-03-10 21:35] adubovikov commented on #318
you can use heplify to upload HEP json/sip to Homer

On Tue, 10 Mar 2020 at 22:33, Paul Dee <notifications@github.com> wrote:

[2020-03-10 21:36] systemcrash commented on #318
from the Homer GUI? *click*?

[2020-03-10 21:39] adubovikov commented on #318
We love CLI - unix shell :-) mouse is for loser ;-)

[2020-03-11 00:16] systemcrash commented on #318
Me too :) But there are some knuckle-draggers who will need a 'quick and dirty' to get things going.

[2020-03-11 09:24] lmangani commented on #318
If this needs to be done:

- PRs are welcome
- Donations are welcome

Alternatively, you can purchase our professional services to get this developed or consider HEPIC which already does all of the above out of the box (and sponsors the development of HOMER)

[2020-03-11 09:24] #318 closed

[2020-03-11 14:46] runelucica opened #319 "Unable to correctly add Protocol Type column to "Display Results" widget"
I am using Homer UI 7.0.7.031 and homer-app 1.1.35 and tested with Chrome and Firefox.

On a new dashboard I have added 2 Display Results widgets.
I would like to add the Protocol Type column on both widgets.
Adding it on the 1st widget works fine.

Adding it on the 2nd widget generates some strange behaviors:
- 2 Protocol columns appears on the 1st search widget OR
- 2 Protocol columns appears on

[2020-03-11 14:50] runelucica opened #320 "OR operation in Display Search Results"
I am using Homer UI 7.0.7.031 and homer-app 1.1.35.

I would like to ask if it is possible to perform an OR operation between different parameters when Searching for calls?
I would like for example to search for all calls where the Source IP or Destination IP is 10.10.10.10.

[2020-03-11 15:00] lmangani commented on #314
@kpribic that's correct, the equivalent of "method" changed between protocols.
We can change how Janus-specific things are displayed depending on our shared preferences so feel free to make a proposal or some mock-up for consideration and I'll bring it forward.

[2020-03-11 15:46] systemcrash commented on #315
Have you a private email to which I can send?

[2020-03-11 15:59] negbie commented on #320
@runelucica yes this is possible. Use || as prefix in both fields which should be or combined.

[2020-03-11 16:00] negbie commented on #320
so in  Source IP field
||10.10.10.10
and in Destination IP field
||10.10.10.10

[2020-03-11 16:05] systemcrash commented on #315
Or a https://www.guerrillamail.com/

[2020-03-11 16:18] adubovikov commented on #315
alexandr.dubovikov@gmail.com

On Wed, 11 Mar 2020 at 17:05, Paul Dee <notifications@github.com> wrote:

[2020-03-11 16:20] systemcrash commented on #315
OK, msg sent. You may need to check spam folder :)

[2020-03-12 08:43] runelucica commented on #320
Great. Many thanks for the hint!
For more complex rules (Param1 AND (PARAM2 OR PARAM3)) the enhancement still applies?
If that is also possible I can close the issue.

[2020-03-12 08:46] negbie commented on #320
@runelucica yes. You can check out whats possible here https://github.com/sipcapture/homer-app/blob/master/data/service/search.go#L70

[2020-03-12 08:51] negbie commented on #320
@runelucica for your example mby you only need to prefix PARAM3 with ||. Play a bit with that. Maybe there are some cornercases. If so turn on debug logs and paste your query here.

[2020-03-12 09:00] runelucica commented on #320
Awesome.
In that case I will close the issue.

[2020-03-12 10:50] kpribic commented on #314
Heplify server currently parses SIP messages and generates data_header jsonb values via **hardcoded** logic. In order for homer7 to be truly multiprotocol correlation engine we would need some sort flexibility for non-sip messages in terms of extracting specific values to data_header.

First use case that I tried to cover here is bridging traffic from webrtc to SIP domain and webrtc (when isn't si

[2020-03-13 08:36] runelucica commented on #320
I am re-opening this to provide more info to others on how I was able to get it working and ask for guidance for some other issues I found along the way.

This is how I was able to get it working:
- Configured 1 new dashboard (Type Search - not sure what is the difference between the dashboard types)
- Added 2 Display Result widgets and 2 Proto Search widgets (configured for SIP - call searching)

[2020-03-13 08:45] runelucica commented on #320
Along the same lines, so that I don't open a different issue:

I would like to configure dashboards with pre-configured Search filters either in Proto Search SIP call widget or directly in the search bar of a Display Results widget.
Is there anyway you can save dashboard search filter settings?

Ideally I would like to save these search settings so other users can view the same calls without havin

[2020-03-13 08:48] lmangani commented on #320
@runelucica Thanks for your detailed report, we'll look into this.

As of your last question - have you tried using EXPORT - Share Link already? ;)

[2020-03-13 08:50] runelucica commented on #320
Thank for the hint. Will give this a try and report back.

[2020-03-13 09:30] lmangani commented on #320
Please update the ticket title or open a new one for the reported behaviour

[2020-03-13 09:55] runelucica commented on #320
I would like to keep the this one as is so that others may use it in case they have similar OR related search queries.

You would like me to open new ones for Issue 1, Issue 2 and the save search settings topic?

[2020-03-15 00:04] ghmj2417 opened #321 "Using a subpath in the URL"
Is there a way to tell homer-app that it will be using a subpath?  Example; my URL would look like https://homer.local/v7/ where /v7 is the subpath.

While testing using a subpath, homer-app responds with everything as root which will return a 404.

Examples:
https://homer.local/main.1da17dcb9456b1d22073.js
https://homer.local/runtime.458556a34b891ea32398.js

It should be:
https://homer.local/v7/m

[2020-03-15 09:31] adubovikov commented on #321
Use nginx or change the  path in index.html

On Sun, 15 Mar 2020, 01:04 ghmj2417 <notifications@github.com> wrote:

[2020-03-15 11:15] ghmj2417 commented on #321
I am using Apache.  That's how I am proxying all /v7 requests to the homer-app. The problem being homer-app isn't aware there is a subpath and is responding to all requests as if it's using root.

I ask about this because apps like grafana and prometheus allow you to specify a subpath or url if the application is being reverse proxied.

Are you saying that I need to be responsible for modifying th

[2020-03-15 12:17] adubovikov commented on #321
ok, we can add subpath in the homer-app, but anyway you have to change the index.html and point all scripts and css to /v7 or as I wrote above - nginx that will point to html/js/css and API calls go to proxy_pass to the homer-app in worse case -> https://httpd.apache.org/docs/2.4/mod/mod_proxy.html

[2020-03-15 14:16] ghmj2417 commented on #321
Thank you @adubovikov. I am using ProxyPass and ProxyPassReverse to redirect requests for /v7 to homer-app.  I am going to fiddle around with it more to come up with a workaround until you guys support it.  I'll do as you suggested and review making the changes to index.html.

[2020-03-16 09:40] runelucica opened #322 "After refresh last search operations applies to all Display Results widgets"
As agreed on [Issue 320](https://github.com/sipcapture/homer-app/issues/320) I am opening additional issues for the other topics discovered while testing.

After a refresh of the page, it seems that the last search button pressed applies to all Display results widgets.
You have to click Search again on each Proto Search widget to apply the correct filters to each Display Results widget. Is this no

[2020-03-16 09:45] runelucica opened #323 "Display Results widget built-in Search option question"
As agreed on [Issue 320](https://github.com/sipcapture/homer-app/issues/320) I am opening additional issues for the other topics discovered while testing.

While working on building pre-populated Search Dashboards I initially tried using the search option built directly into Display Results widget.
I added 2 Display Results widgets to the same dashboard. I tried configuring different search filter

[2020-03-16 09:46] runelucica commented on #320
As agreed I opened 2 new issues for the other topics discovered while testing the Search capabilities.

[2020-03-16 12:54] kpribic opened #324 "LDAP stuck after one RST packet"
Currently LDAP code establishes a TCP connection to LDAP server, executes a request and then keeps the TCP connection active via 15sec TCP keepalives. After 15mins of keepalives my LDAP server cuts the connection with TCP RST packet.

![image](https://user-images.githubusercontent.com/50572561/76760247-966d0c00-678d-11ea-90a9-9d174d44c2a1.png)

After that homer-app is confused because it apparentl

[2020-03-16 14:57] AlexeyOplachko opened #325 "Display results search auto loads in new widget"
When adding new Display result widget it loads previous search query into "Display results search" slider.
Steps to reproduce:

1. Add Display results and Protosearch widgets.
2. Make a search with some filter and Results container set to Display results we just added.
3. Check that "Display results search" received search query
4. Remove Display results widget
5. Add new Display results widget
6.

[2020-03-16 15:39] adubovikov commented on #324
https://github.com/sipcapture/homer-app/commit/5b1dd122ee1edfb1d71ce64f41847da164d7b88c
please compile and test

[2020-03-16 15:41] adubovikov commented on #321
https://github.com/sipcapture/homer-app/commit/2fc1a4e6c8fca268e79b09521b5ee44d95554f29

--webapp-api-prefix

[2020-03-16 15:45] adubovikov commented on #321
5b1dd12..cb4bd9f
http_settings.api_prefix

[2020-03-16 16:42] ghmj2417 commented on #321
That was fast!  Thank you!  I will test it and let you know.

[2020-03-17 01:10] ghmj2417 commented on #321
For this to work as expected it appears homer-ui has to be aware that a prefix is also being used.  When testing this, I see connections to root instead of my prefix.

At the login screen (https://homer.local/v7/(system:login)?returnUrl=%2Fdashboard%2Fhome)
https://homer.local/assets/images/homerseven.png is being returned by https://homer.local/v7/main.1da17dcb9456b1d22073.js

When trying to logi

[2020-03-17 08:00] lmangani commented on #321
@ghmj2417 just use a proxy such as NGINX and run both locally. It's the easiest path to your destination.

[2020-03-17 08:00] #321 closed

[2020-03-17 08:22] kpribic commented on #324
As far as I understand `defer` will delay closing connection until function call is over. It kind of works in sense that I can login and connections don't hang, however  when I inspect the trace there is one error. This is what happens, described from prespective of homer-app:

1. Establish TCP connection
2. Send LDAP bind request for binddn (success)
3. Send LDAP serch request for user ( get resp

[2020-03-17 09:17] RFbkak37y3kIY commented on #322
fixed on devel branch, waiting marge to master

[2020-03-17 09:17] RFbkak37y3kIY commented on #323
fixed on devel branch, waiting marge to master

[2020-03-17 09:38] runelucica commented on #310
@lmangani Could you please let us know if the above (not merging all instances of the same Alias in the Flow tab) works as per design or should we expect a different behavior?

[2020-03-17 09:39] #325 closed

[2020-03-17 09:39] #313 closed

[2020-03-17 09:41] #322 closed

[2020-03-17 11:13] ghmj2417 commented on #321
Why is this closed?  I have already stated I am using a proxy.  I can make most of this work except when it comes to the js files. It would have been nice if you reviewed the last paragraph of my last comment.  I specifically said I can search and replace the files but I have questions about the files being compressed.  I'll ask again

As a workaround I can search and replace within the .js files

[2020-03-17 11:27] lmangani commented on #321
@ghmj2417 your type of challenge should be handled in front the app, if needed and when needed just like HTTPS, etc. I'm also not for expecting people to search and replace file content manually - those are updated daily, what are you going to do with that? So - either we support it well, or we don't support something - that's my view. The provided parameter should be used in conjuinction with the

[2020-03-17 13:44] adubovikov commented on #321
ok, my 5 cents about this scenario. You just need  to change this file:
https://github.com/sipcapture/homer-ui/blob/master/src/environments/environment.prod.ts#L13
and compile the application. To replace the it in js files make no sense.

[2020-03-17 14:38] ghmj2417 commented on #321
When I do perform updates, I will use Ansible or a bash script to search and replace what I need.  I am not worried about this method, unless something is added or changed.  In that case, we will update the script accordingly.  This is merely a workaround and is not the final solution.

My ask can be handled in two places, first of which is what you stated, front end it with a proxy and don't do a

[2020-03-17 16:02] ghmj2417 commented on #321
I am in the process of testing the use of relative links.  The goal is to support users like myself but also support the users that are able to use root.  This would require minimal change to homer-ui.  Hopefully this works.

I have found absolute references in js files and will post them here if I deem they need to be changed.  I will update this issue once I find out more.

[2020-03-17 16:29] RFbkak37y3kIY commented on #320
fixed on devel branch, waiting marge to master

[2020-03-17 17:05] adubovikov commented on #321
not sure I have understood, if you change the path in the file and compile the app you will get exactly that you asked for. The params that you change for prometheus/grafana are ONLY for API calls, but nor for UI.

[2020-03-17 19:07] ghmj2417 commented on #321
It definitely changes something within the UI because when I don't use those settings, the UI won't load.  Of course it's possible I am overlooking something.  I am also using swagger-ui and checked to see how its files are setup because I am using a subpath for that too.  I noticed all refs or srcs use relative paths starting with `./`  That's what lead me to believe my request could be achieved

[2020-03-17 20:32] lmangani commented on #321
@ghmj2417 I just want to make sure we can have a solution where you don't have to hack the code, so when we release a security fix or improvement, you can immediately enjoy rather than have a hybrid which easily gets hard to maintain. Let's identify those changes and see if they can be assigned to a variable or something instead?

[2020-03-17 20:48] ghmj2417 commented on #321
Thanks @lmangani.  I agree 100%.  My goal with this testing is to have a configuration in place that can support my needs as well as others that don't require the use of a subpath.  So far prepending `./` to all of the hrefs or srcs has worked.  The only piece I can see that needs knowledge of the prefix is the apiUrl in homer-ui.  As @adubovikov has mentioned, I can update the variable in the fil

[2020-03-18 13:12] kpribic commented on #314
I just realized that this is the same problem as mentioned in https://github.com/sipcapture/heplify-server/issues/310#issuecomment-579185588 , meanin pipelining. For some reason I didn't connect these two issues  :-/

Now that I re-read your answer it feels like you meant a hardcoded mapping for janus as interim solution. @lmangani can you confirm if this is true? If so I could try to catch some j

[2020-03-18 14:44] runelucica commented on #320
I tested pre-configured searches using the Export Share Link format. I used the same format for parameters where I needed to perform the OR operation.
For example I wanted to search the following calls: method is INVITE and the SrcIP or DestIP is 10.10.10.10 or 10.10.10.11, with no time frame specified I noticed that Homer searches against Today.

  "timestamp": {
    "from":,
	"to":
  },
  "param

[2020-03-18 15:25] #292 closed

[2020-03-18 16:22] #319 closed

[2020-03-18 16:38] ghmj2417 commented on #321
I think I have identified everything that needs to be changed.  That was a lot of testing.  Quite a bit of tinkering.  I've learned more than I wanted to know about Angular.

Here is what I have found:

When building homer-ui:

Add `--base-href` param to npm build fixes the main problem.
`npm run ng -- build --prod --base-href=/v7/ && gzip -9 ./dist/homer-ui/*.js`

As @adubovikov pointed out, I mu

[2020-03-19 12:35] Sp0rN opened #326 "No packet loss label in QoS Tab"
Hi Guys,

I have a homer 7 stack that I installed using the quick install script, alongside prometheus,grafana, loki, promtail etc, which all work perfectly.

However, in a previous homer implementation, there used to be a packets lost label in the QoS tab of a call, but Im not seeing it:

![image](https://user-images.githubusercontent.com/31306657/77068133-c5ce8380-69ee-11ea-8d2c-45c799db3f11.png

[2020-03-19 12:52] adubovikov commented on #326
you didn't install the latest version

[2020-03-19 12:57] Sp0rN commented on #326
Thanks @adubovikov

What would be the process of upgrading? As I installed using the installation script, could I re run that?

[2020-03-19 12:58] adubovikov commented on #326
if you have installed packages - just upgrade it

[2020-03-19 13:35] Sp0rN commented on #326
I have upgraded homer-app to 1.1.36 and heplify-server to 1.26, afaik these are the latest versions?

[2020-03-19 14:04] adubovikov commented on #326
Do you use UI from the package ? Show me the version from the browser's title

[2020-03-19 14:15] Sp0rN commented on #326
UI on browser title is 7.7.030, im assuming its meant to be 7.7.0.31, what package is this version refering to?

[2020-03-19 14:22] adubovikov commented on #326
7.7.0.31 has it, and this UI in the latest homer-app package. If you compiled the UI manualy - please fetch the latest master and do it again.

[2020-03-19 14:43] Sp0rN commented on #326
Thanks @adubovikov managed to come right and everything is working perfectly.

Thanks again for the help.

[2020-03-19 14:43] #326 closed

[2020-03-20 13:51] ghmj2417 commented on #321
Put in a PR for homer-ui, https://github.com/sipcapture/homer-ui/pull/186

If you guys can comment on this:
As @adubovikov pointed out, I must do something with environments.prod.ts. Either create my own or modify the existing. This begs the question, would there be a way to pass a variable during build that could prepend a prefix to '/api/v3' or set an environment variable that can be referenced?

[2020-03-20 20:01] adubovikov commented on #321
done

[2020-03-21 10:45] #320 closed

[2020-03-21 10:45] #280 closed

[2020-03-21 14:00] hvspa commented on #306
thanks Alexandr @adubovikov and Eduardo @RFbkak37y3kIY
i want to ask you another question. in previous release, in the flow, it was also showing rtp peer IPs as well, but now it only shows signaling IPs. Do you know if it is related to settings or it is a bug? if bug where i can open an issue for this?

thanks in advance.
![Capture1](https://user-images.githubusercontent.com/27876987/77228002-b8a3

[2020-03-21 14:02] adubovikov commented on #306
Do you see anything in the filter ?

[2020-03-21 14:07] hvspa commented on #306
it is just sip, but i am running the same command to send the traffic:

./heplify -hs ip:9060 -hn con

![ֆիլտեռ1](https://user-images.githubusercontent.com/27876987/77228140-b8f09200-6b9e-11ea-9653-dedbd329208d.PNG)

[2020-03-21 14:11] adubovikov commented on #306
![Screenshot from 2020-03-21 15-09-57](https://user-images.githubusercontent.com/4513061/77228217-1af0cd80-6b86-11ea-98ae-8d9a4dc998c6.png)
just did a test - all looks ok. Do you see the rtcp reports ? Did you clean up the JS cache ?

[2020-03-21 14:23] hvspa commented on #306
i dont see rtpc reports in the flow, but i see the qos
and no, i did not cleanup the JS cache, but i have tried on different browsers(IE, chrome, which previously never opened Homer webapp).. and the result is the same.
![qos](https://user-images.githubusercontent.com/27876987/77228460-1b4a9200-6ba1-11ea-9b87-d4fcd4db39aa.PNG)
![flow](https://user-images.githubusercontent.com/27876987/77228463-1e4

[2020-03-21 14:25] adubovikov commented on #306
ok, we will check it on Monday. will be not bad to get the dump of your table with rtcp information (hep_proto_5)

[2020-03-21 14:47] hvspa commented on #306
ok, thanks much. my lsql query is not responding:
homer_data=# select count(*) from  hep_proto_5_default;
:(

[2020-03-21 14:57] adubovikov commented on #306
just do select by  callid and time range

[2020-03-21 15:41] hvspa commented on #306
here you go:
homer_data=# select * from  hep_proto_5_default where sid = '0e8973e14e7e52a178c0e16371ee5b8a@10.211.46.16:5060' order by id desc;
    id    |                        sid                         |          create_date          |                                                                                                                                                   protocol_head

[2020-03-24 18:41] hvspa commented on #306
Hi Alexandr,

Just wanted to ask you if you had a chance to look at this issue with RTP flow?

[2020-03-26 10:18] kpribic opened #327 "External links"
"Share link" feature is great for getting INTO Homer7, however there is no elegant way to go somewhere else FROM Homer7 after using all the advanced correlation features. For example opening billing system at a specific CDR that has complex UI that does bunch of other stuff.

Since generating external links can be pretty complex (and very specific to deployment) after all the data has been correla

[2020-03-26 12:27] kpribic commented on #327
NOTE: Seems related to closed ticket https://github.com/sipcapture/homer-app/issues/133

[2020-03-27 08:19] kpribic opened #328 "LDAP - two types of groups"
Is it possible to differentiate two types of Homer users based on LDAP groups?

Specifically that a user is logged in as admin if he is member of eg. HOMER_admin group on AD, and as supporter if he is member of HOMER_support group on AD?
It would be important this works with recursive group search for AD.

Something like:
1. Search sAMAccountName:jblack
2. Response from AD--> CN=Joe Black, OU=User

[2020-03-27 08:21] lmangani commented on #328
This feature is as "corporate" as it gets, so I think it should be sponsored - we'll welcome a PR or Bounty Donation :)

[2020-03-27 08:29] kpribic commented on #324
One correction, after I reviewed the traces, step 8 above is actually searchRequest for memberUid=%username%

Where %username% is value previously used for sAMAccountName, and no the full LDAP path to that user.

[2020-03-30 09:55] kpribic commented on #324
@adubovikov is there any particular reason why memberUid=%username% is used? I can't get that to work on Active Directory.

What did work (in my case specifically for recursive search) is:

**1)** Defining an admingroup, adding  "dn" to ldap configconfig and setting adminmode to false.
[code]
**2)** Setting group filter to:
[code]

3) Making these code changes to fix dropped connection and LDAP qu

[2020-03-30 13:22] ghmj2417 opened #329 "Swagger calls referencing wrong URIs and use wrong methods"
I created a swagger page based off of the instructions on the README.  The swagger.json file gets created without any issues but I have noticed quite a few of the calls aren't using the correct URIs or don't support the method on the swagger page.

When reviewing the URIs and methods in `router/v1` I noticed the following.  I think a review of the swagger definitions needs to be updated with what

[2020-03-30 15:42] ghmj2417 commented on #329
I'm going to go ahead and create a PR.

[2020-03-31 13:13] kpribic commented on #328
@lmangani  does this look ok to you?

- user DN change for AD recursive group query + TCP connection fix: https://github.com/kpribic/homer-app/commit/3570f2ef91c59488657ffc8ea233a0d4f048f0f9
- Two groups feature: https://github.com/kpribic/homer-app/commit/a45ffca01fe848e4743907e7e543e71ae67c737f

I was trying to do minimum changes to the code, so two new parameters are added to config:
- usergrou

[2020-04-01 15:00] ghmj2417 commented on #329
PR: https://github.com/sipcapture/homer-app/pull/331

[2020-04-01 15:24] adubovikov commented on #329
merged. Thank you!

[2020-04-03 10:06] nakchak opened #332 "Timespan seems stuck when looking at flow data"
Appologies for posting the issue in probably the [wrong repo before](https://github.com/sipcapture/homer/issues/399), could really do with some concerted effort on signposting to direct users issues to the appropriate repo.

Im running a docker-compose based setup using the hom7-prom-all script, everything seems to have gone without a hitch and have updated to the latest release (7.7.032), in an e

[2020-04-03 10:41] lmangani commented on #332
@nakchak could you attach a step-by-step procedure to reproduce this accurately?

[2020-04-03 12:03] nakchak commented on #332
@lmangani Sure

![image](https://user-images.githubusercontent.com/610677/78357059-a451c800-75a8-11ea-903a-af26dd07864a.png) Set timeframe to last 5 mins, would expect the delta between upper and lower timestamps to be 300 (for simplicity im ignoring the ms value used)
Click the session id to open call flow.
![image](https://user-images.githubusercontent.com/610677/78357302-1e824c80-75a9-11ea-8ddb

[2020-04-03 12:19] lmangani commented on #332
Thanks @nakchak for the clear example! we'll take a deep look and surely find the glitch

[2020-04-03 20:26] #329 closed

[2020-04-07 09:08] #323 closed

[2020-04-08 13:59] AlexeyOplachko opened #333 "User settings not editing"
After editing User Settings and trying to save it, it doesn't save. Also deleting doesn't work.

[2020-04-09 16:25] AlexeyOplachko opened #336 "Search results: Columns not changing order"
Order of columns in search results doesn't save while changing it in "Grid settings" menu.

[2020-04-09 17:24] lsadehaan opened #337 "Doubt regarding "Retention" setting"
Hi, where can I find more details about the Homer settings.
I'd specifically like to understand all the settings under the Mapping settings.
To start off - what are the Partition ID, Partition Step and Retention values for?
If you can point me in the direction of some documentation explaining the rest of it, that would be great!
![image](https://user-images.githubusercontent.com/4754900/78922804-8

[2020-04-09 17:44] lmangani commented on #337
This feature is in development. You can start with the wiki article:
https://github.com/sipcapture/homer-app/wiki/Examples:-Correlation-MAPPING

The `Partition` fields are reserved for developer usage and can be ignored, they will be hidden as soon as this is stable. `Profile` matters for the purpose of correlation mapping.

I hope this helps!

[2020-04-15 15:25] #337 closed

[2020-04-15 16:25] #336 closed

[2020-04-16 15:37] AlexeyOplachko opened #338 "Widgets rescaling issue when switching between dashboard mode"
When switching between dashboard modes especially from either of scrolling ones to "Fit to screen" widgets that take more rows/columns than amount set in grid settings widgets "disappear", but they're technically still there. And if you switch back they reappear.

[2020-04-28 09:10] yeyo commented on #126
I think the problem is query from "statistic.go". Could you please update line
`infQuery = fmt.Sprintf("SELECT %s FROM %s.%s.\"%s\" WHERE time > %d AND %d > time %s GROUP BY time(%s) FILL(null) LIMIT %d;"`
with
`infQuery = fmt.Sprintf("SELECT %s FROM %s.%s.\"%s\" WHERE time > %d AND %d > time %s GROUP BY time(%s) FILL(null) order by time DESC LIMIT %d;"`
and test again?

[2020-04-28 09:45] adubovikov commented on #126
done

[2020-04-28 14:03] nevian427 opened #339 "-initialize_db (and create) does not respect config file"
Hi,

I have modified config to suit my environment and try to create DBs from ground up:
/usr/local/bin/homer-app -webapp-config-path=/etc/homer -initialize_db -database-root-password=password
App ignores my settings and tries(and fail) to use defaults.
But if I supply DB settings in command line it does its create DB magic and then switches to config to create tables.

[root@msk-vo-s-bl1 homer]#

[2020-04-28 14:33] adubovikov commented on #339
I am not sure, but what is the question ? I see only some output that doesn't say too much, except this:
[code]

[2020-04-28 14:42] nevian427 commented on #339
Question is: why bootstrap doesn't respect config file settings?
Bootstrap uses only commandline switches to create DB and user but after switches to config file to create tables.

[2020-04-28 14:45] adubovikov commented on #339
because at the end you should have a correct config file ? ;-) and once you have setup it during installation you are ready to use it.

[2020-04-28 14:46] adubovikov commented on #339
https://github.com/sipcapture/homer-app#please-setup-the-correct-credentials-for-homer_config-and-homer_data-db-in-your-webapp_configjson-

[2020-04-28 14:46] #339 closed

[2020-04-28 14:53] nevian427 commented on #339
I have correct config file but it's NOT being red. Initialize and create uses ONLY command line

[2020-04-28 14:55] adubovikov commented on #339
because it requires "root" access to create databases and users. Therefore it takes command line parameters. What is your concern ?

[2020-04-28 15:06] nevian427 commented on #339
Ok I gave it DB root but it doesn't look for proper server and DB names from config.
I should duplicate all the names in command line vs supplying only root access.
Create DB ignores config but create/populate tables respects it

[2020-04-28 15:09] adubovikov commented on #339
np, the code is open, just make a fork and do as you wish and contribute back. Good luck!

[2020-05-02 23:16] systemcrash commented on #315
Well, [this](https://github.com/sipcapture/homer-view/blob/9905979d612370790670e3864599944d4081bc64/src/app/components/detail-dialog/tab-flow/tab-flow.component.ts#L114) explains why IPv6 in the address graph is shanked.

[2020-05-07 14:32] systemcrash opened #340 "Homer-app searches => 0 results after period of non-use/inactivity (docker)"
If I don't use homer for about 24 or more hours, the web interface no longer returns results (which I know to be there). Prometheus and heplify-server continue to run well in the background, and do their thing.

If I restart e g `docker-compose kill homer-webapp ; docker-compose up -d` then searches produce results anew.

Logs for that period `docker-compose logs -t homer-webapp` are empty.

What

[2020-05-07 14:35] adubovikov commented on #340
so, the problem in the DB reconnect. Just to be sure, can you please confirm that postgres is up ?

[2020-05-07 14:44] systemcrash commented on #340
OK, just to point out that those 'noisy' logs are from a week ago.

DB is definitely up - but I will try restarting it *first* next time there is are no results.

[2020-05-07 14:57] adubovikov commented on #340
@aqsyonas can you please check the reconnection or check the connection ? I.e. "SELECT 1" ?

[2020-05-07 14:59] adubovikov commented on #340
https://golang.org/pkg/database/sql/#DB.SetConnMaxLifetime

[2020-05-11 12:59] systemcrash commented on #340
Is there anything I can try now, that I get "no results"?

[2020-05-11 13:06] lmangani commented on #340
@systemcrash you mean the problem has resurfaced?

[2020-05-11 13:16] systemcrash commented on #340
Yes.

[2020-05-11 13:19] systemcrash commented on #340
I am tailing the homer-app logs, and nothing is output while the searches get zero results (there should be data)

[2020-05-11 13:21] systemcrash commented on #340
[code]

[2020-05-11 13:23] adubovikov commented on #340
https://github.com/sipcapture/homer-app/pull/341

[2020-05-11 13:23] adubovikov commented on #340
so, please recompile and re-test

[2020-05-11 13:25] systemcrash commented on #340
How would I know that my docker image is running the new code?

[2020-05-11 13:28] adubovikov commented on #340
if you expect to have the fix in the docker image, you should wait untill it will be released, unfortunately we don't have dev images

[2020-05-11 13:35] systemcrash commented on #340
Is the homer-app bin file at #341 directly usable?

Not sure I can hack that in, bcz docker looks at checksums....

[2020-05-11 13:39] lmangani commented on #340
There's no need to do that @systemcrash `docker-compose pull` will pull the latest containers you are using. If you only want to pull the homer webapp only `docker pull sipcapture/webapp:latest`

[2020-05-11 13:48] systemcrash commented on #340
I won't know if the new version fixes the problem for at least a few days anyway.

Pulling is no use if the changes are not yet in the docker hub. How lung until changes reflect, usually?

[2020-05-11 13:51] lmangani commented on #340
They are there already as the container is built nightly.

[2020-05-11 13:52] adubovikov commented on #340
I merged today, so, the nightly build will be availble tomorrow

[2020-05-11 13:54] systemcrash commented on #340
Thanks. I'll pull tomorrow. Should know if it works in a few days.  I pulled just now, and get zero results after a restart - but it initially shows the "no data" thing which is new, so new version.  ¯\_(ツ)_/¯

[2020-05-11 13:55] lmangani commented on #340
mmmm. Are you saying upon a restart you still have no tables created and/or data populated?

[2020-05-11 13:56] systemcrash commented on #340
no data displays in web:

[code]

[2020-05-11 14:04] systemcrash commented on #340
Is there an environment flag I can pass to output more log/info?

[2020-05-11 14:09] systemcrash commented on #340
(If it helps you - the last time I pulled was 2 weeks ago - and data was displaying with that build)

[2020-05-11 14:18] adubovikov commented on #340
https://github.com/sipcapture/homer-app/commit/440335a3a4c848ddc22858acb21a394fa6bda103
have implemented keep alive flag

[2020-05-11 14:21] systemcrash commented on #340
Don't the docker/* files also need this treatment?

[2020-05-11 14:22] adubovikov commented on #340
@lmangani can you please add the flag "keepalive": true , for DB connection ?

[2020-05-11 14:23] systemcrash commented on #340
I tried adding this to my `docker-composy.yml`:
[code]

No extra logging outputs.. Does this also need adding to docker-stuff?

[2020-05-11 14:25] systemcrash commented on #340
This file:
https://github.com/sipcapture/homer-app/blob/master/docker/webapp_config.json

[2020-05-11 15:03] systemcrash commented on #340
Correct - no results (no data populated).

[2020-05-11 16:33] systemcrash commented on #340
Seems my lack of data is due also to this:

https://github.com/sipcapture/homer7-docker/issues/70

`docker-compose logs -t -f db` produced

[code]

But those are gone after a `heplify-server` restart.

[2020-05-11 17:30] lmangani commented on #340
@systemcrash as per above, make sure you're running the latest heplify-server container, too

[2020-05-11 17:59] systemcrash commented on #340
Note - 'latest' can be meaningless, especially after time goes by and you're looking for `:tags` which will give you a stable combination. I've pulled in 1.30 ... 👍

[2020-05-12 12:38] systemcrash commented on #340
I guess I have to wait for this to go into the docker files, in the next docker build before we can investigate these changes as a fix.

[2020-05-12 12:41] systemcrash commented on #340
Side question, but are there specific differences maintained in these two files (aside from 127.0.0.1 and e.g. loki-host)? Or can they both just use one file?

[2020-05-12 14:16] lmangani commented on #340
@systemcrash not sure I understand - which files are you referring to? if you notice inconsistencies between examples we're excited to fix them up :)

[2020-05-12 14:20] systemcrash commented on #340
Specifically
https://github.com/sipcapture/homer-app/blob/master/docker/webapp_config.json
and
https://github.com/sipcapture/homer-app/blob/master/etc/webapp_config.json

[2020-05-12 14:25] lmangani commented on #340
Oh I get it now - one is the main config example where new features will appear, while the docker one is to be considered a preconfigured snapshot with minimal parameters and compose hosts preconfigured. It's really only used for CI and validation at this point.

[2020-05-12 14:30] systemcrash commented on #340
OK - so the docker version must be updated as your colleague @adubovikov wrote yesterday. But by how much, I could not say.

[2020-05-12 14:38] systemcrash opened #342 "QoS tabsence for all call flows (with media) - how to associate RTCP with calls?"
Pulled in 'yesterdays' build of webapp. Reviewing any call flow produces the web browser console error:

`error
Object { data: "", message: "no agent subscription object found for type [cdr]" }`

More specifically:

[code]

But if I look in settings -> Agentsub, sure enough, there is a GUID row, albeit which has expired.

I can click the red garbage icon, but I'm concerned that I will not be able

[2020-05-12 14:40] adubovikov commented on #342
this is HEPSUB external subscription. If you don't have it - ignore it :)

[2020-05-12 14:41] systemcrash commented on #342
Ah, because clicking delete shows, BIG FAT RED WARNING:
[code]

[2020-05-12 14:43] systemcrash commented on #342
So... what (verifiable) "settings" are necessary so I get a QoS tab on call flows?

[2020-05-12 15:11] lmangani commented on #342
Disappeared? Is this confirmed from calls with known statistics and/or are there any client side errors while opening those sessions?

[2020-05-13 10:56] systemcrash commented on #342
Looking in Grafana, I see the Jitter graph fill nicely - but I open that call in the graph in Homer. No tab. What client side (web browser?) errors should I look out for, aside from the ones I mentioned at the start?

[2020-05-13 10:58] adubovikov commented on #342
do you have rtcp messages in your PG DB ?

[2020-05-13 11:00] systemcrash commented on #342
How does one confirm this?

[2020-05-13 11:18] adubovikov commented on #342
select * from hep_proto_5_default

[2020-05-13 11:36] systemcrash commented on #342
So, after performing a slightly more complex command of:

[code]

I confirm that there are plenty of RTCP messages in the DB. What next?

I need to point out that I am also affected by the Homer bug #332 that I cannot specify a custom time-range.

[2020-05-13 11:39] lmangani commented on #342
Thanks - so great, now please try to select  a session with the Call-ID you're looking at and expecting results from. If there are results in the DB but not in the UI, we have a path for investigation to follow.

[2020-05-13 11:52] systemcrash commented on #342
I pull up the call, which shows up when searching by Correlation-ID, from the RTCP table column 2. I have results in the DB and in the UI. I click on the session-ID, to open the graph, and the QoS tab quickly disappears (probably as the script realises the tab is empty)

The request to http://myhost/api/v3/call/report/qos looks like

[code]

I notice the discrepancy between what the RTCP table has

[2020-05-13 12:10] systemcrash commented on #342
It turns out, boys and girls, that this is *very* important. I did a `copy -> cURL request` and modified the cURL request locally. When I removed the `@sipgt-696e2e71` portion, I got a shit-ton of results back. Kind of obvious now that I think about it.

[2020-05-13 12:16] lmangani commented on #342
Thanks for the details - they sure help and you're spot on - The correlation ID must match in order to return results. The real question is rather why the one you have in your RTCP reports is truncated. Could you perhaps confirm by locating any sessions without `@` or other special characters in the Call-ID returning RTCP statistics in the UI?

[2020-05-13 12:17] lmangani commented on #342
@systemcrash could you confirm what agent is pushing data into the setup?

[2020-05-13 12:43] systemcrash commented on #342
Our own agent. We largely followed the C and other source implementations of yours.

So here's the thing - calls traverse the b2bua. As does media. The first leg might lack the `@blah` portion. The second leg (after traversal) will have it.

I can search by the first shorter Call-ID (no `@blah` portion) and I only get that first call leg graphed, although no QoS. When I compare with the HEP3 packe

[2020-05-13 12:50] systemcrash commented on #342
Tried the cURL trick for that ID, but nothing comes back.

[2020-05-13 13:02] lmangani commented on #342
Those are literally two different sessions. In theory if the B2BUA correlation is configured right in Homer the backend should query both A and B leg call-ids for statistics, logs, etc.

Are the calls correlated in the UI?

[2020-05-13 13:08] systemcrash commented on #342
Yes - the two legs show - but only if I search using the shorter ID via the correlation-ID field. It seems both calls correlate using the shorter ID only.

Then if I click the longer (more specific) ID, I get both legs in the graph. If I click on the shorter, only the first leg in the graph. Neither show QoS.

I guess that's what you mean by 'correlated'

[2020-05-13 13:11] adubovikov commented on #342
you can "fix" it using a correlation array in the UI settings. In this case you can write a simple javascript function that will cut-off the right part of callid after @ and add this as a new callid and the request will be for two callids: 662d7428-51a08047bcf-381e3f81@sipgt-696e2e71 and 662d7428-51a08047bcf-381e3f81

[2020-05-13 13:13] systemcrash commented on #342
Thanks - this could be a workaround for the call I mentioned. But this last call I make, I get nothing back when I use the correlation-ID from the RTCP DB entries.

[2020-05-13 13:13] adubovikov commented on #342
![Screenshot from 2020-05-13 15-13-00](https://user-images.githubusercontent.com/4513061/81816921-465fbb00-952c-11ea-944f-8e75eab37141.png)

[2020-05-13 13:14] adubovikov commented on #342
check the query to PG and you will see why it doesnt' work

[2020-05-13 13:15] systemcrash commented on #342
Where can I monitor that?

[2020-05-13 13:18] adubovikov commented on #342
two ways:
1. activate debug in  the webapp
2. using ngrep on port 5432

[2020-05-13 13:18] lmangani commented on #342
@systemcrash for an unoptimized test, you can stick a '@%' postfix to the A-Leg to find the B-Leg.

[2020-05-13 13:21] systemcrash commented on #342
When searching? No results when adding `@%` via the correlation-id search field

[2020-05-13 13:22] systemcrash commented on #342
Where do I set this?

[2020-05-13 13:24] adubovikov commented on #342
let me guess.... in the config file ?

https://github.com/sipcapture/homer-app/blob/master/etc/webapp_config.json#L65

[2020-05-13 13:24] systemcrash commented on #342
OK - this works, but only via the Session ID and Call ID columns.

[2020-05-13 13:25] adubovikov commented on #342
@systemcrash you have already the solution - please make an own javascript function and it will solve YOUR issue

[2020-05-13 13:30] systemcrash commented on #342
Oh, great. Well, as we mentioned in the other issue here yesterday https://github.com/sipcapture/homer-app/issues/340#issuecomment-626732633 this flag doesn't exist yet in the docker files. So when I try the debug flag, no go. :(

[2020-05-13 13:32] systemcrash commented on #342
Nope - overall functionality doesn't change. It's the same as listing search results. And the QoS tab still disappears.  :(

[2020-05-13 13:32] adubovikov commented on #342
this flag has nothing todo with DOCKER, this is a system param of homer-app, if you set it, you can see debug ouput

[2020-05-13 13:34] adubovikov commented on #342
Let me make it short. You have two calls: call-ID: 123456 and 123456@aaa . You have only reports for "123456" and you wanna see reports once you click on "123456@aaa" ? Is it correct ?
If yes, you have to do manipulation in the correlation mapping to get real CALLID and send request for QOS for both.

[2020-05-13 13:35] systemcrash commented on #342
But where do I set it? I have to set that flag in the docker-compose.yml file so that homer picks it up. Doing this, there is no change in logging.

[2020-05-13 13:37] systemcrash commented on #342
[code]

shows only

[code]

Those new lines which you recently added are not there...

[2020-05-13 13:49] lmangani commented on #342
I think the following correlation mapping block for call -> SIP should do the trick:
[code]

[2020-05-13 13:55] systemcrash commented on #342
Well, no - I have no QoS tab.

I have reports for both legs. Stored under the truncated Correlation-ID in the RTCP table.

I get good graphs for both IDs. I get both legs if I search using the truncated ID. I don't really care about the graphs. They're good.

But no graph shows QoS tab.

[2020-05-13 13:55] systemcrash commented on #342
Thank you - this is what I figured out from @adubovikov screenshot. Tried this, but still no QoS tab.

[2020-05-13 14:02] lmangani commented on #342
Ok - you need to see the QoS query and check it contains the modified callid too next.

[2020-05-13 14:14] systemcrash commented on #342
Ok - so searching for e.g. `662d7428-51a08047bcf-381e3f81` shows two calls

`662d7428-51a08047bcf-381e3f81@sipgt-696e2e71`
and
`662d7428-51a08047bcf-381e3f81@sipgt-08f97125`

I can only graph one by clicking on it.

I dig into the query stuff, and I see the QoS query contains the `@sipgt-696e2e71` portion. How do I truncate this? Mappings? HepSub?

[2020-05-13 14:17] adubovikov commented on #342
no the question: why you have "@sipgt-696e2e71" in the QOS query. Is it
callid ?

On Wed, 13 May 2020 at 16:15, Paul Dee <notifications@github.com> wrote:

[2020-05-13 14:20] systemcrash commented on #342
It seems to. I click on the search result to graph that call-ID (result column Session-ID).

[2020-05-13 14:25] systemcrash commented on #342
OK - after your script suggestion, I *finally* get a QoS tab for a call, but ONLY IF THE CALL ID, SESSION ID, and CORRELATION ID I clicked on CONTAINS NO `@portion`

[2020-05-13 14:26] systemcrash commented on #342
So ANY call ID which contains an `@portion`, does not get a QoS graph.

[2020-05-13 14:29] adubovikov commented on #342
fix your function: pseudo code:
[code]

[2020-05-13 14:40] systemcrash commented on #342
We ingest Calls from many endpoints, and they will often already contain an `@portion`, so being able to handle this in general seems important.

https://tools.ietf.org/html/rfc3261#section-8.1.1.4
[code]

[2020-05-13 14:53] systemcrash commented on #342
Let me ask this another way: should correlation-IDs be truncated when they go into the RTCP table? Or should they contain the full call-ID?

[2020-05-13 14:54] systemcrash commented on #342
This should go in the same mapping->SIP->call?

[2020-05-13 16:03] lmangani commented on #342
Perhaps you should just reverse the logic and truncate the suffix?

[code]

[2020-05-13 16:09] systemcrash commented on #342
Thank you. This gives all call legs in the one flow now. ( Altho the QoS tab still disappears - QoS tab only appears if I click on a call-ID which doesn't end with `@fqdn`)

[2020-05-13 16:15] lmangani commented on #342
Great. Next check what the QOS query receives as parameters and we can figure that one out too.

[2020-05-13 16:20] systemcrash commented on #342
No - just the full:

[code]

If I click on any result with Call/Session-ID contains `@fqdn` then that portion is appended to the QoS query.

[2020-05-13 17:02] lmangani commented on #342
You need to perform the correlation for HEP type 5 (RTCP) to complete the mix:
[code]

[2020-05-13 17:38] systemcrash commented on #340
Pushing #344 to enable keepalive toggle in docker.

[2020-05-13 17:58] systemcrash commented on #342
And this also goes under the same mapping->call->SIP?

My correlation now looks like:
[code]

But still no QoS tab - and qos query seems to only contain the `@fqdn` part. Should there be multiple entries there?

[2020-05-14 00:38] alan-mc commented on #305
I have found the same issue - In Grafana Nodeexplorer - the search works.  I see in the logs filtered correctly.  Homer 7 no such luck.. :(

Nodeexplorer -  ....query="{job=\"west-01\"} |= \"1589395010.3732808\"" query_type=filter range_type=range
Homer7 - .... query="{job=\"west-01\"}" query_type=limited range_type=range    and it does not show my filter info.

loki - 1.4.1
homer7 - 7.7.032

Than

[2020-05-14 11:26] bibace commented on #342
I have a similar issue, I can see QoS tab, but it shows Corrupted data packet came from server.

main.436c274b9439f9e24d8a.js:1 Error: SyntaxError: Unexpected token I in JSON at position 0
    at e.onErrorMessage (main.436c274b9439f9e24d8a.js:1)
    at main.436c274b9439f9e24d8a.js:1
    at Array.forEach (<anonymous>)
    at e.parseRTP (main.436c274b9439f9e24d8a.js:1)
    at e.ngOnInit (main.436c27

[2020-05-14 11:59] lmangani commented on #342
@bibace same as above, please try the new version and attach the debug output of hepfix to get help

[2020-05-14 12:00] lmangani commented on #342
@bibace please open a separate issue if its about the data not the correlation - thanks!

[2020-05-14 12:01] lmangani commented on #342
| qos query seems to only contain the @fqdn part. Should there be multiple entries there?
@adubovikov could you comment if the above correlation mapping should work?

[2020-05-14 12:03] lmangani commented on #342
@systemcrash I think your settings are wrong, check my example uses lookup profile `default` could be worth checking ad-verbatim

[2020-05-14 12:05] adubovikov commented on #342
@systemcrash

[code]
should be changed to "default", because the RTCP table has format: hep_proto_5_default

anyway, if it will not work, please provide us the SIP and RTCP dump and we can reproduce the issue in the our lab.

[2020-05-14 12:09] systemcrash commented on #342
Can't see why this should have an effect - QoS tab appears fine for other calls. If I make the change to default, like so:
[code]
then Homer graphs the RTCP packets as if they were SIP.  But at least it graphs them for call-ids with `@fqdn`

[2020-05-14 12:15] systemcrash commented on #342
Seeing as my earlier question went unanswered: please state exactly where this should go?

[2020-05-14 12:17] systemcrash commented on #342
Side question: is there a factory reset, where I don't nuke all data? ( So I can get back to some known sane settings combination )

[2020-05-14 12:21] lmangani commented on #342
@systemcrash

- `yes` it goes in the SIP -> Call correlation (source of event) so I took that for granted - unless you want to do this for other types as well, that's up to you

- `no` selective factory reset only mass factory reset through homer-app provisioning so keep your config backups handy.

[2020-05-14 12:26] systemcrash commented on #342
OK - thank you. No - doing that change just graphs the RTCP packets along with the SIP. Fun but... not quite what we are aiming for. 🗡️

[2020-05-14 12:28] lmangani commented on #342
No idea what you're aiming for :) If this is a platform integration, perhaps you should email support@qxip.net to arrange a consultancy

[2020-05-14 12:32] systemcrash commented on #342
out of the box functionality :)

I'll nuke the config and start from the bottom up.

But one helpful question which I asked three times here: Should correlationID contain `@fqdn` portion, or should that always be truncated at capture? ( as opposed to ingress to heplify )

[2020-05-14 12:48] lmangani commented on #342
Out of the box functionality with a custom correlation logic? That's called magic ;)

Jokes aside, as you see we're happy to take user feedback and account for gaps of course. The lookup you're describing works on my side (that's why I suggested it) but evidently there's something else at play or some patches in my version unpushed. We'll further check.

[2020-05-14 14:42] systemcrash commented on #342
No - I nuked everything - the DB from the ground up.  Same result.

Here is my understanding, please correct me if I got something wrong.

* Call leg A and Call leg B which are two parts of the same call, and each may have a different Call-ID, (should) get the same CorrelationID.

* At HEP capture, Call leg A and Call leg B and their RTCP get assigned a solitary, and unique CorrelationID.

* Searc

[2020-05-14 14:54] lmangani commented on #342
Hey @systemcrash your assumptions are more or less correct, but note:

Not necessarily - the capture ID for sessions can be filled by the agent if there's a known B2BUA element for SIP type or remain empty. It's instead 100% required to type 100/5/34/etc in order to be found in relation to sessions, or session groups in this case.

RTCP gets assigned the Call-ID of the SIP session with the matchin

[2020-05-14 15:21] systemcrash commented on #342
So Call leg A and Call leg B get same CorrelationID.

RTCP for each leg should get its leg CorrelationID = its leg CallID?

[2020-05-14 15:31] lmangani commented on #342
@systemcrash No that's a wrong assumption, although possible, the correlation_id header is a commodity but not a requirement. This is what the mapping scripts are really for, resolving other legs regardless of them having a correlation_id or just a Call-ID based on any custom logic. You can go from A to B using a Call-ID match, from B to C using other logic, and so on for both SIP and other HEP ty

[2020-05-14 15:45] systemcrash commented on #342
OK - this much is what we can do with 'magic' later on. But to avoid having to do magic:

We should probably assign Leg B RTCP correlation_id = Leg B call-ID so that when it goes into the DB, it is stored correctly. And not assign Leg B RTCP correlation_id = Leg A RTCP call-ID

Seems reasonable?

[2020-05-14 15:56] systemcrash opened #345 "QoS tab data needs ordering"
I recommend a sort at the DB (so API works cleanly), or sort on the returned JSON.

Is there a way to prevent stuff like this?:

![Screenshot 2020-05-14 at 17 49 47](https://user-images.githubusercontent.com/647633/81956453-9d888d00-960b-11ea-9d38-5bab957a975f.png)

In our testing, we see this occasionally.

[2020-05-14 21:10] alan-mc commented on #305
I figured out that the query will work if you remove all spaces.   example  -
{job="west-01"}|="1589490090.3762850"    - returns the filtered data...  if you have any space it fails to return as filtered and just returns all the entries in the log.

[2020-05-15 20:31] systemcrash commented on #315
Pushed attempted fixes to homer-ui https://github.com/sipcapture/homer-ui/pull/227

It's a damn rabbit-warren trying to find where bugs are since code is spread all over the place.....

[2020-05-15 21:51] lmangani commented on #315
@systemcrash Thanks first and foremost for dedicating your time and helping us! You're new to the platform, and I reckon the documentation is not there, but code is not all over the place - it just takes time to get into other people's design particularly with a self-contained project like ours. HOMER is not Kubernetes or something for the masses, but rather an expression of our humble expertise w

[2020-05-15 22:01] systemcrash commented on #315
Things are moving in the a forward direction!

I'm grateful for your continuous interaction to keep things moving forward. But I will say this: something this whole project lacks is an overall hierarchy or structural document. Perhaps even some kind of design document. A bit like the HEP PDF which is a bit out of date but for how all the data/db formats are. Another day.....

[2020-05-15 23:04] systemcrash opened #346 "Help to make a wiki page."
In light of #342 - I'd like to make a wiki page which lays out how to put things together. Something which gives people a better idea of how the correlation inputs work.

[This example](https://github.com/sipcapture/homer-app/wiki/Examples:-Correlation-MAPPING) when used, makes all RTCP packets appear in the call graph. Not bad. But how to make them appear in the QoS tab? Or does it not work like

[2020-05-15 23:29] systemcrash commented on #346
If I use the following e.g.

[code]

this finds RTCP for all call legs `abc` and `abc@b2bua` with the `@%` extra search param. But graphs it in the call-graph...

[2020-05-15 23:41] systemcrash commented on #346
I'm still in the dark what the following are:

input_function_js
returnData
data

[2020-05-15 23:48] systemcrash commented on #346
Is a mapping necessary for the QoS tab ( which calls the qos endpoint )?

alias: qos - id: 1 - profile: call
?

I tried this and it didn't give expected results.

[2020-05-15 23:59] systemcrash commented on #346
It seems I cannot get past this, where the call-id is used:

https://github.com/sipcapture/homer-ui/blob/8f179c4e602020fd603b38e47d1a16f192d90d0e/src/app/components/search-grid-call/search-grid-call.component.ts#L776

Perhaps it is meant to be this way... that call-id is used for RT(C)P instead of correlation-id. Yes?

[2020-05-16 13:03] systemcrash commented on #340
Needs also #347

[2020-05-18 08:45] systemcrash commented on #340
And #348

[2020-05-18 11:17] #338 closed

[2020-05-18 14:40] khorsmann commented on #310
I saw this also (not merging aliases) if i wrote the same alias name with diffrent ips, it was merged in homer-5

[2020-05-18 14:42] khorsmann opened #350 "homer-app dont show : between hostname and port"
Hi there,

using homer-docker images with homer7-7 branch and
sipcapture/webapp   latest              fe3a3a1d20af image. After upgrading to this, i saw, that the spliting element (i thought it was an : sign) is missing.

See this picture:
![image](https://user-images.githubusercontent.com/5255309/82226124-65908b00-9926-11ea-9433-c4272eb3ecbf.png)

[2020-05-18 14:43] lmangani commented on #310
@AlexeyOplachko could you check if this is still unresolved?

[2020-05-19 00:31] systemcrash opened #351 "Build script behaviour modifies JSON config ordering"
Latest docker image refuses to start with:

`No configuration file loaded:  While parsing config: invalid character '"' after object key:value pair`

I pre-empted this with the PR #349 - merging it will fix this.

When I viewed the JSON loaded in the docker image, it looks different to the one here in this repo - seems like something else happened to it.

[2020-05-19 11:55] systemcrash commented on #351
Works now on today's rebuild

[2020-05-19 11:55] #351 closed

[2020-05-19 11:58] systemcrash commented on #340
OK - I'm running with keepalive toggled off for, and will see how things go over the next week. Then I will try with keepalive on. There were some `heplify-server` config changes for rotation which may play a part in what was going on.

[2020-05-19 12:04] systemcrash commented on #315
Latest homer-ui PR sipcapture/homer-ui/pull/230 also cleans up IPv4 and v6 graphs nicely, with the exception of sipcapture/homer-ui/issues/231

[2020-05-19 12:04] #315 closed

[2020-05-19 12:07] systemcrash commented on #350
Fixed already in today's build. This was caused by
sipcapture/homer-ui/pull/227
and was fixed by
sipcapture/homer-ui/pull/230

run `docker-compose pull homer-webapp`

This issue can be closed, I think.

[2020-05-26 14:46] flantel opened #352 "B-Leg Call-Id is md5 hash of A-Leg Call-ID - How to Map?"
Hi

Our B2BUA sets the B-Leg call-id to the md5 sum of the A-Leg. What is the easiest way to set up this mapping? Sorry, completely unfamiliar with how this works!

[2020-05-26 15:19] qttrl opened #353 "Correlation Mapping"
Could I request some help to do correlation mapping in homer?
I don't find any documentation on this and am quite lost because I can query on database information I want to get but struggle to customize the schema on homer user interface to get this same information using json.
I've seen a documentation page on https://github.com/sipcapture/homer-app/wiki/Examples:-Correlation-MAPPING but has very

[2020-05-26 15:40] lmangani commented on #352
Hello @flantel

The `input_function_js` field allows you to pipe the original through a custom function.

Let's take this huge md5 function as example:
[code]

We can take this (or any) function and use it to process data in our field array. Here's an untested example to find SIP Calls (lookup_id: 1) with profile "call" and extracting the Session Call-ID piping through the new md5 function ` tinym

[2020-05-27 14:05] systemcrash commented on #340
OK - things seem to be holding up after a week of use and a few days of 'non-use'. I think this problem was rooted in heplify-server's DB rotation. Apparently keepalive was: true this last week. I'll try for a week with keepalive: false

[2020-05-28 11:26] nfantone opened #354 "Add git 2+ to list of dependencies"
Currently, the [requirements](https://github.com/sipcapture/homer-app#requirements) list `golang` and `postgresql` as mandatory dependencies. However, `make` commands, when installing on local systems, won't work if `git` is either not installed or older than `2.1.4` - which is, unfortunately, still the case of many default distributions, such as CentOS 7 even after installing `golang`.

[code]

[2020-05-28 12:02] adubovikov commented on #354
https://github.com/sipcapture/homer-app/commit/6e4eee26bb3112073fdf1821502703a5ec9d6878

thank you

[2020-05-28 12:02] #354 closed

[2020-05-28 16:03] flantel commented on #352
Thanks @lmangani - do I add this to the existing call lookup id 1 or add it as an additional?

I also cannot find information on how to check the POST parameters - is this available via the webb-app UI?
Many thanks.

[2020-05-31 20:09] systemcrash commented on #342
Hi @lmangani - if you could confirm something, this would be instrumental in fixing some behaviour we have. Just a yes or no will suffice.

You wrote:

So, based on the heplify code, e.g.:

https://github.com/sipcapture/heplify/blob/9bd83e8761c96166d55d09d05ce0ef42d94e41a3/decoder/correlator.go#L257

The way things should operate is that, RTCP/JSON in a call must get the SIP Call-ID (i.e. the HEP

[2020-06-01 08:19] lmangani commented on #342
@systemcrash I don't understand the confusion here. I suppose the answer is `yes`

[2020-06-01 14:24] systemcrash commented on #340
Tried also for a while including over the weekend with `keepalive: false` and things are still holding up. Seems the issue was down to rotation, which is now set. I will close the issue from my side.

[2020-06-01 14:24] #340 closed

[2020-06-02 16:37] systemcrash opened #357 "How to reduce DB log errors?"
I want to reduce the amount of log-spam in the DB logs. Is there a better way of executing the `CREATE DATABASE` queries? Postgres doesn't have the `WHERE NOT EXISTS` clause - but it's still possible to check if tables are already present.

I'm not sure where these originate from - `heplify-server`, `homer-app`, or some other script.

[code]

Some suggestions:

https://stackoverflow.com/questions/

[2020-06-02 16:56] adubovikov commented on #357
this is related to heplify-server, please open the issue here.

[2020-06-02 16:56] #357 closed

[2020-06-02 17:46] systemcrash opened #358 "Improve QoS LSR display"
Currently `heplify-server` accepts RTCP/JSON verbatim. There may be room for improvements there. My concern here is LSR in Homer.

It seems there is currently no interpretation of the LSR fields. They are graphed, and other graph data disappear when LSR values are huge.  These RTCP originate from endpoints beyond our control.

https://tools.ietf.org/html/rfc3550#page-40

[code]

e.g. here where th

[2020-06-02 17:53] systemcrash commented on #345
This seems to be fine now. Will re-open if necessary.

[2020-06-03 10:49] flantel commented on #352
Hi,

Here are the details of the call:
A-leg Call-ID: 673187ceafc579fab78cc84cb1077a3f@0.0.0.0
B-leg Call-ID: ba0b8b9fe0ed43ffeb9a60343d5fa330 (md5sum of A-leg cid)

The POST shows webapp is only searching for the A-Leg cid:
[code]
webapp degug log:
[code]

My Correlation Mapping for SIP call profile is:

[code]

If I change the input_function_js to hardcode the B-leg cid like so:
[code]
..then th

[2020-06-03 17:31] ghmj2417 opened #359 "Building from master receiving build errors"
I think this commit (https://github.com/sipcapture/homer-app/commit/62f5f6212146fb55ddbddd01972e8f5e3d189aee) has introduced some type of issue when building homer-app.

I am building from master, using `make modules` and `make all`.  I am receiving the following error.
`# github.com/sipcapture/homer-app/utils/ldap utils/ldap/ldap.go:152:23: logrus.Error(\"No username/password provided\") used as

[2020-06-03 17:52] adubovikov commented on #359
Thank you. Fixed!

[2020-06-03 17:52] #359 closed

[2020-06-09 15:47] flantel commented on #352
Having no luck here at all. Would it be possible to use a mapping which used the Postgres md5(callid) function as well as searching callid?

[2020-06-09 16:28] lmangani commented on #352
@flantel you can use anything that can be ported to javascript and have as many functions as your logic requires in mapping

[2020-06-09 20:02] flantel commented on #352
@lmangani Thanks. I have js code in there and I tested it separately and it does return the correct value. Howeviner, I can see no evidence that it gets run by homer-app at all. The POST when clicking on a session-id only contains the single, original call-id, and I do not see anywhere client-side that the js code is getting loaded or run in my browser.

I presume the mapping correlations and  inp

[2020-06-09 22:44] bibace opened #360 "QoS shows Error"
Installed the Homer Web App via Docker Image on aws EC2

QoS table always says Corrupted data packet came from server.

Checked Browser devTools,

I can see results from api call http://homer.app/api/v3/call/report/qos

In preview,
no data in rtcp part,
15 data in rtp part.

`
{rtcp: {data: [], total: 0},…}
rtcp: {data: [], total: 0}
rtp: {data: [{captureId: "1", correlation_id: "FdiN1Add-QCbfws7E

[2020-06-11 11:36] flantel commented on #352
@adubovikov Your help is much appreciated. Unfortunately I am unable to get any degug info regarding search at all. I built a new webapp container from latest source, including your patch, and have both http server and system set to debug, but I see no degug output apart from the db pings.
I even edited search.go to change the logrus.Debug to logrus.Info but still it does not show any output.

web

[2020-06-11 13:23] systemcrash opened #361 "Export to PNG lacks address header row (no IPs/FQDNs)"
From the top of the image, they look like this currently

![f40c21c-781d254975f-2ab22adf@sipgt-59ca6316](https://user-images.githubusercontent.com/647633/84390017-41f3f400-abf7-11ea-98fa-45214ec9de9a.png)

Homer 7.7.034

[2020-06-11 13:33] systemcrash commented on #342
@lmangani @adubovikov  - thank you for your help in this long-running thread!

There are some good examples here to help understand how the mappings work.

We located the problem - the Call-ID in for egress HEP  RTCP packets was (being) truncated after the `@` - unfortunately none of the recommendations in this thread were able to restore the QoS tab with data formatted so. The QoS tab operates in

[2020-06-11 13:34] #342 closed

[2020-06-11 13:34] systemcrash commented on #361
No errors from browser console.

[2020-06-11 13:45] systemcrash commented on #352
Theoretical question for @flantel - what happens to the ID when calls are forked (each forked call should in theory get its own Call-ID)?

Also - did you `kill` the container and `up -d --build` the new one?

PS you must compile the .go files (i.e. the whole project) for changes to have effect.

[2020-06-11 13:52] flantel commented on #352
@systemcrash The Call-ID header is changed by the b2b so the B-leg Call-ID is the md5 hash of the A-Leg Call-ID

I built a new container from a git clone, and completely rm'ed the existing webapp and then restarted with the new image. I can see in the image that the new code is in place.

[2020-06-11 18:11] negbie commented on #352
@flantel you could check out lua script to handle correlation.
https://github.com/sipcapture/homer/wiki/HOMER-LUA-Scripting

[2020-06-11 18:56] flantel commented on #352
@negbie Yes, I looked at it, but it seems the mapping should work fine for what I am after. If I don't get it running soon using input_function_js then I suppose I will have to bite the bullet and learn a little Lua :-)

[2020-06-11 22:34] #360 closed

[2020-06-11 22:36] bibace commented on #360
https://github.com/OpenSIPS/opensips/commit/7b36e441a6314fbd54745d8084aa5cfe88c341d7

[2020-06-12 00:05] systemcrash commented on #352
I don't think this should affect what is going on, but when I run:

`tinymd5("673187ceafc579fab78cc84cb1077a3f@0.0.0.0")`
I get
`YmwYjhWZlMGVkNDN`

but when I run
`md5("673187ceafc579fab78cc84cb1077a3f@0.0.0.0")`
I get
`ba0b8b9fe0ed43ffeb9a60343d5fa330`

when I define
[code]

Seems to me that
[code]
should be
[code]
(could also trim out the tinymd5 function)

Hope I didn't miss some important reas

[2020-06-12 16:36] AlexeyOplachko opened #362 "Smart-input single quotes"
When searching with smart-input and using single-quotes instead of double-quotes in it, request is sent successfully to server, but it receives empty response.
I see two possible solutions

1. Allow single-quotes for a query
2. Auto-replace single-quotes with double-quotes in UI.

[2020-06-12 16:47] lmangani commented on #362
@AlexeyOplachko why me? Perhaps @adubovikov can help best ;)

[2020-06-12 16:50] adubovikov commented on #362
I will take

[2020-06-16 07:14] mneuhauser opened #363 "Export PCAP/TEXT not working"
homer-app 1.1.39 from https://packagecloud.io/qxip/sipcapture/el/8/ repo
Exporting a flow as PCAP or TEXT always creates an empty file (tested with up-to-date Chrome and Firefox). Exporting PNG does work.

[2020-06-16 08:16] adubovikov commented on #363
any exception in the log file of webapp ?

[2020-06-16 08:27] mneuhauser commented on #363
No. Unrelated(?) messages:

Jun 16 08:33:39 server homer-app[1309]: {"level":"error","msg":"GetTransactionData: We have got error:  pq: relation \"hep_proto_100_call\" does not exist","time":"2020-06-16T08:33:39+02:00"}
Jun 16 08:33:39 server homer-app[1309]: {"level":"error","msg":"GetTransactionData: We have got error:  pq: relation \"hep_proto_5_call\" does not exist","time":"2020-06-16T08:33:3

[2020-06-17 22:59] systemcrash commented on #358
So... could something like this be done via the JS functions in SIP call mapping?

[2020-06-18 09:12] lmangani commented on #358
Older versions of HOMER used to split the charts - and nobody liked it as with many correlated legs, things were hard to read and figure out and I don't think we should ignore our history of failures so keep that in mind. If we do this, we need to think it through with a proper design goal.

Now, HOMER can't split charts apart just by applying mapping, so this would require U changes and new logic

[2020-06-18 23:14] systemcrash commented on #358
Just thinking out loud:

https://coverflowjs.github.io/coverflow/

Each graph gets its own 'cover' in a flow? Several graphs are all within view and selectable. Might be distracting for those who just want to "get work done". Might help increase positive emotions towards using your product. A bit older and 'rough' feel.

I've followed this guy for ages and he makes good product - some inspiration

[2020-06-19 01:29] systemcrash opened #364 "Stackdump accessing API endpoints"
Homer-app = 7.7.034

May be safe to ignore this, but I am trying weird queries (read: probably invalid) to different endpoints. Here it was: `/api/v3/search/call/message` - with
`{"timestamp":{"from":1592424637000,"to":1592435437000},"param":{"search":{"5_default":{"callid":["asdf"],"uuid":[]}},"location":{},"transaction":{"call":true,"registration":false,"rest":false},"id":{},"timezone":{"value":

[2020-06-19 09:07] RFbkak37y3kIY commented on #310
implemented on DEVEL branch, waiting to merge to master branch.
https://github.com/sipcapture/homer-ui/commit/98ffe1dd21b8dfc4463e5a50f8d913d0d4fd767f
https://github.com/sipcapture/homer-ui/commit/a1be93bef5d7543a23eeed1b66444928adfe7d06
https://github.com/sipcapture/homer-ui/commit/8dea1e5fc20b03c1da8f2246f2672495c627595c
https://github.com/sipcapture/homer-ui/commit/518cbf97d3fe94485fe0221c4190e

[2020-06-19 09:24] adubovikov commented on #363
please enable debug  and check again.

[2020-06-19 09:42] mneuhauser commented on #363
Jun 19 11:36:34 server homer-app[10902]: {"level":"info","msg":"Claims","time":"2020-06-19T11:36:34+02:00"}
Jun 19 11:36:34 server homer-app[10902]: {"level":"info","msg":"\u0026{admin true false { 1592573634  0  0 }}","time":"2020-06-19T11:36:34+02:00"}
Jun 19 11:36:34 server homer-app[10902]: {"level":"info","module":"gorm","msg":"SELECT * FROM \"mapping_schema\"  WHERE (hepid = $1 and profile =

[2020-06-19 12:15] eill opened #365 "HTTP_PORT variable is not effective in docker-entrypoint.d/1 startup script"
https://github.com/sipcapture/homer-app/blob/d2f69b8a7ddfe23c906e3736bc93e932fcb7b7b2/docker/webapp_config.json#L40

https://github.com/sipcapture/homer-app/blob/d2f69b8a7ddfe23c906e3736bc93e932fcb7b7b2/docker/docker-entrypoint.d/1#L37

docker/docker-entrypoint.d/1 script replaces port 9080 to the port specified in the $HTTP_PORT variable, but changing the default port from 9080 to 80 broke the lo

[2020-06-21 11:05] mneuhauser commented on #363
Just found out that export of flow found via default SIP search **does** work (see debug log below)! Export does **not** work for call (debug log in prevous comment) and registration (see debug log at end) SIP search.

export of flow from default SIP search result:
Jun 21 12:51:24 server homer-app[12356]: {"level":"info","msg":"Claims","time":"2020-06-21T12:51:24+02:00"}
Jun 21 12:51:24 server hom

[2020-06-21 11:22] negbie commented on #314
@kpribic you could now do something like this. Run or set following flags:

./heplify-server -scriptenable -scriptengine expr -scriptfolder scripts/

Place in the scripts (or what ever folder you set as scriptfolder) a file like setmethod.expr with something like this:

GetHEPProtoType()==100 ? SetSIPHeader("Method", "your_method") : ""

This checks if HEP Prototype is 100 and if so it set's the m

[2020-06-22 11:37] mikegoodstadt commented on #363
[Fixed](https://github.com/sipcapture/homer-ui/commit/f50b495f0f3894bae9e93cf7b19698bf7fe8a18c) on devel branch of homer-ui, for release on master shortly.

[2020-06-22 11:37] #363 closed

[2020-06-22 13:10] flantel commented on #352
Thanks @systemcrash  - I have tried multiple different md5 functions and still I see no evidence that it ever gets run. When I click on a session-id, the flow pop-up should, I think, show any call-id's being searched for (at least that is what happened when I hard-coded returnData to return a static string). This is not happening and only the original call-id is listed.

[2020-06-22 20:07] systemcrash commented on #365
@lmangani

[2020-06-22 21:24] systemcrash commented on #310
Not that I like to throw spanners in the works all the time, but I hope these fixes take into account IPv6. Aliases sort of work with IPv6 at the moment.

 IPv6 | fd89:b146:7dc:c425::/64
-- | --

I'm guessing, but I assume the column 'mask' in the table means 'network mask'? If so, it does not work to e.g. provide a 128 bit IPv6 and set mask to 64 or higher. Technically it should be 128 for a sing

[2020-06-23 06:20] mikegoodstadt commented on #310
Thanks Paul for the input - and not at all a spanner in the works :) We have been working on an update covering this during the last week (and taking on board you comments in homer-ui issue #240 re. Sort by src/dst IP). Aim to finalize shortly.

[2020-06-23 07:30] mikegoodstadt commented on #310
[Fixed in commit: fix: IPv6 with Combine Aliases & Show/hide ports](https://github.com/sipcapture/homer-ui/commit/2ac1f748e93828f7d2f8b7c24d61355dad8d9402)

[2020-06-23 12:49] systemcrash commented on #364
It seems that after any kind of stack-dump, the stack is corrupted somehow, and future operations like connecting to the DB fail. My logs flood with this:
[code]

Homer did see some usage (a few days) after the stackdump, but before this new error.

[2020-06-23 13:40] systemcrash commented on #310
I assume you meant https://github.com/sipcapture/homer-ui/issues/240 for IP sorting :)

[2020-06-23 15:19] adubovikov commented on #364
5_default - you try access RTCP data. Is it what you tried ?

[2020-06-23 23:47] systemcrash commented on #364
If that's what it says in the query data above, yes.

[2020-06-24 08:00] kpribic commented on #314
@negbie I was waiting for some hints/docs on how to use all these new features :-)
Is there any way to set some sort of regex that looks at some values in the packet and sets a different method depending on regex match?
For example in this Janus message I'd like to set the method to "call" while for some other message something else makes sense.
[code]

[2020-06-24 13:44] systemcrash commented on #365
Fix merged. Should be in tomorrows build. Let us know how you get on with it @eill

[2020-06-24 13:53] systemcrash commented on #358
I like what [cubism](https://square.github.io/cubism/) can do, it seems an ideal candidate for the separate scales for RTCP graphs.

[2020-06-24 14:05] systemcrash commented on #358
[Ridgeline](https://www.d3-graph-gallery.com/ridgeline.html) could prove interesting if it is easy to control the scale.

But a [custom](https://www.d3-graph-gallery.com/custom.html) chart may be the best way to go.

[2020-06-27 10:31] Den4t opened #367 "homer-app: runtime error: slice bounds out of range [:50] with length 25"
Hi !

This error affected in web interface as: "Bad gateway" red window in serch results form, when i try ti click on "Session ID" field.

LOG:

2020-06-27T09:10:55.083332129Z echo: http: panic serving 172.18.0.4:51744: runtime error: slice bounds out of range [:50] with length 25
2020-06-27T09:10:55.083352047Z goroutine 165 [running]:
2020-06-27T09:10:55.083355631Z net/http.(*conn).serve.func1(0x

[2020-06-27 11:29] adubovikov commented on #367
Thank you! Can you please make a PR ?

[2020-06-27 11:33] adubovikov commented on #367
ok. I did it by myself. Please next time make a PR :-)

thank you! https://github.com/sipcapture/homer-app/commit/abefb2814d65bda22d191532b98e787e79ae0a4a

[2020-06-27 11:33] #367 closed

[2020-06-27 11:33] adubovikov commented on #365
@systemcrash does it work now ?

[2020-06-29 07:22] Den4t commented on #353
I also append a question here. Seems to be a correlation rules changed in newer version, f.e. post_aggregation_field not work any more, is this true ?

[2020-06-29 08:00] adubovikov commented on #353
@qttrl you can do it using semicolon separator:
[code]

[2020-06-29 08:00] adubovikov commented on #353
@Den4t sorry, are you talking about "post execute function" ?

[2020-06-29 08:14] Den4t commented on #353
No, about this (from wiki):
{
    "source_field": "data_header.from_user",
    "lookup_id": 54,
    "lookup_match_field": "data_header.method",
    "lookup_match_value": [
      "INVITE"
    ],
    "input_function": "data.forEach(function(el) {if(el.charAt(0) === '0') data.push(el.substr(1));});return data",
    "lookup_match_first": true,
    "lookup_profile": "default",
    "lookup_field": "data

[2020-06-29 08:22] adubovikov commented on #353
I think you are talking about this:
https://github.com/sipcapture/homer-app/blob/nodejs/server/classes/searchdata.js#L630-L667

[2020-06-29 08:27] Den4t commented on #353
Yes.

[2020-06-29 19:24] Den4t commented on #353
At first look - not work, but may be i do somethiing wrong with corr. rules, will do investigate in detail, need to look at debug, report here later.

[2020-07-01 09:13] bibace opened #369 "Logs in flow and message"
We running our homer ui to latest version on docker.

After recent upgrade we found that many logs now in call flow and messages.

We tried to remove them from mapping, but logs also been removed as well.

I checked the wiki and could not find the way that only remove logs from flow and message.

Best Regards,

[2020-07-01 10:06] lmangani commented on #369
@bibace please attach all of the relevant details. Are you talking about the funnel selector?
![image](https://user-images.githubusercontent.com/1423657/86231756-517db180-bb93-11ea-8341-3b187d37b1f0.png)

Since we cannot make assumptions as of what you've tried to reproduce the issue, please detail:
1) what logs are you referring to? attach some examples
2) what mapping have you modified and how?

[2020-07-01 10:25] byphone opened #370 "Missing one way rtcp in qos tab"
Hello everybody

Using last version for all components. I check the hep_proto_5_default, and i have for the same SID 11 rows with rtcp stats, 9 for one way (freeswitch emitting rtcp stats every 5s) and 2 from my voip provider (one when audio stream begins, and the other when it stops).

I check the qos query and i can see that server send to browser the 11 rows shown in the database.

In the QOS t

[2020-07-01 10:36] bibace commented on #369
We use xlog to send some logs to heplify-server. and today we upgraded the opensips to latest version( 2.4.8 )

they fixed the hep type id issue in hep module , we now can see the logs. those logs used to be recognized as RTP.

Now these logs showing in flow chart, make us hard to see the flow.

Mapping is the default SIP Call Mapping.

images attached

![image](https://user-images.githubuserconte

[2020-07-01 10:43] adubovikov commented on #369
Can you deselect the LOG in the filter selection ?

On Wed, 1 Jul 2020 at 12:36, bibace <notifications@github.com> wrote:

[2020-07-01 10:46] bibace commented on #369
Thanks a lot. didnt find that part. tried many ways.

[2020-07-01 10:46] #369 closed

[2020-07-01 10:51] lmangani commented on #369
![ezgif com-crop (7)](https://user-images.githubusercontent.com/1423657/86235927-81c84e80-bb99-11ea-836f-0c0b785f2a0e.gif)

[2020-07-01 11:31] bibace commented on #369
Thanks @lmangani . I did do that. but it works for that dialog only. Any setting we can do for permanent change.

[2020-07-01 11:32] adubovikov commented on #369
https://github.com/sipcapture/homer-ui/issues/289

[2020-07-02 09:11] Den4t commented on #353
Hi !
I managed to build a correlation scheme similar to the early homer7 with help of append_sid.
If i right undestand, append_sid directive in corr. rule is accumulate sid's from current rule request, and this sid's will be appended to request in next rule. Am i right ?

[2020-07-02 09:13] adubovikov commented on #353
Hi Dennis,

this is correct.

Regards,
Alexandr

On Thu, 2 Jul 2020 at 11:12, Dennis <notifications@github.com> wrote:

[2020-07-06 15:49] systemcrash commented on #365
@eill did you try a newer build?

[2020-07-06 16:59] adubovikov commented on #365
ok, i will close the ticket. Please reopen if needed.

[2020-07-06 16:59] #365 closed

[2020-07-08 09:08] #350 closed

[2020-07-09 14:54] vaizki commented on #310
Thank you for this, I just updated to the :latest docker image and things are better. However I'm still seeing some situations like this:

![image](https://user-images.githubusercontent.com/5273623/87055302-d3618080-c20c-11ea-9480-4e89c73abc8f.png)

Here 10.251.8.10 has an alias with port = 0 but it still shows as two entities in the flow. The communication is over TLS so I am using the siptrace m

[2020-07-09 17:44] adubovikov commented on #310
@viazi , if you click on the filter and try to merge the hosts, does it solve the issue ?

[2020-07-10 09:04] vaizki commented on #310
@adubovikov, actually it does when I select Group by Alias from the filter. Thank you! Somehow I missed the whole filter-menu, sorry for the false alarm.

I am seeing some issues with de-dup'ing now but I don't think they are related to this so will investigate them separately.

[2020-07-10 09:55] mikegoodstadt commented on #310
Good to hear!

[2020-07-10 09:55] #310 closed

[2020-07-10 14:36] flantel commented on #352
Still having no luck here. Is there any way at all I can confirm that the input_function_js is actually getting run? I can see no evidence ni any log that it is getting triggered at all.
I would engage someone professionally to get this working.
Thanks

[2020-07-10 16:37] adubovikov commented on #352
Can you watch on Monday/Thursday our presentation on ComCon 2020? There we
will explain how to use input and output scripts to make and manipulate
data inside of correlation mapping?

On Fri, 10 Jul 2020, 16:37 Barry Flanagan <notifications@github.com> wrote:

[2020-07-11 09:39] Majongman commented on #328
@kpribic  Hello, i'm trying to differentiate two types of Homer users too. But users have admin access or limited access depending on the variable "adminmode" only. Can you tell me what is wrong with my configuration?
  "ldap_config": {
    "base": "dc=example,dc=local",
    "host": "example.local",
    "port": 636,
    "usessl": true,
    "skiptls": false,
    "binddn": "CN=homer-svc,OU=ENTERPRIS

[2020-07-11 15:36] kpribic commented on #328
Just to be sure we are talking about the same thing:

1. This feature is **not included in standard homer-app release**, it's currently only in this fork https://github.com/kpribic/homer-app. You will need to compile it from there if you want to try it.
2. I tested this on Microsoft AD, as far as I can tell this recursive query is not really supported. I think it **should** work with only `"groupf

[2020-07-13 13:12] mikegoodstadt commented on #361
Error not detected in version 7.8.1

[2020-07-13 13:12] #361 closed

[2020-07-17 10:35] flantel commented on #352
Thanks @adubovikov - I watched your presentation and then tried the method of creating the script under Advanced and then setting `"input_script": "my_script"` into the Mapping.

Very happy to have it working at long last!

[2020-07-17 10:35] #352 closed

[2020-07-17 16:33] adubovikov commented on #352
Super! I am glad to read it! Enjoy and don't forget to star the project 😊

Regards,
Alexandr

On Fri, 17 Jul 2020, 12:36 Barry Flanagan <notifications@github.com> wrote:

[2020-07-20 22:43] systemcrash commented on #352
Anyone else curious might find that [here](https://www.youtube.com/watch?v=4dBKoLSy6Ro)

Google and other engines could not figure out ComCon 2020 -> CommCon 2020...

[2020-07-20 23:24] adubovikov commented on #352
Thanks for pointing that out!

On Tue, 21 Jul 2020, 00:44 Paul Dee <notifications@github.com> wrote:

[2020-07-21 10:11] #332 closed

[2020-07-21 10:14] AlexeyOplachko commented on #332
Fixed with https://github.com/sipcapture/homer-ui/commit/099efff51097a465b378cfbcc8682d08064f19fb

[2020-07-21 11:55] AlexeyOplachko commented on #370
Possibly related to https://github.com/sipcapture/homer-view/issues/12

[2020-07-21 11:55] AlexeyOplachko commented on #370
@byphone if possible can you send us pcap with one of the calls where you're experiencing this issue?

[2020-07-22 20:12] flantel opened #371 "Using lua script to change srcIp or dstIp"
Hi,

We have some systems on AWS, and the capture will always show the ptivateAWS IP rather than the external public IP. I would like to automatically change this to the external IP only.

I know I can use a lua scriptto do this, but I am not sure of the syntax to do so.

Basically I want to do:

[code]
...however, I don'tknwo whether this needs to be done in checkRAW of checkSIP nor what prefix.s

[2020-07-23 09:56] flantel commented on #371
Realized this should be in the heplify-server issues. Closing this.

[2020-07-23 09:56] #371 closed

[2020-07-23 14:07] flantel opened #372 "Authentication to Grafana in Panel Widget"
Hi,
I have both the user, pass and key set under Advanced for Grafana search, but these do not appear to be used when defining a grafana widget.

What is the method of authenticating widgets so the graphs do not bring up the login screen?
Thanks

[2020-07-23 15:44] flantel commented on #372
Sorry, for whatever reason it is working now!

[2020-07-27 10:11] kpribic commented on #328
@Majongman pull request has been merged, so I propose you try again with compiling from sipcapture homer-app master.

[2020-07-27 10:11] #328 closed

[2020-07-27 15:38] flantel opened #374 "Example API Usage?"
Hi

I am trying to post data to create Aliases via the API. I keep getting validation errors such as
[code]

I am POSTing to /api/v3/alias and my json payload looks like this:

[code]

I am guessing that my json post is slightly wrong, but it appears to be the same as the output of `GET /api/v3/alias`

Can someone share a sample json payload so I can see where I might be going wrong?

Many thanks

[2020-07-27 16:00] adubovikov commented on #374
here you can find the description of required fields:

https://github.com/sipcapture/homer-app/blob/0b19c668628860302947fe1ec9f7b990c2d2278f/model/alias.go#L13-L33

[2020-07-27 16:02] adubovikov commented on #374
Request Method: POST

[code]

[2020-07-27 16:02] #374 closed

[2020-07-27 16:04] flantel commented on #374
OK, that worked!

Thanks again @adubovikov

[2020-07-31 08:38] lmangani commented on #327
@kpribic the current design is fully compatible with HEPsub producing "links" rather than data. We just need a handler for it in the UI so the change is quite a minor one. Do you already have any such prototype to assist with this type of testing?

[2020-07-31 13:45] kpribic commented on #327
Not at the moment, didn't make sense to do any serious development before there is agreement on what can be (and what is accepted by you guys to be) done in homer7.
I could fix up a dummy pub-sub client next week that just returns some HTML (eg. based on your hepsub implementation) for start.

[2020-07-31 14:12] lmangani commented on #327
From our side its a go, you can use the hepsub `helloworld` example to mock up something you're thinking of in 5 minutes.

[2020-08-04 11:55] kpribic commented on #324
Fixed along the way while fixing #328

[2020-08-04 11:55] #324 closed

[2020-08-04 12:45] kpribic commented on #327
I already had a functional hepsub-elastic so I worked from that. I just replaced the Elastic query with:` res.send("myHTMLstuff").end();`. That didn't work at first, it appears that homer-app filters for valid json. After formatting my response to json it was passed through to homer-ui.

If it's a problem I could send the HTML we talked about as a json tag.  Whatever is easier on your side, it's n

[2020-08-04 12:56] flantel opened #375 "Using dashboard Regex Results Filter"
Hi

Are there any examples of the syntax to use for the Regex Results Filter in the Results container? For example, if I want to filter based on the PAI header.

Thanks

[2020-08-04 13:18] adubovikov commented on #375
https://www.postgresqltutorial.com/postgresql-like/

[2020-08-04 13:20] adubovikov commented on #375
Sorry about the previous answer, but the result filter is for any data.

[2020-08-04 13:23] #375 closed

[2020-08-05 08:30] AlexeyOplachko opened #376 "Auth Token lastusage_date not updating"
lastusage_date field on Auth Token is filed with  "0001-01-01T00:00:00Z" value on all tokens.

[2020-08-05 15:37] ghmj2417 opened #377 "User cannot update User Settings (home dashboard json)"
I have a user (not an admin) trying to update their user settings (home dashboard) but it is not doing so.  We have tried updating the dashboard by updating the json, doesn't work.  We have tried deleting the dashboard, doesn't work.  Every time we save or try to delete, the same dashboard appears.

I checked the postgresql logs and see the following:

:[26784]:ERROR: invalid input syntax for type

[2020-08-05 22:34] hvspa commented on #306
hi Alexandr,

did you have chance to look into this issue? i am still wondering what i am missing to show RTP payload type? it is only showing SIP payload, but the data is in database as per above queries

[2020-08-05 22:45] adubovikov commented on #306
please check the latest UI. It should be fixed

[2020-08-05 23:30] hvspa commented on #306
i installed the docker homer 7.8.1 prod from scratch yesterday, and still having the same issue.
i believe it is some configuration issue, and will appreciate if we can figure it out together...

again it was present before i upgraded as mentioned in one of my comments

[2020-08-06 08:26] adubovikov commented on #306
I think the latest version is not in the docker yet. @mikegoodstadt can you please check here ?

[2020-08-06 08:33] lmangani commented on #306
@adubovikov @mikegoodstadt the containers are build as normal from master every night, same logic/cycle as package releases.

[2020-08-06 13:08] hvspa commented on #306
is it possible that the problem is the select query? maybe the search query should be changed or some settings are not done correctly?

[2020-08-06 18:06] hvspa opened #378 "call sip search with capture id is not working"
hi,
i am trying to do sip call search based on capture ID, however the result is empty, when the capture ID is not specified during the search, but after search you applying the filter based on capture id in search results window, the records are present:

![search empty](https://user-images.githubusercontent.com/27876987/89566225-d8781680-d830-11ea-9b02-e7a120e84b42.PNG)
![search then filter not

[2020-08-07 13:26] hvspa commented on #306
yesterday, i removed everything, all the volumes, all the images, all the containers and all data, and started installation of docker homer from zero:
git clone https://github.com/sipcapture/homer7-docker.git
cd ...path
docker-compose -f docker-compose.yml up -d

but the issue is still there. i dont see RTP endpoints in the flow. not sure if i am doing something wrong or some config is missing fro

[2020-08-07 13:43] AlexeyOplachko commented on #306
Hi @hvspa can you please send us copy of "transaction" and "QOS" requests and responses from Chrome Dev tools from the call with this issue? It might be related to issue we partially fixed, but not merged into master yet.

[2020-08-07 13:46] hvspa commented on #306
hi Alexey, and thanks for quick turnaround.  i am not sure i know how to do that. i am using FF as a browser. if you can tell me what to do step by step, i can quickly do that now and send you required info

[2020-08-07 13:52] AlexeyOplachko commented on #306
1. Open devtools with F12
2. Switch to tab "Network"
3. Open a call with this issue
4. Find lines that say "POST domain transaction", click on it. You'll see small submenu open on the right
5. Switch to "Request" tab in that submenu
6. Copy into some txt file from "Request payload"
7. Switch to "Response" tab in that submenu
8. Copy into same file from "Response payload"
9. Repeat actions 5 - 8 wi

[2020-08-07 15:05] hvspa commented on #306
thanks much, see attached file
[requested info.zip](https://github.com/sipcapture/homer-app/files/5042151/requested.info.zip)

Maracana1#

[2020-08-07 16:39] adubovikov commented on #378
I am not sure about your issue, because capture_id is an integer field and should contain only number and not string. How do you insert data to your homer node ?

[2020-08-07 17:02] hvspa commented on #378
this is how i do it:

./heplify -hs heplify_server:9060 -hn sip_intercon -pr "5060-5200"

[2020-08-07 17:27] adubovikov commented on #378
ok, please use integer

[2020-08-07 17:28] hvspa commented on #378
do you mean use hi instead of hn?

  -hi uint
        HEP node ID (default 2002)
  -hn string
        HEP node Name

[2020-08-07 17:35] adubovikov commented on #378
yep

[2020-08-07 17:40] hvspa commented on #378
still the same :( result empty when putting capture id criteria in the search:
![empty](https://user-images.githubusercontent.com/27876987/89672991-a6c98300-d8f6-11ea-9c33-b2ac85972c7d.PNG)
![full](https://user-images.githubusercontent.com/27876987/89673004-ab8e3700-d8f6-11ea-8987-6d884f8ccaa3.PNG)

[2020-08-07 18:25] adubovikov commented on #378
maybe you will remove INVITE and just make search by captureID ?

[2020-08-07 18:30] hvspa commented on #378
still the same: no rows to show

[2020-08-07 18:44] adubovikov commented on #378
can you check in the debug that query you generate ?

On Fri, 7 Aug 2020 at 20:31, hvspa <notifications@github.com> wrote:

[2020-08-07 18:51] hvspa commented on #378
sure, if you can tell me how to check, i can do that...

[2020-08-07 18:53] hvspa commented on #378
is this what you are looking for? or what/

{"config":{},"lokiSort":null,"param":{"limit":200,"location":{},"search":{"1_call":[{"hepid":1,"name":"protocol_header.captureId","type":"integer","value":"2200"}]},"timezone":{"name":"Local","value":-180},"transaction":{}},"timestamp":{"from":1596822725000,"to":1596826325000}}

[2020-08-07 18:55] adubovikov commented on #378
No, i am asking for SQL query. This you can find in the debug log of
homer-app

On Fri, 7 Aug 2020 at 20:53, hvspa <notifications@github.com> wrote:

[2020-08-07 19:15] hvspa commented on #378
i logged into sipcapture/webapp container, but could not find any logs in var log location. can you tell me where exactly i can find mentioned log?

[2020-08-07 19:22] hvspa commented on #378
ok, i found this issue in github:
https://github.com/sipcapture/homer-app/pull/343

so do i add ""HOMER_LOGLEVEL=debug"" to following section and then bounce web-app container like "docker restart sipcapture/webapp"?

 homer-webapp:
    container_name: homer-webapp
    image: sipcapture/webapp
    environment:
      - "LOKI_HOST=loki"
      - "PROM_HOST=prometheus"
      - "DB_HOST=db"
      - "DB

[2020-08-10 13:31] hvspa commented on #378
hi Alexandr, hope you had great weekend.
can you please tell me where i can find that sql query?

[2020-08-10 13:32] hvspa commented on #306
hi ALexey, did you have chance to look into the logs i provided?

[2020-08-10 13:33] AlexeyOplachko commented on #306
Hi @hvspa, yes, we're working on a fix :)

[2020-08-10 13:43] adubovikov commented on #378
you have to run the homer-app with debug and after check the log file for SQL queries.

https://github.com/sipcapture/homer-app/blob/master/etc/webapp_config.json#L64-L65

[2020-08-10 14:30] hvspa commented on #306
ok, cool, thanks much for update Alexey. appreciate your quick help

[2020-08-10 14:47] hvspa commented on #378
here you go:

{"level":"info","msg":"Claims","time":"2020-08-10T14:45:57Z"}
{"level":"info","msg":"\u0026{admin true false { 1597142620  0  0 }}","time":"2020-08-10T14:45:57Z"}
{"level":"info","msg":"Claims","time":"2020-08-10T14:45:57Z"}
{"level":"info","msg":"\u0026{admin true false { 1597142620  0  0 }}","time":"2020-08-10T14:45:57Z"}
{"level":"info","msg":"Claims","time":"2020-08-10T14:45:57Z"

[2020-08-11 15:46] AlexeyOplachko opened #379 "Flow not showing RTCP packets in some cases"
In some cases "transaction" request doesn't have RTCP packets even though call has RTCP related to it.
We have implemented working workaround for Messages, but it's still a case for Flow.

Related issues:

- sipcapture/homer-ui#309
- sipcapture/homer-view#12
- https://github.com/sipcapture/homer-app/issues/306#issuecomment-602050423

[2020-08-12 09:47] adubovikov commented on #379
@hvspa can you please provide us your correlation map for SIP calls ? Looks like the issue is in your correlation mapping and not in the UI code

[2020-08-12 13:46] hvspa commented on #379
hi ALexandr, can you please help me to find that mapping info? where is it stored? thanks

[2020-08-12 13:51] adubovikov commented on #379
[image: Screenshot from 2020-08-12 15-49-02.png]
Settings -> Mapping

On Wed, 12 Aug 2020 at 15:46, hvspa <notifications@github.com> wrote: